interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":31,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["5585f343-8ea5-469b-8a90-a05987977424"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":2301,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1651765740000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "5eab90f7-7ac6-489f-97fe-4529918406e8", "path":
      [], "args": {"id": "5eab90f7-7ac6-489f-97fe-4529918406e8", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651905717052, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651905717052}, "command":
      "update", "id": "5eab90f7-7ac6-489f-97fe-4529918406e8", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "5eab90f7-7ac6-489f-97fe-4529918406e8"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651905717052}, "command":
      "update", "id": "5eab90f7-7ac6-489f-97fe-4529918406e8", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "db285e5a-a587-4ec8-9fe5-c924804d4d4f", "path":
      [], "args": {"id": "db285e5a-a587-4ec8-9fe5-c924804d4d4f", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651905717571, "parent_id": "5eab90f7-7ac6-489f-97fe-4529918406e8",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "2VcY": {"name": "b", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "5eab90f7-7ac6-489f-97fe-4529918406e8", "path": ["content"], "args":
      {"id": "db285e5a-a587-4ec8-9fe5-c924804d4d4f"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651905717571}, "command":
      "update", "id": "5eab90f7-7ac6-489f-97fe-4529918406e8", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651905717571}, "command":
      "update", "id": "5eab90f7-7ac6-489f-97fe-4529918406e8", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "5eab90f7-7ac6-489f-97fe-4529918406e8", "path":
      ["format", "collection_pointer", "id"], "args": "db285e5a-a587-4ec8-9fe5-c924804d4d4f",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651905718052}, "command":
      "update", "id": "5eab90f7-7ac6-489f-97fe-4529918406e8", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "21d9a2a3-4cd4-4564-a462-3824155f9ec1", "path":
      ["format", "table_properties"], "args": [{"visible": true, "property": "title"},
      {"visible": true, "property": "2VcY"}], "command": "set", "table": "collection_view"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "6cdca574-62f9-489e-bc70-b130150f3ded", "path":
      [], "args": {"id": "6cdca574-62f9-489e-bc70-b130150f3ded", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651905721318, "parent_id": "912893f3-2b61-42e2-8dc7-adcf146e9709",
      "parent_table": "block", "schema": {"title": {"name": "c", "type": "title"},
      "yfRQ": {"name": "d", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "912893f3-2b61-42e2-8dc7-adcf146e9709", "path": ["content"], "args":
      {"id": "6cdca574-62f9-489e-bc70-b130150f3ded"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651905721318}, "command":
      "update", "id": "912893f3-2b61-42e2-8dc7-adcf146e9709", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651905721318}, "command":
      "update", "id": "912893f3-2b61-42e2-8dc7-adcf146e9709", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"blockId": "912893f3-2b61-42e2-8dc7-adcf146e9709"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getPublicPageData
  response:
    body:
      string: '{"spaceName":"test_py","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274","spaceDomain":"laced-taxi-315","canJoinSpace":true,"userHasExplicitAccess":true,"ownerUserId":"a03b888f-5426-4e4f-b5ef-bed855b162f0","betaEnabled":false,"canRequestAccess":true,"requireLogin":false,"publicAccessRole":"none"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "db285e5a-a587-4ec8-9fe5-c924804d4d4f", "path":
      ["schema"], "args": {"title": {"name": "a", "type": "title"}, "2VcY": {"name":
      "b", "type": "relation", "property": "d0pB", "collection_id": "6cdca574-62f9-489e-bc70-b130150f3ded",
      "collection_pointer": {"id": "6cdca574-62f9-489e-bc70-b130150f3ded", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274", "table": "collection"}}}, "command":
      "set", "table": "collection"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"page": {"id": "5eab90f7-7ac6-489f-97fe-4529918406e8"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"5eab90f7-7ac6-489f-97fe-4529918406e8":{"role":"editor","value":{"id":"5eab90f7-7ac6-489f-97fe-4529918406e8","version":13,"type":"collection_view_page","content":["db285e5a-a587-4ec8-9fe5-c924804d4d4f","21d9a2a3-4cd4-4564-a462-3824155f9ec1"],"view_ids":["21d9a2a3-4cd4-4564-a462-3824155f9ec1"],"format":{"collection_pointer":{"id":"db285e5a-a587-4ec8-9fe5-c924804d4d4f","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1651905717052,"last_edited_time":1651905719694,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":2303,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["5eab90f7-7ac6-489f-97fe-4529918406e8","912893f3-2b61-42e2-8dc7-adcf146e9709"],"created_time":1638259881592,"last_edited_time":1651765740000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection":{"db285e5a-a587-4ec8-9fe5-c924804d4d4f":{"role":"editor","value":{"id":"db285e5a-a587-4ec8-9fe5-c924804d4d4f","version":3,"name":[["TESTING
        PAGE"]],"schema":{"2VcY":{"name":"b","type":"relation","property":"d0pB","collection_id":"6cdca574-62f9-489e-bc70-b130150f3ded","collection_pointer":{"id":"6cdca574-62f9-489e-bc70-b130150f3ded","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"title":{"name":"a","type":"title"}},"parent_id":"5eab90f7-7ac6-489f-97fe-4529918406e8","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection_view":{"21d9a2a3-4cd4-4564-a462-3824155f9ec1":{"role":"editor","value":{"id":"21d9a2a3-4cd4-4564-a462-3824155f9ec1","version":3,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"2VcY"}]},"parent_id":"5eab90f7-7ac6-489f-97fe-4529918406e8","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1651905718435,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"requests": [{"table": "collection", "id": "6cdca574-62f9-489e-bc70-b130150f3ded"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"6cdca574-62f9-489e-bc70-b130150f3ded","version":3,"name":[["TESTING
        PAGE"]],"schema":{"d0pB":{"name":"Related to TESTING PAGE (b)","type":"relation","property":"2VcY","collection_id":"db285e5a-a587-4ec8-9fe5-c924804d4d4f","collection_pointer":{"id":"db285e5a-a587-4ec8-9fe5-c924804d4d4f","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"yfRQ":{"name":"d","type":"text"},"title":{"name":"c","type":"title"}},"parent_id":"912893f3-2b61-42e2-8dc7-adcf146e9709","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"collection":{"6cdca574-62f9-489e-bc70-b130150f3ded":{"role":"editor","value":{"id":"6cdca574-62f9-489e-bc70-b130150f3ded","version":3,"name":[["TESTING
        PAGE"]],"schema":{"d0pB":{"name":"Related to TESTING PAGE (b)","type":"relation","property":"2VcY","collection_id":"db285e5a-a587-4ec8-9fe5-c924804d4d4f","collection_pointer":{"id":"db285e5a-a587-4ec8-9fe5-c924804d4d4f","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"yfRQ":{"name":"d","type":"text"},"title":{"na[...]
[...]
- request:
    body: '{"requests": [{"table": "collection_view", "id": "2a18cff5-e218-4d1f-92a5-5e521965e5ed"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"2a18cff5-e218-4d1f-92a5-5e521965e5ed","version":4,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"yfRQ"}]},"parent_id":"912893f3-2b61-42e2-8dc7-adcf146e9709","parent_table":"block","alive":true,"page_sort":["196a003a-49e3-4fc8-b96a-85d62e0999be"],"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1651905722129,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}],"recordMapWithRoles":{"collection_view":{"2a18cff5-e218-4d1f-92a5-5e521965e5ed":{"role":"editor","value":{"id":"2a18cff5-e218-4d1f-92a5-5e521965e5ed","version":4,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"yfRQ"}]},"parent_i[...]
- request:
    body: '{"collection": {"id": "6cdca574-62f9-489e-bc70-b130150f3ded", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "2a18cff5-e218-4d1f-92a5-5e521965e5ed",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 100, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["196a003a-49e3-4fc8-b96a-85d62e0999be"],"hasMore":false}}},"recordMap":{"block":{"196a003a-49e3-4fc8-b96a-85d62e0999be":{"role":"editor","value":{"id":"196a003a-49e3-4fc8-b96a-85d62e0999be","version":6,"type":"page","properties":{"title":[["cc"]]},"created_time":1651905724961,"last_edited_time":1651905725414,"parent_id":"6cdca574-62f9-489e-bc70-b130150f3ded","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"912893f3-2b61-42e2-8dc7-adcf146e9709":{"role":"editor","value":{"id":"912893f3-2b61-42e2-8[...]
[...]
- request:
    body: '{"collection": {"id": "db285e5a-a587-4ec8-9fe5-c924804d4d4f", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "21d9a2a3-4cd4-4564-a462-3824155f9ec1",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 100, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["bddb293c-fea2-4d96-bb75-9f7e74766f2c"],"hasMore":false}}},"recordMap":{"block":{"bddb293c-fea2-4d96-bb75-9f7e74766f2c":{"role":"editor","value":{"id":"bddb293c-fea2-4d96-bb75-9f7e74766f2c","version":8,"type":"page","properties":{"title":[["a"]]},"created_time":1651905731806,"last_edited_time":1651905732235,"parent_id":"db285e5a-a587-4ec8-9fe5-c924804d4d4f","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906[...]
[...]
- request:
    body: '{"blockIds": ["5eab90f7-7ac6-489f-97fe-4529918406e8"], "permanentlyDelete":
      true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
