interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":31,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["5585f343-8ea5-469b-8a90-a05987977424"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":2941,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1651932240000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "504d3838-97b2-4c02-be63-410ebb403a18", "path":
      [], "args": {"id": "504d3838-97b2-4c02-be63-410ebb403a18", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1652088580192, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652088580192}, "command":
      "update", "id": "504d3838-97b2-4c02-be63-410ebb403a18", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "504d3838-97b2-4c02-be63-410ebb403a18"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652088580192}, "command":
      "update", "id": "504d3838-97b2-4c02-be63-410ebb403a18", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "b4ee21d7-578f-4835-92f5-8b63ad1514db", "path":
      [], "args": {"id": "b4ee21d7-578f-4835-92f5-8b63ad1514db", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1652088580953, "parent_id": "504d3838-97b2-4c02-be63-410ebb403a18",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "kGgx": {"name": "b", "type": "text"}, "T2B6": {"name": "icon file", "type":
      "text"}}}, "command": "set", "table": "collection"}, {"id": "504d3838-97b2-4c02-be63-410ebb403a18",
      "path": ["content"], "args": {"id": "b4ee21d7-578f-4835-92f5-8b63ad1514db"},
      "command": "listAfter", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652088580953}, "command":
      "update", "id": "504d3838-97b2-4c02-be63-410ebb403a18", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652088580953}, "command":
      "update", "id": "504d3838-97b2-4c02-be63-410ebb403a18", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "504d3838-97b2-4c02-be63-410ebb403a18", "path":
      ["format", "collection_pointer", "id"], "args": "b4ee21d7-578f-4835-92f5-8b63ad1514db",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652088581445}, "command":
      "update", "id": "504d3838-97b2-4c02-be63-410ebb403a18", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "f5892ff5-0541-47ff-b35a-c62abffa8c94", "path":
      ["format", "table_properties"], "args": [{"visible": true, "property": "title"},
      {"visible": true, "property": "kGgx"}, {"visible": true, "property": "T2B6"}],
      "command": "set", "table": "collection_view"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"page": {"id": "504d3838-97b2-4c02-be63-410ebb403a18"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"504d3838-97b2-4c02-be63-410ebb403a18":{"role":"editor","value":{"id":"504d3838-97b2-4c02-be63-410ebb403a18","version":13,"type":"collection_view_page","content":["b4ee21d7-578f-4835-92f5-8b63ad1514db","f5892ff5-0541-47ff-b35a-c62abffa8c94"],"view_ids":["f5892ff5-0541-47ff-b35a-c62abffa8c94"],"format":{"collection_pointer":{"id":"b4ee21d7-578f-4835-92f5-8b63ad1514db","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1652088580192,"last_edited_time":1652088582958,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":2942,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["504d3838-97b2-4c02-be63-410ebb403a18"],"created_time":1638259881592,"last_edited_time":1651932240000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection_view":{"f5892ff5-0541-47ff-b35a-c62abffa8c94":{"role":"editor","value":{"id":"f5892ff5-0541-47ff-b35a-c62abffa8c94","version":3,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"kGgx"},{"visible":true,"property":"T2B6"}]},"parent_id":"504d3838-97b2-4c02-be63-410ebb403a18","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1652088582015,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}},"collection":{"b4ee21d7-578f-4835-92f5-8b63ad1514db":{"role":"editor","value":{"id":"b4ee21d7-578f-4835-92f5-8b63ad1514db","version":2,"name":[["TESTING
        PAGE"]],"schema":{"T2B6":{"name":"icon file","type":"text"},"kGgx":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"504d3838-97b2-4c02-be63-410ebb403a18","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"collection": {"id": "b4ee21d7-578f-4835-92f5-8b63ad1514db", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "f5892ff5-0541-47ff-b35a-c62abffa8c94",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"table:uncategorized:title:count":
      {"aggregation": {"aggregator": "count", "property": "title"}, "type": "aggregation"}},
      "searchQuery": "", "sort": [], "userTimeZone": "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"table:uncategorized:title:count":{"type":"aggregation","aggregationResult":{"type":"number","value":1}}}},"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"collection": {"id": "b4ee21d7-578f-4835-92f5-8b63ad1514db", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "f5892ff5-0541-47ff-b35a-c62abffa8c94",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 1, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["abbd7647-c90a-4333-9361-19bddb5fcce5"],"hasMore":false}}},"recordMap":{"block":{"abbd7647-c90a-4333-9361-19bddb5fcce5":{"role":"editor","value":{"id":"abbd7647-c90a-4333-9361-19bddb5fcce5","version":10,"type":"page","properties":{"kGgx":[["b"]],"title":[["a"]]},"created_time":1652088585943,"last_edited_time":1652088587236,"parent_id":"b4ee21d7-578f-4835-92f5-8b63ad1514db","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"504d3838-97b2-4c02-be63-410ebb403a18":{"role":"editor","value":{"id":"504d38[...]
[...]
- request:
    body: '{"blockIds": ["504d3838-97b2-4c02-be63-410ebb403a18"], "permanentlyDelete":
      true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
