interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":29,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["5585f343-8ea5-469b-8a90-a05987977424"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":2023,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1651736820000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "3f891e34-f300-4284-a700-72ad83b32b05", "path":
      [], "args": {"id": "3f891e34-f300-4284-a700-72ad83b32b05", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651744629901, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651744629901}, "command":
      "update", "id": "3f891e34-f300-4284-a700-72ad83b32b05", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "3f891e34-f300-4284-a700-72ad83b32b05"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651744629901}, "command":
      "update", "id": "3f891e34-f300-4284-a700-72ad83b32b05", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "c409ef59-1dcc-484e-8558-9d0bed933b3c", "path":
      [], "args": {"id": "c409ef59-1dcc-484e-8558-9d0bed933b3c", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651744630457, "parent_id": "3f891e34-f300-4284-a700-72ad83b32b05",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "o351": {"name": "b", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "3f891e34-f300-4284-a700-72ad83b32b05", "path": ["content"], "args":
      {"id": "c409ef59-1dcc-484e-8558-9d0bed933b3c"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651744630457}, "command":
      "update", "id": "3f891e34-f300-4284-a700-72ad83b32b05", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651744630457}, "command":
      "update", "id": "3f891e34-f300-4284-a700-72ad83b32b05", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "3f891e34-f300-4284-a700-72ad83b32b05", "path":
      ["format", "collection_pointer", "id"], "args": "c409ef59-1dcc-484e-8558-9d0bed933b3c",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651744630903}, "command":
      "update", "id": "3f891e34-f300-4284-a700-72ad83b32b05", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "96961f17-fb53-458e-a26a-ff8bc416f2d3", "path":
      ["format", "table_properties"], "args": [{"visible": true, "property": "title"},
      {"visible": true, "property": "o351"}], "command": "set", "table": "collection_view"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"page": {"id": "3f891e34-f300-4284-a700-72ad83b32b05"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"3f891e34-f300-4284-a700-72ad83b32b05":{"role":"editor","value":{"id":"3f891e34-f300-4284-a700-72ad83b32b05","version":13,"type":"collection_view_page","content":["c409ef59-1dcc-484e-8558-9d0bed933b3c","96961f17-fb53-458e-a26a-ff8bc416f2d3"],"view_ids":["96961f17-fb53-458e-a26a-ff8bc416f2d3"],"format":{"collection_pointer":{"id":"c409ef59-1dcc-484e-8558-9d0bed933b3c","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1651744629901,"last_edited_time":1651744634923,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":2024,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["3f891e34-f300-4284-a700-72ad83b32b05"],"created_time":1638259881592,"last_edited_time":1651736820000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection":{"c409ef59-1dcc-484e-8558-9d0bed933b3c":{"role":"editor","value":{"id":"c409ef59-1dcc-484e-8558-9d0bed933b3c","version":2,"name":[["TESTING
        PAGE"]],"schema":{"o351":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"3f891e34-f300-4284-a700-72ad83b32b05","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection_view":{"96961f17-fb53-458e-a26a-ff8bc416f2d3":{"role":"editor","value":{"id":"96961f17-fb53-458e-a26a-ff8bc416f2d3","version":3,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"o351"}]},"parent_id":"3f891e34-f300-4284-a700-72ad83b32b05","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1651744633326,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"requests": [{"table": "collection", "id": "c409ef59-1dcc-484e-8558-9d0bed933b3c"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"c409ef59-1dcc-484e-8558-9d0bed933b3c","version":2,"name":[["TESTING
        PAGE"]],"schema":{"o351":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"3f891e34-f300-4284-a700-72ad83b32b05","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"collection":{"c409ef59-1dcc-484e-8558-9d0bed933b3c":{"role":"editor","value":{"id":"c409ef59-1dcc-484e-8558-9d0bed933b3c","version":2,"name":[["TESTING
        PAGE"]],"schema":{"o351":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"3f891e34-f300-4284-a700-72ad83b32b05","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"block":{"3f891e34-f300-4284-a700-72ad83b32b05":{"role":"editor","value":{"id":"3f891e34-f300[...]
- request:
    body: '{"collection": {"id": "c409ef59-1dcc-484e-8558-9d0bed933b3c", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "96961f17-fb53-458e-a26a-ff8bc416f2d3",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 100, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["77b43d0f-3970-4323-a50a-7583431925e0"],"hasMore":false}}},"recordMap":{"block":{"77b43d0f-3970-4323-a50a-7583431925e0":{"role":"editor","value":{"id":"77b43d0f-3970-4323-a50a-7583431925e0","version":8,"type":"page","properties":{"o351":[["b"]],"title":[["a"]]},"created_time":1651744638121,"last_edited_time":1651744638613,"parent_id":"c409ef59-1dcc-484e-8558-9d0bed933b3c","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"3f891e34-f300-4284-a700-72ad83b32b05":{"role":"editor","value":{"id":"3f891e[...]
[...]
- request:
    body: '{"collection": {"id": "c409ef59-1dcc-484e-8558-9d0bed933b3c", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "96961f17-fb53-458e-a26a-ff8bc416f2d3",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 100, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: "{\"result\":{\"type\":\"reducer\",\"reducerResults\":{\"collection_group_results\":{\"type\":\"results\",\"blockIds\":[\"77b43d0f-3970-4323-a50a-7583431925e0\"],\"hasMore\":false}}},\"recordMap\":{\"block\":{\"77b43d0f-3970-4323-a50a-7583431925e0\":{\"role\":\"editor\",\"value\":{\"id\":\"77b43d0f-3970-4323-a50a-7583431925e0\",\"version\":10,\"type\":\"page\",\"properties\":{\"o351\":[[\"b\"]],\"title\":[[\"a\"]]},\"format\":{\"page_icon\":\"\U0001F914\"},\"created_time\":1651744638121,\"last_edited_time\":1651744639866,\"parent_id\":\"c409ef59-1dcc-484e-8558-9d0bed933b3c\",\"parent_table\":\"collection\",\"alive\":true,\"created_by_table\":\"notion_user\",\"created_by_id\":\"a03b888f-5426-4e4f-b5ef-bed855b162f0\",\"last_edited_by_table\":\"notion_user\",\"last_edited_by_id\":\"a03b888f-5426-4e4f-b5ef-bed855b162f0\",\"space_id\":\"d51d3ca5-7889-4c70-b906-3a5a37b60274\"}},\"3f891e34-f300-4284-a700-72ad83b32b05\":{\"role\":\"editor\[...]
[...]
- request:
    body: '{"blockIds": ["3f891e34-f300-4284-a700-72ad83b32b05"], "permanentlyDelete":
      true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
