interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":31,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["5585f343-8ea5-469b-8a90-a05987977424"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":2367,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1651765740000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "c888693d-7e29-45b4-b5db-69d339a4a330", "path":
      [], "args": {"id": "c888693d-7e29-45b4-b5db-69d339a4a330", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651906030647, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651906030647}, "command":
      "update", "id": "c888693d-7e29-45b4-b5db-69d339a4a330", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "c888693d-7e29-45b4-b5db-69d339a4a330"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651906030647}, "command":
      "update", "id": "c888693d-7e29-45b4-b5db-69d339a4a330", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "c3f2b51b-9d5e-488e-8562-11a312010266", "path":
      [], "args": {"id": "c3f2b51b-9d5e-488e-8562-11a312010266", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651906031097, "parent_id": "c888693d-7e29-45b4-b5db-69d339a4a330",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "iWUd": {"name": "b", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "c888693d-7e29-45b4-b5db-69d339a4a330", "path": ["content"], "args":
      {"id": "c3f2b51b-9d5e-488e-8562-11a312010266"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651906031097}, "command":
      "update", "id": "c888693d-7e29-45b4-b5db-69d339a4a330", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651906031097}, "command":
      "update", "id": "c888693d-7e29-45b4-b5db-69d339a4a330", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "c888693d-7e29-45b4-b5db-69d339a4a330", "path":
      ["format", "collection_pointer", "id"], "args": "c3f2b51b-9d5e-488e-8562-11a312010266",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651906031720}, "command":
      "update", "id": "c888693d-7e29-45b4-b5db-69d339a4a330", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "a65eb154-87b8-4f41-933c-954c20b54b84", "path":
      ["format", "table_properties"], "args": [{"visible": true, "property": "title"},
      {"visible": true, "property": "iWUd"}], "command": "set", "table": "collection_view"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"page": {"id": "c888693d-7e29-45b4-b5db-69d339a4a330"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"c888693d-7e29-45b4-b5db-69d339a4a330":{"role":"editor","value":{"id":"c888693d-7e29-45b4-b5db-69d339a4a330","version":13,"type":"collection_view_page","content":["c3f2b51b-9d5e-488e-8562-11a312010266","a65eb154-87b8-4f41-933c-954c20b54b84"],"view_ids":["a65eb154-87b8-4f41-933c-954c20b54b84"],"format":{"collection_pointer":{"id":"c3f2b51b-9d5e-488e-8562-11a312010266","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1651906030647,"last_edited_time":1651906034510,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":2368,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["c888693d-7e29-45b4-b5db-69d339a4a330"],"created_time":1638259881592,"last_edited_time":1651765740000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection":{"c3f2b51b-9d5e-488e-8562-11a312010266":{"role":"editor","value":{"id":"c3f2b51b-9d5e-488e-8562-11a312010266","version":2,"name":[["TESTING
        PAGE"]],"schema":{"iWUd":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"c888693d-7e29-45b4-b5db-69d339a4a330","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection_view":{"a65eb154-87b8-4f41-933c-954c20b54b84":{"role":"editor","value":{"id":"a65eb154-87b8-4f41-933c-954c20b54b84","version":4,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"iWUd"}]},"parent_id":"c888693d-7e29-45b4-b5db-69d339a4a330","parent_table":"block","alive":true,"page_sort":["5035ff2f-bb55-4355-8afb-50c8946d55b2"],"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1651906033664,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"requests": [{"table": "collection", "id": "c3f2b51b-9d5e-488e-8562-11a312010266"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"c3f2b51b-9d5e-488e-8562-11a312010266","version":2,"name":[["TESTING
        PAGE"]],"schema":{"iWUd":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"c888693d-7e29-45b4-b5db-69d339a4a330","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"collection":{"c3f2b51b-9d5e-488e-8562-11a312010266":{"role":"editor","value":{"id":"c3f2b51b-9d5e-488e-8562-11a312010266","version":2,"name":[["TESTING
        PAGE"]],"schema":{"iWUd":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"c888693d-7e29-45b4-b5db-69d339a4a330","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"block":{"c888693d-7e29-45b4-b5db-69d339a4a330":{"role":"editor","value":{"id":"c888693d-7e29[...]
- request:
    body: '{"collection": {"id": "c3f2b51b-9d5e-488e-8562-11a312010266", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "a65eb154-87b8-4f41-933c-954c20b54b84",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 100, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["5035ff2f-bb55-4355-8afb-50c8946d55b2"],"hasMore":false}}},"recordMap":{"block":{"5035ff2f-bb55-4355-8afb-50c8946d55b2":{"role":"editor","value":{"id":"5035ff2f-bb55-4355-8afb-50c8946d55b2","version":8,"type":"page","properties":{"iWUd":[["b1"]],"title":[["a"]]},"created_time":1651906035822,"last_edited_time":1651906036340,"parent_id":"c3f2b51b-9d5e-488e-8562-11a312010266","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"c888693d-7e29-45b4-b5db-69d339a4a330":{"role":"editor","value":{"id":"c8886[...]
[...]
- request:
    body: '{"operations": [{"id": "dab129ce-ae80-4025-81a8-a4af7293a8a3", "path":
      [], "args": {"id": "dab129ce-ae80-4025-81a8-a4af7293a8a3", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651906040336, "parent_id": "5035ff2f-bb55-4355-8afb-50c8946d55b2",
      "parent_table": "block", "type": "image", "child_list_key": null}, "command":
      "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651906040336}, "command":
      "update", "id": "dab129ce-ae80-4025-81a8-a4af7293a8a3", "path": [], "table":
      "block"}, {"id": "5035ff2f-bb55-4355-8afb-50c8946d55b2", "path": ["content"],
      "args": {"id": "dab129ce-ae80-4025-81a8-a4af7293a8a3"}, "command": "listAfter",
      "table": "block"}, {"args":[...]
[...]
- request:
    body: '{"requests": [{"table": "block", "id": "dab129ce-ae80-4025-81a8-a4af7293a8a3"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"dab129ce-ae80-4025-81a8-a4af7293a8a3","version":10,"type":"image","properties":{"source":[["https://via.placeholder.com/100"]],"caption":[["cover"]]},"format":{"display_source":"https://via.placeholder.com/100"},"created_time":1651906040336,"last_edited_time":1651906040760,"parent_id":"5035ff2f-bb55-4355-8afb-50c8946d55b2","parent_table":"block","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"block":{"dab129ce-ae80-4025-81a8-a4af7293a8a3":{"role":"editor","value":{"id":"dab129ce-ae80-4025-81a8-a4af7293a8a3","version":10,"type":"image","properties":{"source":[["https://via.placeholder.com/100"]],"caption":[["cover"]]},"format":{"display_source":"https://via.placeholder.com/100"},"created_time":1651906040336,"last_edited_time":1651906040760,"parent_id":"5035ff2f-bb55-4355-8afb-50c8946d55b2","parent_table":"block","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_tab[...]
[...]
- request:
    body: '{"blockIds": ["c888693d-7e29-45b4-b5db-69d339a4a330"], "permanentlyDelete":
      true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
