interactions:
- request:
    body: '{}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":31,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["5585f343-8ea5-469b-8a90-a05987977424"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":4879,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1652698380000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-[...]
- request:
    body: '{"operations": [{"id": "6619e530-ef70-462c-b226-6574656996ae", "path":
      [], "args": {"id": "6619e530-ef70-462c-b226-6574656996ae", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1653142812311, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653142812311}, "command":
      "update", "id": "6619e530-ef70-462c-b226-6574656996ae", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "6619e530-ef70-462c-b226-6574656996ae"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653142812311}, "command":
      "update", "id": "6619e530-ef70-462c-b226-6574656996ae", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "5d56c987-393e-4dda-b763-44704a4b8d4d", "path":
      [], "args": {"id": "5d56c987-393e-4dda-b763-44704a4b8d4d", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1653142812730, "parent_id": "6619e530-ef70-462c-b226-6574656996ae",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "154C": {"name": "b", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "6619e530-ef70-462c-b226-6574656996ae", "path": ["content"], "args":
      {"id": "5d56c987-393e-4dda-b763-44704a4b8d4d"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653142812730}, "command":
      "update", "id": "6619e530-ef70-462c-b226-6574656996ae", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653142812730}, "command":
      "update", "id": "6619e530-ef70-462c-b226-6574656996ae", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "6619e530-ef70-462c-b226-6574656996ae", "path":
      ["format", "collection_pointer", "id"], "args": "5d56c987-393e-4dda-b763-44704a4b8d4d",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653142813129}, "command":
      "update", "id": "6619e530-ef70-462c-b226-6574656996ae", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "fbae9cd1-8973-41c7-8014-ded3222f581a", "path":
      ["format", "table_properties"], "args": [{"visible": true, "property": "title"},
      {"visible": true, "property": "154C"}], "command": "set", "table": "collection_view"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "772f3d6b-dd21-4cda-8e2a-39bff9cfa756", "path":
      [], "args": {"id": "772f3d6b-dd21-4cda-8e2a-39bff9cfa756", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1653142815510, "parent_id": "5e3feef0-cf38-4814-8164-09c1b5288a08",
      "parent_table": "block", "schema": {"title": {"name": "c", "type": "title"},
      "T5Ix": {"name": "d", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "5e3feef0-cf38-4814-8164-09c1b5288a08", "path": ["content"], "args":
      {"id": "772f3d6b-dd21-4cda-8e2a-39bff9cfa756"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653142815510}, "command":
      "update", "id": "5e3feef0-cf38-4814-8164-09c1b5288a08", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653142815510}, "command":
      "update", "id": "5e3feef0-cf38-4814-8164-09c1b5288a08", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"blockId": "5e3feef0-cf38-4814-8164-09c1b5288a08"}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getPublicPageData
  response:
    body:
      string: '{"spaceName":"test_py","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274","spaceDomain":"laced-taxi-315","canJoinSpace":true,"userHasExplicitAccess":true,"ownerUserId":"a03b888f-5426-4e4f-b5ef-bed855b162f0","betaEnabled":false,"canRequestAccess":true,"requireLogin":false,"publicAccessRole":"none"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "5d56c987-393e-4dda-b763-44704a4b8d4d", "path":
      ["schema"], "args": {"title": {"name": "a", "type": "title"}, "154C": {"name":
      "b", "type": "relation", "property": "vcCS", "collection_id": "772f3d6b-dd21-4cda-8e2a-39bff9cfa756",
      "collection_pointer": {"id": "772f3d6b-dd21-4cda-8e2a-39bff9cfa756", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274", "table": "collection"}}}, "command":
      "set", "table": "collection"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"page": {"id": "6619e530-ef70-462c-b226-6574656996ae"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"6619e530-ef70-462c-b226-6574656996ae":{"role":"editor","value":{"id":"6619e530-ef70-462c-b226-6574656996ae","version":13,"type":"collection_view_page","content":["5d56c987-393e-4dda-b763-44704a4b8d4d","fbae9cd1-8973-41c7-8014-ded3222f581a"],"view_ids":["fbae9cd1-8973-41c7-8014-ded3222f581a"],"format":{"collection_pointer":{"id":"5d56c987-393e-4dda-b763-44704a4b8d4d","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1653142812311,"last_edited_time":1653142814147,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":4881,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["6619e530-ef70-462c-b226-6574656996ae","5e3feef0-cf38-4814-8164-09c1b5288a08"],"created_time":1638259881592,"last_edited_time":1652698380000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection":{"5d56c987-393e-4dda-b763-44704a4b8d4d":{"role":"editor","value":{"id":"5d56c987-393e-4dda-b763-44704a4b8d4d","version":3,"name":[["TESTING
        PAGE"]],"schema":{"154C":{"name":"b","type":"relation","property":"vcCS","collection_id":"772f3d6b-dd21-4cda-8e2a-39bff9cfa756","collection_pointer":{"id":"772f3d6b-dd21-4cda-8e2a-39bff9cfa756","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"title":{"name":"a","type":"title"}},"parent_id":"6619e530-ef70-462c-b226-6574656996ae","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection_view":{"fbae9cd1-8973-41c7-8014-ded3222f581a":{"role":"editor","value":{"id":"fbae9cd1-8973-41c7-8014-ded3222f581a","version":3,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"154C"}]},"parent_id":"6619e530-ef70-462c-b226-6574656996ae","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1653142813447,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"requests": [{"table": "collection", "id": "772f3d6b-dd21-4cda-8e2a-39bff9cfa756"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"772f3d6b-dd21-4cda-8e2a-39bff9cfa756","version":3,"name":[["TESTING
        PAGE"]],"schema":{"T5Ix":{"name":"d","type":"text"},"vcCS":{"name":"Related
        to TESTING PAGE (b)","type":"relation","property":"154C","collection_id":"5d56c987-393e-4dda-b763-44704a4b8d4d","collection_pointer":{"id":"5d56c987-393e-4dda-b763-44704a4b8d4d","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"title":{"name":"c","type":"title"}},"parent_id":"5e3feef0-cf38-4814-8164-09c1b5288a08","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"collection":{"772f3d6b-dd21-4cda-8e2a-39bff9cfa756":{"role":"editor","value":{"id":"772f3d6b-dd21-4cda-8e2a-39bff9cfa756","version":3,"name":[["TESTING
        PAGE"]],"schema":{"T5Ix":{"name":"d","type":"text"},"vcCS":{"name":"Related
        to TESTING PAGE (b)","type":"relation","property":"154C","collection_id":"5d56c987-393e-4dda-b763-44704a4b8d4d","collection_pointer":{"id":"5d56c987-393e-4dda-b763-44704a4b8d4d","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"tit[...]
- request:
    body: '{"requests": [{"table": "collection_view", "id": "f25cb996-2b41-4f1c-9c4f-ab5328c387d5"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"f25cb996-2b41-4f1c-9c4f-ab5328c387d5","version":4,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"T5Ix"}]},"parent_id":"5e3feef0-cf38-4814-8164-09c1b5288a08","parent_table":"block","alive":true,"page_sort":["1f5a574d-ae8b-4e94-9696-08bae76daf34"],"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1653142816205,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}],"recordMapWithRoles":{"collection_view":{"f25cb996-2b41-4f1c-9c4f-ab5328c387d5":{"role":"editor","value":{"id":"f25cb996-2b41-4f1c-9c4f-ab5328c387d5","version":4,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"T5Ix"}]},"parent_id":"5e3feef0-cf38-4814-8164-09c1b5288a08","parent_table":"block","alive":true,"page_sort":["1f5a574d-ae8b-4e94-9696-08bae76daf34"],"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1653142816205,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b[...]
- request:
    body: '{"collection": {"id": "772f3d6b-dd21-4cda-8e2a-39bff9cfa756", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "f25cb996-2b41-4f1c-9c4f-ab5328c387d5",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"table:uncategorized:title:count":
      {"aggregation": {"aggregator": "count", "property": "title"}, "type": "aggregation"}},
      "searchQuery": "", "sort": [], "userTimeZone": "Asia/Tashkent", "type": "reducer"}}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"table:uncategorized:title:count":{"type":"aggregation","aggregationResult":{"type":"number","value":1}}}},"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"collection": {"id": "772f3d6b-dd21-4cda-8e2a-39bff9cfa756", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "f25cb996-2b41-4f1c-9c4f-ab5328c387d5",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 1, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["1f5a574d-ae8b-4e94-9696-08bae76daf34"],"hasMore":false}}},"recordMap":{"block":{"1f5a574d-ae8b-4e94-9696-08bae76daf34":{"role":"editor","value":{"id":"1f5a574d-ae8b-4e94-9696-08bae76daf34","version":6,"type":"page","properties":{"title":[["cc"]]},"created_time":1653142818613,"last_edited_time":1653142818993,"parent_id":"772f3d6b-dd21-4cda-8e2a-39bff9cfa756","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"5e3feef0-cf38-4814-8164-09c1b5288a08":{"role":"editor","value":{"id":"5e3feef0-cf38-4814-8[...]
[...]
- request:
    body: '{"collection": {"id": "5d56c987-393e-4dda-b763-44704a4b8d4d", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "fbae9cd1-8973-41c7-8014-ded3222f581a",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 1, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["b57951ec-4ba8-454d-96de-caa3873c5707"],"hasMore":false}}},"recordMap":{"block":{"b57951ec-4ba8-454d-96de-caa3873c5707":{"role":"editor","value":{"id":"b57951ec-4ba8-454d-96de-caa3873c5707","version":8,"type":"page","properties":{"title":[["a"]]},"created_time":1653142828336,"last_edited_time":1653142828733,"parent_id":"5d56c987-393e-4dda-b763-44704a4b8d4d","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906[...]
[...]
- request:
    body: '{"blockIds": ["6619e530-ef70-462c-b226-6574656996ae"], "permanentlyDelete":
      true}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
