interactions:
- request:
    body: '{}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":31,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["5585f343-8ea5-469b-8a90-a05987977424"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":3869,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1652698380000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-[...]
[...]
- request:
    body: '{"operations": [{"id": "d73066db-7a15-4aff-b4fa-d3436a30139a", "path":
      [], "args": {"id": "d73066db-7a15-4aff-b4fa-d3436a30139a", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1652968808567, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652968808567}, "command":
      "update", "id": "d73066db-7a15-4aff-b4fa-d3436a30139a", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "d73066db-7a15-4aff-b4fa-d3436a30139a"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652968808567}, "command":
      "update", "id": "d73066db-7a15-4aff-b4fa-d3436a30139a", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "04a183a6-e29b-40d3-9ff1-6702a39eb085", "path":
      [], "args": {"id": "04a183a6-e29b-40d3-9ff1-6702a39eb085", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1652968808951, "parent_id": "d73066db-7a15-4aff-b4fa-d3436a30139a",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "d8ip": {"name": "b", "type": "text"}, "7zx2": {"name": "c", "type": "text"}}},
      "command": "set", "table": "collection"}, {"id": "d73066db-7a15-4aff-b4fa-d3436a30139a",
      "path": ["content"], "args": {"id": "04a183a6-e29b-40d3-9ff1-6702a39eb085"},
      "command": "listAfter", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652968808951}, "command":
      "update", "id": "d73066db-7a15-4aff-b4fa-d3436a30139a", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652968808951}, "command":
      "update", "id": "d73066db-7a15-4aff-b4fa-d3436a30139a", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "d73066db-7a15-4aff-b4fa-d3436a30139a", "path":
      ["format", "collection_pointer", "id"], "args": "04a183a6-e29b-40d3-9ff1-6702a39eb085",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652968810310}, "command":
      "update", "id": "d73066db-7a15-4aff-b4fa-d3436a30139a", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "763615cf-0430-4716-bd34-bd44429c25e6", "path":
      ["format", "table_properties"], "args": [{"visible": true, "property": "title"},
      {"visible": true, "property": "d8ip"}, {"visible": true, "property": "7zx2"}],
      "command": "set", "table": "collection_view"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"page": {"id": "d73066db-7a15-4aff-b4fa-d3436a30139a"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"d73066db-7a15-4aff-b4fa-d3436a30139a":{"role":"editor","value":{"id":"d73066db-7a15-4aff-b4fa-d3436a30139a","version":13,"type":"collection_view_page","content":["04a183a6-e29b-40d3-9ff1-6702a39eb085","763615cf-0430-4716-bd34-bd44429c25e6"],"view_ids":["763615cf-0430-4716-bd34-bd44429c25e6"],"format":{"collection_pointer":{"id":"04a183a6-e29b-40d3-9ff1-6702a39eb085","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1652968808567,"last_edited_time":1652968811455,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":3870,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["d73066db-7a15-4aff-b4fa-d3436a30139a"],"created_time":1638259881592,"last_edited_time":1652698380000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection_view":{"763615cf-0430-4716-bd34-bd44429c25e6":{"role":"editor","value":{"id":"763615cf-0430-4716-bd34-bd44429c25e6","version":3,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"d8ip"},{"visible":true,"property":"7zx2"}]},"parent_id":"d73066db-7a15-4aff-b4fa-d3436a30139a","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1652968810661,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}},"collection":{"04a183a6-e29b-40d3-9ff1-6702a39eb085":{"role":"editor","value":{"id":"04a183a6-e29b-40d3-9ff1-6702a39eb085","version":2,"name":[["TESTING
        PAGE"]],"schema":{"7zx2":{"name":"c","type":"text"},"d8ip":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"d73066db-7a15-4aff-b4fa-d3436a30139a","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"requests": [{"table": "collection", "id": "04a183a6-e29b-40d3-9ff1-6702a39eb085"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"04a183a6-e29b-40d3-9ff1-6702a39eb085","version":2,"name":[["TESTING
        PAGE"]],"schema":{"7zx2":{"name":"c","type":"text"},"d8ip":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"d73066db-7a15-4aff-b4fa-d3436a30139a","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"collection":{"04a183a6-e29b-40d3-9ff1-6702a39eb085":{"role":"editor","value":{"id":"04a183a6-e29b-40d3-9ff1-6702a39eb085","version":2,"name":[["TESTING
        PAGE"]],"schema":{"7zx2":{"name":"c","type":"text"},"d8ip":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"d73066db-7a15-4aff-b4fa-d3436a30139a","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"block":{"d73066db-7a15-4aff-b4fa-d3436a30139a":{"role":"ed[...]
- request:
    body: '{"collection": {"id": "04a183a6-e29b-40d3-9ff1-6702a39eb085", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "763615cf-0430-4716-bd34-bd44429c25e6",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"table:uncategorized:title:count":
      {"aggregation": {"aggregator": "count", "property": "title"}, "type": "aggregation"}},
      "searchQuery": "", "sort": [], "userTimeZone": "Asia/Tashkent", "type": "reducer"}}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"table:uncategorized:title:count":{"type":"aggregation","aggregationResult":{"type":"number","value":0}}}},"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"collection": {"id": "04a183a6-e29b-40d3-9ff1-6702a39eb085", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "763615cf-0430-4716-bd34-bd44429c25e6",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 0, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":[],"hasMore":false}}},"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"collection": {"id": "04a183a6-e29b-40d3-9ff1-6702a39eb085", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "763615cf-0430-4716-bd34-bd44429c25e6",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 1, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["e5935b22-c1fe-4a3d-917a-8dfb4656915e"],"hasMore":false}}},"recordMap":{"block":{"e5935b22-c1fe-4a3d-917a-8dfb4656915e":{"role":"editor","value":{"id":"e5935b22-c1fe-4a3d-917a-8dfb4656915e","version":10,"type":"page","properties":{"7zx2":[["c"]],"d8ip":[["b"]],"title":[["a"]]},"created_time":1652968814528,"last_edited_time":1652968814933,"parent_id":"04a183a6-e29b-40d3-9ff1-6702a39eb085","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"d73066db-7a15-4aff-b4fa-d3436a30139a":{"role":"editor","value[...]
[...]
- request:
    body: '{"blockIds": ["d73066db-7a15-4aff-b4fa-d3436a30139a"], "permanentlyDelete":
      true}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
