interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":38,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":5996,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1657343400000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true,"subscription_tier":"personal_free"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-[...]
[...]
- request:
    body: '{"operations": [{"id": "0206b5e5-0cc2-40d4-aa80-0af0e0c59448", "path":
      [], "args": {"id": "0206b5e5-0cc2-40d4-aa80-0af0e0c59448", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1661781282695, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1661781282695}, "command":
      "update", "id": "0206b5e5-0cc2-40d4-aa80-0af0e0c59448", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "0206b5e5-0cc2-40d4-aa80-0af0e0c59448"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1661781282695}, "command":
      "update", "id": "0206b5e5-0cc2-40d4-aa80-0af0e0c59448", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "2335613c-b8c3-477a-aebe-7c1760d764d7", "path":
      [], "args": {"id": "2335613c-b8c3-477a-aebe-7c1760d764d7", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1661781283122, "parent_id": "0206b5e5-0cc2-40d4-aa80-0af0e0c59448",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "hjZC": {"name": "b", "type": "status", "options": [{"id": "f6da6f24-92f3-461a-965f-c25498f13bd1",
      "value": "Not started"}, {"id": "d4209edd-6307-4d48-8500-0998be372e0f", "value":
      "In progress", "color": "blue"}, {"id": "d2ce2ae8-12cb-4914-a12d-8bc59d6fb3e8",
      "value": "Done", "color": "green"}], "groups": [{"id": "d05ac767-6f45-4ba2-8a16-3f32f72ff68d",
      "name": "To-do", "optionIds": ["f6da6f24-92f3-461a-965f-c25498f13bd1"], "color":
      "gray"}, {"id": "48f0c5c1-9966-4e4a-9bbc-be7b9bab11d6", "name": "In progress",
      "optionIds": ["d4209edd-6307-4d48-8500-0998be372e0f"], "color": "blue"}, {"id":
      "c77538f7-7199-4258-a8ce-2a222bf48e21", "name": "Complete", "optionIds": ["d2ce2ae8-12cb-4914-a12d-8bc59d6fb3e8"],
      "color": "green"}], "defaultOption": "Not started"}}}, "command": "set", "table":
      "collection"}, {"id": "0206b5e5-0cc2-40d4-aa80-0af0e0c59448", "path": ["content"],
      "args": {"id": "2335613c-b8c3-477a-aebe-7c1760d764d7"}, "command": "listAfter",
      "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1661781283122}, "command":
      "update", "id": "0206b5e5-0cc2-40d4-aa80-0af0e0c59448", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1661781283122}, "command":
      "update", "id": "0206b5e5-0cc2-40d4-aa80-0af0e0c59448", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "0206b5e5-0cc2-40d4-aa80-0af0e0c59448", "path":
      ["format", "collection_pointer", "id"], "args": "2335613c-b8c3-477a-aebe-7c1760d764d7",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1661781283570}, "command":
      "update", "id": "0206b5e5-0cc2-40d4-aa80-0af0e0c59448", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "75148128-a999-4adc-9cea-ac8602de9a53", "path":
      ["format", "table_properties"], "args": [{"visible": true, "property": "title"},
      {"visible": true, "property": "hjZC"}], "command": "set", "table": "collection_view"}]}'
    headers:
      Content-Type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"page": {"id": "0206b5e5-0cc2-40d4-aa80-0af0e0c59448"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      Content-Type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"0206b5e5-0cc2-40d4-aa80-0af0e0c59448":{"role":"editor","value":{"id":"0206b5e5-0cc2-40d4-aa80-0af0e0c59448","version":13,"type":"collection_view_page","content":["2335613c-b8c3-477a-aebe-7c1760d764d7","75148128-a999-4adc-9cea-ac8602de9a53"],"view_ids":["75148128-a999-4adc-9cea-ac8602de9a53"],"format":{"collection_pointer":{"id":"2335613c-b8c3-477a-aebe-7c1760d764d7","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1661781282695,"last_edited_time":1661781286384,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":5997,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["0206b5e5-0cc2-40d4-aa80-0af0e0c59448"],"created_time":1638259881592,"last_edited_time":1657343400000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true,"subscription_tier":"personal_free"}}},"collection":{"2335613c-b8c3-477a-aebe-7c1760d764d7":{"role":"editor","value":{"id":"2335613c-b8c3-477a-aebe-7c1760d764d7","version":2,"name":[["TESTING
        PAGE"]],"schema":{"hjZC":{"name":"b","type":"status","groups":[{"id":"d05ac767-6f45-4ba2-8a16-3f32f72ff68d","name":"To-do","color":"gray","optionIds":["f6da6f24-92f3-461a-965f-c25498f13bd1"]},{"id":"48f0c5c1-9966-4e4a-9bbc-be7b9bab11d6","name":"In
        progress","color":"blue","optionIds":["d4209edd-6307-4d48-8500-0998be372e0f"]},{"id":"c77538f7-7199-4258-a8ce-2a222bf48e21","name":"Complete","color":"green","optionIds":["d2ce2ae8-12cb-4914-a12d-8bc59d6fb3e8"]}],"options":[{"id":"f6da6f24-92f3-461a-965f-c25498f13bd1","value":"Not
        started"},{"id":"d4209edd-6307-4d48-8500-0998be372e0f","color":"blue","value":"In
        progress"},{"id":"d2ce2ae8-12cb-4914-a12d-8bc59d6fb3e8","color":"green","value":"Done"}],"defaultOption":"Not
        started"},"title":{"name":"a","type":"title"}},"parent_id":"0206b5e5-0cc2-40d4-aa80-0af0e0c59448","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection_view":{"75148128-a999-4adc-9cea-ac8602de9a53":{"role":"editor","value":{"id":"75148128-a999-4adc-9cea-ac8602de9a53","version":3,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"hjZC"}]},"parent_id":"0206b5e5-0cc2-40d4-aa80-0af0e0c59448","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1661781283899,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"blockIds": ["0206b5e5-0cc2-40d4-aa80-0af0e0c59448"], "permanentlyDelete":
      true}'
    headers:
      Content-Type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
