interactions:
- request:
    body: '{}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":31,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["5585f343-8ea5-469b-8a90-a05987977424"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":5332,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1652698380000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-[...]
- request:
    body: '{"operations": [{"id": "9f58d0ac-f1e6-4a16-830d-d8417eb5ba90", "path":
      [], "args": {"id": "9f58d0ac-f1e6-4a16-830d-d8417eb5ba90", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1653396663993, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653396663993}, "command":
      "update", "id": "9f58d0ac-f1e6-4a16-830d-d8417eb5ba90", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "9f58d0ac-f1e6-4a16-830d-d8417eb5ba90"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653396663993}, "command":
      "update", "id": "9f58d0ac-f1e6-4a16-830d-d8417eb5ba90", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "b233db32-ae28-432a-bf7b-0bfcb5faa0e0", "path":
      [], "args": {"id": "b233db32-ae28-432a-bf7b-0bfcb5faa0e0", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1653396664401, "parent_id": "9f58d0ac-f1e6-4a16-830d-d8417eb5ba90",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "d1ML": {"name": "b", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "9f58d0ac-f1e6-4a16-830d-d8417eb5ba90", "path": ["content"], "args":
      {"id": "b233db32-ae28-432a-bf7b-0bfcb5faa0e0"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653396664401}, "command":
      "update", "id": "9f58d0ac-f1e6-4a16-830d-d8417eb5ba90", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653396664401}, "command":
      "update", "id": "9f58d0ac-f1e6-4a16-830d-d8417eb5ba90", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "9f58d0ac-f1e6-4a16-830d-d8417eb5ba90", "path":
      ["format", "collection_pointer", "id"], "args": "b233db32-ae28-432a-bf7b-0bfcb5faa0e0",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653396664819}, "command":
      "update", "id": "9f58d0ac-f1e6-4a16-830d-d8417eb5ba90", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "975a881b-e98a-4765-afd5-b812e9a03e33", "path":
      ["format", "table_properties"], "args": [{"visible": true, "property": "title"},
      {"visible": true, "property": "d1ML"}], "command": "set", "table": "collection_view"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "9a2bfe1c-cdc4-4b72-830b-77dcb26de2a2", "path":
      [], "args": {"id": "9a2bfe1c-cdc4-4b72-830b-77dcb26de2a2", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1653396668296, "parent_id": "a9881ee0-bde2-4765-bc92-7288cb6410fc",
      "parent_table": "block", "schema": {"title": {"name": "c", "type": "title"},
      "pVOi": {"name": "d", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "a9881ee0-bde2-4765-bc92-7288cb6410fc", "path": ["content"], "args":
      {"id": "9a2bfe1c-cdc4-4b72-830b-77dcb26de2a2"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653396668296}, "command":
      "update", "id": "a9881ee0-bde2-4765-bc92-7288cb6410fc", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653396668296}, "command":
      "update", "id": "a9881ee0-bde2-4765-bc92-7288cb6410fc", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"blockId": "a9881ee0-bde2-4765-bc92-7288cb6410fc"}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getPublicPageData
  response:
    body:
      string: '{"spaceName":"test_py","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274","spaceDomain":"laced-taxi-315","canJoinSpace":true,"userHasExplicitAccess":true,"ownerUserId":"a03b888f-5426-4e4f-b5ef-bed855b162f0","betaEnabled":false,"canRequestAccess":true,"requireLogin":false,"publicAccessRole":"none"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "b233db32-ae28-432a-bf7b-0bfcb5faa0e0", "path":
      ["schema"], "args": {"title": {"name": "a", "type": "title"}, "d1ML": {"name":
      "b", "type": "relation", "property": "ZSws", "collection_id": "9a2bfe1c-cdc4-4b72-830b-77dcb26de2a2",
      "collection_pointer": {"id": "9a2bfe1c-cdc4-4b72-830b-77dcb26de2a2", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274", "table": "collection"}}}, "command":
      "set", "table": "collection"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"page": {"id": "9f58d0ac-f1e6-4a16-830d-d8417eb5ba90"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"9f58d0ac-f1e6-4a16-830d-d8417eb5ba90":{"role":"editor","value":{"id":"9f58d0ac-f1e6-4a16-830d-d8417eb5ba90","version":13,"type":"collection_view_page","content":["b233db32-ae28-432a-bf7b-0bfcb5faa0e0","975a881b-e98a-4765-afd5-b812e9a03e33"],"view_ids":["975a881b-e98a-4765-afd5-b812e9a03e33"],"format":{"collection_pointer":{"id":"b233db32-ae28-432a-bf7b-0bfcb5faa0e0","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1653396663993,"last_edited_time":1653396665850,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":5334,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["9f58d0ac-f1e6-4a16-830d-d8417eb5ba90","a9881ee0-bde2-4765-bc92-7288cb6410fc"],"created_time":1638259881592,"last_edited_time":1652698380000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection":{"b233db32-ae28-432a-bf7b-0bfcb5faa0e0":{"role":"editor","value":{"id":"b233db32-ae28-432a-bf7b-0bfcb5faa0e0","version":3,"name":[["TESTING
        PAGE"]],"schema":{"d1ML":{"name":"b","type":"relation","property":"ZSws","collection_id":"9a2bfe1c-cdc4-4b72-830b-77dcb26de2a2","collection_pointer":{"id":"9a2bfe1c-cdc4-4b72-830b-77dcb26de2a2","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"title":{"name":"a","type":"title"}},"parent_id":"9f58d0ac-f1e6-4a16-830d-d8417eb5ba90","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection_view":{"975a881b-e98a-4765-afd5-b812e9a03e33":{"role":"editor","value":{"id":"975a881b-e98a-4765-afd5-b812e9a03e33","version":3,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"d1ML"}]},"parent_id":"9f58d0ac-f1e6-4a16-830d-d8417eb5ba90","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1653396665147,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"requests": [{"table": "collection", "id": "9a2bfe1c-cdc4-4b72-830b-77dcb26de2a2"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"9a2bfe1c-cdc4-4b72-830b-77dcb26de2a2","version":3,"name":[["TESTING
        PAGE"]],"schema":{"ZSws":{"name":"Related to TESTING PAGE (b)","type":"relation","property":"d1ML","collection_id":"b233db32-ae28-432a-bf7b-0bfcb5faa0e0","collection_pointer":{"id":"b233db32-ae28-432a-bf7b-0bfcb5faa0e0","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"pVOi":{"name":"d","type":"text"},"title":{"name":"c","type":"title"}},"parent_id":"a9881ee0-bde2-4765-bc92-7288cb6410fc","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"collection":{"9a2bfe1c-cdc4-4b72-830b-77dcb26de2a2":{"role":"editor","value":{"id":"9a2bfe1c-cdc4-4b72-830b-77dcb26de2a2","version":3,"name":[["TESTING
        PAGE"]],"schema":{"ZSws":{"name":"Related to TESTING PAGE (b)","type":"relation","property":"d1ML","collection_id":"b233db32-ae28-432a-bf7b-0bfcb5faa0e0","collection_pointer":{"id":"b233db32-ae28-432a-bf7b-0bfcb5faa0e0","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"pVOi":{"name":"d","type":"text"},"title":{"name":"c","type":"title"}},"parent_id":"a9881ee0-bde2-4765-bc92-7288cb6410fc","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"block":{"a9881ee0-bde2-4765-bc92-7288cb6410fc":{"role":"editor","value":{"id":"a9881ee0-bde2-4765-bc92-7288cb6410fc","version":13,"type":"collection_view_page","content":["9a2bfe1c-cdc4-4b72-830b-77dcb26de2a2","ed9f081e-26fc-4f37-8c95-d190ab1670c6"],"view_ids":["ed9f081e-26fc-4f37-8c95-d190ab1670c6"],"format":{"collection_pointer":{"id":"9a2bfe1c-cdc4-4b72-830b-77dcb26de2a2","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed85[...]
- request:
    body: '{"requests": [{"table": "collection_view", "id": "ed9f081e-26fc-4f37-8c95-d190ab1670c6"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"ed9f081e-26fc-4f37-8c95-d190ab1670c6","version":3,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"pVOi"}]},"parent_id":"a9881ee0-bde2-4765-bc92-7288cb6410fc","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1653396669107,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}],"recordMapWithRoles":{"collection_view":{"ed9f081e-26fc-4f37-8c95-d190ab1670c6":{"role":"editor","value":{"id":"ed9f081e-26fc-4f37-8c95-d190ab1670c6","version":3,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"pVOi"}]},"parent_id":"a9881ee0-bde2-4765-bc92-7288cb6410fc","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1653396669107,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}},"block":{"a9881ee0-bde2-4765-bc92-7288cb641[...]
- request:
    body: '{"collection": {"id": "9a2bfe1c-cdc4-4b72-830b-77dcb26de2a2", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "ed9f081e-26fc-4f37-8c95-d190ab1670c6",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"table:uncategorized:title:count":
      {"aggregation": {"aggregator": "count", "property": "title"}, "type": "aggregation"}},
      "searchQuery": "", "sort": [], "userTimeZone": "Asia/Tashkent", "type": "reducer"}}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"table:uncategorized:title:count":{"type":"aggregation","aggregationResult":{"type":"number","value":0}}}},"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"collection": {"id": "9a2bfe1c-cdc4-4b72-830b-77dcb26de2a2", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "ed9f081e-26fc-4f37-8c95-d190ab1670c6",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 0, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":[],"hasMore":false}}},"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"collection": {"id": "b233db32-ae28-432a-bf7b-0bfcb5faa0e0", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "975a881b-e98a-4765-afd5-b812e9a03e33",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 1, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["765facd0-0a47-40b1-b5b6-7c1d1f7cf6d1"],"hasMore":false}}},"recordMap":{"block":{"765facd0-0a47-40b1-b5b6-7c1d1f7cf6d1":{"role":"editor","value":{"id":"765facd0-0a47-40b1-b5b6-7c1d1f7cf6d1","version":8,"type":"page","properties":{"title":[["aa"]]},"created_time":1653396674069,"last_edited_time":1653396677181,"parent_id":"b233db32-ae28-432a-bf7b-0bfcb5faa0e0","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"9f58d0ac-f1e6-4a16-830d-d8417eb5ba90":{"role":"editor","value":{"id":"9f58d0ac-f1e6-4a16-8[...]
[...]
- request:
    body: '{"blockIds": ["9f58d0ac-f1e6-4a16-830d-d8417eb5ba90"], "permanentlyDelete":
      true}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
