interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":31,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["5585f343-8ea5-469b-8a90-a05987977424"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":3003,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1651932240000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "0aa9f3c2-dc1b-4d1b-8522-af62c49bc5eb", "path":
      [], "args": {"id": "0aa9f3c2-dc1b-4d1b-8522-af62c49bc5eb", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1652088943794, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652088943794}, "command":
      "update", "id": "0aa9f3c2-dc1b-4d1b-8522-af62c49bc5eb", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "0aa9f3c2-dc1b-4d1b-8522-af62c49bc5eb"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652088943794}, "command":
      "update", "id": "0aa9f3c2-dc1b-4d1b-8522-af62c49bc5eb", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "667cdaf0-9317-4542-864b-37d5a7839199", "path":
      [], "args": {"id": "667cdaf0-9317-4542-864b-37d5a7839199", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1652088944299, "parent_id": "0aa9f3c2-dc1b-4d1b-8522-af62c49bc5eb",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "jOyo": {"name": "b", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "0aa9f3c2-dc1b-4d1b-8522-af62c49bc5eb", "path": ["content"], "args":
      {"id": "667cdaf0-9317-4542-864b-37d5a7839199"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652088944299}, "command":
      "update", "id": "0aa9f3c2-dc1b-4d1b-8522-af62c49bc5eb", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652088944299}, "command":
      "update", "id": "0aa9f3c2-dc1b-4d1b-8522-af62c49bc5eb", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "0aa9f3c2-dc1b-4d1b-8522-af62c49bc5eb", "path":
      ["format", "collection_pointer", "id"], "args": "667cdaf0-9317-4542-864b-37d5a7839199",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652088944762}, "command":
      "update", "id": "0aa9f3c2-dc1b-4d1b-8522-af62c49bc5eb", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "4885b4e9-f175-4b03-b69c-943a1fbf4e51", "path":
      ["format", "table_properties"], "args": [{"visible": true, "property": "title"},
      {"visible": true, "property": "jOyo"}], "command": "set", "table": "collection_view"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"page": {"id": "0aa9f3c2-dc1b-4d1b-8522-af62c49bc5eb"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"0aa9f3c2-dc1b-4d1b-8522-af62c49bc5eb":{"role":"editor","value":{"id":"0aa9f3c2-dc1b-4d1b-8522-af62c49bc5eb","version":13,"type":"collection_view_page","content":["667cdaf0-9317-4542-864b-37d5a7839199","4885b4e9-f175-4b03-b69c-943a1fbf4e51"],"view_ids":["4885b4e9-f175-4b03-b69c-943a1fbf4e51"],"format":{"collection_pointer":{"id":"667cdaf0-9317-4542-864b-37d5a7839199","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1652088943794,"last_edited_time":1652088946060,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":3004,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["0aa9f3c2-dc1b-4d1b-8522-af62c49bc5eb"],"created_time":1638259881592,"last_edited_time":1651932240000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection":{"667cdaf0-9317-4542-864b-37d5a7839199":{"role":"editor","value":{"id":"667cdaf0-9317-4542-864b-37d5a7839199","version":2,"name":[["TESTING
        PAGE"]],"schema":{"jOyo":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"0aa9f3c2-dc1b-4d1b-8522-af62c49bc5eb","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection_view":{"4885b4e9-f175-4b03-b69c-943a1fbf4e51":{"role":"editor","value":{"id":"4885b4e9-f175-4b03-b69c-943a1fbf4e51","version":4,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"jOyo"}]},"parent_id":"0aa9f3c2-dc1b-4d1b-8522-af62c49bc5eb","parent_table":"block","alive":true,"page_sort":["6df0c372-5be6-4f7a-b654-ff0a500ae6d0"],"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1652088945176,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"requests": [{"table": "collection", "id": "667cdaf0-9317-4542-864b-37d5a7839199"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"667cdaf0-9317-4542-864b-37d5a7839199","version":2,"name":[["TESTING
        PAGE"]],"schema":{"jOyo":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"0aa9f3c2-dc1b-4d1b-8522-af62c49bc5eb","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"collection":{"667cdaf0-9317-4542-864b-37d5a7839199":{"role":"editor","value":{"id":"667cdaf0-9317-4542-864b-37d5a7839199","version":2,"name":[["TESTING
        PAGE"]],"schema":{"jOyo":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"0aa9f3c2-dc1b-4d1b-8522-af62c49bc5eb","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"block":{"0aa9f3c2-dc1b-4d1b-8522-af62c49bc5eb":{"role":"editor","value":{"id":"0aa9f3c2-dc1b[...]
- request:
    body: '{"collection": {"id": "667cdaf0-9317-4542-864b-37d5a7839199", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "4885b4e9-f175-4b03-b69c-943a1fbf4e51",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"table:uncategorized:title:count":
      {"aggregation": {"aggregator": "count", "property": "title"}, "type": "aggregation"}},
      "searchQuery": "", "sort": [], "userTimeZone": "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"table:uncategorized:title:count":{"type":"aggregation","aggregationResult":{"type":"number","value":1}}}},"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"collection": {"id": "667cdaf0-9317-4542-864b-37d5a7839199", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "4885b4e9-f175-4b03-b69c-943a1fbf4e51",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 1, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["6df0c372-5be6-4f7a-b654-ff0a500ae6d0"],"hasMore":false}}},"recordMap":{"block":{"6df0c372-5be6-4f7a-b654-ff0a500ae6d0":{"role":"editor","value":{"id":"6df0c372-5be6-4f7a-b654-ff0a500ae6d0","version":8,"type":"page","properties":{"jOyo":[["b1"]],"title":[["a"]]},"created_time":1652088947799,"last_edited_time":1652088948277,"parent_id":"667cdaf0-9317-4542-864b-37d5a7839199","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"0aa9f3c2-dc1b-4d1b-8522-af62c49bc5eb":{"role":"editor","value":{"id":"0aa9f[...]
[...]
- request:
    body: '{"operations": [{"id": "ad880156-5e2c-43c6-b00d-42cab78915a0", "path":
      [], "args": {"id": "ad880156-5e2c-43c6-b00d-42cab78915a0", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1652088952263, "parent_id": "6df0c372-5be6-4f7a-b654-ff0a500ae6d0",
      "parent_table": "block", "type": "image", "child_list_key": null}, "command":
      "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652088952263}, "command":
      "update", "id": "ad880156-5e2c-43c6-b00d-42cab78915a0", "path": [], "table":
      "block"}, {"id": "6df0c372-5be6-4f7a-b654-ff0a500ae6d0", "path": ["content"],
      "args": {"id": "ad880156-5e2c-43c6-b00d-42cab78915a0"}, "command": "listAfter",
      "table": "block"}, {"args":[...]
[...]
- request:
    body: '{"operations": [{"id": "ad880156-5e2c-43c6-b00d-42cab78915a0", "path":
      ["properties", "cover_meta"], "args": {"type": "url", "url": "https://via.placeholder.com/100"},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652088953126}, "command":
      "update", "id": "ad880156-5e2c-43c6-b00d-42cab78915a0", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"requests": [{"table": "block", "id": "ad880156-5e2c-43c6-b00d-42cab78915a0"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"ad880156-5e2c-43c6-b00d-42cab78915a0","version":10,"type":"image","properties":{"source":[["https://via.placeholder.com/100"]],"cover_meta":{"url":"https://via.placeholder.com/100","type":"url"}},"format":{"display_source":"https://via.placeholder.com/100"},"created_time":1652088952263,"last_edited_time":1652088953126,"parent_id":"6df0c372-5be6-4f7a-b654-ff0a500ae6d0","parent_table":"block","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"block":{"ad880156-5e2c-43c6-b00d-42cab78915a0":{"role":"editor","value":{"id":"ad880156-5e2c-43c6-b00d-42cab78915a0","version":10,"type":"image","properties":{"source":[["https://via.placeholder.com/100"]],"cover_meta":{"url":"https://via.placeholder.com/100","type":"url"}},"format":{"display_source":"https://via.placeholder.com/100"},"created_time":1652088952263,"last_edited_time":1652088953126,"parent_id":"6df0c372-5be6-4f7a-b654-ff0a500ae6d0","parent_table":"block","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-54[...]
[...]
- request:
    body: '{"blockIds": ["0aa9f3c2-dc1b-4d1b-8522-af62c49bc5eb"], "permanentlyDelete":
      true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
