interactions:
- request:
    body: '{}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":31,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["5585f343-8ea5-469b-8a90-a05987977424"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":5046,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1652698380000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-[...]
[...]
- request:
    body: '{"operations": [{"id": "64946c07-d8cb-44ff-8e3e-b39597921b12", "path":
      [], "args": {"id": "64946c07-d8cb-44ff-8e3e-b39597921b12", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1653315316823, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653315316823}, "command":
      "update", "id": "64946c07-d8cb-44ff-8e3e-b39597921b12", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "64946c07-d8cb-44ff-8e3e-b39597921b12"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653315316823}, "command":
      "update", "id": "64946c07-d8cb-44ff-8e3e-b39597921b12", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "e0122793-c91b-4318-9441-97c1d40fb3e3", "path":
      [], "args": {"id": "e0122793-c91b-4318-9441-97c1d40fb3e3", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1653315317206, "parent_id": "64946c07-d8cb-44ff-8e3e-b39597921b12",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "sST8": {"name": "b", "type": "person"}}}, "command": "set", "table": "collection"},
      {"id": "64946c07-d8cb-44ff-8e3e-b39597921b12", "path": ["content"], "args":
      {"id": "e0122793-c91b-4318-9441-97c1d40fb3e3"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653315317206}, "command":
      "update", "id": "64946c07-d8cb-44ff-8e3e-b39597921b12", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653315317206}, "command":
      "update", "id": "64946c07-d8cb-44ff-8e3e-b39597921b12", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "64946c07-d8cb-44ff-8e3e-b39597921b12", "path":
      ["format", "collection_pointer", "id"], "args": "e0122793-c91b-4318-9441-97c1d40fb3e3",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653315317606}, "command":
      "update", "id": "64946c07-d8cb-44ff-8e3e-b39597921b12", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "a1c513c4-cad7-47db-bd2e-9536acc3035f", "path":
      ["format", "table_properties"], "args": [{"visible": true, "property": "title"},
      {"visible": true, "property": "sST8"}], "command": "set", "table": "collection_view"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"requests": [{"table": "notion_user", "id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}],"recordMapWithRoles":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"email": "missing@mail.com"}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/findUser
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"page": {"id": "64946c07-d8cb-44ff-8e3e-b39597921b12"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"64946c07-d8cb-44ff-8e3e-b39597921b12":{"role":"editor","value":{"id":"64946c07-d8cb-44ff-8e3e-b39597921b12","version":13,"type":"collection_view_page","content":["e0122793-c91b-4318-9441-97c1d40fb3e3","a1c513c4-cad7-47db-bd2e-9536acc3035f"],"view_ids":["a1c513c4-cad7-47db-bd2e-9536acc3035f"],"format":{"collection_pointer":{"id":"e0122793-c91b-4318-9441-97c1d40fb3e3","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1653315316823,"last_edited_time":1653315318968,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":5047,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["64946c07-d8cb-44ff-8e3e-b39597921b12"],"created_time":1638259881592,"last_edited_time":1652698380000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection":{"e0122793-c91b-4318-9441-97c1d40fb3e3":{"role":"editor","value":{"id":"e0122793-c91b-4318-9441-97c1d40fb3e3","version":2,"name":[["TESTING
        PAGE"]],"schema":{"sST8":{"name":"b","type":"person"},"title":{"name":"a","type":"title"}},"parent_id":"64946c07-d8cb-44ff-8e3e-b39597921b12","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection_view":{"a1c513c4-cad7-47db-bd2e-9536acc3035f":{"role":"editor","value":{"id":"a1c513c4-cad7-47db-bd2e-9536acc3035f","version":3,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"sST8"}]},"parent_id":"64946c07-d8cb-44ff-8e3e-b39597921b12","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1653315317952,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"blockIds": ["64946c07-d8cb-44ff-8e3e-b39597921b12"], "permanentlyDelete":
      true}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
