interactions:
- request:
    body: '{}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":31,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["5585f343-8ea5-469b-8a90-a05987977424"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":4487,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1652698380000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-[...]
- request:
    body: '{"operations": [{"id": "dda619ed-c555-49b0-a8cb-5396a768c2e5", "path":
      [], "args": {"id": "dda619ed-c555-49b0-a8cb-5396a768c2e5", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1653059120494, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653059120494}, "command":
      "update", "id": "dda619ed-c555-49b0-a8cb-5396a768c2e5", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "dda619ed-c555-49b0-a8cb-5396a768c2e5"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653059120494}, "command":
      "update", "id": "dda619ed-c555-49b0-a8cb-5396a768c2e5", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "72aeb762-8cd5-4afe-87c9-08e7de327c04", "path":
      [], "args": {"id": "72aeb762-8cd5-4afe-87c9-08e7de327c04", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1653059120904, "parent_id": "dda619ed-c555-49b0-a8cb-5396a768c2e5",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "ZMck": {"name": "b", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "dda619ed-c555-49b0-a8cb-5396a768c2e5", "path": ["content"], "args":
      {"id": "72aeb762-8cd5-4afe-87c9-08e7de327c04"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653059120904}, "command":
      "update", "id": "dda619ed-c555-49b0-a8cb-5396a768c2e5", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653059120904}, "command":
      "update", "id": "dda619ed-c555-49b0-a8cb-5396a768c2e5", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "dda619ed-c555-49b0-a8cb-5396a768c2e5", "path":
      ["format", "collection_pointer", "id"], "args": "72aeb762-8cd5-4afe-87c9-08e7de327c04",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653059121264}, "command":
      "update", "id": "dda619ed-c555-49b0-a8cb-5396a768c2e5", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "069e9f3f-bb2e-4dfd-9873-b02878e5c7bf", "path":
      ["format", "table_properties"], "args": [{"visible": true, "property": "title"},
      {"visible": true, "property": "ZMck"}], "command": "set", "table": "collection_view"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "0b741d01-8bb9-415c-884f-5a155412fd71", "path":
      [], "args": {"id": "0b741d01-8bb9-415c-884f-5a155412fd71", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1653059124877, "parent_id": "e8bd79f3-4935-4a7b-b56f-5bd388965129",
      "parent_table": "block", "schema": {"title": {"name": "c", "type": "title"},
      "wgfT": {"name": "d", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "e8bd79f3-4935-4a7b-b56f-5bd388965129", "path": ["content"], "args":
      {"id": "0b741d01-8bb9-415c-884f-5a155412fd71"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653059124877}, "command":
      "update", "id": "e8bd79f3-4935-4a7b-b56f-5bd388965129", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653059124877}, "command":
      "update", "id": "e8bd79f3-4935-4a7b-b56f-5bd388965129", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"blockId": "e8bd79f3-4935-4a7b-b56f-5bd388965129"}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getPublicPageData
  response:
    body:
      string: '{"spaceName":"test_py","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274","spaceDomain":"laced-taxi-315","canJoinSpace":true,"userHasExplicitAccess":true,"ownerUserId":"a03b888f-5426-4e4f-b5ef-bed855b162f0","betaEnabled":false,"canRequestAccess":true,"requireLogin":false,"publicAccessRole":"none"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "72aeb762-8cd5-4afe-87c9-08e7de327c04", "path":
      ["schema"], "args": {"title": {"name": "a", "type": "title"}, "ZMck": {"name":
      "b", "type": "relation", "property": "VAJl", "collection_id": "0b741d01-8bb9-415c-884f-5a155412fd71",
      "collection_pointer": {"id": "0b741d01-8bb9-415c-884f-5a155412fd71", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274", "table": "collection"}}}, "command":
      "set", "table": "collection"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"page": {"id": "dda619ed-c555-49b0-a8cb-5396a768c2e5"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"dda619ed-c555-49b0-a8cb-5396a768c2e5":{"role":"editor","value":{"id":"dda619ed-c555-49b0-a8cb-5396a768c2e5","version":13,"type":"collection_view_page","content":["72aeb762-8cd5-4afe-87c9-08e7de327c04","069e9f3f-bb2e-4dfd-9873-b02878e5c7bf"],"view_ids":["069e9f3f-bb2e-4dfd-9873-b02878e5c7bf"],"format":{"collection_pointer":{"id":"72aeb762-8cd5-4afe-87c9-08e7de327c04","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1653059120494,"last_edited_time":1653059122334,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":4489,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["dda619ed-c555-49b0-a8cb-5396a768c2e5","e8bd79f3-4935-4a7b-b56f-5bd388965129"],"created_time":1638259881592,"last_edited_time":1652698380000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection":{"72aeb762-8cd5-4afe-87c9-08e7de327c04":{"role":"editor","value":{"id":"72aeb762-8cd5-4afe-87c9-08e7de327c04","version":3,"name":[["TESTING
        PAGE"]],"schema":{"ZMck":{"name":"b","type":"relation","property":"VAJl","collection_id":"0b741d01-8bb9-415c-884f-5a155412fd71","collection_pointer":{"id":"0b741d01-8bb9-415c-884f-5a155412fd71","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"title":{"name":"a","type":"title"}},"parent_id":"dda619ed-c555-49b0-a8cb-5396a768c2e5","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection_view":{"069e9f3f-bb2e-4dfd-9873-b02878e5c7bf":{"role":"editor","value":{"id":"069e9f3f-bb2e-4dfd-9873-b02878e5c7bf","version":3,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"ZMck"}]},"parent_id":"dda619ed-c555-49b0-a8cb-5396a768c2e5","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1653059121593,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"requests": [{"table": "collection", "id": "0b741d01-8bb9-415c-884f-5a155412fd71"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"0b741d01-8bb9-415c-884f-5a155412fd71","version":3,"name":[["TESTING
        PAGE"]],"schema":{"VAJl":{"name":"Related to TESTING PAGE (b)","type":"relation","property":"ZMck","collection_id":"72aeb762-8cd5-4afe-87c9-08e7de327c04","collection_pointer":{"id":"72aeb762-8cd5-4afe-87c9-08e7de327c04","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"wgfT":{"name":"d","type":"text"},"title":{"name":"c","type":"title"}},"parent_id":"e8bd79f3-4935-4a7b-b56f-5bd388965129","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"collection":{"0b741d01-8bb9-415c-884f-5a155412fd71":{"role":"editor","value":{"id":"0b741d01-8bb9-415c-884f-5a155412fd71","version":3,"name":[["TESTING
        PAGE"]],"schema":{"VAJl":{"name":"Related to TESTING PAGE (b)","type":"relation","property":"ZMck","collection_id":"72aeb762-8cd5-4afe-87c9-08e7de327c04","collection_pointer":{"id":"72aeb762-8cd5-4afe-87c9-08e7de327c04","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"wgfT":{"name":"d","type":"text"},"title":{"name":"c","type":"title"}},"parent_id":"e8bd79f3-4935-4a7b-b56f-5bd388965129","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"block":{"e8bd79f3-4935-4a7b-b56f-5bd388965129":{"role":"editor","value":{"id":"e8bd79f3-4935-4a7b-b56f-5bd388965129","version":13,"type":"collection_view_page","content":["0b741d01-8bb9-415c-884f-5a155412fd71","7032ad27-88a1-4b65-a430-7ce01f5279f7"],"view_ids":["7032ad27-88a1-4b65-a430-7ce01f5279f7"],"format":{"collection_pointer":{"id":"0b741d01-8bb9-415c-884f-5a155412fd71","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed85[...]
[...]
- request:
    body: '{"requests": [{"table": "collection_view", "id": "7032ad27-88a1-4b65-a430-7ce01f5279f7"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"7032ad27-88a1-4b65-a430-7ce01f5279f7","version":4,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"wgfT"}]},"parent_id":"e8bd79f3-4935-4a7b-b56f-5bd388965129","parent_table":"block","alive":true,"page_sort":["a63363e1-9715-41b6-835f-2c420f8e8136"],"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1653059125572,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}],"recordMapWithRoles":{"collection_view":{"7032ad27-88a1-4b65-a430-7ce01f5279f7":{"role":"editor","value":{"id":"7032ad27-88a1-4b65-a430-7ce01f5279f7","version":4,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"wgfT"}]},"parent_i[...]
- request:
    body: '{"collection": {"id": "0b741d01-8bb9-415c-884f-5a155412fd71", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "7032ad27-88a1-4b65-a430-7ce01f5279f7",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"table:uncategorized:title:count":
      {"aggregation": {"aggregator": "count", "property": "title"}, "type": "aggregation"}},
      "searchQuery": "", "sort": [], "userTimeZone": "Asia/Tashkent", "type": "reducer"}}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"table:uncategorized:title:count":{"type":"aggregation","aggregationResult":{"type":"number","value":1}}}},"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"collection": {"id": "0b741d01-8bb9-415c-884f-5a155412fd71", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "7032ad27-88a1-4b65-a430-7ce01f5279f7",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 1, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["a63363e1-9715-41b6-835f-2c420f8e8136"],"hasMore":false}}},"recordMap":{"block":{"a63363e1-9715-41b6-835f-2c420f8e8136":{"role":"editor","value":{"id":"a63363e1-9715-41b6-835f-2c420f8e8136","version":6,"type":"page","properties":{"title":[["cc"]]},"created_time":1653059128207,"last_edited_time":1653059128570,"parent_id":"0b741d01-8bb9-415c-884f-5a155412fd71","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"e8bd79f3-4935-4a7b-b56f-5bd388965129":{"role":"editor","value":{"id":"e8bd79f3-4935-4a7b-b[...]
[...]
- request:
    body: '{"collection": {"id": "72aeb762-8cd5-4afe-87c9-08e7de327c04", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "069e9f3f-bb2e-4dfd-9873-b02878e5c7bf",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 1, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["b3db6b0b-23a4-48d6-ae26-eedccc6e6983"],"hasMore":false}}},"recordMap":{"block":{"b3db6b0b-23a4-48d6-ae26-eedccc6e6983":{"role":"editor","value":{"id":"b3db6b0b-23a4-48d6-ae26-eedccc6e6983","version":8,"type":"page","properties":{"title":[["a"]]},"created_time":1653059135438,"last_edited_time":1653059135833,"parent_id":"72aeb762-8cd5-4afe-87c9-08e7de327c04","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906[...]
[...]
- request:
    body: '{"blockIds": ["dda619ed-c555-49b0-a8cb-5396a768c2e5"], "permanentlyDelete":
      true}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
