interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":29,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["5585f343-8ea5-469b-8a90-a05987977424"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":1878,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1651730700000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "30b9c072-8380-4d69-aa2e-699dc3f8b309", "path":
      [], "args": {"id": "30b9c072-8380-4d69-aa2e-699dc3f8b309", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651735530317, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651735530317}, "command":
      "update", "id": "30b9c072-8380-4d69-aa2e-699dc3f8b309", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "30b9c072-8380-4d69-aa2e-699dc3f8b309"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651735530317}, "command":
      "update", "id": "30b9c072-8380-4d69-aa2e-699dc3f8b309", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "955b8e76-4a05-4eb6-a8db-432383743584", "path":
      [], "args": {"id": "955b8e76-4a05-4eb6-a8db-432383743584", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651735530790, "parent_id": "30b9c072-8380-4d69-aa2e-699dc3f8b309",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "S9mv": {"name": "b", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "30b9c072-8380-4d69-aa2e-699dc3f8b309", "path": ["content"], "args":
      {"id": "955b8e76-4a05-4eb6-a8db-432383743584"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651735530790}, "command":
      "update", "id": "30b9c072-8380-4d69-aa2e-699dc3f8b309", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651735530790}, "command":
      "update", "id": "30b9c072-8380-4d69-aa2e-699dc3f8b309", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "30b9c072-8380-4d69-aa2e-699dc3f8b309", "path":
      ["format", "collection_pointer", "id"], "args": "955b8e76-4a05-4eb6-a8db-432383743584",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651735531216}, "command":
      "update", "id": "30b9c072-8380-4d69-aa2e-699dc3f8b309", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "e8586b63-0c43-4518-885b-a526ee98aa1a", "path":
      ["format", "table_properties"], "args": [{"visible": true, "property": "title"},
      {"visible": true, "property": "S9mv"}], "command": "set", "table": "collection_view"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"page": {"id": "30b9c072-8380-4d69-aa2e-699dc3f8b309"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"30b9c072-8380-4d69-aa2e-699dc3f8b309":{"role":"editor","value":{"id":"30b9c072-8380-4d69-aa2e-699dc3f8b309","version":13,"type":"collection_view_page","content":["955b8e76-4a05-4eb6-a8db-432383743584","e8586b63-0c43-4518-885b-a526ee98aa1a"],"view_ids":["e8586b63-0c43-4518-885b-a526ee98aa1a"],"format":{"collection_pointer":{"id":"955b8e76-4a05-4eb6-a8db-432383743584","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1651735530317,"last_edited_time":1651735532794,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":1879,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["30b9c072-8380-4d69-aa2e-699dc3f8b309"],"created_time":1638259881592,"last_edited_time":1651730700000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection":{"955b8e76-4a05-4eb6-a8db-432383743584":{"role":"editor","value":{"id":"955b8e76-4a05-4eb6-a8db-432383743584","version":2,"name":[["TESTING
        PAGE"]],"schema":{"S9mv":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"30b9c072-8380-4d69-aa2e-699dc3f8b309","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection_view":{"e8586b63-0c43-4518-885b-a526ee98aa1a":{"role":"editor","value":{"id":"e8586b63-0c43-4518-885b-a526ee98aa1a","version":5,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"S9mv"}]},"parent_id":"30b9c072-8380-4d69-aa2e-699dc3f8b309","parent_table":"block","alive":true,"page_sort":["520fd098-2886-403c-84ed-f78c2a746e9b","c1bdd5fe-2068-431a-8b2d-21abfef96cf0"],"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1651735531594,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"requests": [{"table": "collection", "id": "955b8e76-4a05-4eb6-a8db-432383743584"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"955b8e76-4a05-4eb6-a8db-432383743584","version":2,"name":[["TESTING
        PAGE"]],"schema":{"S9mv":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"30b9c072-8380-4d69-aa2e-699dc3f8b309","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"collection":{"955b8e76-4a05-4eb6-a8db-432383743584":{"role":"editor","value":{"id":"955b8e76-4a05-4eb6-a8db-432383743584","version":2,"name":[["TESTING
        PAGE"]],"schema":{"S9mv":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"30b9c072-8380-4d69-aa2e-699dc3f8b309","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"block":{"30b9c072-8380-4d69-aa2e-699dc3f8b309":{"role":"editor","value":{"id":"30b9c072-8380[...]
- request:
    body: '{"collection": {"id": "955b8e76-4a05-4eb6-a8db-432383743584", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "e8586b63-0c43-4518-885b-a526ee98aa1a",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 100, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["520fd098-2886-403c-84ed-f78c2a746e9b","c1bdd5fe-2068-431a-8b2d-21abfef96cf0"],"hasMore":false}}},"recordMap":{"block":{"520fd098-2886-403c-84ed-f78c2a746e9b":{"role":"editor","value":{"id":"520fd098-2886-403c-84ed-f78c2a746e9b","version":8,"type":"page","properties":{"S9mv":[["b1"]],"title":[["a1"]]},"created_time":1651735533968,"last_edited_time":1651735534453,"parent_id":"955b8e76-4a05-4eb6-a8db-432383743584","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"c1bdd5fe-2068-431a-8b2d-21abfef96cf0":{"role":"editor","value":{"id":"c1bdd5fe-2068-431a-8b2d-21abfef96cf0","version":8,"type":"page","properties":{"S9mv":[["b1"]],"title":[["a1"]]},"created_time":1651735534844,"last_edited_time":1651735535299,"parent_id":"955b8e76-4a05-4eb6-a8db-432383743584","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3c[...]
[...]
- request:
    body: '{"blockIds": ["30b9c072-8380-4d69-aa2e-699dc3f8b309"], "permanentlyDelete":
      true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
