interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":31,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["5585f343-8ea5-469b-8a90-a05987977424"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":2613,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1651765740000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "7dbd7be5-e8df-4a08-9435-3cd17e603a70", "path":
      [], "args": {"id": "7dbd7be5-e8df-4a08-9435-3cd17e603a70", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651931204970, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651931204970}, "command":
      "update", "id": "7dbd7be5-e8df-4a08-9435-3cd17e603a70", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "7dbd7be5-e8df-4a08-9435-3cd17e603a70"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651931204970}, "command":
      "update", "id": "7dbd7be5-e8df-4a08-9435-3cd17e603a70", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "196bb75a-2914-4738-a8e6-a20f5bcbb882", "path":
      [], "args": {"id": "196bb75a-2914-4738-a8e6-a20f5bcbb882", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651931205334, "parent_id": "7dbd7be5-e8df-4a08-9435-3cd17e603a70",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "oJxs": {"name": "b", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "7dbd7be5-e8df-4a08-9435-3cd17e603a70", "path": ["content"], "args":
      {"id": "196bb75a-2914-4738-a8e6-a20f5bcbb882"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651931205334}, "command":
      "update", "id": "7dbd7be5-e8df-4a08-9435-3cd17e603a70", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651931205334}, "command":
      "update", "id": "7dbd7be5-e8df-4a08-9435-3cd17e603a70", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "7dbd7be5-e8df-4a08-9435-3cd17e603a70", "path":
      ["format", "collection_pointer", "id"], "args": "196bb75a-2914-4738-a8e6-a20f5bcbb882",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651931205701}, "command":
      "update", "id": "7dbd7be5-e8df-4a08-9435-3cd17e603a70", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "4325bf0f-3809-47ca-a55e-068adb10dcd7", "path":
      ["format", "table_properties"], "args": [{"visible": true, "property": "title"},
      {"visible": true, "property": "oJxs"}], "command": "set", "table": "collection_view"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"page": {"id": "7dbd7be5-e8df-4a08-9435-3cd17e603a70"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"7dbd7be5-e8df-4a08-9435-3cd17e603a70":{"role":"editor","value":{"id":"7dbd7be5-e8df-4a08-9435-3cd17e603a70","version":13,"type":"collection_view_page","content":["196bb75a-2914-4738-a8e6-a20f5bcbb882","4325bf0f-3809-47ca-a55e-068adb10dcd7"],"view_ids":["4325bf0f-3809-47ca-a55e-068adb10dcd7"],"format":{"collection_pointer":{"id":"196bb75a-2914-4738-a8e6-a20f5bcbb882","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1651931204970,"last_edited_time":1651931207375,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":2614,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["7dbd7be5-e8df-4a08-9435-3cd17e603a70"],"created_time":1638259881592,"last_edited_time":1651765740000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection":{"196bb75a-2914-4738-a8e6-a20f5bcbb882":{"role":"editor","value":{"id":"196bb75a-2914-4738-a8e6-a20f5bcbb882","version":2,"name":[["TESTING
        PAGE"]],"schema":{"oJxs":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"7dbd7be5-e8df-4a08-9435-3cd17e603a70","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection_view":{"4325bf0f-3809-47ca-a55e-068adb10dcd7":{"role":"editor","value":{"id":"4325bf0f-3809-47ca-a55e-068adb10dcd7","version":5,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"oJxs"}]},"parent_id":"7dbd7be5-e8df-4a08-9435-3cd17e603a70","parent_table":"block","alive":true,"page_sort":["07bd4d55-a8e3-4c85-8202-327c99288e85","8d931167-275a-4080-ae0b-71ffee7d8b35"],"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1651931206085,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"requests": [{"table": "collection", "id": "196bb75a-2914-4738-a8e6-a20f5bcbb882"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"196bb75a-2914-4738-a8e6-a20f5bcbb882","version":2,"name":[["TESTING
        PAGE"]],"schema":{"oJxs":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"7dbd7be5-e8df-4a08-9435-3cd17e603a70","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"collection":{"196bb75a-2914-4738-a8e6-a20f5bcbb882":{"role":"editor","value":{"id":"196bb75a-2914-4738-a8e6-a20f5bcbb882","version":2,"name":[["TESTING
        PAGE"]],"schema":{"oJxs":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"7dbd7be5-e8df-4a08-9435-3cd17e603a70","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"block":{"7dbd7be5-e8df-4a08-9435-3cd17e603a70":{"role":"editor","value":{"id":"7dbd7be5-e8df[...]
- request:
    body: '{"collection": {"id": "196bb75a-2914-4738-a8e6-a20f5bcbb882", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "4325bf0f-3809-47ca-a55e-068adb10dcd7",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 100, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["07bd4d55-a8e3-4c85-8202-327c99288e85","8d931167-275a-4080-ae0b-71ffee7d8b35"],"hasMore":false}}},"recordMap":{"block":{"07bd4d55-a8e3-4c85-8202-327c99288e85":{"role":"editor","value":{"id":"07bd4d55-a8e3-4c85-8202-327c99288e85","version":8,"type":"page","properties":{"oJxs":[["b1"]],"title":[["a1"]]},"created_time":1651931208824,"last_edited_time":1651931209241,"parent_id":"196bb75a-2914-4738-a8e6-a20f5bcbb882","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"8d931167-275a-4080-ae0b-71ffee7d8b35":{"role":"editor","value":{"id":"8d93[...]
[...]
- request:
    body: '{"blockIds": ["7dbd7be5-e8df-4a08-9435-3cd17e603a70"], "permanentlyDelete":
      true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
