interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":29,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["5585f343-8ea5-469b-8a90-a05987977424"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":1960,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1651730700000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "26876fe2-348d-4840-b3e4-082cfc67724a", "path":
      [], "args": {"id": "26876fe2-348d-4840-b3e4-082cfc67724a", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651735989865, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651735989865}, "command":
      "update", "id": "26876fe2-348d-4840-b3e4-082cfc67724a", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "26876fe2-348d-4840-b3e4-082cfc67724a"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651735989865}, "command":
      "update", "id": "26876fe2-348d-4840-b3e4-082cfc67724a", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "025341c5-cb2f-4c7f-a3df-2d39a8b7d6fe", "path":
      [], "args": {"id": "025341c5-cb2f-4c7f-a3df-2d39a8b7d6fe", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651735990297, "parent_id": "26876fe2-348d-4840-b3e4-082cfc67724a",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "zL2C": {"name": "b", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "26876fe2-348d-4840-b3e4-082cfc67724a", "path": ["content"], "args":
      {"id": "025341c5-cb2f-4c7f-a3df-2d39a8b7d6fe"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651735990297}, "command":
      "update", "id": "26876fe2-348d-4840-b3e4-082cfc67724a", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651735990297}, "command":
      "update", "id": "26876fe2-348d-4840-b3e4-082cfc67724a", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "26876fe2-348d-4840-b3e4-082cfc67724a", "path":
      ["format", "collection_pointer", "id"], "args": "025341c5-cb2f-4c7f-a3df-2d39a8b7d6fe",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651735990726}, "command":
      "update", "id": "26876fe2-348d-4840-b3e4-082cfc67724a", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "ab8b11e9-c1e0-404d-9be0-7c05542da089", "path":
      ["format", "table_properties"], "args": [{"visible": true, "property": "title"},
      {"visible": true, "property": "zL2C"}], "command": "set", "table": "collection_view"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "5ff10d54-db52-4319-a264-b5403a244acf", "path":
      [], "args": {"id": "5ff10d54-db52-4319-a264-b5403a244acf", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651735993798, "parent_id": "42971d0a-5214-409e-9603-a48046b680a7",
      "parent_table": "block", "schema": {"title": {"name": "c", "type": "title"},
      "wi69": {"name": "d", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "42971d0a-5214-409e-9603-a48046b680a7", "path": ["content"], "args":
      {"id": "5ff10d54-db52-4319-a264-b5403a244acf"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651735993798}, "command":
      "update", "id": "42971d0a-5214-409e-9603-a48046b680a7", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651735993798}, "command":
      "update", "id": "42971d0a-5214-409e-9603-a48046b680a7", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"blockId": "42971d0a-5214-409e-9603-a48046b680a7"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getPublicPageData
  response:
    body:
      string: '{"spaceName":"test_py","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274","spaceDomain":"laced-taxi-315","canJoinSpace":true,"userHasExplicitAccess":true,"ownerUserId":"a03b888f-5426-4e4f-b5ef-bed855b162f0","betaEnabled":false,"canRequestAccess":true,"requireLogin":false,"publicAccessRole":"none"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "025341c5-cb2f-4c7f-a3df-2d39a8b7d6fe", "path":
      ["schema"], "args": {"title": {"name": "a", "type": "title"}, "zL2C": {"name":
      "b", "type": "relation", "property": "WpEi", "collection_id": "5ff10d54-db52-4319-a264-b5403a244acf",
      "collection_pointer": {"id": "5ff10d54-db52-4319-a264-b5403a244acf", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274", "table": "collection"}}}, "command":
      "set", "table": "collection"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"page": {"id": "26876fe2-348d-4840-b3e4-082cfc67724a"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"26876fe2-348d-4840-b3e4-082cfc67724a":{"role":"editor","value":{"id":"26876fe2-348d-4840-b3e4-082cfc67724a","version":13,"type":"collection_view_page","content":["025341c5-cb2f-4c7f-a3df-2d39a8b7d6fe","ab8b11e9-c1e0-404d-9be0-7c05542da089"],"view_ids":["ab8b11e9-c1e0-404d-9be0-7c05542da089"],"format":{"collection_pointer":{"id":"025341c5-cb2f-4c7f-a3df-2d39a8b7d6fe","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1651735989865,"last_edited_time":1651735991972,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":1962,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["26876fe2-348d-4840-b3e4-082cfc67724a","42971d0a-5214-409e-9603-a48046b680a7"],"created_time":1638259881592,"last_edited_time":1651730700000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection":{"025341c5-cb2f-4c7f-a3df-2d39a8b7d6fe":{"role":"editor","value":{"id":"025341c5-cb2f-4c7f-a3df-2d39a8b7d6fe","version":3,"name":[["TESTING
        PAGE"]],"schema":{"zL2C":{"name":"b","type":"relation","property":"WpEi","collection_id":"5ff10d54-db52-4319-a264-b5403a244acf","collection_pointer":{"id":"5ff10d54-db52-4319-a264-b5403a244acf","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"title":{"name":"a","type":"title"}},"parent_id":"26876fe2-348d-4840-b3e4-082cfc67724a","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection_view":{"ab8b11e9-c1e0-404d-9be0-7c05542da089":{"role":"editor","value":{"id":"ab8b11e9-c1e0-404d-9be0-7c05542da089","version":3,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"zL2C"}]},"parent_id":"26876fe2-348d-4840-b3e4-082cfc67724a","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1651735991139,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"requests": [{"table": "collection", "id": "5ff10d54-db52-4319-a264-b5403a244acf"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"5ff10d54-db52-4319-a264-b5403a244acf","version":3,"name":[["TESTING
        PAGE"]],"schema":{"WpEi":{"name":"Related to TESTING PAGE (b)","type":"relation","property":"zL2C","collection_id":"025341c5-cb2f-4c7f-a3df-2d39a8b7d6fe","collection_pointer":{"id":"025341c5-cb2f-4c7f-a3df-2d39a8b7d6fe","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"wi69":{"name":"d","type":"text"},"title":{"name":"c","type":"title"}},"parent_id":"42971d0a-5214-409e-9603-a48046b680a7","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"collection":{"5ff10d54-db52-4319-a264-b5403a244acf":{"role":"editor","value":{"id":"5ff10d54-db52-4319-a264-b5403a244acf","version":3,"name":[["TESTING
        PAGE"]],"schema":{"WpEi":{"name":"Related to TESTING PAGE (b)","type":"relation","property":"zL2C","collection_id":"025341c5-cb2f-4c7f-a3df-2d39a8b7d6fe","collection_pointer":{"id":"025341c5-cb2f-4c7f-a3df-2d39a8b7d6fe","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"wi69":{"name":"d","type":"text"},"title":{"na[...]
[...]
- request:
    body: '{"collection": {"id": "5ff10d54-db52-4319-a264-b5403a244acf", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "01070836-5150-429d-b608-5ae03db15b58",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 100, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":[],"hasMore":false}}},"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"collection": {"id": "025341c5-cb2f-4c7f-a3df-2d39a8b7d6fe", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "ab8b11e9-c1e0-404d-9be0-7c05542da089",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 100, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: "{\"result\":{\"type\":\"reducer\",\"reducerResults\":{\"collection_group_results\":{\"type\":\"results\",\"blockIds\":[\"2f2f38ef-5a78-4dbb-8c2f-6537f79dd0ed\"],\"hasMore\":false}}},\"recordMap\":{\"block\":{\"2f2f38ef-5a78-4dbb-8c2f-6537f79dd0ed\":{\"role\":\"editor\",\"value\":{\"id\":\"2f2f38ef-5a78-4dbb-8c2f-6537f79dd0ed\",\"version\":8,\"type\":\"page\",\"properties\":{\"zL2C\":[[\"\u2023\",[[\"p\",\"49a5fd38-6be4-4169-88b6-7657244244ae\",\"d51d3ca5-7889-4c70-b906-3a5a37b60274\"]]]],\"title\":[[\"aa\"]]},\"created_time\":1651736007880,\"last_edited_time\":1651736008360,\"parent_id\":\"025341c5-cb2f-4c7f-a3df-2d39a8b7d6fe\",\"parent_table\":\"collection\",\"alive\":true,\"created_by_table\":\"notion_user\",\"created_by_id\":\"a03b888f-5426-4e4f-b5ef-bed855b162f0\",\"last_edited_by_table\":\"notion_user\",\"last_edited_by_id\":\"a03b888f-5426-4e4f-b5ef-bed855b1[...]
[...]
- request:
    body: '{"blockIds": ["26876fe2-348d-4840-b3e4-082cfc67724a"], "permanentlyDelete":
      true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
