interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":31,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["5585f343-8ea5-469b-8a90-a05987977424"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":2735,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1651932240000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "a5c4c154-919e-4b98-814e-e0adb50f6e98", "path":
      [], "args": {"id": "a5c4c154-919e-4b98-814e-e0adb50f6e98", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651933290880, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651933290880}, "command":
      "update", "id": "a5c4c154-919e-4b98-814e-e0adb50f6e98", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "a5c4c154-919e-4b98-814e-e0adb50f6e98"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651933290880}, "command":
      "update", "id": "a5c4c154-919e-4b98-814e-e0adb50f6e98", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "375eed37-10e7-4b85-9f09-4ae25ccc7a17", "path":
      [], "args": {"id": "375eed37-10e7-4b85-9f09-4ae25ccc7a17", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651933291314, "parent_id": "a5c4c154-919e-4b98-814e-e0adb50f6e98",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "TeHv": {"name": "b", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "a5c4c154-919e-4b98-814e-e0adb50f6e98", "path": ["content"], "args":
      {"id": "375eed37-10e7-4b85-9f09-4ae25ccc7a17"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651933291314}, "command":
      "update", "id": "a5c4c154-919e-4b98-814e-e0adb50f6e98", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651933291314}, "command":
      "update", "id": "a5c4c154-919e-4b98-814e-e0adb50f6e98", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "a5c4c154-919e-4b98-814e-e0adb50f6e98", "path":
      ["format", "collection_pointer", "id"], "args": "375eed37-10e7-4b85-9f09-4ae25ccc7a17",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651933291694}, "command":
      "update", "id": "a5c4c154-919e-4b98-814e-e0adb50f6e98", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "4294da10-cf36-434e-9272-673d49aa18e1", "path":
      ["format", "table_properties"], "args": [{"visible": true, "property": "title"},
      {"visible": true, "property": "TeHv"}], "command": "set", "table": "collection_view"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "f2993262-22aa-4ca7-b45e-c021756f7a08", "path":
      [], "args": {"id": "f2993262-22aa-4ca7-b45e-c021756f7a08", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651933294776, "parent_id": "131f1159-41ab-452b-b375-2d91cfd33ae0",
      "parent_table": "block", "type": "image", "child_list_key": null}, "command":
      "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651933294776}, "command":
      "update", "id": "f2993262-22aa-4ca7-b45e-c021756f7a08", "path": [], "table":
      "block"}, {"id": "131f1159-41ab-452b-b375-2d91cfd33ae0", "path": ["content"],
      "args": {"id": "f2993262-22aa-4ca7-b45e-c021756f7a08"}, "command": "listAfter",
      "table": "block"}, {"args":[...]
[...]
- request:
    body: '{"page": {"id": "a5c4c154-919e-4b98-814e-e0adb50f6e98"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"a5c4c154-919e-4b98-814e-e0adb50f6e98":{"role":"editor","value":{"id":"a5c4c154-919e-4b98-814e-e0adb50f6e98","version":13,"type":"collection_view_page","content":["375eed37-10e7-4b85-9f09-4ae25ccc7a17","4294da10-cf36-434e-9272-673d49aa18e1"],"view_ids":["4294da10-cf36-434e-9272-673d49aa18e1"],"format":{"collection_pointer":{"id":"375eed37-10e7-4b85-9f09-4ae25ccc7a17","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1651933290880,"last_edited_time":1651933292815,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":2736,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["a5c4c154-919e-4b98-814e-e0adb50f6e98"],"created_time":1638259881592,"last_edited_time":1651932240000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection":{"375eed37-10e7-4b85-9f09-4ae25ccc7a17":{"role":"editor","value":{"id":"375eed37-10e7-4b85-9f09-4ae25ccc7a17","version":2,"name":[["TESTING
        PAGE"]],"schema":{"TeHv":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"a5c4c154-919e-4b98-814e-e0adb50f6e98","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection_view":{"4294da10-cf36-434e-9272-673d49aa18e1":{"role":"editor","value":{"id":"4294da10-cf36-434e-9272-673d49aa18e1","version":4,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"TeHv"}]},"parent_id":"a5c4c154-919e-4b98-814e-e0adb50f6e98","parent_table":"block","alive":true,"page_sort":["131f1159-41ab-452b-b375-2d91cfd33ae0"],"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1651933292012,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"requests": [{"table": "collection", "id": "375eed37-10e7-4b85-9f09-4ae25ccc7a17"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"375eed37-10e7-4b85-9f09-4ae25ccc7a17","version":2,"name":[["TESTING
        PAGE"]],"schema":{"TeHv":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"a5c4c154-919e-4b98-814e-e0adb50f6e98","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"collection":{"375eed37-10e7-4b85-9f09-4ae25ccc7a17":{"role":"editor","value":{"id":"375eed37-10e7-4b85-9f09-4ae25ccc7a17","version":2,"name":[["TESTING
        PAGE"]],"schema":{"TeHv":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"a5c4c154-919e-4b98-814e-e0adb50f6e98","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"block":{"a5c4c154-919e-4b98-814e-e0adb50f6e98":{"role":"editor","value":{"id":"a5c4c154-919e[...]
- request:
    body: '{"collection": {"id": "375eed37-10e7-4b85-9f09-4ae25ccc7a17", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "4294da10-cf36-434e-9272-673d49aa18e1",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 100, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["131f1159-41ab-452b-b375-2d91cfd33ae0"],"hasMore":false}}},"recordMap":{"block":{"131f1159-41ab-452b-b375-2d91cfd33ae0":{"role":"editor","value":{"id":"131f1159-41ab-452b-b375-2d91cfd33ae0","version":11,"type":"page","properties":{"TeHv":[["b1"]],"title":[["a"]]},"content":["f2993262-22aa-4ca7-b45e-c021756f7a08"],"created_time":1651933294023,"last_edited_time":1651933294776,"parent_id":"375eed37-10e7-4b85-9f09-4ae25ccc7a17","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"a5c4c154-919e-4b98-814e-[...]
[...]
- request:
    body: '{"requests": [{"table": "block", "id": "f2993262-22aa-4ca7-b45e-c021756f7a08"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"f2993262-22aa-4ca7-b45e-c021756f7a08","version":6,"type":"image","properties":{"source":[["https://via.placeholder.com/200"]]},"created_time":1651933294776,"last_edited_time":1651933295408,"parent_id":"131f1159-41ab-452b-b375-2d91cfd33ae0","parent_table":"block","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"block":{"f2993262-22aa-4ca7-b45e-c021756f7a08":{"role":"editor","value":{"id":"f2993262-22aa-4ca7-b45e-c021756f7a08","version":6,"type":"image","properties":{"source":[["https://via.placeholder.com/200"]]},"created_time":1651933294776,"last_edited_time":1651933295408,"parent_id":"131f1159-41ab-452b-b375-2d91cfd33ae0","parent_table":"block","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_i[...]
[...]
- request:
    body: '{"requests": [{"table": "block", "id": "900c643a-ca1d-493f-aaf2-56d1077aa84b"},
      {"table": "block", "id": "131f1159-41ab-452b-b375-2d91cfd33ae0"}, {"table":
      "block", "id": "131f1159-41ab-452b-b375-2d91cfd33ae0"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"900c643a-ca1d-493f-aaf2-56d1077aa84b","version":13,"type":"image","properties":{"source":[["https://via.placeholder.com/100"]]},"format":{"display_source":"https://via.placeholder.com/100"},"created_time":1651933299156,"last_edited_time":1651933299935,"parent_id":"131f1159-41ab-452b-b375-2d91cfd33ae0","parent_table":"block","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},{"role":"editor","value":{"id":"131f1159-41ab-452b-b375-2d91cfd33ae0","version":[...]
- request:
    body: '{"operations": [{"id": "900c643a-ca1d-493f-aaf2-56d1077aa84b", "path":
      ["properties", "cover_meta"], "args": {"type": "url", "url": "https://via.placeholder.com/100"},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651933300558}, "command":
      "update", "id": "900c643a-ca1d-493f-aaf2-56d1077aa84b", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"requests": [{"table": "block", "id": "900c643a-ca1d-493f-aaf2-56d1077aa84b"},
      {"table": "block", "id": "f2993262-22aa-4ca7-b45e-c021756f7a08"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"900c643a-ca1d-493f-aaf2-56d1077aa84b","version":15,"type":"image","properties":{"source":[["https://via.placeholder.com/100"]],"cover_meta":{"url":"https://via.placeholder.com/100","type":"url"}},"format":{"display_source":"https://via.placeholder.com/100"},"created_time":1651933299156,"last_edited_time":1651933300558,"parent_id":"131f1159-41ab-452b-b375-2d91cfd33ae0","parent_table":"block","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"[...]
[...]
- request:
    body: '{"blockIds": ["a5c4c154-919e-4b98-814e-e0adb50f6e98"], "permanentlyDelete":
      true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
