interactions:
- request:
    body: '{}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":31,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["5585f343-8ea5-469b-8a90-a05987977424"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":4515,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1652698380000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-[...]
- request:
    body: '{"operations": [{"id": "0424216b-f6a2-4e3a-a3d4-e0fa5164cf96", "path":
      [], "args": {"id": "0424216b-f6a2-4e3a-a3d4-e0fa5164cf96", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1653059460214, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653059460215}, "command":
      "update", "id": "0424216b-f6a2-4e3a-a3d4-e0fa5164cf96", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "0424216b-f6a2-4e3a-a3d4-e0fa5164cf96"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653059460215}, "command":
      "update", "id": "0424216b-f6a2-4e3a-a3d4-e0fa5164cf96", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "0d8537d2-92c5-4ac8-8bc7-4d03608b1295", "path":
      [], "args": {"id": "0d8537d2-92c5-4ac8-8bc7-4d03608b1295", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1653059461621, "parent_id": "0424216b-f6a2-4e3a-a3d4-e0fa5164cf96",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "gwZe": {"name": "b", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "0424216b-f6a2-4e3a-a3d4-e0fa5164cf96", "path": ["content"], "args":
      {"id": "0d8537d2-92c5-4ac8-8bc7-4d03608b1295"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653059461621}, "command":
      "update", "id": "0424216b-f6a2-4e3a-a3d4-e0fa5164cf96", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653059461621}, "command":
      "update", "id": "0424216b-f6a2-4e3a-a3d4-e0fa5164cf96", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "0424216b-f6a2-4e3a-a3d4-e0fa5164cf96", "path":
      ["format", "collection_pointer", "id"], "args": "0d8537d2-92c5-4ac8-8bc7-4d03608b1295",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653059462275}, "command":
      "update", "id": "0424216b-f6a2-4e3a-a3d4-e0fa5164cf96", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "0981ed61-e48d-4d2e-be57-1118d0c1deda", "path":
      ["format", "table_properties"], "args": [{"visible": true, "property": "title"},
      {"visible": true, "property": "gwZe"}], "command": "set", "table": "collection_view"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "cd0a7cb0-da5a-4b79-8a11-9724bb9439dd", "path":
      [], "args": {"id": "cd0a7cb0-da5a-4b79-8a11-9724bb9439dd", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1653059464809, "parent_id": "12076940-b1cf-4c6a-9d0a-d6f38c70b187",
      "parent_table": "block", "schema": {"title": {"name": "c", "type": "title"},
      "Uk9L": {"name": "d", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "12076940-b1cf-4c6a-9d0a-d6f38c70b187", "path": ["content"], "args":
      {"id": "cd0a7cb0-da5a-4b79-8a11-9724bb9439dd"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653059464809}, "command":
      "update", "id": "12076940-b1cf-4c6a-9d0a-d6f38c70b187", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653059464809}, "command":
      "update", "id": "12076940-b1cf-4c6a-9d0a-d6f38c70b187", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"blockId": "12076940-b1cf-4c6a-9d0a-d6f38c70b187"}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getPublicPageData
  response:
    body:
      string: '{"spaceName":"test_py","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274","spaceDomain":"laced-taxi-315","canJoinSpace":true,"userHasExplicitAccess":true,"ownerUserId":"a03b888f-5426-4e4f-b5ef-bed855b162f0","betaEnabled":false,"canRequestAccess":true,"requireLogin":false,"publicAccessRole":"none"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "0d8537d2-92c5-4ac8-8bc7-4d03608b1295", "path":
      ["schema"], "args": {"title": {"name": "a", "type": "title"}, "gwZe": {"name":
      "b", "type": "relation", "property": "3Rk1", "collection_id": "cd0a7cb0-da5a-4b79-8a11-9724bb9439dd",
      "collection_pointer": {"id": "cd0a7cb0-da5a-4b79-8a11-9724bb9439dd", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274", "table": "collection"}}}, "command":
      "set", "table": "collection"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"page": {"id": "0424216b-f6a2-4e3a-a3d4-e0fa5164cf96"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"0424216b-f6a2-4e3a-a3d4-e0fa5164cf96":{"role":"editor","value":{"id":"0424216b-f6a2-4e3a-a3d4-e0fa5164cf96","version":13,"type":"collection_view_page","content":["0d8537d2-92c5-4ac8-8bc7-4d03608b1295","0981ed61-e48d-4d2e-be57-1118d0c1deda"],"view_ids":["0981ed61-e48d-4d2e-be57-1118d0c1deda"],"format":{"collection_pointer":{"id":"0d8537d2-92c5-4ac8-8bc7-4d03608b1295","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1653059460214,"last_edited_time":1653059463395,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":4517,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["0424216b-f6a2-4e3a-a3d4-e0fa5164cf96","12076940-b1cf-4c6a-9d0a-d6f38c70b187"],"created_time":1638259881592,"last_edited_time":1652698380000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection":{"0d8537d2-92c5-4ac8-8bc7-4d03608b1295":{"role":"editor","value":{"id":"0d8537d2-92c5-4ac8-8bc7-4d03608b1295","version":3,"name":[["TESTING
        PAGE"]],"schema":{"gwZe":{"name":"b","type":"relation","property":"3Rk1","collection_id":"cd0a7cb0-da5a-4b79-8a11-9724bb9439dd","collection_pointer":{"id":"cd0a7cb0-da5a-4b79-8a11-9724bb9439dd","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"title":{"name":"a","type":"title"}},"parent_id":"0424216b-f6a2-4e3a-a3d4-e0fa5164cf96","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection_view":{"0981ed61-e48d-4d2e-be57-1118d0c1deda":{"role":"editor","value":{"id":"0981ed61-e48d-4d2e-be57-1118d0c1deda","version":3,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"gwZe"}]},"parent_id":"0424216b-f6a2-4e3a-a3d4-e0fa5164cf96","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1653059462626,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"requests": [{"table": "collection", "id": "cd0a7cb0-da5a-4b79-8a11-9724bb9439dd"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"cd0a7cb0-da5a-4b79-8a11-9724bb9439dd","version":3,"name":[["TESTING
        PAGE"]],"schema":{"3Rk1":{"name":"Related to TESTING PAGE (b)","type":"relation","property":"gwZe","collection_id":"0d8537d2-92c5-4ac8-8bc7-4d03608b1295","collection_pointer":{"id":"0d8537d2-92c5-4ac8-8bc7-4d03608b1295","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"Uk9L":{"name":"d","type":"text"},"title":{"name":"c","type":"title"}},"parent_id":"12076940-b1cf-4c6a-9d0a-d6f38c70b187","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"collection":{"cd0a7cb0-da5a-4b79-8a11-9724bb9439dd":{"role":"editor","value":{"id":"cd0a7cb0-da5a-4b79-8a11-9724bb9439dd","version":3,"name":[["TESTING
        PAGE"]],"schema":{"3Rk1":{"name":"Related to TESTING PAGE (b)","type":"relation","property":"gwZe","collection_id":"0d8537d2-92c5-4ac8-8bc7-4d03608b1295","collection_pointer":{"id":"0d8537d2-92c5-4ac8-8bc7-4d03608b1295","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"Uk9L":{"name":"d","type":"text"},"title":{"name":"c","type":"title"}},"parent_id":"12076940-b1cf-4c[...]
[...]
- request:
    body: '{"requests": [{"table": "collection_view", "id": "c5679540-6618-4c88-9781-d589e74ef62e"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"c5679540-6618-4c88-9781-d589e74ef62e","version":3,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"Uk9L"}]},"parent_id":"12076940-b1cf-4c6a-9d0a-d6f38c70b187","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1653059465689,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}],"recordMapWithRoles":{"collection_view":{"c5679540-6618-4c88-9781-d589e74ef62e":{"role":"editor","value":{"id":"c5679540-6618-4c88-9781-d589e74ef62e","version":3,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"Uk9L"}]},"parent_id":"12076940-b1cf-4c6a-9d0a-d6f38c70b187","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1653059465689,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}},"block":{"12076940-b1cf-4c6a-9d0a-d6f38c70b[...]
- request:
    body: '{"collection": {"id": "cd0a7cb0-da5a-4b79-8a11-9724bb9439dd", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "c5679540-6618-4c88-9781-d589e74ef62e",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"table:uncategorized:title:count":
      {"aggregation": {"aggregator": "count", "property": "title"}, "type": "aggregation"}},
      "searchQuery": "", "sort": [], "userTimeZone": "Asia/Tashkent", "type": "reducer"}}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"table:uncategorized:title:count":{"type":"aggregation","aggregationResult":{"type":"number","value":0}}}},"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"collection": {"id": "cd0a7cb0-da5a-4b79-8a11-9724bb9439dd", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "c5679540-6618-4c88-9781-d589e74ef62e",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 0, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":[],"hasMore":false}}},"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"collection": {"id": "0d8537d2-92c5-4ac8-8bc7-4d03608b1295", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "0981ed61-e48d-4d2e-be57-1118d0c1deda",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 1, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: "{\"result\":{\"type\":\"reducer\",\"reducerResults\":{\"collection_group_results\":{\"type\":\"results\",\"blockIds\":[\"4082244f-76ca-4817-8b79-d016adcada51\"],\"hasMore\":false}}},\"recordMap\":{\"block\":{\"4082244f-76ca-4817-8b79-d016adcada51\":{\"role\":\"editor\",\"value\":{\"id\":\"4082244f-76ca-4817-8b79-d016adcada51\",\"version\":8,\"type\":\"page\",\"properties\":{\"gwZe\":[[\"\u2023\",[[\"p\",\"b8571a43-bfd3-4d30-b207-66cc9b75663c\",\"d51d3ca5-7889-4c70-b906-3a5a37b60274\"]]]],\"title\":[[\"aa\"]]},\"created_time\":1653059475122,\"last_edited_time\":1653059475504,\"parent_id\":\"0d8537d2-92c5-4ac8-8bc7-4d03608b1295\",\"parent_table\":\"collection\",\"alive\":true,\"created_by_table\":\"notion_user\",\"created_by_id\":\"a03b888f-5426-4e4f-b5ef-bed855b162f0\",\"last_edited_by_table\":\"notion_user\",\"last_edited_by_id\":\"a03b888f-5426-4e4f-b5ef-bed855b1[...]
[...]
- request:
    body: '{"collection": {"id": "cd0a7cb0-da5a-4b79-8a11-9724bb9439dd", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "c5679540-6618-4c88-9781-d589e74ef62e",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 1, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: "{\"result\":{\"type\":\"reducer\",\"reducerResults\":{\"collection_group_results\":{\"type\":\"results\",\"blockIds\":[\"b8571a43-bfd3-4d30-b207-66cc9b75663c\"],\"hasMore\":false}}},\"recordMap\":{\"block\":{\"b8571a43-bfd3-4d30-b207-66cc9b75663c\":{\"role\":\"editor\",\"value\":{\"id\":\"b8571a43-bfd3-4d30-b207-66cc9b75663c\",\"version\":7,\"type\":\"page\",\"properties\":{\"3Rk1\":[[\"\u2023\",[[\"p\",\"4082244f-76ca-4817-8b79-d016adcada51\",\"d51d3ca5-7889-4c70-b906-3a5a37b60274\"]]]],\"title\":[[\"bb\"]]},\"created_time\":1653059472152,\"last_edited_time\":1653059472516,\"parent_id\":\"cd0a7cb0-da5a-4b79-8a11-9724bb9439dd\",\"parent_table\":\"collection\",\"alive\":true,\"created_by_table\":\"notion_user\",\"created_by_id\":\"a03b888f-[...]
[...]
- request:
    body: '{"blockIds": ["0424216b-f6a2-4e3a-a3d4-e0fa5164cf96"], "permanentlyDelete":
      true}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
