interactions:
- request:
    body: '{}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":31,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["5585f343-8ea5-469b-8a90-a05987977424"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":4051,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1652698380000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-[...]
- request:
    body: '{"operations": [{"id": "d5520e7f-02ba-4ee2-913a-a0aac1be377b", "path":
      [], "args": {"id": "d5520e7f-02ba-4ee2-913a-a0aac1be377b", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1652969933372, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652969933372}, "command":
      "update", "id": "d5520e7f-02ba-4ee2-913a-a0aac1be377b", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "d5520e7f-02ba-4ee2-913a-a0aac1be377b"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652969933372}, "command":
      "update", "id": "d5520e7f-02ba-4ee2-913a-a0aac1be377b", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "0b929821-5f5d-46dc-b08a-27fd6b16e90f", "path":
      [], "args": {"id": "0b929821-5f5d-46dc-b08a-27fd6b16e90f", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1652969933768, "parent_id": "d5520e7f-02ba-4ee2-913a-a0aac1be377b",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "vcRj": {"name": "b", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "d5520e7f-02ba-4ee2-913a-a0aac1be377b", "path": ["content"], "args":
      {"id": "0b929821-5f5d-46dc-b08a-27fd6b16e90f"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652969933768}, "command":
      "update", "id": "d5520e7f-02ba-4ee2-913a-a0aac1be377b", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652969933768}, "command":
      "update", "id": "d5520e7f-02ba-4ee2-913a-a0aac1be377b", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "d5520e7f-02ba-4ee2-913a-a0aac1be377b", "path":
      ["format", "collection_pointer", "id"], "args": "0b929821-5f5d-46dc-b08a-27fd6b16e90f",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652969934146}, "command":
      "update", "id": "d5520e7f-02ba-4ee2-913a-a0aac1be377b", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "c1b5e5b2-2dea-4a99-aec5-7eae962326ec", "path":
      ["format", "table_properties"], "args": [{"visible": true, "property": "title"},
      {"visible": true, "property": "vcRj"}], "command": "set", "table": "collection_view"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"page": {"id": "d5520e7f-02ba-4ee2-913a-a0aac1be377b"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"d5520e7f-02ba-4ee2-913a-a0aac1be377b":{"role":"editor","value":{"id":"d5520e7f-02ba-4ee2-913a-a0aac1be377b","version":13,"type":"collection_view_page","content":["0b929821-5f5d-46dc-b08a-27fd6b16e90f","c1b5e5b2-2dea-4a99-aec5-7eae962326ec"],"view_ids":["c1b5e5b2-2dea-4a99-aec5-7eae962326ec"],"format":{"collection_pointer":{"id":"0b929821-5f5d-46dc-b08a-27fd6b16e90f","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1652969933372,"last_edited_time":1652969935240,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":4052,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["d5520e7f-02ba-4ee2-913a-a0aac1be377b"],"created_time":1638259881592,"last_edited_time":1652698380000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection":{"0b929821-5f5d-46dc-b08a-27fd6b16e90f":{"role":"editor","value":{"id":"0b929821-5f5d-46dc-b08a-27fd6b16e90f","version":2,"name":[["TESTING
        PAGE"]],"schema":{"vcRj":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"d5520e7f-02ba-4ee2-913a-a0aac1be377b","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection_view":{"c1b5e5b2-2dea-4a99-aec5-7eae962326ec":{"role":"editor","value":{"id":"c1b5e5b2-2dea-4a99-aec5-7eae962326ec","version":4,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"vcRj"}]},"parent_id":"d5520e7f-02ba-4ee2-913a-a0aac1be377b","parent_table":"block","alive":true,"page_sort":["67e95c9a-2cb3-429d-baae-3f8c1b868e1e"],"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1652969934498,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"requests": [{"table": "collection", "id": "0b929821-5f5d-46dc-b08a-27fd6b16e90f"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"0b929821-5f5d-46dc-b08a-27fd6b16e90f","version":2,"name":[["TESTING
        PAGE"]],"schema":{"vcRj":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"d5520e7f-02ba-4ee2-913a-a0aac1be377b","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"collection":{"0b929821-5f5d-46dc-b08a-27fd6b16e90f":{"role":"editor","value":{"id":"0b929821-5f5d-46dc-b08a-27fd6b16e90f","version":2,"name":[["TESTING
        PAGE"]],"schema":{"vcRj":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"d5520e7f-02ba-4ee2-913a-a0aac1be377b","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"block":{"d5520e7f-02ba-4ee2-913a-a0aac1be377b":{"role":"editor","value":{"id":"d5520e7f-02ba[...]
- request:
    body: '{"collection": {"id": "0b929821-5f5d-46dc-b08a-27fd6b16e90f", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "c1b5e5b2-2dea-4a99-aec5-7eae962326ec",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"table:uncategorized:title:count":
      {"aggregation": {"aggregator": "count", "property": "title"}, "type": "aggregation"}},
      "searchQuery": "", "sort": [], "userTimeZone": "Asia/Tashkent", "type": "reducer"}}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"table:uncategorized:title:count":{"type":"aggregation","aggregationResult":{"type":"number","value":1}}}},"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"collection": {"id": "0b929821-5f5d-46dc-b08a-27fd6b16e90f", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "c1b5e5b2-2dea-4a99-aec5-7eae962326ec",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 1, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["67e95c9a-2cb3-429d-baae-3f8c1b868e1e"],"hasMore":false}}},"recordMap":{"block":{"67e95c9a-2cb3-429d-baae-3f8c1b868e1e":{"role":"editor","value":{"id":"67e95c9a-2cb3-429d-baae-3f8c1b868e1e","version":8,"type":"page","properties":{"vcRj":[["b1"]],"title":[["a"]]},"created_time":1652969936415,"last_edited_time":1652969936810,"parent_id":"0b929821-5f5d-46dc-b08a-27fd6b16e90f","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"d5520e7f-02ba-4ee2-913a-a0aac1be377b":{"role":"editor","value":{"id":"d5520[...]
[...]
- request:
    body: '{"operations": [{"id": "67e95c9a-2cb3-429d-baae-3f8c1b868e1e", "path":
      ["properties", "meta", "cover_block"], "args": {"type": "url", "url": "https://via.placeholder.com/100"},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652969940239}, "command":
      "update", "id": "67e95c9a-2cb3-429d-baae-3f8c1b868e1e", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "55f7fe60-cea1-49b6-ae4a-77ff730b9b97", "path":
      [], "args": {"id": "55f7fe60-cea1-49b6-ae4a-77ff730b9b97", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1652969940586, "parent_id": "67e95c9a-2cb3-429d-baae-3f8c1b868e1e",
      "parent_table": "block", "type": "image", "child_list_key": null}, "command":
      "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652969940586}, "command":
      "update", "id": "55f7fe60-cea1-49b6-ae4a-77ff730b9b97", "path": [], "table":
      "block"}, {"id": "67e95c9a-2cb3-429d-baae-3f8c1b868e1e", "path": ["content"],
      "args": {"id": "55f7fe60-cea1-49b6-ae4a-77ff730b9b97"}, "command": "listAfter",
      "table": "block"}, {"args":[...]
[...]
- request:
    body: '{"collection": {"id": "0b929821-5f5d-46dc-b08a-27fd6b16e90f", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "c1b5e5b2-2dea-4a99-aec5-7eae962326ec",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 1, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["67e95c9a-2cb3-429d-baae-3f8c1b868e1e"],"hasMore":false}}},"recordMap":{"block":{"67e95c9a-2cb3-429d-baae-3f8c1b868e1e":{"role":"editor","value":{"id":"67e95c9a-2cb3-429d-baae-3f8c1b868e1e","version":16,"type":"page","properties":{"meta":{"cover_block":{"url":"https://via.placeholder.com/100","type":"url"}},"vcRj":[["b1"]],"title":[["a"]]},"content":["55f7fe60-cea1-49b6-ae4a-77ff730b9b97"],"created_time":1652969936415,"last_edited_time":1652969940586,"parent_id":"0b929821-5f5d-46dc-b08a-27fd6b16e90f","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7[...]
- request:
    body: '{"requests": [{"table": "block", "id": "55f7fe60-cea1-49b6-ae4a-77ff730b9b97"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"55f7fe60-cea1-49b6-ae4a-77ff730b9b97","version":10,"type":"image","properties":{"source":[["https://via.placeholder.com/100"]],"is_cover_block":true},"format":{"display_source":"https://via.placeholder.com/100"},"created_time":1652969940586,"last_edited_time":1652969945795,"parent_id":"67e95c9a-2cb3-429d-baae-3f8c1b868e1e","parent_table":"block","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"block":{"55f7fe60-cea1-49b6-ae4a-77ff730b9b97":{"role":"[...]
[...]
- request:
    body: '{"blockIds": ["d5520e7f-02ba-4ee2-913a-a0aac1be377b"], "permanentlyDelete":
      true}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
