interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":31,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["5585f343-8ea5-469b-8a90-a05987977424"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":2627,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1651765740000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "4b130e00-7af9-4d32-a5e4-1aff692083f4", "path":
      [], "args": {"id": "4b130e00-7af9-4d32-a5e4-1aff692083f4", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651931267527, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651931267527}, "command":
      "update", "id": "4b130e00-7af9-4d32-a5e4-1aff692083f4", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "4b130e00-7af9-4d32-a5e4-1aff692083f4"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651931267527}, "command":
      "update", "id": "4b130e00-7af9-4d32-a5e4-1aff692083f4", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "c2f842af-9a54-4af9-8b2e-64e0c1de9f53", "path":
      [], "args": {"id": "c2f842af-9a54-4af9-8b2e-64e0c1de9f53", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651931267906, "parent_id": "4b130e00-7af9-4d32-a5e4-1aff692083f4",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "Fkxf": {"name": "b", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "4b130e00-7af9-4d32-a5e4-1aff692083f4", "path": ["content"], "args":
      {"id": "c2f842af-9a54-4af9-8b2e-64e0c1de9f53"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651931267906}, "command":
      "update", "id": "4b130e00-7af9-4d32-a5e4-1aff692083f4", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651931267906}, "command":
      "update", "id": "4b130e00-7af9-4d32-a5e4-1aff692083f4", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "4b130e00-7af9-4d32-a5e4-1aff692083f4", "path":
      ["format", "collection_pointer", "id"], "args": "c2f842af-9a54-4af9-8b2e-64e0c1de9f53",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651931268263}, "command":
      "update", "id": "4b130e00-7af9-4d32-a5e4-1aff692083f4", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "9df68e6c-edac-4859-830b-4a8eda25be03", "path":
      ["format", "table_properties"], "args": [{"visible": true, "property": "title"},
      {"visible": true, "property": "Fkxf"}], "command": "set", "table": "collection_view"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "ae3419da-82e7-49f7-8975-f854459c562b", "path":
      [], "args": {"id": "ae3419da-82e7-49f7-8975-f854459c562b", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651931270996, "parent_id": "fc0e024a-138e-46ba-a9d7-293fe86698bd",
      "parent_table": "block", "schema": {"title": {"name": "c", "type": "title"},
      "QpJW": {"name": "d", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "fc0e024a-138e-46ba-a9d7-293fe86698bd", "path": ["content"], "args":
      {"id": "ae3419da-82e7-49f7-8975-f854459c562b"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651931270996}, "command":
      "update", "id": "fc0e024a-138e-46ba-a9d7-293fe86698bd", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651931270996}, "command":
      "update", "id": "fc0e024a-138e-46ba-a9d7-293fe86698bd", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"blockId": "fc0e024a-138e-46ba-a9d7-293fe86698bd"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getPublicPageData
  response:
    body:
      string: '{"spaceName":"test_py","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274","spaceDomain":"laced-taxi-315","canJoinSpace":true,"userHasExplicitAccess":true,"ownerUserId":"a03b888f-5426-4e4f-b5ef-bed855b162f0","betaEnabled":false,"canRequestAccess":true,"requireLogin":false,"publicAccessRole":"none"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "c2f842af-9a54-4af9-8b2e-64e0c1de9f53", "path":
      ["schema"], "args": {"title": {"name": "a", "type": "title"}, "Fkxf": {"name":
      "b", "type": "relation", "property": "DsSk", "collection_id": "ae3419da-82e7-49f7-8975-f854459c562b",
      "collection_pointer": {"id": "ae3419da-82e7-49f7-8975-f854459c562b", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274", "table": "collection"}}}, "command":
      "set", "table": "collection"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"page": {"id": "4b130e00-7af9-4d32-a5e4-1aff692083f4"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"4b130e00-7af9-4d32-a5e4-1aff692083f4":{"role":"editor","value":{"id":"4b130e00-7af9-4d32-a5e4-1aff692083f4","version":13,"type":"collection_view_page","content":["c2f842af-9a54-4af9-8b2e-64e0c1de9f53","9df68e6c-edac-4859-830b-4a8eda25be03"],"view_ids":["9df68e6c-edac-4859-830b-4a8eda25be03"],"format":{"collection_pointer":{"id":"c2f842af-9a54-4af9-8b2e-64e0c1de9f53","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1651931267527,"last_edited_time":1651931269316,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":2629,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["4b130e00-7af9-4d32-a5e4-1aff692083f4","fc0e024a-138e-46ba-a9d7-293fe86698bd"],"created_time":1638259881592,"last_edited_time":1651765740000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection":{"c2f842af-9a54-4af9-8b2e-64e0c1de9f53":{"role":"editor","value":{"id":"c2f842af-9a54-4af9-8b2e-64e0c1de9f53","version":3,"name":[["TESTING
        PAGE"]],"schema":{"Fkxf":{"name":"b","type":"relation","property":"DsSk","collection_id":"ae3419da-82e7-49f7-8975-f854459c562b","collection_pointer":{"id":"ae3419da-82e7-49f7-8975-f854459c562b","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"title":{"name":"a","type":"title"}},"parent_id":"4b130e00-7af9-4d32-a5e4-1aff692083f4","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection_view":{"9df68e6c-edac-4859-830b-4a8eda25be03":{"role":"editor","value":{"id":"9df68e6c-edac-4859-830b-4a8eda25be03","version":3,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"Fkxf"}]},"parent_id":"4b130e00-7af9-4d32-a5e4-1aff692083f4","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1651931268609,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"requests": [{"table": "collection", "id": "ae3419da-82e7-49f7-8975-f854459c562b"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"ae3419da-82e7-49f7-8975-f854459c562b","version":3,"name":[["TESTING
        PAGE"]],"schema":{"DsSk":{"name":"Related to TESTING PAGE (b)","type":"relation","property":"Fkxf","collection_id":"c2f842af-9a54-4af9-8b2e-64e0c1de9f53","collection_pointer":{"id":"c2f842af-9a54-4af9-8b2e-64e0c1de9f53","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"QpJW":{"name":"d","type":"text"},"title":{"name":"c","type":"title"}},"parent_id":"fc0e024a-138e-46ba-a9d7-293fe86698bd","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"collection":{"ae3419da-82e7-49f7-8975-f854459c562b":{"role":"editor","value":{"id":"ae3419da-82e7-49f7-8975-f854459c562b","version":3,"name":[["TESTING
        PAGE"]],"schema":{"DsSk":{"name":"Related to TESTING PAGE (b)","type":"relation","property":"Fkxf","collection_id":"c2f842af-9a54-4af9-8b2e-64e0c1de9f53","collection_pointer":{"id":"c2f842af-9a54-4af9-8b2e-64e0c1de9f53","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"QpJW":{"name":"d","type":"text"},"title":{"name":"c","type":"title"}},"parent_id":"fc0e024a-138e-46ba-a9d7-293fe86698bd","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"block":{"fc0e024a-138e-46ba-a9d7-293fe86698bd":{"role":"editor","value":{"id":"fc0e024a-138e-46ba-a9d7-293fe86698bd","version":13,"type":"collection_view_page","content":["ae3419da-82e7-49f7-8975-f854459c562b","56222a46-d68d-4d27-adc7-4c47df946e75"],"view_ids":["56222a46-d68d-4d27-adc7-4c47df946e75"],"format":{"collection_pointer":{"id":"ae3419da-82e7-49f7-8975-f854459c562b","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed85[...]
[...]
- request:
    body: '{"requests": [{"table": "collection_view", "id": "56222a46-d68d-4d27-adc7-4c47df946e75"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"56222a46-d68d-4d27-adc7-4c47df946e75","version":4,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"QpJW"}]},"parent_id":"fc0e024a-138e-46ba-a9d7-293fe86698bd","parent_table":"block","alive":true,"page_sort":["5a9c1c8a-9ead-4a67-ab1e-609d58a3637a"],"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1651931271675,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}],"recordMapWithRoles":{"collection_view":{"56222a46-d68d-4d27-adc7-4c47df946e75":{"role":"editor","value":{"id":"56222a46-d68d-4d27-adc7-4c47df946e75","version":4,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"QpJW"}]},"parent_i[...]
- request:
    body: '{"collection": {"id": "ae3419da-82e7-49f7-8975-f854459c562b", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "56222a46-d68d-4d27-adc7-4c47df946e75",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 100, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["5a9c1c8a-9ead-4a67-ab1e-609d58a3637a"],"hasMore":false}}},"recordMap":{"block":{"5a9c1c8a-9ead-4a67-ab1e-609d58a3637a":{"role":"editor","value":{"id":"5a9c1c8a-9ead-4a67-ab1e-609d58a3637a","version":6,"type":"page","properties":{"title":[["cc"]]},"created_time":1651931274224,"last_edited_time":1651931274661,"parent_id":"ae3419da-82e7-49f7-8975-f854459c562b","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"fc0e024a-138e-46ba-a9d7-293fe86698bd":{"role":"editor","value":{"id":"fc0e024a-138e-46ba-a[...]
[...]
- request:
    body: '{"blockIds": ["4b130e00-7af9-4d32-a5e4-1aff692083f4"], "permanentlyDelete":
      true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
