interactions:
- request:
    body: '{}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":31,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["5585f343-8ea5-469b-8a90-a05987977424"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":5106,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1652698380000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-[...]
[...]
- request:
    body: '{"operations": [{"id": "70d3ed97-2aec-47fa-9a4a-794800c57b08", "path":
      [], "args": {"id": "70d3ed97-2aec-47fa-9a4a-794800c57b08", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1653394972093, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653394972093}, "command":
      "update", "id": "70d3ed97-2aec-47fa-9a4a-794800c57b08", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "70d3ed97-2aec-47fa-9a4a-794800c57b08"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653394972093}, "command":
      "update", "id": "70d3ed97-2aec-47fa-9a4a-794800c57b08", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "205c3510-be72-4337-a5d7-9a8563f7aeba", "path":
      [], "args": {"id": "205c3510-be72-4337-a5d7-9a8563f7aeba", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1653394973439, "parent_id": "70d3ed97-2aec-47fa-9a4a-794800c57b08",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "OYHR": {"name": "b", "type": "file"}}}, "command": "set", "table": "collection"},
      {"id": "70d3ed97-2aec-47fa-9a4a-794800c57b08", "path": ["content"], "args":
      {"id": "205c3510-be72-4337-a5d7-9a8563f7aeba"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653394973439}, "command":
      "update", "id": "70d3ed97-2aec-47fa-9a4a-794800c57b08", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653394973439}, "command":
      "update", "id": "70d3ed97-2aec-47fa-9a4a-794800c57b08", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "70d3ed97-2aec-47fa-9a4a-794800c57b08", "path":
      ["format", "collection_pointer", "id"], "args": "205c3510-be72-4337-a5d7-9a8563f7aeba",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653394973825}, "command":
      "update", "id": "70d3ed97-2aec-47fa-9a4a-794800c57b08", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "27d9b373-9b20-4a49-8405-665842967c95", "path":
      ["format", "table_properties"], "args": [{"visible": true, "property": "title"},
      {"visible": true, "property": "OYHR"}], "command": "set", "table": "collection_view"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"requests": [{"table": "collection_view", "id": "27d9b373-9b20-4a49-8405-665842967c95"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"27d9b373-9b20-4a49-8405-665842967c95","version":3,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"OYHR"}]},"parent_id":"70d3ed97-2aec-47fa-9a4a-794800c57b08","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1653394974212,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}],"recordMapWithRoles":{"collection_view":{"27d9b373-9b20-4a49-8405-665842967c95":{"role":"editor","value":{"id":"27d9b373-9b20-4a49-8405-665842967c95","version":3,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"OYHR"}]},"parent_id":"70d3ed97-2aec-47fa-9a4a-794800c57b08","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1653394974212,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}},"block":{"70d3ed97-2aec-47fa-9a4a-794800c57b08":{"role":"editor","value":{"id":"70d3ed97-2aec-47fa-9a4a-794800c57b08","version":13,"type":"collection_view_page","content":["205c3510-be72-4337-a5d7-9a8563f7aeba","27d9b373-9b20-4a49-8405-665842967c95"],"view_ids":["27d9b373-9b20-4a49-8405-665842967c95"],"format":{"collection_pointer":{"id":"205c3510-be72-4337-a5d7-9a8563f7aeba","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1653394972093,"last_edited_time":1653394975004,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":5107,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["70d3ed97-2aec-47fa-9a4a-794800c57b08"],"created_time":1638259881592,"last_edited_time":1652698380000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"collection": {"id": "205c3510-be72-4337-a5d7-9a8563f7aeba", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "27d9b373-9b20-4a49-8405-665842967c95",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"table:uncategorized:title:count":
      {"aggregation": {"aggregator": "count", "property": "title"}, "type": "aggregation"}},
      "searchQuery": "", "sort": [], "userTimeZone": "Asia/Tashkent", "type": "reducer"}}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"table:uncategorized:title:count":{"type":"aggregation","aggregationResult":{"type":"number","value":1}}}},"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"collection": {"id": "205c3510-be72-4337-a5d7-9a8563f7aeba", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "27d9b373-9b20-4a49-8405-665842967c95",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 1, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["53fc0788-c8ae-493c-a547-ab29c9cfd071"],"hasMore":false}}},"recordMap":{"block":{"53fc0788-c8ae-493c-a547-ab29c9cfd071":{"role":"editor","value":{"id":"53fc0788-c8ae-493c-a547-ab29c9cfd071","version":6,"type":"page","properties":{"title":[["a"]]},"created_time":1653394976535,"last_edited_time":1653394979091,"parent_id":"205c3510-be72-4337-a5d7-9a8563f7aeba","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"70d3ed97-2aec-47fa-9a4a-794800c57b08":{"role":"editor","value":{"id":"70d3ed97-2aec-47fa-9a[...]
- request:
    body: '{"page": {"id": "70d3ed97-2aec-47fa-9a4a-794800c57b08"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"70d3ed97-2aec-47fa-9a4a-794800c57b08":{"role":"editor","value":{"id":"70d3ed97-2aec-47fa-9a4a-794800c57b08","version":13,"type":"collection_view_page","content":["205c3510-be72-4337-a5d7-9a8563f7aeba",[...]
[...]
- request:
    body: '{"blockIds": ["70d3ed97-2aec-47fa-9a4a-794800c57b08"], "permanentlyDelete":
      true}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
