interactions:
- request:
    body: '{}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":31,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["5585f343-8ea5-469b-8a90-a05987977424"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":4889,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1652698380000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-[...]
- request:
    body: '{"operations": [{"id": "c5f5b1d0-1f94-46d2-8ad5-f6e382b6d48e", "path":
      [], "args": {"id": "c5f5b1d0-1f94-46d2-8ad5-f6e382b6d48e", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1653142863226, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653142863226}, "command":
      "update", "id": "c5f5b1d0-1f94-46d2-8ad5-f6e382b6d48e", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "c5f5b1d0-1f94-46d2-8ad5-f6e382b6d48e"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653142863226}, "command":
      "update", "id": "c5f5b1d0-1f94-46d2-8ad5-f6e382b6d48e", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "4dd368d0-5352-47cf-80a3-f0bd659311a2", "path":
      [], "args": {"id": "4dd368d0-5352-47cf-80a3-f0bd659311a2", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1653142863704, "parent_id": "c5f5b1d0-1f94-46d2-8ad5-f6e382b6d48e",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "tidW": {"name": "b", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "c5f5b1d0-1f94-46d2-8ad5-f6e382b6d48e", "path": ["content"], "args":
      {"id": "4dd368d0-5352-47cf-80a3-f0bd659311a2"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653142863704}, "command":
      "update", "id": "c5f5b1d0-1f94-46d2-8ad5-f6e382b6d48e", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653142863704}, "command":
      "update", "id": "c5f5b1d0-1f94-46d2-8ad5-f6e382b6d48e", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "c5f5b1d0-1f94-46d2-8ad5-f6e382b6d48e", "path":
      ["format", "collection_pointer", "id"], "args": "4dd368d0-5352-47cf-80a3-f0bd659311a2",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653142864053}, "command":
      "update", "id": "c5f5b1d0-1f94-46d2-8ad5-f6e382b6d48e", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "3b9797dd-62c3-4c8f-ae84-8cfd3e287863", "path":
      ["format", "table_properties"], "args": [{"visible": true, "property": "title"},
      {"visible": true, "property": "tidW"}], "command": "set", "table": "collection_view"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "8883593b-3b6f-41e2-bb4d-351b04ed8f39", "path":
      [], "args": {"id": "8883593b-3b6f-41e2-bb4d-351b04ed8f39", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1653142866907, "parent_id": "c854ac5d-7c7b-450d-b22c-dac44de6972c",
      "parent_table": "block", "schema": {"title": {"name": "c", "type": "title"},
      "eASu": {"name": "d", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "c854ac5d-7c7b-450d-b22c-dac44de6972c", "path": ["content"], "args":
      {"id": "8883593b-3b6f-41e2-bb4d-351b04ed8f39"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653142866907}, "command":
      "update", "id": "c854ac5d-7c7b-450d-b22c-dac44de6972c", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653142866907}, "command":
      "update", "id": "c854ac5d-7c7b-450d-b22c-dac44de6972c", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"blockId": "c854ac5d-7c7b-450d-b22c-dac44de6972c"}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getPublicPageData
  response:
    body:
      string: '{"spaceName":"test_py","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274","spaceDomain":"laced-taxi-315","canJoinSpace":true,"userHasExplicitAccess":true,"ownerUserId":"a03b888f-5426-4e4f-b5ef-bed855b162f0","betaEnabled":false,"canRequestAccess":true,"requireLogin":false,"publicAccessRole":"none"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "4dd368d0-5352-47cf-80a3-f0bd659311a2", "path":
      ["schema"], "args": {"title": {"name": "a", "type": "title"}, "tidW": {"name":
      "b", "type": "relation", "property": "GzB8", "collection_id": "8883593b-3b6f-41e2-bb4d-351b04ed8f39",
      "collection_pointer": {"id": "8883593b-3b6f-41e2-bb4d-351b04ed8f39", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274", "table": "collection"}}}, "command":
      "set", "table": "collection"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"page": {"id": "c5f5b1d0-1f94-46d2-8ad5-f6e382b6d48e"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"c5f5b1d0-1f94-46d2-8ad5-f6e382b6d48e":{"role":"editor","value":{"id":"c5f5b1d0-1f94-46d2-8ad5-f6e382b6d48e","version":13,"type":"collection_view_page","content":["4dd368d0-5352-47cf-80a3-f0bd659311a2","3b9797dd-62c3-4c8f-ae84-8cfd3e287863"],"view_ids":["3b9797dd-62c3-4c8f-ae84-8cfd3e287863"],"format":{"collection_pointer":{"id":"4dd368d0-5352-47cf-80a3-f0bd659311a2","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1653142863226,"last_edited_time":1653142865158,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":4891,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["c5f5b1d0-1f94-46d2-8ad5-f6e382b6d48e","c854ac5d-7c7b-450d-b22c-dac44de6972c"],"created_time":1638259881592,"last_edited_time":1652698380000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection":{"4dd368d0-5352-47cf-80a3-f0bd659311a2":{"role":"editor","value":{"id":"4dd368d0-5352-47cf-80a3-f0bd659311a2","version":3,"name":[["TESTING
        PAGE"]],"schema":{"tidW":{"name":"b","type":"relation","property":"GzB8","collection_id":"8883593b-3b6f-41e2-bb4d-351b04ed8f39","collection_pointer":{"id":"8883593b-3b6f-41e2-bb4d-351b04ed8f39","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"title":{"name":"a","type":"title"}},"parent_id":"c5f5b1d0-1f94-46d2-8ad5-f6e382b6d48e","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection_view":{"3b9797dd-62c3-4c8f-ae84-8cfd3e287863":{"role":"editor","value":{"id":"3b9797dd-62c3-4c8f-ae84-8cfd3e287863","version":3,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"tidW"}]},"parent_id":"c5f5b1d0-1f94-46d2-8ad5-f6e382b6d48e","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1653142864425,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"requests": [{"table": "collection", "id": "8883593b-3b6f-41e2-bb4d-351b04ed8f39"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"8883593b-3b6f-41e2-bb4d-351b04ed8f39","version":3,"name":[["TESTING
        PAGE"]],"schema":{"GzB8":{"name":"Related to TESTING PAGE (b)","type":"relation","property":"tidW","collection_id":"4dd368d0-5352-47cf-80a3-f0bd659311a2","collection_pointer":{"id":"4dd368d0-5352-47cf-80a3-f0bd659311a2","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"eASu":{"name":"d","type":"text"},"title":{"name":"c","type":"title"}},"parent_id":"c854ac5d-7c7b-450d-b22c-dac44de6972c","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"collection":{"8883593b-3b6f-41e2-bb4d-351b04ed8f39":{"role":"editor","value":{"id":"8883593b-3b6f-41e2-bb4d-351b04ed8f39","version":3,"name":[["TESTING
        PAGE"]],"schema":{"GzB8":{"name":"Related to TESTING PAGE (b)","type":"relation","property":"tidW","collection_id":"4dd368d0-5352-47cf-80a3-f0bd659311a2","collection_pointer":{"id":"4dd368d0-5352-47cf-80a3-f0bd659311a2","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"eASu":{"name":"d","type":"text"},"title":{"name":"c","type":"title"}},"parent_id":"c854ac5d-7c7b-450d-b22c-dac44de6972c","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"block":{"c854ac5d-7c7b-450d-b22c-dac44de6972c":{"role":"editor","value":{"id":"c854ac5d-7c7b-450d-b22c-dac44de6972c","version":13,"type":"collection_view_page","content":["8883593b-3b6f-41e2-bb4d-351b04ed8f39","ee680d26-35b6-4123-a7ee-6e2ccedfc0d2"],"view_ids":["ee680d26-35b6-4123-a7ee-6e2ccedfc0d2"],"format":{"collection_pointer":{"id":"8883593b-3b6f-41e2-bb4d-351b04ed8f39","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed85[...]
- request:
    body: '{"requests": [{"table": "collection_view", "id": "ee680d26-35b6-4123-a7ee-6e2ccedfc0d2"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"ee680d26-35b6-4123-a7ee-6e2ccedfc0d2","version":3,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"eASu"}]},"parent_id":"c854ac5d-7c7b-450d-b22c-dac44de6972c","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1653142867886,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}],"recordMapWithRoles":{"collection_view":{"ee680d26-35b6-4123-a7ee-6e2ccedfc0d2":{"role":"editor","value":{"id":"ee680d26-35b6-4123-a7ee-6e2ccedfc0d2","version":3,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"eASu"}]},"parent_id":"c854ac5d-7c7b-450d-b22c-dac44de6972c","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1653142867886,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}},"block":{"c854ac5d-7c7b-450d-b22c-dac44de69[...]
- request:
    body: '{"collection": {"id": "8883593b-3b6f-41e2-bb4d-351b04ed8f39", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "ee680d26-35b6-4123-a7ee-6e2ccedfc0d2",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"table:uncategorized:title:count":
      {"aggregation": {"aggregator": "count", "property": "title"}, "type": "aggregation"}},
      "searchQuery": "", "sort": [], "userTimeZone": "Asia/Tashkent", "type": "reducer"}}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"table:uncategorized:title:count":{"type":"aggregation","aggregationResult":{"type":"number","value":0}}}},"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"collection": {"id": "8883593b-3b6f-41e2-bb4d-351b04ed8f39", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "ee680d26-35b6-4123-a7ee-6e2ccedfc0d2",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 0, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":[],"hasMore":false}}},"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"blockIds": ["c5f5b1d0-1f94-46d2-8ad5-f6e382b6d48e"], "permanentlyDelete":
      true}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
