interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":29,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["5585f343-8ea5-469b-8a90-a05987977424"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":1882,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1651730700000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "f817f98e-3f6b-4528-ae05-91aeaedc3928", "path":
      [], "args": {"id": "f817f98e-3f6b-4528-ae05-91aeaedc3928", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651735556926, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651735556926}, "command":
      "update", "id": "f817f98e-3f6b-4528-ae05-91aeaedc3928", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "f817f98e-3f6b-4528-ae05-91aeaedc3928"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651735556926}, "command":
      "update", "id": "f817f98e-3f6b-4528-ae05-91aeaedc3928", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "4af11b3a-91df-4723-8ee5-d428aa4d2cc9", "path":
      [], "args": {"id": "4af11b3a-91df-4723-8ee5-d428aa4d2cc9", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651735557374, "parent_id": "f817f98e-3f6b-4528-ae05-91aeaedc3928",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "GS6P": {"name": "b", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "f817f98e-3f6b-4528-ae05-91aeaedc3928", "path": ["content"], "args":
      {"id": "4af11b3a-91df-4723-8ee5-d428aa4d2cc9"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651735557374}, "command":
      "update", "id": "f817f98e-3f6b-4528-ae05-91aeaedc3928", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651735557374}, "command":
      "update", "id": "f817f98e-3f6b-4528-ae05-91aeaedc3928", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "f817f98e-3f6b-4528-ae05-91aeaedc3928", "path":
      ["format", "collection_pointer", "id"], "args": "4af11b3a-91df-4723-8ee5-d428aa4d2cc9",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651735557805}, "command":
      "update", "id": "f817f98e-3f6b-4528-ae05-91aeaedc3928", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "e3b7a003-7d16-4490-8128-71f940086fac", "path":
      ["format", "table_properties"], "args": [{"visible": true, "property": "title"},
      {"visible": true, "property": "GS6P"}], "command": "set", "table": "collection_view"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "bf638208-98d3-4486-b297-ad4a0eee14c1", "path":
      [], "args": {"id": "bf638208-98d3-4486-b297-ad4a0eee14c1", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651735560809, "parent_id": "bff7711d-7ce0-496e-8627-ea6172dcc9aa",
      "parent_table": "block", "schema": {"title": {"name": "c", "type": "title"},
      "kiEV": {"name": "d", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "bff7711d-7ce0-496e-8627-ea6172dcc9aa", "path": ["content"], "args":
      {"id": "bf638208-98d3-4486-b297-ad4a0eee14c1"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651735560809}, "command":
      "update", "id": "bff7711d-7ce0-496e-8627-ea6172dcc9aa", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651735560809}, "command":
      "update", "id": "bff7711d-7ce0-496e-8627-ea6172dcc9aa", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"blockId": "bff7711d-7ce0-496e-8627-ea6172dcc9aa"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getPublicPageData
  response:
    body:
      string: '{"spaceName":"test_py","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274","spaceDomain":"laced-taxi-315","canJoinSpace":true,"userHasExplicitAccess":true,"ownerUserId":"a03b888f-5426-4e4f-b5ef-bed855b162f0","betaEnabled":false,"canRequestAccess":true,"requireLogin":false,"publicAccessRole":"none"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "4af11b3a-91df-4723-8ee5-d428aa4d2cc9", "path":
      ["schema"], "args": {"title": {"name": "a", "type": "title"}, "GS6P": {"name":
      "b", "type": "relation", "property": "98hJ", "collection_id": "bf638208-98d3-4486-b297-ad4a0eee14c1",
      "collection_pointer": {"id": "bf638208-98d3-4486-b297-ad4a0eee14c1", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274", "table": "collection"}}}, "command":
      "set", "table": "collection"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"page": {"id": "f817f98e-3f6b-4528-ae05-91aeaedc3928"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"f817f98e-3f6b-4528-ae05-91aeaedc3928":{"role":"editor","value":{"id":"f817f98e-3f6b-4528-ae05-91aeaedc3928","version":13,"type":"collection_view_page","content":["4af11b3a-91df-4723-8ee5-d428aa4d2cc9","e3b7a003-7d16-4490-8128-71f940086fac"],"view_ids":["e3b7a003-7d16-4490-8128-71f940086fac"],"format":{"collection_pointer":{"id":"4af11b3a-91df-4723-8ee5-d428aa4d2cc9","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1651735556926,"last_edited_time":1651735559079,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":1884,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["f817f98e-3f6b-4528-ae05-91aeaedc3928","bff7711d-7ce0-496e-8627-ea6172dcc9aa"],"created_time":1638259881592,"last_edited_time":1651730700000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection":{"4af11b3a-91df-4723-8ee5-d428aa4d2cc9":{"role":"editor","value":{"id":"4af11b3a-91df-4723-8ee5-d428aa4d2cc9","version":3,"name":[["TESTING
        PAGE"]],"schema":{"GS6P":{"name":"b","type":"relation","property":"98hJ","collection_id":"bf638208-98d3-4486-b297-ad4a0eee14c1","collection_pointer":{"id":"bf638208-98d3-4486-b297-ad4a0eee14c1","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"title":{"name":"a","type":"title"}},"parent_id":"f817f98e-3f6b-4528-ae05-91aeaedc3928","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection_view":{"e3b7a003-7d16-4490-8128-71f940086fac":{"role":"editor","value":{"id":"e3b7a003-7d16-4490-8128-71f940086fac","version":3,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"GS6P"}]},"parent_id":"f817f98e-3f6b-4528-ae05-91aeaedc3928","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1651735558205,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"requests": [{"table": "collection", "id": "bf638208-98d3-4486-b297-ad4a0eee14c1"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"bf638208-98d3-4486-b297-ad4a0eee14c1","version":3,"name":[["TESTING
        PAGE"]],"schema":{"98hJ":{"name":"Related to TESTING PAGE (b)","type":"relation","property":"GS6P","collection_id":"4af11b3a-91df-4723-8ee5-d428aa4d2cc9","collection_pointer":{"id":"4af11b3a-91df-4723-8ee5-d428aa4d2cc9","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"kiEV":{"name":"d","type":"text"},"title":{"name":"c","type":"title"}},"parent_id":"bff7711d-7ce0-496e-8627-ea6172dcc9aa","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"collection":{"bf638208-98d3-4486-b297-ad4a0eee14c1":{"role":"editor","value":{"id":"bf638208-98d3-4486-b297-ad4a0eee14c1","version":3,"name":[["TESTING
        PAGE"]],"schema":{"98hJ":{"name":"Related to TESTING PAGE (b)","type":"relation","property":"GS6P","collection_id":"4af11b3a-91df-4723-8ee5-d428aa4d2cc9","collection_pointer":{"id":"4af11b3a-91df-4723-8ee5-d428aa4d2cc9","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"kiEV":{"name":"d","type":"text"},"title":{"name":"c","type":"title"}},"parent_id":"bff7711d-7ce0-496e-8627-ea6172dcc9aa","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"block":{"bff7711d-7ce0-496e-8627-ea6172dcc9aa":{"role":"editor","value":{"id":"bff7711d-7ce0-496e-8627-ea6172dcc9aa","version":13,"type":"collection_view_page","content":["bf638208-98d3-4486-b297-ad4a0eee14c1","da753e4c-2799-4566-9c76-2a99b891ac39"],"view_ids":["da753e4c-2799-4566-9c76-2a99b891ac39"],"format":{"collection_pointer":{"id":"bf638208-98d3-4486-b297-ad4a0eee14c1","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed85[...]
- request:
    body: '{"requests": [{"table": "collection_view", "id": "da753e4c-2799-4566-9c76-2a99b891ac39"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"da753e4c-2799-4566-9c76-2a99b891ac39","version":5,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"kiEV"}]},"parent_id":"bff7711d-7ce0-496e-8627-ea6172dcc9aa","parent_table":"block","alive":true,"page_sort":["a41f88b0-0941-47c7-80dc-d2cbec101a59","5f7708ce-f431-47e7-aff1-675c5e338ec3"],"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1651735562221,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}],"recordMapWithRoles":{"collection_view":{"da753e4c-2799-4566-9c76-2a99b891ac39":{"role":"editor","value":{"id":"da753e4c-2799-4566-9c76-2a99b891ac39","version":5,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"kiEV"}]},"parent_id":"bff7711d-7ce0-496e-8627-ea6172dcc9aa","parent_table":"block","alive":true,"page_sort":["a41f88b0-0941-47c7-80dc-d2cbec101a59","5f7708ce-f431-47e7-aff1-675c5e338ec3"],"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1651735562221,"created_by_table":"notion_user","created_[...]
- request:
    body: '{"collection": {"id": "bf638208-98d3-4486-b297-ad4a0eee14c1", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "da753e4c-2799-4566-9c76-2a99b891ac39",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 100, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["a41f88b0-0941-47c7-80dc-d2cbec101a59","5f7708ce-f431-47e7-aff1-675c5e338ec3"],"hasMore":false}}},"recordMap":{"block":{"a41f88b0-0941-47c7-80dc-d2cbec101a59":{"role":"editor","value":{"id":"a41f88b0-0941-47c7-80dc-d2cbec101a59","version":6,"type":"page","properties":{"title":[["cc"]]},"created_time":1651735565835,"last_edited_time":1651735566284,"parent_id":"bf638208-98d3-4486-b297-ad4a0eee14c1","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"5f7708ce-f431-47e7-aff1-675c5e338ec3":{"role":"editor","value":{"id":"5f7708ce-f431-47e7-a[...]
[...]
- request:
    body: '{"blockIds": ["f817f98e-3f6b-4528-ae05-91aeaedc3928"], "permanentlyDelete":
      true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
