interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"},"role":"editor"}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]},"role":"editor"}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":15,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","ai_onboarding_phase":"ask_ai_anything","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true,"share_menu_tutorial_phase":"complete"}},"role":"editor"}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":46,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"joined":true,"settings":{"on_app_start":"first_page","user_survey_data":{"role":{"value":"unfilled","version":1,"collected_at":1638259864507,"collected_from":"onboarding"},"function":{"value":"personal","version":1,"collected_at":1638259864507,"collected_from":"onboarding"}},"notify_email_digest":false}},"role":"editor"}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":6256,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1697565724740,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true,"settings":{"space_survey_data":{"intent":{"value":"personal","version":1,"collected_at":1638259881592,"collected_from":"onboarding"}}},"subscription_tier":"free"},"role":"editor"}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"},"role":"editor"}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","v[...]
- request:
    body: '{"operations": [{"id": "85b26110-a73a-4ce9-9203-a3414d05183c", "path":
      [], "args": {"id": "85b26110-a73a-4ce9-9203-a3414d05183c", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1697565785989, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "space_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "type": "collection_view_page", "permissions": [{"role": "editor", "type": "user_permission",
      "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]}, "command": "set", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1697565785989}, "command":
      "update", "id": "85b26110-a73a-4ce9-9203-a3414d05183c", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "85b26110-a73a-4ce9-9203-a3414d05183c"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1697565785989}, "command":
      "update", "id": "85b26110-a73a-4ce9-9203-a3414d05183c", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "8ddf25fa-18dc-4cb1-a46e-4252f9af30c7", "path":
      [], "args": {"id": "8ddf25fa-18dc-4cb1-a46e-4252f9af30c7", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1697565786432, "parent_id": "85b26110-a73a-4ce9-9203-a3414d05183c",
      "parent_table": "block", "space_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "schema": {"title": {"name": "a", "type": "title"}, "UXTV": {"name": "b", "type":
      "text"}}}, "command": "set", "table": "collection"}, {"id": "85b26110-a73a-4ce9-9203-a3414d05183c",
      "path": ["content"], "args": {"id": "8ddf25fa-18dc-4cb1-a46e-4252f9af30c7"},
      "command": "listAfter", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1697565786432}, "command":
      "update", "id": "85b26110-a73a-4ce9-9203-a3414d05183c", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1697565786432}, "command":
      "update", "id": "85b26110-a73a-4ce9-9203-a3414d05183c", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "85b26110-a73a-4ce9-9203-a3414d05183c", "path":
      ["format", "collection_pointer", "id"], "args": "8ddf25fa-18dc-4cb1-a46e-4252f9af30c7",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1697565786809}, "command":
      "update", "id": "85b26110-a73a-4ce9-9203-a3414d05183c", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "67251589-6c8b-4542-9009-9a0c601a0c64", "path":
      ["format", "table_properties"], "args": [{"visible": true, "property": "title"},
      {"visible": true, "property": "UXTV"}], "command": "set", "table": "collection_view"}]}'
    headers:
      Content-Type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"page": {"id": "85b26110-a73a-4ce9-9203-a3414d05183c"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      Content-Type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"85b26110-a73a-4ce9-9203-a3414d05183c":{"value":{"id":"85b26110-a73a-4ce9-9203-a3414d05183c","version":13,"type":"collection_view_page","content":["8ddf25fa-18dc-4cb1-a46e-4252f9af30c7","67251589-6c8b-4542-9009-9a0c601a0c64"],"view_ids":["67251589-6c8b-4542-9009-9a0c601a0c64"],"format":{"collection_pointer":{"id":"8ddf25fa-18dc-4cb1-a46e-4252f9af30c7","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1697565785989,"last_edited_time":1697565788056,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"},"role":"editor"}},"space":{},"collection":{"8ddf25fa-18dc-4cb1-a46e-4252f9af30c7":{"value":{"id":"8ddf25fa-18dc-4cb1-a46e-4252f9af30c7","version":2,"name":[["TESTING
        PAGE"]],"schema":{"UXTV":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"85b26110-a73a-4ce9-9203-a3414d05183c","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"},"role":"editor"}},"collection_view":{"67251589-6c8b-4542-9009-9a0c601a0c64":{"value":{"id":"67251589-6c8b-4542-9009-9a0c601a0c64","version":3,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"UXTV"}]},"parent_id":"85b26110-a73a-4ce9-9203-a3414d05183c","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1697565787213,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"},"role":"editor"}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"collection": {"id": "8ddf25fa-18dc-4cb1-a46e-4252f9af30c7", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "67251589-6c8b-4542-9009-9a0c601a0c64",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"table:uncategorized:title:count":
      {"aggregation": {"aggregator": "count", "property": "title"}, "type": "aggregation"}},
      "searchQuery": "", "sort": [], "userTimeZone": "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"table:uncategorized:title:count":{"type":"aggregation","aggregationResult":{"type":"number","value":1}}},"sizeHint":1},"recordMap":{"block":{"d0295f84-db46-4b52-b599-aabe6c6f52d7":{"value":{"id":"d0295f84-db46-4b52-b599-aabe6c6f52d7","version":8,"type":"page","properties":{"UXTV":[["b"]],"title":[["a"]]},"created_time":1697565790004,"last_edited_time":1697565790766,"parent_id":"8ddf25fa-18dc-4cb1-a46e-4252f9af30c7","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"},"role":"editor"},"85b26110-a73a-4ce9-9203-a3414d05183c":{"value":{"id":"85b261[...]
- request:
    body: '{"collection": {"id": "8ddf25fa-18dc-4cb1-a46e-4252f9af30c7", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "67251589-6c8b-4542-9009-9a0c601a0c64",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 1, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["d0295f84-db46-4b52-b599-aabe6c6f52d7"],"hasMore":false}},"sizeHint":1},"recordMap":{"block":{"d0295f84-db46-4b52-b599-aabe6c6f52d7":{"value":{"id":"d0295f84-db46-4b52-b599-aabe6c6f52d7","version":8,"type":"page","properties":{"UXTV":[["b"]],"title":[["a"]]},"created_time":1697565790004,"last_edited_time":1697565790766,"parent_id":"8ddf25fa-18dc-4cb1-a46e-4252f9af30c7","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited[...]
- request:
    body: '{"operations": [{"id": "d0295f84-db46-4b52-b599-aabe6c6f52d7", "path":
      ["properties", "meta", "cover_block"], "args": {"type": "url", "url": "https://via.placeholder.com/100"},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1697565791836}, "command":
      "update", "id": "d0295f84-db46-4b52-b599-aabe6c6f52d7", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "6db07e75-6317-4f44-9df9-59fb2acd61b0", "path":
      [], "args": {"id": "6db07e75-6317-4f44-9df9-59fb2acd61b0", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1697565792294, "parent_id": "d0295f84-db46-4b52-b599-aabe6c6f52d7",
      "parent_table": "block", "space_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "type": "image", "child_list_key": null}, "command": "set", "table": "block"},
      {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "last_edited_by_table":
      "notion_user", "last_edited_time": 1697565792294}, "command": "update", "id":
      "6db07e75-6317-4f44-9df9-59fb2acd61b0", "path": [], "table": "block"}, {"id":
      "d0295f84-db46-4b52-b599-aabe6c6f52d7", "path": ["content"], "args": {"id":
      "6db07e75-6317-4f44-9df9-59fb2acd61b0"}, "command": "listAfter", "table": "block"},
      {"args":[...]
[...]
- request:
    body: '{"collection": {"id": "8ddf25fa-18dc-4cb1-a46e-4252f9af30c7", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "67251589-6c8b-4542-9009-9a0c601a0c64",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"table:uncategorized:title:count":
      {"aggregation": {"aggregator": "count", "property": "title"}, "type": "aggregation"}},
      "searchQuery": "", "sort": [], "userTimeZone": "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"table:uncategorized:title:count":{"type":"aggregation","aggregationResult":{"type":"number","value":1}}},"sizeHint":1},"recordMap":{"block":{"d0295f84-db46-4b52-b599-aabe6c6f52d7":{"value":{"id":"d0295f84-db46-4b52-b599-aabe6c6f52d7","version":13,"type":"page","properties":{"UXTV":[["b"]],"meta":{"cover_block":{"url":"https://via.placeholder.com/100","type":"url"}},"title":[["a"]]},"content":["6db07e75-6317-4f44-9df9-59fb2acd61b0"],"created_time":1697565790004,"last_edited_time":1697565792294,"parent_id":"8ddf25fa-18dc-4cb1-a46e-4252f9af30c7","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a[...]
[...]
- request:
    body: '{"requests": [{"table": "block", "id": "6db07e75-6317-4f44-9df9-59fb2acd61b0"}]}'
    headers:
      Content-Type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"value":{"id":"6db07e75-6317-4f44-9df9-59fb2acd61b0","version":12,"type":"image","properties":{"source":[["https://via.placeholder.com/100"]],"caption":[["test"]],"is_cover_block":true},"format":{"display_source":"https://via.placeholder.com/100"},"created_time":1697565792294,"last_edited_time":1697565793565,"parent_id":"d0295f84-db46-4b52-b599-aabe6c6f52d7","parent_table":"block","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"},"role":"editor"}],"recordMapWithRoles":{"block":{"6db07e75-6317-4f44-9df9-59fb2acd61b0":{"value":{"id":"6db07e75-6317-4f44-9df9-59fb2acd61b0","version":12,"type":"image","properties":{"source":[["https://via.placeholder.com/100"]],"caption":[["test"]],"is_cover_block":true},"format":{"display_source":"https://via.placeholder.com/100"},"created_time":1697565792294,"last_edited_time":1697565793565,"parent_id":"d0295f84-db46-4b52-b599-aabe6c6f52d7","parent_table":"block","alive":true,"created_by_table":"notion_user","created_by_id":"a03[...]
[...]
- request:
    body: '{"blockIds": ["85b26110-a73a-4ce9-9203-a3414d05183c"], "permanentlyDelete":
      true}'
    headers:
      Content-Type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{"block":{"85b26110-a73a-4ce9-9203-a3414d05183c":{"role":"none"}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":6258,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1697565724740,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true,"settings":{"space_survey_data":{"intent":{"value":"personal","version":1,"collected_at":1638259881592,"collected_from":"onboarding"}}},"subscription_tier":"free"},"role":"editor"}},"collection":{"8ddf25fa-18dc-4cb1-a46e-4252f9af30c7":{"role":"none"}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
