interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":29,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["5585f343-8ea5-469b-8a90-a05987977424"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":1862,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1651730700000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "0be3cf43-5b93-408e-b6db-ba68e783b001", "path":
      [], "args": {"id": "0be3cf43-5b93-408e-b6db-ba68e783b001", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651735437959, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651735437959}, "command":
      "update", "id": "0be3cf43-5b93-408e-b6db-ba68e783b001", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "0be3cf43-5b93-408e-b6db-ba68e783b001"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651735437959}, "command":
      "update", "id": "0be3cf43-5b93-408e-b6db-ba68e783b001", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "a9fe7569-9034-49fa-a37f-9c8fa3ebc338", "path":
      [], "args": {"id": "a9fe7569-9034-49fa-a37f-9c8fa3ebc338", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651735438386, "parent_id": "0be3cf43-5b93-408e-b6db-ba68e783b001",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "tWPg": {"name": "b", "type": "multi_select"}}}, "command": "set", "table":
      "collection"}, {"id": "0be3cf43-5b93-408e-b6db-ba68e783b001", "path": ["content"],
      "args": {"id": "a9fe7569-9034-49fa-a37f-9c8fa3ebc338"}, "command": "listAfter",
      "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651735438386}, "command":
      "update", "id": "0be3cf43-5b93-408e-b6db-ba68e783b001", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651735438386}, "command":
      "update", "id": "0be3cf43-5b93-408e-b6db-ba68e783b001", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "0be3cf43-5b93-408e-b6db-ba68e783b001", "path":
      ["format", "collection_pointer", "id"], "args": "a9fe7569-9034-49fa-a37f-9c8fa3ebc338",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651735438807}, "command":
      "update", "id": "0be3cf43-5b93-408e-b6db-ba68e783b001", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "e41d3c15-3dff-40b4-9989-2b05e0fe30c2", "path":
      ["format", "table_properties"], "args": [{"visible": true, "property": "title"},
      {"visible": true, "property": "tWPg"}], "command": "set", "table": "collection_view"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"page": {"id": "0be3cf43-5b93-408e-b6db-ba68e783b001"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"0be3cf43-5b93-408e-b6db-ba68e783b001":{"role":"editor","value":{"id":"0be3cf43-5b93-408e-b6db-ba68e783b001","version":13,"type":"collection_view_page","content":["a9fe7569-9034-49fa-a37f-9c8fa3ebc338","e41d3c15-3dff-40b4-9989-2b05e0fe30c2"],"view_ids":["e41d3c15-3dff-40b4-9989-2b05e0fe30c2"],"format":{"collection_pointer":{"id":"a9fe7569-9034-49fa-a37f-9c8fa3ebc338","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1651735437959,"last_edited_time":1651735442528,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":1863,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["0be3cf43-5b93-408e-b6db-ba68e783b001"],"created_time":1638259881592,"last_edited_time":1651730700000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection_view":{"e41d3c15-3dff-40b4-9989-2b05e0fe30c2":{"role":"editor","value":{"id":"e41d3c15-3dff-40b4-9989-2b05e0fe30c2","version":3,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"tWPg"}]},"parent_id":"0be3cf43-5b93-408e-b6db-ba68e783b001","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1651735439217,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}},"collection":{"a9fe7569-9034-49fa-a37f-9c8fa3ebc338":{"role":"editor","value":{"id":"a9fe7569-9034-49fa-a37f-9c8fa3ebc338","version":2,"name":[["TESTING
        PAGE"]],"schema":{"tWPg":{"name":"b","type":"multi_select"},"title":{"name":"a","type":"title"}},"parent_id":"0be3cf43-5b93-408e-b6db-ba68e783b001","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "f64d1c0d-e4a3-43a5-b1a8-a4797a73409e", "path":
      ["properties", "title"], "args": [["a"]], "command": "set", "table": "block"},
      {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "last_edited_by_table":
      "notion_user", "last_edited_time": 1651735444647}, "command": "update", "id":
      "f64d1c0d-e4a3-43a5-b1a8-a4797a73409e", "path": [], "table": "block"}, {"id":
      "a9fe7569-9034-49fa-a37f-9c8fa3ebc338", "path": ["schema", "tWPg", "options"],
      "args": [{"id": "57ea9386-cc44-11ec-a9d9-74d02bcb0a5c", "value": "b1", "color":
      "default"}, {"id": "57ea9387-cc44-11ec-b7f5-74d02bcb0a5c", "value": "b2", "color":
      "default"}, {"id": "57ea9388-cc44-11ec-893c-74d02bcb0a5c", "value": "b3", "color":
      "default"}], "command": "set", "table": "collection"}, {"id": "f64d1c0d-e4a3-43a5-b1a8-a4797a73409e",
      "path": ["properties", "tWPg"], "args": [["b1,b2,b3"]], "command": "set", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651735444647}, "command":
      "update", "id": "f64d1c0d-e4a3-43a5-b1a8-a4797a73409e", "path": [], "table":
      "block"}, {"id": "e41d3c15-3dff-40b4-9989-2b05e0fe30c2", "path": ["page_sort"],
      "args": ["f64d1c0d-e4a3-43a5-b1a8-a4797a73409e"], "command": "set", "table":
      "collection_view"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651735444647}, "command":
      "update", "id": "f64d1c0d-e4a3-43a5-b1a8-a4797a73409e", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"requests": [{"table": "collection", "id": "a9fe7569-9034-49fa-a37f-9c8fa3ebc338"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"a9fe7569-9034-49fa-a37f-9c8fa3ebc338","version":3,"name":[["TESTING
        PAGE"]],"schema":{"tWPg":{"name":"b","type":"multi_select","options":[{"id":"57ea9386-cc44-11ec-a9d9-74d02bcb0a5c","color":"default","value":"b1"},{"id":"57ea9387-cc44-11ec-b7f5-74d02bcb0a5c","color":"default","value":"b2"},{"id":"57ea9388-cc44-11ec-893c-74d02bcb0a5c","color":"default","value":"b3"}]},"title":{"name":"a","type":"title"}},"parent_id":"0be3cf43-5b93-408e-b6db-ba68e783b001","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"collection":{"a9fe7569-9034-49fa-a37f-9c8fa3ebc338":{"role":"editor","value":{"id":"a9fe7569-9034-49fa-a37f-9c8fa3ebc338","version":3,"name":[["TESTING
        PAGE"]],"schema":{"tWPg":{"name":"b","type":"multi_select","options":[{"id":"57ea9386-cc44-11ec-a9d9-74d02bcb0a5c","color":"default","value":"b1"},{"id":"57ea9387-cc44-11ec-b7f5-74d02bcb0a5c","color":"default","value":"b2"},{"id":"57ea9388-cc44-11ec-893c-74d02bcb0a5c","color":"default","value":"b3"}]},"title":{"name":"a","type":"title"}[...]
- request:
    body: '{"collection": {"id": "a9fe7569-9034-49fa-a37f-9c8fa3ebc338", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "e41d3c15-3dff-40b4-9989-2b05e0fe30c2",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 100, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["f64d1c0d-e4a3-43a5-b1a8-a4797a73409e"],"hasMore":false}}},"recordMap":{"block":{"f64d1c0d-e4a3-43a5-b1a8-a4797a73409e":{"role":"editor","value":{"id":"f64d1c0d-e4a3-43a5-b1a8-a4797a73409e","version":8,"type":"page","properties":{"tWPg":[["b1,b2,b3"]],"title":[["a"]]},"created_time":1651735444152,"last_edited_time":1651735444647,"parent_id":"a9fe7569-9034-49fa-a37f-9c8fa3ebc338","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"0be3cf43-5b93-408e-b6db-ba68e783b001":{"role":"editor","value":{"id":[...]
[...]
- request:
    body: '{"blockIds": ["0be3cf43-5b93-408e-b6db-ba68e783b001"], "permanentlyDelete":
      true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
