interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":9,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect"}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":27,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["03b83ede-64a9-4547-98cf-a22bad3f7568"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":1277,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1651493580000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "b31f2385-381f-44ec-a07f-2c1f9b3028dd", "path":
      [], "args": {"id": "b31f2385-381f-44ec-a07f-2c1f9b3028dd", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651556611965, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651556611965}, "command":
      "update", "id": "b31f2385-381f-44ec-a07f-2c1f9b3028dd", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "b31f2385-381f-44ec-a07f-2c1f9b3028dd"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651556611965}, "command":
      "update", "id": "b31f2385-381f-44ec-a07f-2c1f9b3028dd", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "6ca73a86-3ede-4bc8-9364-97b162323889", "path":
      [], "args": {"id": "6ca73a86-3ede-4bc8-9364-97b162323889", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651556612346, "parent_id": "b31f2385-381f-44ec-a07f-2c1f9b3028dd",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "GXKH": {"name": "b", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "b31f2385-381f-44ec-a07f-2c1f9b3028dd", "path": ["content"], "args":
      {"id": "6ca73a86-3ede-4bc8-9364-97b162323889"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651556612346}, "command":
      "update", "id": "b31f2385-381f-44ec-a07f-2c1f9b3028dd", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651556612346}, "command":
      "update", "id": "b31f2385-381f-44ec-a07f-2c1f9b3028dd", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "b31f2385-381f-44ec-a07f-2c1f9b3028dd", "path":
      ["format", "collection_pointer", "id"], "args": "6ca73a86-3ede-4bc8-9364-97b162323889",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651556612761}, "command":
      "update", "id": "b31f2385-381f-44ec-a07f-2c1f9b3028dd", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"page": {"id": "b31f2385-381f-44ec-a07f-2c1f9b3028dd"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"b31f2385-381f-44ec-a07f-2c1f9b3028dd":{"role":"editor","value":{"id":"b31f2385-381f-44ec-a07f-2c1f9b3028dd","version":13,"type":"collection_view_page","content":["6ca73a86-3ede-4bc8-9364-97b162323889","85a8f478-b4d2-4f25-8e52-be4a667b96f4"],"view_ids":["85a8f478-b4d2-4f25-8e52-be4a667b96f4"],"format":{"collection_pointer":{"id":"6ca73a86-3ede-4bc8-9364-97b162323889","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1651556611965,"last_edited_time":1651556613816,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":1278,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["b31f2385-381f-44ec-a07f-2c1f9b3028dd"],"created_time":1638259881592,"last_edited_time":1651493580000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection":{"6ca73a86-3ede-4bc8-9364-97b162323889":{"role":"editor","value":{"id":"6ca73a86-3ede-4bc8-9364-97b162323889","version":2,"name":[["TESTING
        PAGE 2371da2b"]],"schema":{"GXKH":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"b31f2385-381f-44ec-a07f-2c1f9b3028dd","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection_view":{"85a8f478-b4d2-4f25-8e52-be4a667b96f4":{"role":"editor","value":{"id":"85a8f478-b4d2-4f25-8e52-be4a667b96f4","version":2,"type":"table","parent_id":"b31f2385-381f-44ec-a07f-2c1f9b3028dd","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1651556613093,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"requests": [{"table": "collection", "id": "6ca73a86-3ede-4bc8-9364-97b162323889"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"6ca73a86-3ede-4bc8-9364-97b162323889","version":2,"name":[["TESTING
        PAGE 2371da2b"]],"schema":{"GXKH":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"b31f2385-381f-44ec-a07f-2c1f9b3028dd","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"collection":{"6ca73a86-3ede-4bc8-9364-97b162323889":{"role":"editor","value":{"id":"6ca73a86-3ede-4bc8-9364-97b162323889","version":2,"name":[["TESTING
        PAGE 2371da2b"]],"schema":{"GXKH":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"b31f2385-381f-44ec-a07f-2c1f9b3028dd","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"block":{"b31f2385-381f-44ec-a07f-2c1f9b3028dd":{"role":"editor","value":{"id":"b31f[...]
- request:
    body: '{"collection": {"id": "6ca73a86-3ede-4bc8-9364-97b162323889", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "85a8f478-b4d2-4f25-8e52-be4a667b96f4",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 100, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["7bc8a8eb-c016-4e93-adc7-a8fb741a1a87"],"hasMore":false}}},"recordMap":{"block":{"7bc8a8eb-c016-4e93-adc7-a8fb741a1a87":{"role":"editor","value":{"id":"7bc8a8eb-c016-4e93-adc7-a8fb741a1a87","version":8,"type":"page","properties":{"GXKH":[["b"]],"title":[["a"]]},"created_time":1651556615667,"last_edited_time":1651556616653,"parent_id":"6ca73a86-3ede-4bc8-9364-97b162323889","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"b31f2385-381f-44ec-a07f-2c1f9b3028dd":{"role":"editor","value":{"id":"b31f23[...]
[...]
- request:
    body: '{"collection": {"id": "6ca73a86-3ede-4bc8-9364-97b162323889", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "85a8f478-b4d2-4f25-8e52-be4a667b96f4",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 100, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: "{\"result\":{\"type\":\"reducer\",\"reducerResults\":{\"collection_group_results\":{\"type\":\"results\",\"blockIds\":[\"7bc8a8eb-c016-4e93-adc7-a8fb741a1a87\"],\"hasMore\":false}}},\"recordMap\":{\"block\":{\"7bc8a8eb-c016-4e93-adc7-a8fb741a1a87\":{\"role\":\"editor\",\"value\":{\"id\":\"7bc8a8eb-c016-4e93-adc7-a8fb741a1a87\",\"version\":10,\"type\":\"page\",\"properties\":{\"GXKH\":[[\"b\"]],\"title\":[[\"a\"]]},\"format\":{\"page_icon\":\"\U0001F914\"},\"created_time\":1651556615667,\"last_edited_time\":1651556618188,\"parent_id\":\"6ca73a86-3ede-4bc8-9364-97b162323889\",\"parent_table\":\"collection\",\"alive\":true,\"created_by_table\":\"notion_user\",\"created_by_id\":\"a03b888f-5426-4e4f-b5ef-bed855b162f0\",\"last_edited_by_table\":\"notion_user\",\"last_edited_by_id\":\"a03b888f-5426-4e4f-b5ef-bed855b162f0\",\"space_id\":\"d51d3ca5-7889-4c70-b906-3a5a37b60274\"}},\"b31f2385-381f-44ec-a07f-2c1f9b3028dd\":{\"role\":\"editor\[...]
[...]
- request:
    body: '{"blockIds": ["b31f2385-381f-44ec-a07f-2c1f9b3028dd"], "permanentlyDelete":
      true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
