interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":29,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["5585f343-8ea5-469b-8a90-a05987977424"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":1964,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1651730700000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "091b0d77-d985-463d-a520-5d8a4d549020", "path":
      [], "args": {"id": "091b0d77-d985-463d-a520-5d8a4d549020", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651736019819, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651736019819}, "command":
      "update", "id": "091b0d77-d985-463d-a520-5d8a4d549020", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "091b0d77-d985-463d-a520-5d8a4d549020"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651736019819}, "command":
      "update", "id": "091b0d77-d985-463d-a520-5d8a4d549020", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "db04fce6-59d4-4f25-8ca0-3ac72d1d430d", "path":
      [], "args": {"id": "db04fce6-59d4-4f25-8ca0-3ac72d1d430d", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651736020250, "parent_id": "091b0d77-d985-463d-a520-5d8a4d549020",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "oLe6": {"name": "b", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "091b0d77-d985-463d-a520-5d8a4d549020", "path": ["content"], "args":
      {"id": "db04fce6-59d4-4f25-8ca0-3ac72d1d430d"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651736020250}, "command":
      "update", "id": "091b0d77-d985-463d-a520-5d8a4d549020", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651736020250}, "command":
      "update", "id": "091b0d77-d985-463d-a520-5d8a4d549020", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "091b0d77-d985-463d-a520-5d8a4d549020", "path":
      ["format", "collection_pointer", "id"], "args": "db04fce6-59d4-4f25-8ca0-3ac72d1d430d",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651736021551}, "command":
      "update", "id": "091b0d77-d985-463d-a520-5d8a4d549020", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "fdbe3324-abf8-4b2f-a382-6e32764c87e5", "path":
      ["format", "table_properties"], "args": [{"visible": true, "property": "title"},
      {"visible": true, "property": "oLe6"}], "command": "set", "table": "collection_view"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "689faba9-7c1c-4f12-81d6-af7691509513", "path":
      [], "args": {"id": "689faba9-7c1c-4f12-81d6-af7691509513", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651736024982, "parent_id": "e06d87bc-1570-4ef8-84a4-e43b59c167f2",
      "parent_table": "block", "schema": {"title": {"name": "c", "type": "title"},
      "RIvx": {"name": "d", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "e06d87bc-1570-4ef8-84a4-e43b59c167f2", "path": ["content"], "args":
      {"id": "689faba9-7c1c-4f12-81d6-af7691509513"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651736024982}, "command":
      "update", "id": "e06d87bc-1570-4ef8-84a4-e43b59c167f2", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651736024982}, "command":
      "update", "id": "e06d87bc-1570-4ef8-84a4-e43b59c167f2", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"blockId": "e06d87bc-1570-4ef8-84a4-e43b59c167f2"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getPublicPageData
  response:
    body:
      string: '{"spaceName":"test_py","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274","spaceDomain":"laced-taxi-315","canJoinSpace":true,"userHasExplicitAccess":true,"ownerUserId":"a03b888f-5426-4e4f-b5ef-bed855b162f0","betaEnabled":false,"canRequestAccess":true,"requireLogin":false,"publicAccessRole":"none"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "db04fce6-59d4-4f25-8ca0-3ac72d1d430d", "path":
      ["schema"], "args": {"title": {"name": "a", "type": "title"}, "oLe6": {"name":
      "b", "type": "relation", "property": "mznG", "collection_id": "689faba9-7c1c-4f12-81d6-af7691509513",
      "collection_pointer": {"id": "689faba9-7c1c-4f12-81d6-af7691509513", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274", "table": "collection"}}}, "command":
      "set", "table": "collection"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"page": {"id": "091b0d77-d985-463d-a520-5d8a4d549020"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"091b0d77-d985-463d-a520-5d8a4d549020":{"role":"editor","value":{"id":"091b0d77-d985-463d-a520-5d8a4d549020","version":13,"type":"collection_view_page","content":["db04fce6-59d4-4f25-8ca0-3ac72d1d430d","fdbe3324-abf8-4b2f-a382-6e32764c87e5"],"view_ids":["fdbe3324-abf8-4b2f-a382-6e32764c87e5"],"format":{"collection_pointer":{"id":"db04fce6-59d4-4f25-8ca0-3ac72d1d430d","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1651736019819,"last_edited_time":1651736022765,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":1966,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["091b0d77-d985-463d-a520-5d8a4d549020","e06d87bc-1570-4ef8-84a4-e43b59c167f2"],"created_time":1638259881592,"last_edited_time":1651730700000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection":{"db04fce6-59d4-4f25-8ca0-3ac72d1d430d":{"role":"editor","value":{"id":"db04fce6-59d4-4f25-8ca0-3ac72d1d430d","version":3,"name":[["TESTING
        PAGE"]],"schema":{"oLe6":{"name":"b","type":"relation","property":"mznG","collection_id":"689faba9-7c1c-4f12-81d6-af7691509513","collection_pointer":{"id":"689faba9-7c1c-4f12-81d6-af7691509513","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"title":{"name":"a","type":"title"}},"parent_id":"091b0d77-d985-463d-a520-5d8a4d549020","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection_view":{"fdbe3324-abf8-4b2f-a382-6e32764c87e5":{"role":"editor","value":{"id":"fdbe3324-abf8-4b2f-a382-6e32764c87e5","version":3,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"oLe6"}]},"parent_id":"091b0d77-d985-463d-a520-5d8a4d549020","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1651736021959,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"requests": [{"table": "collection", "id": "689faba9-7c1c-4f12-81d6-af7691509513"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"689faba9-7c1c-4f12-81d6-af7691509513","version":3,"name":[["TESTING
        PAGE"]],"schema":{"RIvx":{"name":"d","type":"text"},"mznG":{"name":"Related
        to TESTING PAGE (b)","type":"relation","property":"oLe6","collection_id":"db04fce6-59d4-4f25-8ca0-3ac72d1d430d","collection_pointer":{"id":"db04fce6-59d4-4f25-8ca0-3ac72d1d430d","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"title":{"name":"c","type":"title"}},"parent_id":"e06d87bc-1570-4ef8-84a4-e43b59c167f2","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"collection":{"689faba9-7c1c-4f12-81d6-af7691509513":{"role":"editor","value":{"id":"689faba9-7c1c-4f12-81d6-af7691509513","version":3,"name":[["TESTING
        PAGE"]],"schema":{"RIvx":{"name":"d","type":"text"},"mznG":{"name":"Related
        to TESTING PAGE (b)","type":"relation","property":"oLe6","collection_id":"db04fce6-59d4-4f25-8ca0-3ac72d1d430d","collection_pointer":{"id":"db04fce6-59d4-4f25-8ca0-3ac72d1d430d","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"title":{"name":"c","type":"title"}},"parent_id":"e06d87bc-1570-4ef8-84a4-e43b59c167f2","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"block":{"e06d87bc-1570-4ef8-84a4-e43b59c167f2":{"role":"editor","value":{"id":"e06d87bc-1570-4ef8-84a4-e43b59c167f2","version":13,"type":"collection_view_page","content":["689faba9-7c1c-4f12-81d6-af7691509513","d0715ef2-4b29-41ce-a3ae-6c2ab93014d4"],"view_ids":["d0715ef2-4b29-41ce-a3ae-6c2ab93014d4"],"format":{"collection_pointer":{"id":"689faba9-7c1c-4f12-81d6-af7691509513","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed85[...]
[...]
- request:
    body: '{"requests": [{"table": "collection_view", "id": "d0715ef2-4b29-41ce-a3ae-6c2ab93014d4"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"d0715ef2-4b29-41ce-a3ae-6c2ab93014d4","version":3,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"RIvx"}]},"parent_id":"e06d87bc-1570-4ef8-84a4-e43b59c167f2","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1651736025784,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}],"recordMapWithRoles":{"collection_view":{"d0715ef2-4b29-41ce-a3ae-6c2ab93014d4":{"role":"editor","value":{"id":"d0715ef2-4b29-41ce-a3ae-6c2ab93014d4","version":3,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"RIvx"}]},"parent_id":"e06d87bc-1570-4ef8-84a4-e43b59c167f2","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1651736025784,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}},"block":{"e06d87bc-1570-4ef8-84a4-e43b59c16[...]
- request:
    body: '{"collection": {"id": "689faba9-7c1c-4f12-81d6-af7691509513", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "d0715ef2-4b29-41ce-a3ae-6c2ab93014d4",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 100, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":[],"hasMore":false}}},"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"collection": {"id": "db04fce6-59d4-4f25-8ca0-3ac72d1d430d", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "fdbe3324-abf8-4b2f-a382-6e32764c87e5",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 100, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["d10dd277-db3d-47e0-8d83-a7c4b09f9b26"],"hasMore":false}}},"recordMap":{"block":{"d10dd277-db3d-47e0-8d83-a7c4b09f9b26":{"role":"editor","value":{"id":"d10dd277-db3d-47e0-8d83-a7c4b09f9b26","version":8,"type":"page","properties":{"title":[["aa"]]},"created_time":1651736031627,"last_edited_time":1651736032123,"parent_id":"db04fce6-59d4-4f25-8ca0-3ac72d1d430d","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"091b0d77-d985-463d-a520-5d8a4d549020":{"role":"editor","value":{"id":"091b0d77-d985-463d-a[...]
[...]
- request:
    body: '{"blockIds": ["091b0d77-d985-463d-a520-5d8a4d549020"], "permanentlyDelete":
      true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
