interactions:
- request:
    body: '{}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":31,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["5585f343-8ea5-469b-8a90-a05987977424"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":4805,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1652698380000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-[...]
- request:
    body: '{"operations": [{"id": "8c94b450-3bb1-4bef-950d-f22132a45bf8", "path":
      [], "args": {"id": "8c94b450-3bb1-4bef-950d-f22132a45bf8", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1653142260390, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653142260390}, "command":
      "update", "id": "8c94b450-3bb1-4bef-950d-f22132a45bf8", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "8c94b450-3bb1-4bef-950d-f22132a45bf8"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653142260390}, "command":
      "update", "id": "8c94b450-3bb1-4bef-950d-f22132a45bf8", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "2d904dc5-5e5f-4b11-882a-8296ad09fa31", "path":
      [], "args": {"id": "2d904dc5-5e5f-4b11-882a-8296ad09fa31", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1653142261303, "parent_id": "8c94b450-3bb1-4bef-950d-f22132a45bf8",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "f5vK": {"name": "b", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "8c94b450-3bb1-4bef-950d-f22132a45bf8", "path": ["content"], "args":
      {"id": "2d904dc5-5e5f-4b11-882a-8296ad09fa31"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653142261303}, "command":
      "update", "id": "8c94b450-3bb1-4bef-950d-f22132a45bf8", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653142261303}, "command":
      "update", "id": "8c94b450-3bb1-4bef-950d-f22132a45bf8", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "8c94b450-3bb1-4bef-950d-f22132a45bf8", "path":
      ["format", "collection_pointer", "id"], "args": "2d904dc5-5e5f-4b11-882a-8296ad09fa31",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653142261683}, "command":
      "update", "id": "8c94b450-3bb1-4bef-950d-f22132a45bf8", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "9820636d-cdec-4490-8b35-71c63f9281f5", "path":
      ["format", "table_properties"], "args": [{"visible": true, "property": "title"},
      {"visible": true, "property": "f5vK"}], "command": "set", "table": "collection_view"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"page": {"id": "8c94b450-3bb1-4bef-950d-f22132a45bf8"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"8c94b450-3bb1-4bef-950d-f22132a45bf8":{"role":"editor","value":{"id":"8c94b450-3bb1-4bef-950d-f22132a45bf8","version":13,"type":"collection_view_page","content":["2d904dc5-5e5f-4b11-882a-8296ad09fa31","9820636d-cdec-4490-8b35-71c63f9281f5"],"view_ids":["9820636d-cdec-4490-8b35-71c63f9281f5"],"format":{"collection_pointer":{"id":"2d904dc5-5e5f-4b11-882a-8296ad09fa31","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1653142260390,"last_edited_time":1653142262762,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":4806,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["8c94b450-3bb1-4bef-950d-f22132a45bf8"],"created_time":1638259881592,"last_edited_time":1652698380000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection":{"2d904dc5-5e5f-4b11-882a-8296ad09fa31":{"role":"editor","value":{"id":"2d904dc5-5e5f-4b11-882a-8296ad09fa31","version":2,"name":[["TESTING
        PAGE"]],"schema":{"f5vK":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"8c94b450-3bb1-4bef-950d-f22132a45bf8","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection_view":{"9820636d-cdec-4490-8b35-71c63f9281f5":{"role":"editor","value":{"id":"9820636d-cdec-4490-8b35-71c63f9281f5","version":4,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"f5vK"}]},"parent_id":"8c94b450-3bb1-4bef-950d-f22132a45bf8","parent_table":"block","alive":true,"page_sort":["7e9130ef-2cf4-42f2-8d2e-e74cda52268c"],"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1653142262014,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"requests": [{"table": "collection_view", "id": "9820636d-cdec-4490-8b35-71c63f9281f5"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"9820636d-cdec-4490-8b35-71c63f9281f5","version":4,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"f5vK"}]},"parent_id":"8c94b450-3bb1-4bef-950d-f22132a45bf8","parent_table":"block","alive":true,"page_sort":["7e9130ef-2cf4-42f2-8d2e-e74cda52268c"],"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1653142262014,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}],"recordMapWithRoles":{"collection_view":{"9820636d-cdec-4490-8b35-71c63f9281f5":{"role":"editor","value":{"id":"9820636d-cdec-4490-8b35-71c63f9281f5","version":4,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"f5vK"}]},"parent_id":"8c94b450-3bb1-4bef-950d-f22132a45bf8","parent_table":"block","alive":true,"page_sort":["7e9130ef-2cf4-42f2-8d2e-e74cda52268c"],"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1653142262014,"created_by_table":"no[...]
- request:
    body: '{"collection": {"id": "2d904dc5-5e5f-4b11-882a-8296ad09fa31", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "9820636d-cdec-4490-8b35-71c63f9281f5",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"table:uncategorized:title:count":
      {"aggregation": {"aggregator": "count", "property": "title"}, "type": "aggregation"}},
      "searchQuery": "", "sort": [], "userTimeZone": "Asia/Tashkent", "type": "reducer"}}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"table:uncategorized:title:count":{"type":"aggregation","aggregationResult":{"type":"number","value":1}}}},"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"collection": {"id": "2d904dc5-5e5f-4b11-882a-8296ad09fa31", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "9820636d-cdec-4490-8b35-71c63f9281f5",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 1, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["7e9130ef-2cf4-42f2-8d2e-e74cda52268c"],"hasMore":false}}},"recordMap":{"block":{"7e9130ef-2cf4-42f2-8d2e-e74cda52268c":{"role":"editor","value":{"id":"7e9130ef-2cf4-42f2-8d2e-e74cda52268c","version":8,"type":"page","properties":{"f5vK":[["b1"]],"title":[["a"]]},"created_time":1653142263765,"last_edited_time":1653142264151,"parent_id":"2d904dc5-5e5f-4b11-882a-8296ad09fa31","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"8c94b450-3bb1-4bef-950d-f22132a45bf8":{"role":"editor","value":{"id":"8c94b[...]
[...]
- request:
    body: '{"operations": [{"id": "7e9130ef-2cf4-42f2-8d2e-e74cda52268c", "path":
      ["properties", "meta", "cover_block"], "args": {"type": "url", "url": "https://via.placeholder.com/100"},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653142268608}, "command":
      "update", "id": "7e9130ef-2cf4-42f2-8d2e-e74cda52268c", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "4debb36b-17da-498f-aecc-de558d3f3db9", "path":
      [], "args": {"id": "4debb36b-17da-498f-aecc-de558d3f3db9", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1653142268964, "parent_id": "7e9130ef-2cf4-42f2-8d2e-e74cda52268c",
      "parent_table": "block", "type": "image", "child_list_key": null}, "command":
      "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653142268964}, "command":
      "update", "id": "4debb36b-17da-498f-aecc-de558d3f3db9", "path": [], "table":
      "block"}, {"id": "7e9130ef-2cf4-42f2-8d2e-e74cda52268c", "path": ["content"],
      "args": {"id": "4debb36b-17da-498f-aecc-de558d3f3db9"}, "command": "listAfter",
      "table": "block"}, {"args":[...]
[...]
- request:
    body: '{"collection": {"id": "2d904dc5-5e5f-4b11-882a-8296ad09fa31", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "9820636d-cdec-4490-8b35-71c63f9281f5",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 1, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["7e9130ef-2cf4-42f2-8d2e-e74cda52268c"],"hasMore":false}}},"recordMap":{"block":{"7e9130ef-2cf4-42f2-8d2e-e74cda52268c":{"role":"editor","value":{"id":"7e9130ef-2cf4-42f2-8d2e-e74cda52268c","version":16,"type":"page","properties":{"f5vK":[["b1"]],"meta":{"cover_block":{"url":"https://via.placeholder.com/100","type":"url"}},"title":[["a"]]},"content":["4debb36b-17da-498f-aecc-de558d3f3db9"],"created_time":1653142263765,"last_edited_time":1653142268964,"parent_id":"2d904dc5-5e5f-4b11-882a-8296ad09fa31","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a[...]
- request:
    body: '{"requests": [{"table": "block", "id": "4debb36b-17da-498f-aecc-de558d3f3db9"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"4debb36b-17da-498f-aecc-de558d3f3db9","version":10,"type":"image","properties":{"source":[["https://via.placeholder.com/100"]],"is_cover_block":true},"format":{"display_source":"https://via.placeholder.com/100"},"created_time":1653142268964,"last_edited_time":1653142269778,"parent_id":"7e9130ef-2cf4-42f2-8d2e-e74cda52268c","parent_table":"block","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"block":{"4debb36b-17da-498f-aecc-de558d3f3db9":{"role":"[...]
[...]
- request:
    body: '{"blockIds": ["8c94b450-3bb1-4bef-950d-f22132a45bf8"], "permanentlyDelete":
      true}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
