interactions:
- request:
    body: '{}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":31,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["5585f343-8ea5-469b-8a90-a05987977424"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":5616,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1652698380000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-[...]
- request:
    body: '{"operations": [{"id": "89f4b498-2914-47a9-82be-14f70e4249d4", "path":
      [], "args": {"id": "89f4b498-2914-47a9-82be-14f70e4249d4", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1653405965573, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653405965573}, "command":
      "update", "id": "89f4b498-2914-47a9-82be-14f70e4249d4", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "89f4b498-2914-47a9-82be-14f70e4249d4"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653405965573}, "command":
      "update", "id": "89f4b498-2914-47a9-82be-14f70e4249d4", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "4a5ce1b0-abff-4b07-a984-d4c2edc68775", "path":
      [], "args": {"id": "4a5ce1b0-abff-4b07-a984-d4c2edc68775", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1653405966009, "parent_id": "89f4b498-2914-47a9-82be-14f70e4249d4",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "wlC0": {"name": "b", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "89f4b498-2914-47a9-82be-14f70e4249d4", "path": ["content"], "args":
      {"id": "4a5ce1b0-abff-4b07-a984-d4c2edc68775"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653405966009}, "command":
      "update", "id": "89f4b498-2914-47a9-82be-14f70e4249d4", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653405966009}, "command":
      "update", "id": "89f4b498-2914-47a9-82be-14f70e4249d4", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "89f4b498-2914-47a9-82be-14f70e4249d4", "path":
      ["format", "collection_pointer", "id"], "args": "4a5ce1b0-abff-4b07-a984-d4c2edc68775",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653405966388}, "command":
      "update", "id": "89f4b498-2914-47a9-82be-14f70e4249d4", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "4986a220-9050-45e0-af3a-a930a5f7a76f", "path":
      ["format", "table_properties"], "args": [{"visible": true, "property": "title"},
      {"visible": true, "property": "wlC0"}], "command": "set", "table": "collection_view"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "d46a9be4-1761-40da-986b-882fa9f342e9", "path":
      [], "args": {"id": "d46a9be4-1761-40da-986b-882fa9f342e9", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1653405971743, "parent_id": "4c16d54f-21fd-4103-be76-9d4147ca77cf",
      "parent_table": "block", "type": "text", "child_list_key": null}, "command":
      "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653405971743}, "command":
      "update", "id": "d46a9be4-1761-40da-986b-882fa9f342e9", "path": [], "table":
      "block"}, {"id": "4c16d54f-21fd-4103-be76-9d4147ca77cf", "path": ["content"],
      "args": {"id": "d46a9be4-1761-40da-986b-882fa9f342e9"}, "command": "listAfter",
      "table": "block"}, {"args":[...]
[...]
- request:
    body: '{"page": {"id": "89f4b498-2914-47a9-82be-14f70e4249d4"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"89f4b498-2914-47a9-82be-14f70e4249d4":{"role":"editor","value":{"id":"89f4b498-2914-47a9-82be-14f70e4249d4","version":13,"type":"collection_view_page","content":["4a5ce1b0-abff-4b07-a984-d4c2edc68775","4986a220-9050-45e0-af3a-a930a5f7a76f"],"view_ids":["4986a220-9050-45e0-af3a-a930a5f7a76f"],"format":{"collection_pointer":{"id":"4a5ce1b0-abff-4b07-a984-d4c2edc68775","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1653405965573,"last_edited_time":1653405969676,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":5617,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["89f4b498-2914-47a9-82be-14f70e4249d4"],"created_time":1638259881592,"last_edited_time":1652698380000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection":{"4a5ce1b0-abff-4b07-a984-d4c2edc68775":{"role":"editor","value":{"id":"4a5ce1b0-abff-4b07-a984-d4c2edc68775","version":2,"name":[["TESTING
        PAGE"]],"schema":{"wlC0":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"89f4b498-2914-47a9-82be-14f70e4249d4","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection_view":{"4986a220-9050-45e0-af3a-a930a5f7a76f":{"role":"editor","value":{"id":"4986a220-9050-45e0-af3a-a930a5f7a76f","version":4,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"wlC0"}]},"parent_id":"89f4b498-2914-47a9-82be-14f70e4249d4","parent_table":"block","alive":true,"page_sort":["4c16d54f-21fd-4103-be76-9d4147ca77cf"],"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1653405966721,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"collection": {"id": "4a5ce1b0-abff-4b07-a984-d4c2edc68775", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "4986a220-9050-45e0-af3a-a930a5f7a76f",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"table:uncategorized:title:count":
      {"aggregation": {"aggregator": "count", "property": "title"}, "type": "aggregation"}},
      "searchQuery": "", "sort": [], "userTimeZone": "Asia/Tashkent", "type": "reducer"}}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"table:uncategorized:title:count":{"type":"aggregation","aggregationResult":{"type":"number","value":1}}}},"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"collection": {"id": "4a5ce1b0-abff-4b07-a984-d4c2edc68775", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "4986a220-9050-45e0-af3a-a930a5f7a76f",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 1, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["4c16d54f-21fd-4103-be76-9d4147ca77cf"],"hasMore":false}}},"recordMap":{"block":{"4c16d54f-21fd-4103-be76-9d4147ca77cf":{"role":"editor","value":{"id":"4c16d54f-21fd-4103-be76-9d4147ca77cf","version":11,"type":"page","properties":{"wlC0":[["b1"]],"title":[["a"]]},"content":["d46a9be4-1761-40da-986b-882fa9f342e9"],"created_time":1653405970728,"last_edited_time":1653405971743,"parent_id":"4a5ce1b0-abff-4b07-a984-d4c2edc68775","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"89f4b498-2914-47a9-82be-[...]
[...]
- request:
    body: '{"requests": [{"table": "block", "id": "d46a9be4-1761-40da-986b-882fa9f342e9"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"d46a9be4-1761-40da-986b-882fa9f342e9","version":6,"type":"text","properties":{"title":[["test"]]},"created_time":1653405971743,"last_edited_time":1653405972188,"parent_id":"4c16d54f-21fd-4103-be76-9d4147ca77cf","parent_table":"block","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"block":{"d46a9be4-1761-40da-986b-882fa9f342e9":{"role":"editor","value":{"id":"d46a9be4-1761-40da-986b-882fa9f342e9","version":6,"type":"text","properties":{"title":[["test"]]},"created_time":1653405971743,"last_edited_time":1653405972188,"parent_id":"4c16d54f-21fd-4103-be76-9d4147ca77cf","parent_table":"block","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3[...]
- request:
    body: '{"operations": [{"id": "4c16d54f-21fd-4103-be76-9d4147ca77cf", "path":
      ["properties", "meta", "cover_block"], "args": {"type": "url", "url": "https://via.placeholder.com/100"},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653405976586}, "command":
      "update", "id": "4c16d54f-21fd-4103-be76-9d4147ca77cf", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"requests": [{"table": "block", "id": "cfa9f9de-2073-44c5-bc54-74d382bedd2f"},
      {"table": "block", "id": "4c16d54f-21fd-4103-be76-9d4147ca77cf"}, {"table":
      "block", "id": "4c16d54f-21fd-4103-be76-9d4147ca77cf"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"cfa9f9de-2073-44c5-bc54-74d382bedd2f","version":13,"type":"image","properties":{"source":[["https://via.placeholder.com/100"]]},"format":{"display_source":"https://via.placeholder.com/100"},"created_time":1653405976955,"last_edited_time":1653405979725,"parent_id":"4c16d54f-21fd-4103-be76-9d4147ca77cf","parent_table":"block","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},{"role":"editor","value":{"id":"4c16d54f-21fd-4103-be76-9d4147ca77cf","version":24,"type":"page","properties":{"meta":{"cover_block":{"url":"https://via.placeholder.com/100","type":"url"}},"wlC0":[["b1"]],"title":[["a"]]},"content":["cfa9f9de-2073-44c5-bc54-74d382bedd2f","d46a9be4-1761-40da-986b-882fa9f342e9"],"created_time":1653405970728,"last_edited_time":1653405979725,"parent_id":"4a5ce1b0-abff-4b07-a984-d4c2edc68775","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},{"role":"editor","value":{"id":"4c16d54f-21fd-4103-be76-9d4147ca77cf","version":24,"type":"page","properties":{"meta":{"cover_block":{"url":"https://via.placeholder.com/100","type":"url"}},"wlC0":[["b1"]],"title":[["a"]]},"content":["cfa9f9de-2073-44c5-bc54-74d382bedd2f","d46a9be4-1761-40da-986b-882fa9f342e9"],"created_time":1653405970728,"last_edited_time":1653405979725,"parent_id":"4a5ce1b0-abff-4b07-a984-d4c2edc68775","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"block":{"cfa9f9de-2073-44c5-bc54-74d382bedd2f":{"role":"editor","value":{"id":"cfa9f9de-2073-44c5-bc54-74d382bedd2f","version":13,"type":"image","properties":{"source":[["https://via.placeholder.com/100"]]},"format":{"display_source":"https://via.placeholder.com/100"},"created_time":1653405976955,"last_edited_time":1653405979725,"parent_id":"4c16d54f-21fd-4103-be76-9d4147ca77cf","parent_table":"block","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","las[...]
[...]
- request:
    body: '{"requests": [{"table": "block", "id": "cfa9f9de-2073-44c5-bc54-74d382bedd2f"},
      {"table": "block", "id": "d46a9be4-1761-40da-986b-882fa9f342e9"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"cfa9f9de-2073-44c5-bc54-74d382bedd2f","version":15,"type":"image","properties":{"source":[["https://via.placeholder.com/100"]],"is_cover_block":true},"format":{"display_source":"https://via.placeholder.com/100"},"created_time":1653405976955,"last_edited_time":1653405981069,"parent_id":"4c16d54f-21fd-4103-be76-9d4147ca77cf","parent_table":"block","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},{"role":"editor","value":{"id":"d46a9be4-1761-4[...]
[...]
- request:
    body: '{"blockIds": ["89f4b498-2914-47a9-82be-14f70e4249d4"], "permanentlyDelete":
      true}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
