interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":29,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["5585f343-8ea5-469b-8a90-a05987977424"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":1977,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1651736820000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "bffa8478-0ea9-4feb-8b42-837eb85d839d", "path":
      [], "args": {"id": "bffa8478-0ea9-4feb-8b42-837eb85d839d", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651739998357, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651739998357}, "command":
      "update", "id": "bffa8478-0ea9-4feb-8b42-837eb85d839d", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "bffa8478-0ea9-4feb-8b42-837eb85d839d"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651739998357}, "command":
      "update", "id": "bffa8478-0ea9-4feb-8b42-837eb85d839d", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "05fdf29b-4ed9-49f9-9b9a-0357da43f868", "path":
      [], "args": {"id": "05fdf29b-4ed9-49f9-9b9a-0357da43f868", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651739998843, "parent_id": "bffa8478-0ea9-4feb-8b42-837eb85d839d",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "vuTE": {"name": "b", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "bffa8478-0ea9-4feb-8b42-837eb85d839d", "path": ["content"], "args":
      {"id": "05fdf29b-4ed9-49f9-9b9a-0357da43f868"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651739998843}, "command":
      "update", "id": "bffa8478-0ea9-4feb-8b42-837eb85d839d", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651739998843}, "command":
      "update", "id": "bffa8478-0ea9-4feb-8b42-837eb85d839d", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "bffa8478-0ea9-4feb-8b42-837eb85d839d", "path":
      ["format", "collection_pointer", "id"], "args": "05fdf29b-4ed9-49f9-9b9a-0357da43f868",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651739999264}, "command":
      "update", "id": "bffa8478-0ea9-4feb-8b42-837eb85d839d", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "8639c0a1-ae32-440d-859f-2faa64d3fae6", "path":
      ["format", "table_properties"], "args": [{"visible": true, "property": "title"},
      {"visible": true, "property": "vuTE"}], "command": "set", "table": "collection_view"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "1a8bf2c2-caa6-4082-84c6-af5b85bd485c", "path":
      [], "args": {"id": "1a8bf2c2-caa6-4082-84c6-af5b85bd485c", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651740003539, "parent_id": "a7931914-a05e-4042-99a5-8c7e3eb90e6c",
      "parent_table": "block", "schema": {"title": {"name": "c", "type": "title"},
      "n9PQ": {"name": "d", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "a7931914-a05e-4042-99a5-8c7e3eb90e6c", "path": ["content"], "args":
      {"id": "1a8bf2c2-caa6-4082-84c6-af5b85bd485c"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651740003539}, "command":
      "update", "id": "a7931914-a05e-4042-99a5-8c7e3eb90e6c", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651740003539}, "command":
      "update", "id": "a7931914-a05e-4042-99a5-8c7e3eb90e6c", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"blockId": "a7931914-a05e-4042-99a5-8c7e3eb90e6c"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getPublicPageData
  response:
    body:
      string: '{"spaceName":"test_py","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274","spaceDomain":"laced-taxi-315","canJoinSpace":true,"userHasExplicitAccess":true,"ownerUserId":"a03b888f-5426-4e4f-b5ef-bed855b162f0","betaEnabled":false,"canRequestAccess":true,"requireLogin":false,"publicAccessRole":"none"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "05fdf29b-4ed9-49f9-9b9a-0357da43f868", "path":
      ["schema"], "args": {"title": {"name": "a", "type": "title"}, "vuTE": {"name":
      "b", "type": "relation", "property": "kU2N", "collection_id": "1a8bf2c2-caa6-4082-84c6-af5b85bd485c",
      "collection_pointer": {"id": "1a8bf2c2-caa6-4082-84c6-af5b85bd485c", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274", "table": "collection"}}}, "command":
      "set", "table": "collection"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"page": {"id": "bffa8478-0ea9-4feb-8b42-837eb85d839d"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"bffa8478-0ea9-4feb-8b42-837eb85d839d":{"role":"editor","value":{"id":"bffa8478-0ea9-4feb-8b42-837eb85d839d","version":13,"type":"collection_view_page","content":["05fdf29b-4ed9-49f9-9b9a-0357da43f868","8639c0a1-ae32-440d-859f-2faa64d3fae6"],"view_ids":["8639c0a1-ae32-440d-859f-2faa64d3fae6"],"format":{"collection_pointer":{"id":"05fdf29b-4ed9-49f9-9b9a-0357da43f868","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1651739998357,"last_edited_time":1651740001874,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":1979,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["bffa8478-0ea9-4feb-8b42-837eb85d839d","a7931914-a05e-4042-99a5-8c7e3eb90e6c"],"created_time":1638259881592,"last_edited_time":1651736820000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection":{"05fdf29b-4ed9-49f9-9b9a-0357da43f868":{"role":"editor","value":{"id":"05fdf29b-4ed9-49f9-9b9a-0357da43f868","version":3,"name":[["TESTING
        PAGE"]],"schema":{"vuTE":{"name":"b","type":"relation","property":"kU2N","collection_id":"1a8bf2c2-caa6-4082-84c6-af5b85bd485c","collection_pointer":{"id":"1a8bf2c2-caa6-4082-84c6-af5b85bd485c","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"title":{"name":"a","type":"title"}},"parent_id":"bffa8478-0ea9-4feb-8b42-837eb85d839d","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection_view":{"8639c0a1-ae32-440d-859f-2faa64d3fae6":{"role":"editor","value":{"id":"8639c0a1-ae32-440d-859f-2faa64d3fae6","version":3,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"vuTE"}]},"parent_id":"bffa8478-0ea9-4feb-8b42-837eb85d839d","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1651740001047,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"requests": [{"table": "collection", "id": "1a8bf2c2-caa6-4082-84c6-af5b85bd485c"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"1a8bf2c2-caa6-4082-84c6-af5b85bd485c","version":3,"name":[["TESTING
        PAGE"]],"schema":{"kU2N":{"name":"Related to TESTING PAGE (b)","type":"relation","property":"vuTE","collection_id":"05fdf29b-4ed9-49f9-9b9a-0357da43f868","collection_pointer":{"id":"05fdf29b-4ed9-49f9-9b9a-0357da43f868","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"n9PQ":{"name":"d","type":"text"},"title":{"name":"c","type":"title"}},"parent_id":"a7931914-a05e-4042-99a5-8c7e3eb90e6c","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"collection":{"1a8bf2c2-caa6-4082-84c6-af5b85bd485c":{"role":"editor","value":{"id":"1a8bf2c2-caa6-4082-84c6-af5b85bd485c","version":3,"name":[["TESTING
        PAGE"]],"schema":{"kU2N":{"name":"Related to TESTING PAGE (b)","type":"relation","property":"vuTE","collection_id":"05fdf29b-4ed9-49f9-9b9a-0357da43f868","collection_pointer":{"id":"05fdf29b-4ed9-49f9-9b9a-0357da43f868","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"n9PQ":{"name":"d","type":"text"},"title":{"name":"c","type":"title"}},"parent_id":"a7931914-a05e-4042-99a5-8c7e3eb90e6c","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"block":{"a7931914-a05e-4042-99a5-8c7e3eb90e6c":{"role":"editor","value":{"id":"a7931914-a05e-4042-99a5-8c7e3eb90e6c","version":13,"type":"collection_view_page","content":["1a8bf2c2-caa6-4082-84c6-af5b85bd485c","e14b40ba-7082-4e81-b8eb-277b459724a3"],"view_ids":["e14b40ba-7082-4e81-b8eb-277b459724a3"],"format":{"collection_pointer":{"id":"1a8bf2c2-caa6-4082-84c6-af5b85bd485c","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed85[...]
[...]
- request:
    body: '{"requests": [{"table": "collection_view", "id": "e14b40ba-7082-4e81-b8eb-277b459724a3"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"e14b40ba-7082-4e81-b8eb-277b459724a3","version":3,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"n9PQ"}]},"parent_id":"a7931914-a05e-4042-99a5-8c7e3eb90e6c","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1651740005771,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}],"recordMapWithRoles":{"collection_view":{"e14b40ba-7082-4e81-b8eb-277b459724a3":{"role":"editor","value":{"id":"e14b40ba-7082-4e81-b8eb-277b459724a3","version":3,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"n9PQ"}]},"parent_id":"a7931914-a05e-4042-99a5-8c7e3eb90e6c","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1651740005771,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}},"block":{"a7931914-a05e-4042-99a5-8c7e3eb90[...]
- request:
    body: '{"collection": {"id": "1a8bf2c2-caa6-4082-84c6-af5b85bd485c", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "e14b40ba-7082-4e81-b8eb-277b459724a3",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 100, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":[],"hasMore":false}}},"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"collection": {"id": "05fdf29b-4ed9-49f9-9b9a-0357da43f868", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "8639c0a1-ae32-440d-859f-2faa64d3fae6",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 100, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: "{\"result\":{\"type\":\"reducer\",\"reducerResults\":{\"collection_group_results\":{\"type\":\"results\",\"blockIds\":[\"4a59920d-0c8d-40ea-91d8-93de03d0b233\"],\"hasMore\":false}}},\"recordMap\":{\"block\":{\"4a59920d-0c8d-40ea-91d8-93de03d0b233\":{\"role\":\"editor\",\"value\":{\"id\":\"4a59920d-0c8d-40ea-91d8-93de03d0b233\",\"version\":8,\"type\":\"page\",\"properties\":{\"vuTE\":[[\"\u2023\",[[\"p\",\"e6a056a2-3c8e-4805-a71a-f366c246e255\",\"d51d3ca5-7889-4c70-b906-3a5a37b60274\"]]]],\"title\":[[\"aa\"]]},\"created_time\":1651740012328,\"last_edited_time\":1651740013081,\"parent_id\":\"05fdf29b-4ed9-49f9-9b9a-0357da43f868\",\"parent_table\":\"collection\",\"alive\":true,\"created_by_table\":\"notion_user\",\"created_by_id\":\"a03b888f-5426-4e4f-b5ef-bed855b162f0\",\"last_edited_by_table\":\"notion_user\",\"last_edited_by_id\":\"a03b888f-5426-4e4f-b5ef-bed855b1[...]
[...]
- request:
    body: '{"collection": {"id": "1a8bf2c2-caa6-4082-84c6-af5b85bd485c", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "e14b40ba-7082-4e81-b8eb-277b459724a3",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 100, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: "{\"result\":{\"type\":\"reducer\",\"reducerResults\":{\"collection_group_results\":{\"type\":\"results\",\"blockIds\":[\"e6a056a2-3c8e-4805-a71a-f366c246e255\"],\"hasMore\":false}}},\"recordMap\":{\"block\":{\"e6a056a2-3c8e-4805-a71a-f366c246e255\":{\"role\":\"editor\",\"value\":{\"id\":\"e6a056a2-3c8e-4805-a71a-f366c246e255\",\"version\":7,\"type\":\"page\",\"properties\":{\"kU2N\":[[\"\u2023\",[[\"p\",\"4a59920d-0c8d-40ea-91d8-93de03d0b233\",\"d51d3ca5-7889-4c70-b906-3a5a37b60274\"]]]],\"title\":[[\"bb\"]]},\"created_time\":1651740011468,\"last_edited_time\":1651740011903,\"parent_id\":\"1a8bf2c2-caa6-4082-84c6-af5b85bd485c\",\"parent_table\":\"collection\",\"alive\":true,\"created_by_table\":\"notion_user\",\"created_by_id\":\"a03b888f-[...]
[...]
- request:
    body: '{"blockIds": ["bffa8478-0ea9-4feb-8b42-837eb85d839d"], "permanentlyDelete":
      true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
