interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":31,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["5585f343-8ea5-469b-8a90-a05987977424"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":2821,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1651932240000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "b9086392-c56f-4081-8a3d-8f1fa9903a85", "path":
      [], "args": {"id": "b9086392-c56f-4081-8a3d-8f1fa9903a85", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651992380812, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651992380812}, "command":
      "update", "id": "b9086392-c56f-4081-8a3d-8f1fa9903a85", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "b9086392-c56f-4081-8a3d-8f1fa9903a85"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651992380812}, "command":
      "update", "id": "b9086392-c56f-4081-8a3d-8f1fa9903a85", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "d8575ceb-138b-4732-a8c1-956a0c95aa99", "path":
      [], "args": {"id": "d8575ceb-138b-4732-a8c1-956a0c95aa99", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651992381272, "parent_id": "b9086392-c56f-4081-8a3d-8f1fa9903a85",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "2Nxq": {"name": "b", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "b9086392-c56f-4081-8a3d-8f1fa9903a85", "path": ["content"], "args":
      {"id": "d8575ceb-138b-4732-a8c1-956a0c95aa99"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651992381272}, "command":
      "update", "id": "b9086392-c56f-4081-8a3d-8f1fa9903a85", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651992381272}, "command":
      "update", "id": "b9086392-c56f-4081-8a3d-8f1fa9903a85", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "b9086392-c56f-4081-8a3d-8f1fa9903a85", "path":
      ["format", "collection_pointer", "id"], "args": "d8575ceb-138b-4732-a8c1-956a0c95aa99",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651992381709}, "command":
      "update", "id": "b9086392-c56f-4081-8a3d-8f1fa9903a85", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "bc1a5b17-9ef2-45af-836e-04961e8a57e0", "path":
      ["format", "table_properties"], "args": [{"visible": true, "property": "title"},
      {"visible": true, "property": "2Nxq"}], "command": "set", "table": "collection_view"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"page": {"id": "b9086392-c56f-4081-8a3d-8f1fa9903a85"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"b9086392-c56f-4081-8a3d-8f1fa9903a85":{"role":"editor","value":{"id":"b9086392-c56f-4081-8a3d-8f1fa9903a85","version":13,"type":"collection_view_page","content":["d8575ceb-138b-4732-a8c1-956a0c95aa99","bc1a5b17-9ef2-45af-836e-04961e8a57e0"],"view_ids":["bc1a5b17-9ef2-45af-836e-04961e8a57e0"],"format":{"collection_pointer":{"id":"d8575ceb-138b-4732-a8c1-956a0c95aa99","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1651992380812,"last_edited_time":1651992384457,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":2822,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["b9086392-c56f-4081-8a3d-8f1fa9903a85"],"created_time":1638259881592,"last_edited_time":1651932240000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection":{"d8575ceb-138b-4732-a8c1-956a0c95aa99":{"role":"editor","value":{"id":"d8575ceb-138b-4732-a8c1-956a0c95aa99","version":2,"name":[["TESTING
        PAGE"]],"schema":{"2Nxq":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"b9086392-c56f-4081-8a3d-8f1fa9903a85","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection_view":{"bc1a5b17-9ef2-45af-836e-04961e8a57e0":{"role":"editor","value":{"id":"bc1a5b17-9ef2-45af-836e-04961e8a57e0","version":3,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"2Nxq"}]},"parent_id":"b9086392-c56f-4081-8a3d-8f1fa9903a85","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1651992383465,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "2bb834ca-6b7b-4301-88ca-e273827e175b", "path":
      [], "args": {"id": "2bb834ca-6b7b-4301-88ca-e273827e175b", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651992388389, "parent_id": "3c060275-29a3-4494-8bc3-4ff57b4403db",
      "parent_table": "block", "type": "image", "child_list_key": null}, "command":
      "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651992388389}, "command":
      "update", "id": "2bb834ca-6b7b-4301-88ca-e273827e175b", "path": [], "table":
      "block"}, {"id": "3c060275-29a3-4494-8bc3-4ff57b4403db", "path": ["content"],
      "args": {"id": "2bb834ca-6b7b-4301-88ca-e273827e175b"}, "command": "listAfter",
      "table": "block"}, {"args":[...]
[...]
- request:
    body: '{"operations": [{"id": "2bb834ca-6b7b-4301-88ca-e273827e175b", "path":
      ["properties", "cover_meta"], "args": {"type": "url", "url": "https://via.placeholder.com/100"},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651992389723}, "command":
      "update", "id": "2bb834ca-6b7b-4301-88ca-e273827e175b", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"collection": {"id": "d8575ceb-138b-4732-a8c1-956a0c95aa99", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "bc1a5b17-9ef2-45af-836e-04961e8a57e0",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 100, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["3c060275-29a3-4494-8bc3-4ff57b4403db"],"hasMore":false}}},"recordMap":{"block":{"3c060275-29a3-4494-8bc3-4ff57b4403db":{"role":"editor","value":{"id":"3c060275-29a3-4494-8bc3-4ff57b4403db","version":11,"type":"page","properties":{"2Nxq":[["b"]],"title":[["a"]]},"content":["2bb834ca-6b7b-4301-88ca-e273827e175b"],"created_time":1651992387503,"last_edited_time":1651992388389,"parent_id":"d8575ceb-138b-4732-a8c1-956a0c95aa99","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"b9086392-c56f-4081-8a3d-8[...]
- request:
    body: '{"requests": [{"table": "block", "id": "2bb834ca-6b7b-4301-88ca-e273827e175b"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"2bb834ca-6b7b-4301-88ca-e273827e175b","version":12,"type":"image","properties":{"source":[["https://via.placeholder.com/100"]],"caption":[["test"]],"cover_meta":{"url":"https://via.placeholder.com/100","type":"url"}},"format":{"display_source":"https://via.placeholder.com/100"},"created_time":1651992388389,"last_edited_time":1651992389723,"parent_id":"3c060275-29a3-4494-8bc3-4ff57b4403db","parent_table":"block","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"block":{"2bb834ca-6b7b-4301-88ca-e273827e175b":{"role":"editor","value":{"id":"2bb834ca-6b7b-4301-88ca-e273827e175b","version":12,"type":"image","properties":{"source":[["https://via.placeholder.com/100"]],"caption":[["test"]],"cover_meta":{"url":"https://via.placeholder.com/100","type":"url"}},"format":{"display_source":"https://via.placeholder.com/100"},"created_time":1651992388389,"last_edited_time":1651992389723,"parent_id":"3c060275-29a3-4494-8bc3-4ff57b4403db","parent_table":"block","ali[...]
[...]
- request:
    body: '{"blockIds": ["b9086392-c56f-4081-8a3d-8f1fa9903a85"], "permanentlyDelete":
      true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
