interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":27,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["03b83ede-64a9-4547-98cf-a22bad3f7568"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":1597,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1651581360000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "6dedcc56-b4be-4ee3-9182-d44a91a92280", "path":
      [], "args": {"id": "6dedcc56-b4be-4ee3-9182-d44a91a92280", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651584380109, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651584380109}, "command":
      "update", "id": "6dedcc56-b4be-4ee3-9182-d44a91a92280", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "6dedcc56-b4be-4ee3-9182-d44a91a92280"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651584380109}, "command":
      "update", "id": "6dedcc56-b4be-4ee3-9182-d44a91a92280", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "d76ae461-3288-45f4-b38c-ebc2a1a640be", "path":
      [], "args": {"id": "d76ae461-3288-45f4-b38c-ebc2a1a640be", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651584380639, "parent_id": "6dedcc56-b4be-4ee3-9182-d44a91a92280",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "jD0m": {"name": "b", "type": "number"}}}, "command": "set", "table": "collection"},
      {"id": "6dedcc56-b4be-4ee3-9182-d44a91a92280", "path": ["content"], "args":
      {"id": "d76ae461-3288-45f4-b38c-ebc2a1a640be"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651584380639}, "command":
      "update", "id": "6dedcc56-b4be-4ee3-9182-d44a91a92280", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651584380639}, "command":
      "update", "id": "6dedcc56-b4be-4ee3-9182-d44a91a92280", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "6dedcc56-b4be-4ee3-9182-d44a91a92280", "path":
      ["format", "collection_pointer", "id"], "args": "d76ae461-3288-45f4-b38c-ebc2a1a640be",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651584384140}, "command":
      "update", "id": "6dedcc56-b4be-4ee3-9182-d44a91a92280", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"page": {"id": "6dedcc56-b4be-4ee3-9182-d44a91a92280"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"6dedcc56-b4be-4ee3-9182-d44a91a92280":{"role":"editor","value":{"id":"6dedcc56-b4be-4ee3-9182-d44a91a92280","version":13,"type":"collection_view_page","content":["d76ae461-3288-45f4-b38c-ebc2a1a640be","a6c60deb-96bf-4a80-a03f-35b000110db6"],"view_ids":["a6c60deb-96bf-4a80-a03f-35b000110db6"],"format":{"collection_pointer":{"id":"d76ae461-3288-45f4-b38c-ebc2a1a640be","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1651584380109,"last_edited_time":1651584385537,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":1598,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["6dedcc56-b4be-4ee3-9182-d44a91a92280"],"created_time":1638259881592,"last_edited_time":1651581360000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection":{"d76ae461-3288-45f4-b38c-ebc2a1a640be":{"role":"editor","value":{"id":"d76ae461-3288-45f4-b38c-ebc2a1a640be","version":2,"name":[["TESTING
        PAGE 2371da2b"]],"schema":{"jD0m":{"name":"b","type":"number"},"title":{"name":"a","type":"title"}},"parent_id":"6dedcc56-b4be-4ee3-9182-d44a91a92280","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection_view":{"a6c60deb-96bf-4a80-a03f-35b000110db6":{"role":"editor","value":{"id":"a6c60deb-96bf-4a80-a03f-35b000110db6","version":2,"type":"table","parent_id":"6dedcc56-b4be-4ee3-9182-d44a91a92280","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1651584384565,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"requests": [{"table": "collection", "id": "d76ae461-3288-45f4-b38c-ebc2a1a640be"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"d76ae461-3288-45f4-b38c-ebc2a1a640be","version":2,"name":[["TESTING
        PAGE 2371da2b"]],"schema":{"jD0m":{"name":"b","type":"number"},"title":{"name":"a","type":"title"}},"parent_id":"6dedcc56-b4be-4ee3-9182-d44a91a92280","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"collection":{"d76ae461-3288-45f4-b38c-ebc2a1a640be":{"role":"editor","value":{"id":"d76ae461-3288-45f4-b38c-ebc2a1a640be","version":2,"name":[["TESTING
        PAGE 2371da2b"]],"schema":{"jD0m":{"name":"b","type":"number"},"title":{"name":"a","type":"title"}},"parent_id":"6dedcc56-b4be-4ee3-9182-d44a91a92280","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"block":{"6dedcc56-b4be-4ee3-9182-d44a91a92280":{"role":"editor","value":{"id":"6d[...]
- request:
    body: '{"collection": {"id": "d76ae461-3288-45f4-b38c-ebc2a1a640be", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "a6c60deb-96bf-4a80-a03f-35b000110db6",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 100, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["f8430427-6758-4957-a25e-337d5262aa53"],"hasMore":false}}},"recordMap":{"block":{"f8430427-6758-4957-a25e-337d5262aa53":{"role":"editor","value":{"id":"f8430427-6758-4957-a25e-337d5262aa53","version":8,"type":"page","properties":{"jD0m":[["100"]],"title":[["a1"]]},"created_time":1651584386955,"last_edited_time":1651584387434,"parent_id":"d76ae461-3288-45f4-b38c-ebc2a1a640be","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"6dedcc56-b4be-4ee3-9182-d44a91a92280":{"role":"editor","value":{"id":"6de[...]
[...]
- request:
    body: '{"collection": {"id": "d76ae461-3288-45f4-b38c-ebc2a1a640be", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "a6c60deb-96bf-4a80-a03f-35b000110db6",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 100, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["f8430427-6758-4957-a25e-337d5262aa53","ae41c85a-4080-4595-adec-dd962cf96aa6","bfaac30d-92bc-4431-9ce1-98fbb5c05122"],"hasMore":false}}},"recordMap":{"block":{"f8430427-6758-4957-a25e-337d5262aa53":{"role":"editor","value":{"id":"f8430427-6758-4957-a25e-337d5262aa53","version":8,"type":"page","properties":{"jD0m":[["100"]],"title":[["a1"]]},"created_time":1651584386955,"last_edited_time":1651584387434,"parent_id":"d76ae461-3288-45f4-b38c-ebc2a1a640be","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"ae41c85a-4080-4595-adec-dd962cf96aa6":{"role":"editor","value":{"id":"ae41c85a-4080-4595-adec-dd962cf96aa6","version":8,"type":"page","properties":{"jD0m":[["1.25"]],"title":[["a2"]]},"created_time":1651584391631,"last_edited_time":1651584392072,"parent_id":"d76ae461-3288-45f4-b38c-ebc2a1a640be","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"bfaac30d-92bc-4431-9ce1-98fbb5c05122":{"role":"editor","value":{"id":"bfaac30d-92bc-4431-9ce1-98fbb5c05122","version":8,"type":"page","properties":{"title":[["a3"]]},"created_time":1651584394972,"last_edited_time":1651584395484,"parent_id":"d76ae461-3288-45f4-b38c-ebc2a1a640be","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b90[...]
[...]
- request:
    body: '{"blockIds": ["6dedcc56-b4be-4ee3-9182-d44a91a92280"], "permanentlyDelete":
      true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
