interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":9,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect"}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":27,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["03b83ede-64a9-4547-98cf-a22bad3f7568"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":1325,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1651493580000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "2df9bddf-b9f6-4d10-990e-987a806e6b78", "path":
      [], "args": {"id": "2df9bddf-b9f6-4d10-990e-987a806e6b78", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651556843223, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651556843223}, "command":
      "update", "id": "2df9bddf-b9f6-4d10-990e-987a806e6b78", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "2df9bddf-b9f6-4d10-990e-987a806e6b78"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651556843223}, "command":
      "update", "id": "2df9bddf-b9f6-4d10-990e-987a806e6b78", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "900669e7-8c43-4d6b-b1f1-93cd826ef876", "path":
      [], "args": {"id": "900669e7-8c43-4d6b-b1f1-93cd826ef876", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651556843669, "parent_id": "2df9bddf-b9f6-4d10-990e-987a806e6b78",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "P72p": {"name": "b", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "2df9bddf-b9f6-4d10-990e-987a806e6b78", "path": ["content"], "args":
      {"id": "900669e7-8c43-4d6b-b1f1-93cd826ef876"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651556843669}, "command":
      "update", "id": "2df9bddf-b9f6-4d10-990e-987a806e6b78", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651556843669}, "command":
      "update", "id": "2df9bddf-b9f6-4d10-990e-987a806e6b78", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "2df9bddf-b9f6-4d10-990e-987a806e6b78", "path":
      ["format", "collection_pointer", "id"], "args": "900669e7-8c43-4d6b-b1f1-93cd826ef876",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651556844017}, "command":
      "update", "id": "2df9bddf-b9f6-4d10-990e-987a806e6b78", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "48cfcc67-eb36-4443-8f42-ae4a43ebddd8", "path":
      [], "args": {"id": "48cfcc67-eb36-4443-8f42-ae4a43ebddd8", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651556846491, "parent_id": "3613fe3e-489c-41de-94d6-b6f31dc24be5",
      "parent_table": "block", "schema": {"title": {"name": "c", "type": "title"},
      "hdur": {"name": "d", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "3613fe3e-489c-41de-94d6-b6f31dc24be5", "path": ["content"], "args":
      {"id": "48cfcc67-eb36-4443-8f42-ae4a43ebddd8"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651556846491}, "command":
      "update", "id": "3613fe3e-489c-41de-94d6-b6f31dc24be5", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651556846491}, "command":
      "update", "id": "3613fe3e-489c-41de-94d6-b6f31dc24be5", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"blockId": "3613fe3e-489c-41de-94d6-b6f31dc24be5"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getPublicPageData
  response:
    body:
      string: '{"spaceName":"test_py","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274","spaceDomain":"laced-taxi-315","canJoinSpace":true,"userHasExplicitAccess":true,"ownerUserId":"a03b888f-5426-4e4f-b5ef-bed855b162f0","betaEnabled":false,"canRequestAccess":true,"requireLogin":false,"publicAccessRole":"none"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "900669e7-8c43-4d6b-b1f1-93cd826ef876", "path":
      ["schema"], "args": {"title": {"name": "a", "type": "title"}, "P72p": {"name":
      "b", "type": "relation", "property": "hs7V", "collection_id": "48cfcc67-eb36-4443-8f42-ae4a43ebddd8",
      "collection_pointer": {"id": "48cfcc67-eb36-4443-8f42-ae4a43ebddd8", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274", "table": "collection"}}}, "command":
      "set", "table": "collection"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"page": {"id": "2df9bddf-b9f6-4d10-990e-987a806e6b78"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"2df9bddf-b9f6-4d10-990e-987a806e6b78":{"role":"editor","value":{"id":"2df9bddf-b9f6-4d10-990e-987a806e6b78","version":13,"type":"collection_view_page","content":["900669e7-8c43-4d6b-b1f1-93cd826ef876","bfb38699-2920-4db0-8c8f-5a3e161e1ef3"],"view_ids":["bfb38699-2920-4db0-8c8f-5a3e161e1ef3"],"format":{"collection_pointer":{"id":"900669e7-8c43-4d6b-b1f1-93cd826ef876","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1651556843223,"last_edited_time":1651556845242,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":1327,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["2df9bddf-b9f6-4d10-990e-987a806e6b78","3613fe3e-489c-41de-94d6-b6f31dc24be5"],"created_time":1638259881592,"last_edited_time":1651493580000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection":{"900669e7-8c43-4d6b-b1f1-93cd826ef876":{"role":"editor","value":{"id":"900669e7-8c43-4d6b-b1f1-93cd826ef876","version":3,"name":[["TESTING
        PAGE 2371da2b"]],"schema":{"P72p":{"name":"b","type":"relation","property":"hs7V","collection_id":"48cfcc67-eb36-4443-8f42-ae4a43ebddd8","collection_pointer":{"id":"48cfcc67-eb36-4443-8f42-ae4a43ebddd8","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"title":{"name":"a","type":"title"}},"parent_id":"2df9bddf-b9f6-4d10-990e-987a806e6b78","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection_view":{"bfb38699-2920-4db0-8c8f-5a3e161e1ef3":{"role":"editor","value":{"id":"bfb38699-2920-4db0-8c8f-5a3e161e1ef3","version":2,"type":"table","parent_id":"2df9bddf-b9f6-4d10-990e-987a806e6b78","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1651556844471,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"requests": [{"table": "collection", "id": "48cfcc67-eb36-4443-8f42-ae4a43ebddd8"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"48cfcc67-eb36-4443-8f42-ae4a43ebddd8","version":2,"name":[["TESTING
        PAGE 2371da2b"]],"schema":{"hdur":{"name":"d","type":"text"},"title":{"name":"c","type":"title"}},"parent_id":"3613fe3e-489c-41de-94d6-b6f31dc24be5","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"collection":{"48cfcc67-eb36-4443-8f42-ae4a43ebddd8":{"role":"editor","value":{"id":"48cfcc67-eb36-4443-8f42-ae4a43ebddd8","version":2,"name":[["TESTING
        PAGE 2371da2b"]],"schema":{"hdur":{"name":"d","type":"text"},"title":{"name":"c","type":"title"}},"parent_id":"3613fe3e-489c-41de-94d6-b6f31dc24be5","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"block":{"3613fe3e-489c-41de-94d6-b6f31dc24be5":{"role":"editor","value":{"id":"3613[...]
- request:
    body: '{"requests": [{"table": "collection", "id": "48cfcc67-eb36-4443-8f42-ae4a43ebddd8"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"48cfcc67-eb36-4443-8f42-ae4a43ebddd8","version":3,"name":[["TESTING
        PAGE 2371da2b"]],"schema":{"hdur":{"name":"d","type":"text"},"hs7V":{"name":"Related
        to TESTING PAGE 2371da2b (b)","type":"relation","property":"P72p","collection_id":"900669e7-8c43-4d6b-b1f1-93cd826ef876","collection_pointer":{"id":"900669e7-8c43-4d6b-b1f1-93cd826ef876","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"title":{"name":"c","type":"title"}},"parent_id":"3613fe3e-489c-41de-94d6-b6f31dc24be5","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"[...]
[...]
- request:
    body: '{"collection": {"id": "48cfcc67-eb36-4443-8f42-ae4a43ebddd8", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "055bc259-99b6-4f9c-8e10-9207918ebfcb",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 100, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":[],"hasMore":false}}},"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"collection": {"id": "900669e7-8c43-4d6b-b1f1-93cd826ef876", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "bfb38699-2920-4db0-8c8f-5a3e161e1ef3",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 100, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["a0e9da70-85ea-4846-8d61-bf8ce0f3c897"],"hasMore":false}}},"recordMap":{"block":{"a0e9da70-85ea-4846-8d61-bf8ce0f3c897":{"role":"editor","value":{"id":"a0e9da70-85ea-4846-8d61-bf8ce0f3c897","version":8,"type":"page","properties":{"title":[["aa"]]},"created_time":1651556851718,"last_edited_time":1651556852088,"parent_id":"900669e7-8c43-4d6b-b1f1-93cd826ef876","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"2df9bddf-b9f6-4d10-990e-987a806e6b78":{"role":"editor","value":{"id":"2df9bddf-b9f6-4d10-9[...]
[...]
- request:
    body: '{"blockIds": ["2df9bddf-b9f6-4d10-990e-987a806e6b78"], "permanentlyDelete":
      true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
