interactions:
- request:
    body: '{}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":31,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["5585f343-8ea5-469b-8a90-a05987977424"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":5664,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1652698380000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-[...]
- request:
    body: '{"operations": [{"id": "311d4cd5-3cc5-43dc-945a-6f7e48667893", "path":
      [], "args": {"id": "311d4cd5-3cc5-43dc-945a-6f7e48667893", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1653406359214, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653406359214}, "command":
      "update", "id": "311d4cd5-3cc5-43dc-945a-6f7e48667893", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "311d4cd5-3cc5-43dc-945a-6f7e48667893"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653406359214}, "command":
      "update", "id": "311d4cd5-3cc5-43dc-945a-6f7e48667893", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "84e0e6ce-6d1c-42af-9b92-781b5f16132d", "path":
      [], "args": {"id": "84e0e6ce-6d1c-42af-9b92-781b5f16132d", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1653406359632, "parent_id": "311d4cd5-3cc5-43dc-945a-6f7e48667893",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "grJN": {"name": "b", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "311d4cd5-3cc5-43dc-945a-6f7e48667893", "path": ["content"], "args":
      {"id": "84e0e6ce-6d1c-42af-9b92-781b5f16132d"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653406359632}, "command":
      "update", "id": "311d4cd5-3cc5-43dc-945a-6f7e48667893", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653406359632}, "command":
      "update", "id": "311d4cd5-3cc5-43dc-945a-6f7e48667893", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "311d4cd5-3cc5-43dc-945a-6f7e48667893", "path":
      ["format", "collection_pointer", "id"], "args": "84e0e6ce-6d1c-42af-9b92-781b5f16132d",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653406360010}, "command":
      "update", "id": "311d4cd5-3cc5-43dc-945a-6f7e48667893", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "d8e67124-e2e7-4941-bf28-c7c3651b243c", "path":
      ["format", "table_properties"], "args": [{"visible": true, "property": "title"},
      {"visible": true, "property": "grJN"}], "command": "set", "table": "collection_view"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "a9869bb0-5909-4575-99fa-5b68c8d00f70", "path":
      [], "args": {"id": "a9869bb0-5909-4575-99fa-5b68c8d00f70", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1653406362639, "parent_id": "f4a2853d-afa9-4849-a0e4-af7b3c67e4e5",
      "parent_table": "block", "schema": {"title": {"name": "c", "type": "title"},
      "k1p8": {"name": "d", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "f4a2853d-afa9-4849-a0e4-af7b3c67e4e5", "path": ["content"], "args":
      {"id": "a9869bb0-5909-4575-99fa-5b68c8d00f70"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653406362639}, "command":
      "update", "id": "f4a2853d-afa9-4849-a0e4-af7b3c67e4e5", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653406362639}, "command":
      "update", "id": "f4a2853d-afa9-4849-a0e4-af7b3c67e4e5", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"blockId": "f4a2853d-afa9-4849-a0e4-af7b3c67e4e5"}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getPublicPageData
  response:
    body:
      string: '{"spaceName":"test_py","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274","spaceDomain":"laced-taxi-315","canJoinSpace":true,"userHasExplicitAccess":true,"ownerUserId":"a03b888f-5426-4e4f-b5ef-bed855b162f0","betaEnabled":false,"canRequestAccess":true,"requireLogin":false,"publicAccessRole":"none"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "84e0e6ce-6d1c-42af-9b92-781b5f16132d", "path":
      ["schema"], "args": {"title": {"name": "a", "type": "title"}, "grJN": {"name":
      "b", "type": "relation", "property": "eVPx", "collection_id": "a9869bb0-5909-4575-99fa-5b68c8d00f70",
      "collection_pointer": {"id": "a9869bb0-5909-4575-99fa-5b68c8d00f70", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274", "table": "collection"}}}, "command":
      "set", "table": "collection"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"page": {"id": "311d4cd5-3cc5-43dc-945a-6f7e48667893"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"311d4cd5-3cc5-43dc-945a-6f7e48667893":{"role":"editor","value":{"id":"311d4cd5-3cc5-43dc-945a-6f7e48667893","version":13,"type":"collection_view_page","content":["84e0e6ce-6d1c-42af-9b92-781b5f16132d","d8e67124-e2e7-4941-bf28-c7c3651b243c"],"view_ids":["d8e67124-e2e7-4941-bf28-c7c3651b243c"],"format":{"collection_pointer":{"id":"84e0e6ce-6d1c-42af-9b92-781b5f16132d","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1653406359214,"last_edited_time":1653406361227,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":5666,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["311d4cd5-3cc5-43dc-945a-6f7e48667893","f4a2853d-afa9-4849-a0e4-af7b3c67e4e5"],"created_time":1638259881592,"last_edited_time":1652698380000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection":{"84e0e6ce-6d1c-42af-9b92-781b5f16132d":{"role":"editor","value":{"id":"84e0e6ce-6d1c-42af-9b92-781b5f16132d","version":3,"name":[["TESTING
        PAGE"]],"schema":{"grJN":{"name":"b","type":"relation","property":"eVPx","collection_id":"a9869bb0-5909-4575-99fa-5b68c8d00f70","collection_pointer":{"id":"a9869bb0-5909-4575-99fa-5b68c8d00f70","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"title":{"name":"a","type":"title"}},"parent_id":"311d4cd5-3cc5-43dc-945a-6f7e48667893","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection_view":{"d8e67124-e2e7-4941-bf28-c7c3651b243c":{"role":"editor","value":{"id":"d8e67124-e2e7-4941-bf28-c7c3651b243c","version":3,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"grJN"}]},"parent_id":"311d4cd5-3cc5-43dc-945a-6f7e48667893","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1653406360341,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"requests": [{"table": "collection", "id": "a9869bb0-5909-4575-99fa-5b68c8d00f70"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"a9869bb0-5909-4575-99fa-5b68c8d00f70","version":3,"name":[["TESTING
        PAGE"]],"schema":{"eVPx":{"name":"Related to TESTING PAGE (b)","type":"relation","property":"grJN","collection_id":"84e0e6ce-6d1c-42af-9b92-781b5f16132d","collection_pointer":{"id":"84e0e6ce-6d1c-42af-9b92-781b5f16132d","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"k1p8":{"name":"d","type":"text"},"title":{"name":"c","type":"title"}},"parent_id":"f4a2853d-afa9-4849-a0e4-af7b3c67e4e5","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"collection":{"a9869bb0-5909-4575-99fa-5b68c8d00f70":{"role":"editor","value":{"id":"a9869bb0-5909-4575-99fa-5b68c8d00f70","version":3,"name":[["TESTING
        PAGE"]],"schema":{"eVPx":{"name":"Related to TESTING PAGE (b)","type":"relation","property":"grJN","collection_id":"84e0e6ce-6d1c-42af-9b92-781b5f16132d","collection_pointer":{"id":"84e0e6ce-6d1c-42af-9b92-781b5f16132d","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"k1p8":{"name":"d","type":"text"},"title":{"name":"c","type":"title"}},"parent_id":"f4a2853d-afa9-4849-a0e4-af7b3c67e4e5","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"block":{"f4a2853d-afa9-4849-a0e4-af7b3c67e4e5":{"role":"editor","value":{"id":"f4a2853d-afa9-4849-a0e4-af7b3c67e4e5","version":13,"type":"collection_view_page","content":["a9869bb0-5909-4575-99fa-5b68c8d00f70","84aefbff-e6ff-4f95-a5a8-f1f8567948f0"],"view_ids":["84aefbff-e6ff-4f95-a5a8-f1f8567948f0"],"format":{"collection_pointer":{"id":"a9869bb0-5909-4575-99fa-5b68c8d00f70","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed85[...]
[...]
- request:
    body: '{"blockIds": ["311d4cd5-3cc5-43dc-945a-6f7e48667893"], "permanentlyDelete":
      true}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
