interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":9,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect"}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":27,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["03b83ede-64a9-4547-98cf-a22bad3f7568"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":1291,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1651493580000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "6a3c6e27-70df-4fb3-8c0d-eec6ae2af3ed", "path":
      [], "args": {"id": "6a3c6e27-70df-4fb3-8c0d-eec6ae2af3ed", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651556670235, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651556670235}, "command":
      "update", "id": "6a3c6e27-70df-4fb3-8c0d-eec6ae2af3ed", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "6a3c6e27-70df-4fb3-8c0d-eec6ae2af3ed"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651556670235}, "command":
      "update", "id": "6a3c6e27-70df-4fb3-8c0d-eec6ae2af3ed", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "77e0dd0a-899c-4c40-a686-8bc8fc083369", "path":
      [], "args": {"id": "77e0dd0a-899c-4c40-a686-8bc8fc083369", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651556670615, "parent_id": "6a3c6e27-70df-4fb3-8c0d-eec6ae2af3ed",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "wE5L": {"name": "b", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "6a3c6e27-70df-4fb3-8c0d-eec6ae2af3ed", "path": ["content"], "args":
      {"id": "77e0dd0a-899c-4c40-a686-8bc8fc083369"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651556670615}, "command":
      "update", "id": "6a3c6e27-70df-4fb3-8c0d-eec6ae2af3ed", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651556670615}, "command":
      "update", "id": "6a3c6e27-70df-4fb3-8c0d-eec6ae2af3ed", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "6a3c6e27-70df-4fb3-8c0d-eec6ae2af3ed", "path":
      ["format", "collection_pointer", "id"], "args": "77e0dd0a-899c-4c40-a686-8bc8fc083369",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651556670984}, "command":
      "update", "id": "6a3c6e27-70df-4fb3-8c0d-eec6ae2af3ed", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"page": {"id": "6a3c6e27-70df-4fb3-8c0d-eec6ae2af3ed"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"6a3c6e27-70df-4fb3-8c0d-eec6ae2af3ed":{"role":"editor","value":{"id":"6a3c6e27-70df-4fb3-8c0d-eec6ae2af3ed","version":13,"type":"collection_view_page","content":["77e0dd0a-899c-4c40-a686-8bc8fc083369","fa803a7c-2fe7-42ac-90b9-90f670c65587"],"view_ids":["fa803a7c-2fe7-42ac-90b9-90f670c65587"],"format":{"collection_pointer":{"id":"77e0dd0a-899c-4c40-a686-8bc8fc083369","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1651556670235,"last_edited_time":1651556672070,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":1292,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["6a3c6e27-70df-4fb3-8c0d-eec6ae2af3ed"],"created_time":1638259881592,"last_edited_time":1651493580000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection":{"77e0dd0a-899c-4c40-a686-8bc8fc083369":{"role":"editor","value":{"id":"77e0dd0a-899c-4c40-a686-8bc8fc083369","version":2,"name":[["TESTING
        PAGE 2371da2b"]],"schema":{"wE5L":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"6a3c6e27-70df-4fb3-8c0d-eec6ae2af3ed","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection_view":{"fa803a7c-2fe7-42ac-90b9-90f670c65587":{"role":"editor","value":{"id":"fa803a7c-2fe7-42ac-90b9-90f670c65587","version":2,"type":"table","parent_id":"6a3c6e27-70df-4fb3-8c0d-eec6ae2af3ed","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1651556671335,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"requests": [{"table": "collection", "id": "77e0dd0a-899c-4c40-a686-8bc8fc083369"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"77e0dd0a-899c-4c40-a686-8bc8fc083369","version":2,"name":[["TESTING
        PAGE 2371da2b"]],"schema":{"wE5L":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"6a3c6e27-70df-4fb3-8c0d-eec6ae2af3ed","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"collection":{"77e0dd0a-899c-4c40-a686-8bc8fc083369":{"role":"editor","value":{"id":"77e0dd0a-899c-4c40-a686-8bc8fc083369","version":2,"name":[["TESTING
        PAGE 2371da2b"]],"schema":{"wE5L":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"6a3c6e27-70df-4fb3-8c0d-eec6ae2af3ed","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"block":{"6a3c6e27-70df-4fb3-8c0d-eec6ae2af3ed":{"role":"editor","value":{"id":"6a3c[...]
- request:
    body: '{"collection": {"id": "77e0dd0a-899c-4c40-a686-8bc8fc083369", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "fa803a7c-2fe7-42ac-90b9-90f670c65587",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 100, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["52ca6806-393c-4345-bd8a-6f3ac87bc42d"],"hasMore":false}}},"recordMap":{"block":{"52ca6806-393c-4345-bd8a-6f3ac87bc42d":{"role":"editor","value":{"id":"52ca6806-393c-4345-bd8a-6f3ac87bc42d","version":8,"type":"page","properties":{"wE5L":[["b"]],"title":[["a"]]},"created_time":1651556679247,"last_edited_time":1651556679632,"parent_id":"77e0dd0a-899c-4c40-a686-8bc8fc083369","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"6a3c6e27-70df-4fb3-8c0d-eec6ae2af3ed":{"role":"editor","value":{"id":"6a3c6e[...]
- request:
    body: '{"operations": [{"id": "58221834-106f-4772-9e6a-ee5c17233245", "path":
      [], "args": {"id": "58221834-106f-4772-9e6a-ee5c17233245", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651556680650, "parent_id": "52ca6806-393c-4345-bd8a-6f3ac87bc42d",
      "parent_table": "block", "type": "image", "child_list_key": null}, "command":
      "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651556680650}, "command":
      "update", "id": "58221834-106f-4772-9e6a-ee5c17233245", "path": [], "table":
      "block"}, {"id": "52ca6806-393c-4345-bd8a-6f3ac87bc42d", "path": ["content"],
      "args": {"id": "58221834-106f-4772-9e6a-ee5c17233245"}, "command": "listAfter",
      "table": "block"}, {"args":[...]
[...]
- request:
    body: '{"requests": [{"table": "block", "id": "58221834-106f-4772-9e6a-ee5c17233245"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"58221834-106f-4772-9e6a-ee5c17233245","version":10,"type":"image","properties":{"source":[["https://via.placeholder.com/100"]],"caption":[["cover"]]},"format":{"display_source":"https://via.placeholder.com/100"},"created_time":1651556680650,"last_edited_time":1651556681016,"parent_id":"52ca6806-393c-4345-bd8a-6f3ac87bc42d","parent_table":"block","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"block":{"58221834-106f-4772-9e6a-ee5c17233245":{"role":"[...]
[...]
- request:
    body: '{"blockIds": ["6a3c6e27-70df-4fb3-8c0d-eec6ae2af3ed"], "permanentlyDelete":
      true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
