interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":31,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["5585f343-8ea5-469b-8a90-a05987977424"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":2751,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1651932240000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "32874556-a3b2-4420-9082-a5e97d9408df", "path":
      [], "args": {"id": "32874556-a3b2-4420-9082-a5e97d9408df", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651935139943, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651935139944}, "command":
      "update", "id": "32874556-a3b2-4420-9082-a5e97d9408df", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "32874556-a3b2-4420-9082-a5e97d9408df"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651935139944}, "command":
      "update", "id": "32874556-a3b2-4420-9082-a5e97d9408df", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "9dda59fc-fecd-4a81-8c6b-8458b36b0cda", "path":
      [], "args": {"id": "9dda59fc-fecd-4a81-8c6b-8458b36b0cda", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651935140927, "parent_id": "32874556-a3b2-4420-9082-a5e97d9408df",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "cYvH": {"name": "b", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "32874556-a3b2-4420-9082-a5e97d9408df", "path": ["content"], "args":
      {"id": "9dda59fc-fecd-4a81-8c6b-8458b36b0cda"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651935140927}, "command":
      "update", "id": "32874556-a3b2-4420-9082-a5e97d9408df", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651935140927}, "command":
      "update", "id": "32874556-a3b2-4420-9082-a5e97d9408df", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "32874556-a3b2-4420-9082-a5e97d9408df", "path":
      ["format", "collection_pointer", "id"], "args": "9dda59fc-fecd-4a81-8c6b-8458b36b0cda",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651935141317}, "command":
      "update", "id": "32874556-a3b2-4420-9082-a5e97d9408df", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "e4ddd8ba-25b2-4adc-a2c5-27a76a4855ff", "path":
      ["format", "table_properties"], "args": [{"visible": true, "property": "title"},
      {"visible": true, "property": "cYvH"}], "command": "set", "table": "collection_view"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"page": {"id": "32874556-a3b2-4420-9082-a5e97d9408df"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"32874556-a3b2-4420-9082-a5e97d9408df":{"role":"editor","value":{"id":"32874556-a3b2-4420-9082-a5e97d9408df","version":13,"type":"collection_view_page","content":["9dda59fc-fecd-4a81-8c6b-8458b36b0cda","e4ddd8ba-25b2-4adc-a2c5-27a76a4855ff"],"view_ids":["e4ddd8ba-25b2-4adc-a2c5-27a76a4855ff"],"format":{"collection_pointer":{"id":"9dda59fc-fecd-4a81-8c6b-8458b36b0cda","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1651935139943,"last_edited_time":1651935142349,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":2752,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["32874556-a3b2-4420-9082-a5e97d9408df"],"created_time":1638259881592,"last_edited_time":1651932240000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection":{"9dda59fc-fecd-4a81-8c6b-8458b36b0cda":{"role":"editor","value":{"id":"9dda59fc-fecd-4a81-8c6b-8458b36b0cda","version":2,"name":[["TESTING
        PAGE"]],"schema":{"cYvH":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"32874556-a3b2-4420-9082-a5e97d9408df","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection_view":{"e4ddd8ba-25b2-4adc-a2c5-27a76a4855ff":{"role":"editor","value":{"id":"e4ddd8ba-25b2-4adc-a2c5-27a76a4855ff","version":4,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"cYvH"}]},"parent_id":"32874556-a3b2-4420-9082-a5e97d9408df","parent_table":"block","alive":true,"page_sort":["61170f61-27da-43f4-890c-70ab132f5b4d"],"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1651935141640,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"requests": [{"table": "collection", "id": "9dda59fc-fecd-4a81-8c6b-8458b36b0cda"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"9dda59fc-fecd-4a81-8c6b-8458b36b0cda","version":2,"name":[["TESTING
        PAGE"]],"schema":{"cYvH":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"32874556-a3b2-4420-9082-a5e97d9408df","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"collection":{"9dda59fc-fecd-4a81-8c6b-8458b36b0cda":{"role":"editor","value":{"id":"9dda59fc-fecd-4a81-8c6b-8458b36b0cda","version":2,"name":[["TESTING
        PAGE"]],"schema":{"cYvH":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"32874556-a3b2-4420-9082-a5e97d9408df","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"block":{"32874556-a3b2-4420-9082-a5e97d9408df":{"role":"editor","value":{"id":"32874556-a3b2[...]
- request:
    body: '{"collection": {"id": "9dda59fc-fecd-4a81-8c6b-8458b36b0cda", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "e4ddd8ba-25b2-4adc-a2c5-27a76a4855ff",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 100, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["61170f61-27da-43f4-890c-70ab132f5b4d"],"hasMore":false}}},"recordMap":{"block":{"61170f61-27da-43f4-890c-70ab132f5b4d":{"role":"editor","value":{"id":"61170f61-27da-43f4-890c-70ab132f5b4d","version":8,"type":"page","properties":{"cYvH":[["b"]],"title":[["a"]]},"created_time":1651935144424,"last_edited_time":1651935144790,"parent_id":"9dda59fc-fecd-4a81-8c6b-8458b36b0cda","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"32874556-a3b2-4420-9082-a5e97d9408df":{"role":"editor","value":{"id":"328745[...]
[...]
- request:
    body: '{"operations": [{"id": "61170f61-27da-43f4-890c-70ab132f5b4d", "path":
      ["properties", "cover_meta"], "args": {"type": "url", "url": "https://via.placeholder.com/100"},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651935148301}, "command":
      "update", "id": "61170f61-27da-43f4-890c-70ab132f5b4d", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"collection": {"id": "9dda59fc-fecd-4a81-8c6b-8458b36b0cda", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "e4ddd8ba-25b2-4adc-a2c5-27a76a4855ff",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 100, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["61170f61-27da-43f4-890c-70ab132f5b4d"],"hasMore":false}}},"recordMap":{"block":{"61170f61-27da-43f4-890c-70ab132f5b4d":{"role":"editor","value":{"id":"61170f61-27da-43f4-890c-70ab132f5b4d","version":17,"type":"page","properties":{"cYvH":[["b"]],"title":[["a"]],"cover_meta":{"url":"https://via.placeholder.com/100","type":"url"}},"format":{"page_cover":"https://via.placeholder.com/100"},"created_time":1651935144424,"last_edited_time":1651935148301,"parent_id":"9dda59fc-fecd-4a81-8c6b-8458b36b0cda","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"32874556-a3b2-4420-9082-a5e97d9408df":{"role":"editor","value":{"id":"3287[...]
[...]
- request:
    body: '{"blockIds": ["32874556-a3b2-4420-9082-a5e97d9408df"], "permanentlyDelete":
      true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
