interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":31,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["5585f343-8ea5-469b-8a90-a05987977424"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":2371,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1651765740000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "0ab78a95-0cc7-43c5-bd62-21843d367d30", "path":
      [], "args": {"id": "0ab78a95-0cc7-43c5-bd62-21843d367d30", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651906058938, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651906058938}, "command":
      "update", "id": "0ab78a95-0cc7-43c5-bd62-21843d367d30", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "0ab78a95-0cc7-43c5-bd62-21843d367d30"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651906058938}, "command":
      "update", "id": "0ab78a95-0cc7-43c5-bd62-21843d367d30", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "050927bb-9486-499c-b006-1a34637b2ac9", "path":
      [], "args": {"id": "050927bb-9486-499c-b006-1a34637b2ac9", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651906059418, "parent_id": "0ab78a95-0cc7-43c5-bd62-21843d367d30",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "TQIS": {"name": "b", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "0ab78a95-0cc7-43c5-bd62-21843d367d30", "path": ["content"], "args":
      {"id": "050927bb-9486-499c-b006-1a34637b2ac9"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651906059418}, "command":
      "update", "id": "0ab78a95-0cc7-43c5-bd62-21843d367d30", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651906059418}, "command":
      "update", "id": "0ab78a95-0cc7-43c5-bd62-21843d367d30", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "0ab78a95-0cc7-43c5-bd62-21843d367d30", "path":
      ["format", "collection_pointer", "id"], "args": "050927bb-9486-499c-b006-1a34637b2ac9",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651906059854}, "command":
      "update", "id": "0ab78a95-0cc7-43c5-bd62-21843d367d30", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "e0894b24-6677-43f4-8df0-7777bd819a02", "path":
      ["format", "table_properties"], "args": [{"visible": true, "property": "title"},
      {"visible": true, "property": "TQIS"}], "command": "set", "table": "collection_view"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "99e3d334-a61f-49d4-a6e6-d2797303997b", "path":
      [], "args": {"id": "99e3d334-a61f-49d4-a6e6-d2797303997b", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651906063255, "parent_id": "0515547f-bbd8-49d9-b12d-0e8bfc014280",
      "parent_table": "block", "type": "image", "child_list_key": null}, "command":
      "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651906063255}, "command":
      "update", "id": "99e3d334-a61f-49d4-a6e6-d2797303997b", "path": [], "table":
      "block"}, {"id": "0515547f-bbd8-49d9-b12d-0e8bfc014280", "path": ["content"],
      "args": {"id": "99e3d334-a61f-49d4-a6e6-d2797303997b"}, "command": "listAfter",
      "table": "block"}, {"args":[...]
[...]
- request:
    body: '{"page": {"id": "0ab78a95-0cc7-43c5-bd62-21843d367d30"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"0ab78a95-0cc7-43c5-bd62-21843d367d30":{"role":"editor","value":{"id":"0ab78a95-0cc7-43c5-bd62-21843d367d30","version":13,"type":"collection_view_page","content":["050927bb-9486-499c-b006-1a34637b2ac9","e0894b24-6677-43f4-8df0-7777bd819a02"],"view_ids":["e0894b24-6677-43f4-8df0-7777bd819a02"],"format":{"collection_pointer":{"id":"050927bb-9486-499c-b006-1a34637b2ac9","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1651906058938,"last_edited_time":1651906061113,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":2372,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["0ab78a95-0cc7-43c5-bd62-21843d367d30"],"created_time":1638259881592,"last_edited_time":1651765740000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection":{"050927bb-9486-499c-b006-1a34637b2ac9":{"role":"editor","value":{"id":"050927bb-9486-499c-b006-1a34637b2ac9","version":2,"name":[["TESTING
        PAGE"]],"schema":{"TQIS":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"0ab78a95-0cc7-43c5-bd62-21843d367d30","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection_view":{"e0894b24-6677-43f4-8df0-7777bd819a02":{"role":"editor","value":{"id":"e0894b24-6677-43f4-8df0-7777bd819a02","version":4,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"TQIS"}]},"parent_id":"0ab78a95-0cc7-43c5-bd62-21843d367d30","parent_table":"block","alive":true,"page_sort":["0515547f-bbd8-49d9-b12d-0e8bfc014280"],"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1651906060242,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"requests": [{"table": "collection", "id": "050927bb-9486-499c-b006-1a34637b2ac9"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"050927bb-9486-499c-b006-1a34637b2ac9","version":2,"name":[["TESTING
        PAGE"]],"schema":{"TQIS":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"0ab78a95-0cc7-43c5-bd62-21843d367d30","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"collection":{"050927bb-9486-499c-b006-1a34637b2ac9":{"role":"editor","value":{"id":"050927bb-9486-499c-b006-1a34637b2ac9","version":2,"name":[["TESTING
        PAGE"]],"schema":{"TQIS":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"0ab78a95-0cc7-43c5-bd62-21843d367d30","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"block":{"0ab78a95-0cc7-43c5-bd62-21843d367d30":{"role":"editor","value":{"id":"0ab78a95-0cc7[...]
- request:
    body: '{"collection": {"id": "050927bb-9486-499c-b006-1a34637b2ac9", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "e0894b24-6677-43f4-8df0-7777bd819a02",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 100, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["0515547f-bbd8-49d9-b12d-0e8bfc014280"],"hasMore":false}}},"recordMap":{"block":{"0515547f-bbd8-49d9-b12d-0e8bfc014280":{"role":"editor","value":{"id":"0515547f-bbd8-49d9-b12d-0e8bfc014280","version":11,"type":"page","properties":{"TQIS":[["b1"]],"title":[["a"]]},"content":["99e3d334-a61f-49d4-a6e6-d2797303997b"],"created_time":1651906062391,"last_edited_time":1651906063255,"parent_id":"050927bb-9486-499c-b006-1a34637b2ac9","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"0ab78a95-0cc7-43c5-bd62-[...]
[...]
- request:
    body: '{"requests": [{"table": "block", "id": "99e3d334-a61f-49d4-a6e6-d2797303997b"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"99e3d334-a61f-49d4-a6e6-d2797303997b","version":8,"type":"image","properties":{"caption":[["cover"]]},"format":{"display_source":"https://via.placeholder.com/200"},"created_time":1651906063255,"last_edited_time":1651906063656,"parent_id":"0515547f-bbd8-49d9-b12d-0e8bfc014280","parent_table":"block","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"block":{"99e3d334-a61f-49d4-a6e6-d2797303997b":{"role":"[...]
[...]
- request:
    body: '{"requests": [{"table": "block", "id": "99e3d334-a61f-49d4-a6e6-d2797303997b"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"99e3d334-a61f-49d4-a6e6-d2797303997b","version":15,"type":"image","properties":{"source":[["https://via.placeholder.com/100"]],"caption":[["cover"]]},"format":{"display_source":"https://via.placeholder.com/100"},"created_time":1651906063255,"last_edited_time":1651906067420,"parent_id":"0515547f-bbd8-49d9-b12d-0e8bfc014280","parent_table":"block","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b6[...]
[...]
- request:
    body: '{"blockIds": ["0ab78a95-0cc7-43c5-bd62-21843d367d30"], "permanentlyDelete":
      true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
