interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":27,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["03b83ede-64a9-4547-98cf-a22bad3f7568"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":1573,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1651581360000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "72588b7d-c55e-493c-b8fe-3534a8ff435b", "path":
      [], "args": {"id": "72588b7d-c55e-493c-b8fe-3534a8ff435b", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651583080005, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651583080005}, "command":
      "update", "id": "72588b7d-c55e-493c-b8fe-3534a8ff435b", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "72588b7d-c55e-493c-b8fe-3534a8ff435b"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651583080005}, "command":
      "update", "id": "72588b7d-c55e-493c-b8fe-3534a8ff435b", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "a1549d2b-d889-46ca-b97b-4421612d2b89", "path":
      [], "args": {"id": "a1549d2b-d889-46ca-b97b-4421612d2b89", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651583080475, "parent_id": "72588b7d-c55e-493c-b8fe-3534a8ff435b",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "KdSR": {"name": "b", "type": "multi_select"}}}, "command": "set", "table":
      "collection"}, {"id": "72588b7d-c55e-493c-b8fe-3534a8ff435b", "path": ["content"],
      "args": {"id": "a1549d2b-d889-46ca-b97b-4421612d2b89"}, "command": "listAfter",
      "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651583080475}, "command":
      "update", "id": "72588b7d-c55e-493c-b8fe-3534a8ff435b", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651583080475}, "command":
      "update", "id": "72588b7d-c55e-493c-b8fe-3534a8ff435b", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "72588b7d-c55e-493c-b8fe-3534a8ff435b", "path":
      ["format", "collection_pointer", "id"], "args": "a1549d2b-d889-46ca-b97b-4421612d2b89",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651583080872}, "command":
      "update", "id": "72588b7d-c55e-493c-b8fe-3534a8ff435b", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"page": {"id": "72588b7d-c55e-493c-b8fe-3534a8ff435b"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"72588b7d-c55e-493c-b8fe-3534a8ff435b":{"role":"editor","value":{"id":"72588b7d-c55e-493c-b8fe-3534a8ff435b","version":13,"type":"collection_view_page","content":["a1549d2b-d889-46ca-b97b-4421612d2b89","9ef831f3-1755-4177-861c-3b9402234ecc"],"view_ids":["9ef831f3-1755-4177-861c-3b9402234ecc"],"format":{"collection_pointer":{"id":"a1549d2b-d889-46ca-b97b-4421612d2b89","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1651583080005,"last_edited_time":1651583082081,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":1574,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["72588b7d-c55e-493c-b8fe-3534a8ff435b"],"created_time":1638259881592,"last_edited_time":1651581360000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection_view":{"9ef831f3-1755-4177-861c-3b9402234ecc":{"role":"editor","value":{"id":"9ef831f3-1755-4177-861c-3b9402234ecc","version":2,"type":"table","parent_id":"72588b7d-c55e-493c-b8fe-3534a8ff435b","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1651583081262,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}},"collection":{"a1549d2b-d889-46ca-b97b-4421612d2b89":{"role":"editor","value":{"id":"a1549d2b-d889-46ca-b97b-4421612d2b89","version":2,"name":[["TESTING
        PAGE 2371da2b"]],"schema":{"KdSR":{"name":"b","type":"multi_select"},"title":{"name":"a","type":"title"}},"parent_id":"72588b7d-c55e-493c-b8fe-3534a8ff435b","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "4931854e-19e2-4388-8f02-d7d28f931aae", "path":
      ["properties", "title"], "args": [["a"]], "command": "set", "table": "block"},
      {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "last_edited_by_table":
      "notion_user", "last_edited_time": 1651583083717}, "command": "update", "id":
      "4931854e-19e2-4388-8f02-d7d28f931aae", "path": [], "table": "block"}, {"id":
      "a1549d2b-d889-46ca-b97b-4421612d2b89", "path": ["schema", "KdSR", "options"],
      "args": [{"id": "99b9952a-cae1-11ec-8614-74d02bcb0a5c", "value": "b1", "color":
      "default"}, {"id": "99b9952b-cae1-11ec-aa5c-74d02bcb0a5c", "value": "b2", "color":
      "default"}, {"id": "99b9952c-cae1-11ec-8b6a-74d02bcb0a5c", "value": "b3", "color":
      "default"}], "command": "set", "table": "collection"}, {"id": "4931854e-19e2-4388-8f02-d7d28f931aae",
      "path": ["properties", "KdSR"], "args": [["b1,b2,b3"]], "command": "set", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651583083717}, "command":
      "update", "id": "4931854e-19e2-4388-8f02-d7d28f931aae", "path": [], "table":
      "block"}, {"id": "9ef831f3-1755-4177-861c-3b9402234ecc", "path": ["page_sort"],
      "args": ["4931854e-19e2-4388-8f02-d7d28f931aae"], "command": "set", "table":
      "collection_view"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651583083717}, "command":
      "update", "id": "4931854e-19e2-4388-8f02-d7d28f931aae", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"requests": [{"table": "collection", "id": "a1549d2b-d889-46ca-b97b-4421612d2b89"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"a1549d2b-d889-46ca-b97b-4421612d2b89","version":3,"name":[["TESTING
        PAGE 2371da2b"]],"schema":{"KdSR":{"name":"b","type":"multi_select","options":[{"id":"99b9952a-cae1-11ec-8614-74d02bcb0a5c","color":"default","value":"b1"},{"id":"99b9952b-cae1-11ec-aa5c-74d02bcb0a5c","color":"default","value":"b2"},{"id":"99b9952c-cae1-11ec-8b6a-74d02bcb0a5c","color":"default","value":"b3"}]},"title":{"name":"a","type":"title"}},"parent_id":"72588b7d-c55e-493c-b8fe-3534a8ff435b","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"collection":{"a1549d2b-d889-46ca-b97b-4421612d2b89":{"role":"editor","value":{"id":"a1549d2b-d889-46ca-b97b-4421612d2b89","version":3,"name":[["TESTING
        PAGE 2371da2b"]],"schema":{"KdSR":{"name":"b","type":"multi_select","options":[{"id":"99b9952a-cae1-11ec-8614-74d02bcb0a5c","color":"default","value":"b1"},{"id":"99b9952b-cae1-11ec-aa5c-74d02bcb0a5c","color":"default","value":"b2"},{"id":"99b9952c-cae1-11ec-8b6a-74d02bcb0a5c","color":"default","value":"b3"}]},"title":{"name":"a","type"[...]
- request:
    body: '{"collection": {"id": "a1549d2b-d889-46ca-b97b-4421612d2b89", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "9ef831f3-1755-4177-861c-3b9402234ecc",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 100, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["4931854e-19e2-4388-8f02-d7d28f931aae"],"hasMore":false}}},"recordMap":{"block":{"4931854e-19e2-4388-8f02-d7d28f931aae":{"role":"editor","value":{"id":"4931854e-19e2-4388-8f02-d7d28f931aae","version":8,"type":"page","properties":{"KdSR":[["b1,b2,b3"]],"title":[["a"]]},"created_time":1651583083269,"last_edited_time":1651583083717,"parent_id":"a1549d2b-d889-46ca-b97b-4421612d2b89","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"72588b7d-c55e-493c-b8fe-3534a8ff435b":{"role":"editor","value":{"id":[...]
[...]
- request:
    body: '{"blockIds": ["72588b7d-c55e-493c-b8fe-3534a8ff435b"], "permanentlyDelete":
      true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
