interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":31,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["5585f343-8ea5-469b-8a90-a05987977424"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":2385,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1651765740000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "b12bc5d3-a6ad-4413-be53-addf609c3807", "path":
      [], "args": {"id": "b12bc5d3-a6ad-4413-be53-addf609c3807", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651906137193, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651906137193}, "command":
      "update", "id": "b12bc5d3-a6ad-4413-be53-addf609c3807", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "b12bc5d3-a6ad-4413-be53-addf609c3807"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651906137193}, "command":
      "update", "id": "b12bc5d3-a6ad-4413-be53-addf609c3807", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "98bdb9bd-88e9-479e-9f93-9023339fefcb", "path":
      [], "args": {"id": "98bdb9bd-88e9-479e-9f93-9023339fefcb", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651906137672, "parent_id": "b12bc5d3-a6ad-4413-be53-addf609c3807",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "zjKg": {"name": "b", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "b12bc5d3-a6ad-4413-be53-addf609c3807", "path": ["content"], "args":
      {"id": "98bdb9bd-88e9-479e-9f93-9023339fefcb"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651906137672}, "command":
      "update", "id": "b12bc5d3-a6ad-4413-be53-addf609c3807", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651906137672}, "command":
      "update", "id": "b12bc5d3-a6ad-4413-be53-addf609c3807", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "b12bc5d3-a6ad-4413-be53-addf609c3807", "path":
      ["format", "collection_pointer", "id"], "args": "98bdb9bd-88e9-479e-9f93-9023339fefcb",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651906138114}, "command":
      "update", "id": "b12bc5d3-a6ad-4413-be53-addf609c3807", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "2234ca4c-facc-4fa3-ba67-a08f0a11b7cb", "path":
      ["format", "table_properties"], "args": [{"visible": true, "property": "title"},
      {"visible": true, "property": "zjKg"}], "command": "set", "table": "collection_view"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"blockId": "fe9ebd5a-9670-4dc0-b2e1-1e5ff228fcae"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getPublicPageData
  response:
    body:
      string: '{"spaceName":"test_py","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274","spaceDomain":"laced-taxi-315","canJoinSpace":true,"userHasExplicitAccess":true,"ownerUserId":"a03b888f-5426-4e4f-b5ef-bed855b162f0","betaEnabled":false,"canRequestAccess":true,"requireLogin":false,"publicAccessRole":"none"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "98bdb9bd-88e9-479e-9f93-9023339fefcb", "path":
      ["schema"], "args": {"title": {"name": "a", "type": "title"}, "zjKg": {"name":
      "b", "type": "relation", "property": "AnTG", "collection_id": "ea02a78b-aa7b-4331-9832-f8b3caaf78fd",
      "collection_pointer": {"id": "ea02a78b-aa7b-4331-9832-f8b3caaf78fd", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274", "table": "collection"}}}, "command":
      "set", "table": "collection"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"page": {"id": "b12bc5d3-a6ad-4413-be53-addf609c3807"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"b12bc5d3-a6ad-4413-be53-addf609c3807":{"role":"editor","value":{"id":"b12bc5d3-a6ad-4413-be53-addf609c3807","version":13,"type":"collection_view_page","content":["98bdb9bd-88e9-479e-9f93-9023339fefcb","2234ca4c-facc-4fa3-ba67-a08f0a11b7cb"],"view_ids":["2234ca4c-facc-4fa3-ba67-a08f0a11b7cb"],"format":{"collection_pointer":{"id":"98bdb9bd-88e9-479e-9f93-9023339fefcb","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1651906137193,"last_edited_time":1651906139340,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":2387,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["b12bc5d3-a6ad-4413-be53-addf609c3807","fe9ebd5a-9670-4dc0-b2e1-1e5ff228fcae"],"created_time":1638259881592,"last_edited_time":1651765740000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection":{"98bdb9bd-88e9-479e-9f93-9023339fefcb":{"role":"editor","value":{"id":"98bdb9bd-88e9-479e-9f93-9023339fefcb","version":3,"name":[["TESTING
        PAGE"]],"schema":{"zjKg":{"name":"b","type":"relation","property":"AnTG","collection_id":"ea02a78b-aa7b-4331-9832-f8b3caaf78fd","collection_pointer":{"id":"ea02a78b-aa7b-4331-9832-f8b3caaf78fd","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"title":{"name":"a","type":"title"}},"parent_id":"b12bc5d3-a6ad-4413-be53-addf609c3807","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection_view":{"2234ca4c-facc-4fa3-ba67-a08f0a11b7cb":{"role":"editor","value":{"id":"2234ca4c-facc-4fa3-ba67-a08f0a11b7cb","version":3,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"zjKg"}]},"parent_id":"b12bc5d3-a6ad-4413-be53-addf609c3807","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1651906138508,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"requests": [{"table": "collection", "id": "ea02a78b-aa7b-4331-9832-f8b3caaf78fd"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"ea02a78b-aa7b-4331-9832-f8b3caaf78fd","version":3,"name":[["TESTING
        PAGE"]],"schema":{"15fj":{"name":"d","type":"text"},"AnTG":{"name":"Related
        to TESTING PAGE (b)","type":"relation","property":"zjKg","collection_id":"98bdb9bd-88e9-479e-9f93-9023339fefcb","collection_pointer":{"id":"98bdb9bd-88e9-479e-9f93-9023339fefcb","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"title":{"name":"c","type":"title"}},"parent_id":"fe9ebd5a-9670-4dc0-b2e1-1e5ff228fcae","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"collection":{"ea02a78b-aa7b-4331-9832-f8b3caaf78fd":{"role":"editor","value":{"id":"ea02a78b-aa7b-4331-9832-f8b3caaf78fd","version":3,"name":[["TESTING
        PAGE"]],"schema":{"15fj":{"name":"d","type":"text"},"AnTG":{"name":"Related
        to TESTING PAGE (b)","type":"relation","property":"zjKg","collection_id":"98bdb9bd-88e9-479e-9f93-9023339fefcb","collection_pointer":{"id":"98bdb9bd-88e9-479e-9f93-9023339fefcb","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"title":{"name":"c","type":"title"}},"parent_id":"fe9ebd5a-9670-4dc0-b2e1-1e5ff228fcae","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"block":{"fe9ebd5a-9670-4dc0-b2e1-1e5ff228fcae":{"role":"editor","value":{"id":"fe9ebd5a-9670-4dc0-b2e1-1e5ff228fcae","version":13,"type":"collection_view_page","content":["ea02a78b-aa7b-4331-9832-f8b3caaf78fd","4f0d65aa-a3bc-4d60-9586-e1c7dd5898ae"],"view_ids":["4f0d65aa-a3bc-4d60-9586-e1c7dd5898ae"],"format":{"collection_pointer":{"id":"ea02a78b-aa7b-4331-9832-f8b3caaf78fd","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed85[...]
[...]
- request:
    body: '{"collection": {"id": "ea02a78b-aa7b-4331-9832-f8b3caaf78fd", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "4f0d65aa-a3bc-4d60-9586-e1c7dd5898ae",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 100, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":[],"hasMore":false}}},"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"collection": {"id": "98bdb9bd-88e9-479e-9f93-9023339fefcb", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "2234ca4c-facc-4fa3-ba67-a08f0a11b7cb",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 100, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: "{\"result\":{\"type\":\"reducer\",\"reducerResults\":{\"collection_group_results\":{\"type\":\"results\",\"blockIds\":[\"e8dddc20-ae53-4d84-a7e5-6cdcbd130539\"],\"hasMore\":false}}},\"recordMap\":{\"block\":{\"e8dddc20-ae53-4d84-a7e5-6cdcbd130539\":{\"role\":\"editor\",\"value\":{\"id\":\"e8dddc20-ae53-4d84-a7e5-6cdcbd130539\",\"version\":8,\"type\":\"page\",\"properties\":{\"zjKg\":[[\"\u2023\",[[\"p\",\"cd3631e2-0621-418b-8184-3227a3230cdf\",\"d51d3ca5-7889-4c70-b906-3a5a37b60274\"]]]],\"title\":[[\"aa\"]]},\"created_time\":1651906149923,\"last_edited_time\":1651906150349,\"parent_id\":\"98bdb9bd-88e9-479e-9f93-9023339fefcb\",\"parent_table\":\"collection\",\"alive\":true,\"created_by_table\":\"notion_user\",\"created_by_id\":\"a03b888f-5426-4e4f-b5ef-bed855b162f0\",\"last_edited_by_table\":\"notion_user\",\"last_edited_by_id\":\"a03b888f-5426-4e4f-b5ef-bed855b1[...]
- request:
    body: '{"collection": {"id": "ea02a78b-aa7b-4331-9832-f8b3caaf78fd", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "4f0d65aa-a3bc-4d60-9586-e1c7dd5898ae",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 100, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: "{\"result\":{\"type\":\"reducer\",\"reducerResults\":{\"collection_group_results\":{\"type\":\"results\",\"blockIds\":[\"cd3631e2-0621-418b-8184-3227a3230cdf\"],\"hasMore\":false}}},\"recordMap\":{\"block\":{\"cd3631e2-0621-418b-8184-3227a3230cdf\":{\"role\":\"editor\",\"value\":{\"id\":\"cd3631e2-0621-418b-8184-3227a3230cdf\",\"version\":7,\"type\":\"page\",\"properties\":{\"AnTG\":[[\"\u2023\",[[\"p\",\"e8dddc20-ae53-4d84-a7e5-6cdcbd130539\",\"d51d3ca5-7889-4c70-b906-3a5a37b60274\"]]]],\"title\":[[\"bb\"]]},\"created_time\":1651906148236,\"last_edited_time\":1651906148661,\"parent_id\":\"ea02a78b-aa7b-4331-9832-f8b3caaf78fd\",\"parent_table\":\"collection\",\"alive\":true,\"created_by_table\":\"notion_user\",\"created_by_id\":\"a03b888f-[...]
[...]
- request:
    body: '{"blockIds": ["b12bc5d3-a6ad-4413-be53-addf609c3807"], "permanentlyDelete":
      true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
