interactions:
- request:
    body: '{}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":31,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["5585f343-8ea5-469b-8a90-a05987977424"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":5500,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1652698380000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-[...]
- request:
    body: '{"operations": [{"id": "709fb250-027c-4af9-a0a4-19d92cac1d46", "path":
      [], "args": {"id": "709fb250-027c-4af9-a0a4-19d92cac1d46", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1653405211879, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653405211879}, "command":
      "update", "id": "709fb250-027c-4af9-a0a4-19d92cac1d46", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "709fb250-027c-4af9-a0a4-19d92cac1d46"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653405211879}, "command":
      "update", "id": "709fb250-027c-4af9-a0a4-19d92cac1d46", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "7e218ccc-f2f2-4ff0-96c6-37bb9bbfd00c", "path":
      [], "args": {"id": "7e218ccc-f2f2-4ff0-96c6-37bb9bbfd00c", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1653405212272, "parent_id": "709fb250-027c-4af9-a0a4-19d92cac1d46",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "Y9PV": {"name": "b", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "709fb250-027c-4af9-a0a4-19d92cac1d46", "path": ["content"], "args":
      {"id": "7e218ccc-f2f2-4ff0-96c6-37bb9bbfd00c"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653405212272}, "command":
      "update", "id": "709fb250-027c-4af9-a0a4-19d92cac1d46", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653405212272}, "command":
      "update", "id": "709fb250-027c-4af9-a0a4-19d92cac1d46", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "709fb250-027c-4af9-a0a4-19d92cac1d46", "path":
      ["format", "collection_pointer", "id"], "args": "7e218ccc-f2f2-4ff0-96c6-37bb9bbfd00c",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653405214160}, "command":
      "update", "id": "709fb250-027c-4af9-a0a4-19d92cac1d46", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "7c0f1adc-4603-4164-9731-544ea845b1f0", "path":
      ["format", "table_properties"], "args": [{"visible": true, "property": "title"},
      {"visible": true, "property": "Y9PV"}], "command": "set", "table": "collection_view"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "0c9de6d9-2209-43c3-8ba5-28698cba835e", "path":
      [], "args": {"id": "0c9de6d9-2209-43c3-8ba5-28698cba835e", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1653405216624, "parent_id": "0db49965-fc32-47e4-974e-ed284a697691",
      "parent_table": "block", "schema": {"title": {"name": "c", "type": "title"},
      "gqnN": {"name": "d", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "0db49965-fc32-47e4-974e-ed284a697691", "path": ["content"], "args":
      {"id": "0c9de6d9-2209-43c3-8ba5-28698cba835e"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653405216624}, "command":
      "update", "id": "0db49965-fc32-47e4-974e-ed284a697691", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653405216624}, "command":
      "update", "id": "0db49965-fc32-47e4-974e-ed284a697691", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"blockId": "0db49965-fc32-47e4-974e-ed284a697691"}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getPublicPageData
  response:
    body:
      string: '{"spaceName":"test_py","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274","spaceDomain":"laced-taxi-315","canJoinSpace":true,"userHasExplicitAccess":true,"ownerUserId":"a03b888f-5426-4e4f-b5ef-bed855b162f0","betaEnabled":false,"canRequestAccess":true,"requireLogin":false,"publicAccessRole":"none"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "7e218ccc-f2f2-4ff0-96c6-37bb9bbfd00c", "path":
      ["schema"], "args": {"title": {"name": "a", "type": "title"}, "Y9PV": {"name":
      "b", "type": "relation", "property": "gSEZ", "collection_id": "0c9de6d9-2209-43c3-8ba5-28698cba835e",
      "collection_pointer": {"id": "0c9de6d9-2209-43c3-8ba5-28698cba835e", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274", "table": "collection"}}}, "command":
      "set", "table": "collection"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"page": {"id": "709fb250-027c-4af9-a0a4-19d92cac1d46"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"709fb250-027c-4af9-a0a4-19d92cac1d46":{"role":"editor","value":{"id":"709fb250-027c-4af9-a0a4-19d92cac1d46","version":13,"type":"collection_view_page","content":["7e218ccc-f2f2-4ff0-96c6-37bb9bbfd00c","7c0f1adc-4603-4164-9731-544ea845b1f0"],"view_ids":["7c0f1adc-4603-4164-9731-544ea845b1f0"],"format":{"collection_pointer":{"id":"7e218ccc-f2f2-4ff0-96c6-37bb9bbfd00c","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1653405211879,"last_edited_time":1653405215220,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":5502,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["709fb250-027c-4af9-a0a4-19d92cac1d46","0db49965-fc32-47e4-974e-ed284a697691"],"created_time":1638259881592,"last_edited_time":1652698380000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection":{"7e218ccc-f2f2-4ff0-96c6-37bb9bbfd00c":{"role":"editor","value":{"id":"7e218ccc-f2f2-4ff0-96c6-37bb9bbfd00c","version":3,"name":[["TESTING
        PAGE"]],"schema":{"Y9PV":{"name":"b","type":"relation","property":"gSEZ","collection_id":"0c9de6d9-2209-43c3-8ba5-28698cba835e","collection_pointer":{"id":"0c9de6d9-2209-43c3-8ba5-28698cba835e","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"title":{"name":"a","type":"title"}},"parent_id":"709fb250-027c-4af9-a0a4-19d92cac1d46","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection_view":{"7c0f1adc-4603-4164-9731-544ea845b1f0":{"role":"editor","value":{"id":"7c0f1adc-4603-4164-9731-544ea845b1f0","version":3,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"Y9PV"}]},"parent_id":"709fb250-027c-4af9-a0a4-19d92cac1d46","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1653405214505,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"requests": [{"table": "collection", "id": "0c9de6d9-2209-43c3-8ba5-28698cba835e"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"0c9de6d9-2209-43c3-8ba5-28698cba835e","version":3,"name":[["TESTING
        PAGE"]],"schema":{"gSEZ":{"name":"Related to TESTING PAGE (b)","type":"relation","property":"Y9PV","collection_id":"7e218ccc-f2f2-4ff0-96c6-37bb9bbfd00c","collection_pointer":{"id":"7e218ccc-f2f2-4ff0-96c6-37bb9bbfd00c","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"gqnN":{"name":"d","type":"text"},"title":{"name":"c","type":"title"}},"parent_id":"0db49965-fc32-47e4-974e-ed284a697691","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"collection":{"0c9de6d9-2209-43c3-8ba5-28698cba835e":{"role":"editor","value":{"id":"0c9de6d9-2209-43c3-8ba5-28698cba835e","version":3,"name":[["TESTING
        PAGE"]],"schema":{"gSEZ":{"name":"Related to TESTING PAGE (b)","type":"relation","property":"Y9PV","collection_id":"7e218ccc-f2f2-4ff0-96c6-37bb9bbfd00c","collection_pointer":{"id":"7e218ccc-f2f2-4ff0-96c6-37bb9bbfd00c","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"gqnN":{"name":"d","type":"text"},"title":{"na[...]
- request:
    body: '{"requests": [{"table": "collection_view", "id": "bcf6c3df-e96a-4471-adf0-2c6fc6efda1b"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"bcf6c3df-e96a-4471-adf0-2c6fc6efda1b","version":4,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"gqnN"}]},"parent_id":"0db49965-fc32-47e4-974e-ed284a697691","parent_table":"block","alive":true,"page_sort":["9fde3c65-a494-4817-93dd-a393b2f8cb16"],"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1653405218596,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}],"recordMapWithRoles":{"collection_view":{"bcf6c3df-e96a-4471-adf0-2c6fc6efda1b":{"role":"editor","value":{"id":"bcf6c3df-e96a-4471-adf0-2c6fc6efda1b","version":4,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"gqnN"}]},"parent_id":"0db49965-fc32-47e4-974e-ed284a697691","parent_table":"block","alive":true,"page_sort":["9fde3c65-a494-4817-93dd-a393b2f8cb16"],"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1653405218596,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b[...]
- request:
    body: '{"collection": {"id": "0c9de6d9-2209-43c3-8ba5-28698cba835e", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "bcf6c3df-e96a-4471-adf0-2c6fc6efda1b",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"table:uncategorized:title:count":
      {"aggregation": {"aggregator": "count", "property": "title"}, "type": "aggregation"}},
      "searchQuery": "", "sort": [], "userTimeZone": "Asia/Tashkent", "type": "reducer"}}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"table:uncategorized:title:count":{"type":"aggregation","aggregationResult":{"type":"number","value":1}}}},"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"collection": {"id": "0c9de6d9-2209-43c3-8ba5-28698cba835e", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "bcf6c3df-e96a-4471-adf0-2c6fc6efda1b",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 1, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["9fde3c65-a494-4817-93dd-a393b2f8cb16"],"hasMore":false}}},"recordMap":{"block":{"9fde3c65-a494-4817-93dd-a393b2f8cb16":{"role":"editor","value":{"id":"9fde3c65-a494-4817-93dd-a393b2f8cb16","version":6,"type":"page","properties":{"title":[["cc"]]},"created_time":1653405221403,"last_edited_time":1653405221790,"parent_id":"0c9de6d9-2209-43c3-8ba5-28698cba835e","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"0db49965-fc32-47e4-974e-ed284a697691":{"role":"editor","value":{"id":"0db49965-fc32-47e4-9[...]
[...]
- request:
    body: '{"collection": {"id": "7e218ccc-f2f2-4ff0-96c6-37bb9bbfd00c", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "7c0f1adc-4603-4164-9731-544ea845b1f0",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 1, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["b1200122-c4c0-4fd9-8033-82bbe0ebb09a"],"hasMore":false}}},"recordMap":{"block":{"b1200122-c4c0-4fd9-8033-82bbe0ebb09a":{"role":"editor","value":{"id":"b1200122-c4c0-4fd9-8033-82bbe0ebb09a","version":8,"type":"page","properties":{"title":[["a"]]},"created_time":1653405224862,"last_edited_time":1653405225398,"parent_id":"7e218ccc-f2f2-4ff0-96c6-37bb9bbfd00c","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906[...]
[...]
- request:
    body: '{"blockIds": ["709fb250-027c-4af9-a0a4-19d92cac1d46"], "permanentlyDelete":
      true}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
