interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":9,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect"}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":27,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["03b83ede-64a9-4547-98cf-a22bad3f7568"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":1299,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1651493580000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "6cab103f-5503-4f22-891a-16f9d43fca28", "path":
      [], "args": {"id": "6cab103f-5503-4f22-891a-16f9d43fca28", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651556718758, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651556718758}, "command":
      "update", "id": "6cab103f-5503-4f22-891a-16f9d43fca28", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "6cab103f-5503-4f22-891a-16f9d43fca28"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651556718758}, "command":
      "update", "id": "6cab103f-5503-4f22-891a-16f9d43fca28", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "3655bb39-44cb-41b1-b606-9d8dc429f147", "path":
      [], "args": {"id": "3655bb39-44cb-41b1-b606-9d8dc429f147", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651556719146, "parent_id": "6cab103f-5503-4f22-891a-16f9d43fca28",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "AQIg": {"name": "b", "type": "text"}, "PXUy": {"name": "image url", "type":
      "text"}}}, "command": "set", "table": "collection"}, {"id": "6cab103f-5503-4f22-891a-16f9d43fca28",
      "path": ["content"], "args": {"id": "3655bb39-44cb-41b1-b606-9d8dc429f147"},
      "command": "listAfter", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651556719146}, "command":
      "update", "id": "6cab103f-5503-4f22-891a-16f9d43fca28", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651556719146}, "command":
      "update", "id": "6cab103f-5503-4f22-891a-16f9d43fca28", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "6cab103f-5503-4f22-891a-16f9d43fca28", "path":
      ["format", "collection_pointer", "id"], "args": "3655bb39-44cb-41b1-b606-9d8dc429f147",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651556719515}, "command":
      "update", "id": "6cab103f-5503-4f22-891a-16f9d43fca28", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"page": {"id": "6cab103f-5503-4f22-891a-16f9d43fca28"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"6cab103f-5503-4f22-891a-16f9d43fca28":{"role":"editor","value":{"id":"6cab103f-5503-4f22-891a-16f9d43fca28","version":13,"type":"collection_view_page","content":["3655bb39-44cb-41b1-b606-9d8dc429f147","32fdab62-77c4-4acf-9835-4849c626194b"],"view_ids":["32fdab62-77c4-4acf-9835-4849c626194b"],"format":{"collection_pointer":{"id":"3655bb39-44cb-41b1-b606-9d8dc429f147","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1651556718758,"last_edited_time":1651556720585,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":1300,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["6cab103f-5503-4f22-891a-16f9d43fca28"],"created_time":1638259881592,"last_edited_time":1651493580000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection":{"3655bb39-44cb-41b1-b606-9d8dc429f147":{"role":"editor","value":{"id":"3655bb39-44cb-41b1-b606-9d8dc429f147","version":2,"name":[["TESTING
        PAGE 2371da2b"]],"schema":{"AQIg":{"name":"b","type":"text"},"PXUy":{"name":"image
        url","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"6cab103f-5503-4f22-891a-16f9d43fca28","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection_view":{"32fdab62-77c4-4acf-9835-4849c626194b":{"role":"editor","value":{"id":"32fdab62-77c4-4acf-9835-4849c626194b","version":2,"type":"table","parent_id":"6cab103f-5503-4f22-891a-16f9d43fca28","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1651556719862,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"requests": [{"table": "collection", "id": "3655bb39-44cb-41b1-b606-9d8dc429f147"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"3655bb39-44cb-41b1-b606-9d8dc429f147","version":2,"name":[["TESTING
        PAGE 2371da2b"]],"schema":{"AQIg":{"name":"b","type":"text"},"PXUy":{"name":"image
        url","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"6cab103f-5503-4f22-891a-16f9d43fca28","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"collection":{"3655bb39-44cb-41b1-b606-9d8dc429f147":{"role":"editor","value":{"id":"3655bb39-44cb-41b1-b606-9d8dc429f147","version":2,"name":[["TESTING
        PAGE 2371da2b"]],"schema":{"AQIg":{"name":"b","type":"text"},"PXUy":{"name":"image
        url","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"6cab103f-5503-4f22-891a-16f9d43fca28","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"block":{"6cab103f-5503-4f22-891a-[...]
- request:
    body: '{"collection": {"id": "3655bb39-44cb-41b1-b606-9d8dc429f147", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "32fdab62-77c4-4acf-9835-4849c626194b",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 100, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["a2f46886-d724-41f8-b591-0fe082383dbb"],"hasMore":false}}},"recordMap":{"block":{"a2f46886-d724-41f8-b591-0fe082383dbb":{"role":"editor","value":{"id":"a2f46886-d724-41f8-b591-0fe082383dbb","version":10,"type":"page","properties":{"AQIg":[["b"]],"PXUy":[["https://via.placeholder.com/100"]],"title":[["a"]]},"created_time":1651556722120,"last_edited_time":1651556722890,"parent_id":"3655bb39-44cb-41b1-b606-9d8dc429f147","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"6cab103f-5503-4f22-891a-16f9d43[...]
- request:
    body: '{"operations": [{"id": "030c94f7-41f6-4c6b-871b-d037af73f74b", "path":
      [], "args": {"id": "030c94f7-41f6-4c6b-871b-d037af73f74b", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651556728318, "parent_id": "a2f46886-d724-41f8-b591-0fe082383dbb",
      "parent_table": "block", "type": "image", "child_list_key": null}, "command":
      "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651556728318}, "command":
      "update", "id": "030c94f7-41f6-4c6b-871b-d037af73f74b", "path": [], "table":
      "block"}, {"id": "a2f46886-d724-41f8-b591-0fe082383dbb", "path": ["content"],
      "args": {"id": "030c94f7-41f6-4c6b-871b-d037af73f74b"}, "command": "listAfter",
      "table": "block"}, {"args":[...]
[...]
- request:
    body: '{"requests": [{"table": "block", "id": "030c94f7-41f6-4c6b-871b-d037af73f74b"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"030c94f7-41f6-4c6b-871b-d037af73f74b","version":10,"type":"image","properties":{"source":[["https://via.placeholder.com/100"]],"caption":[["cover"]]},"format":{"display_source":"https://via.placeholder.com/100"},"created_time":1651556728318,"last_edited_time":1651556728719,"parent_id":"a2f46886-d724-41f8-b591-0fe082383dbb","parent_table":"block","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"block":{"030c94f7-41f6-4c6b-871b-d037af73f74b":{"role":"[...]
[...]
- request:
    body: '{"blockIds": ["6cab103f-5503-4f22-891a-16f9d43fca28"], "permanentlyDelete":
      true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
