interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":9,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect"}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":27,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["03b83ede-64a9-4547-98cf-a22bad3f7568"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":1417,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1651493580000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "053f2531-3412-426f-a65c-37d4d5f32e0b", "path":
      [], "args": {"id": "053f2531-3412-426f-a65c-37d4d5f32e0b", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651561705631, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651561705631}, "command":
      "update", "id": "053f2531-3412-426f-a65c-37d4d5f32e0b", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "053f2531-3412-426f-a65c-37d4d5f32e0b"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651561705631}, "command":
      "update", "id": "053f2531-3412-426f-a65c-37d4d5f32e0b", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "3a2f6388-8ef3-453d-b830-f78f602e4ace", "path":
      [], "args": {"id": "3a2f6388-8ef3-453d-b830-f78f602e4ace", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651561706148, "parent_id": "053f2531-3412-426f-a65c-37d4d5f32e0b",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "Yq0I": {"name": "b", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "053f2531-3412-426f-a65c-37d4d5f32e0b", "path": ["content"], "args":
      {"id": "3a2f6388-8ef3-453d-b830-f78f602e4ace"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651561706148}, "command":
      "update", "id": "053f2531-3412-426f-a65c-37d4d5f32e0b", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651561706148}, "command":
      "update", "id": "053f2531-3412-426f-a65c-37d4d5f32e0b", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "053f2531-3412-426f-a65c-37d4d5f32e0b", "path":
      ["format", "collection_pointer", "id"], "args": "3a2f6388-8ef3-453d-b830-f78f602e4ace",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651561707655}, "command":
      "update", "id": "053f2531-3412-426f-a65c-37d4d5f32e0b", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"page": {"id": "053f2531-3412-426f-a65c-37d4d5f32e0b"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"053f2531-3412-426f-a65c-37d4d5f32e0b":{"role":"editor","value":{"id":"053f2531-3412-426f-a65c-37d4d5f32e0b","version":13,"type":"collection_view_page","content":["3a2f6388-8ef3-453d-b830-f78f602e4ace","22d5c831-cf7e-452b-964d-361f036ec98c"],"view_ids":["22d5c831-cf7e-452b-964d-361f036ec98c"],"format":{"collection_pointer":{"id":"3a2f6388-8ef3-453d-b830-f78f602e4ace","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1651561705631,"last_edited_time":1651561708894,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":1418,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["053f2531-3412-426f-a65c-37d4d5f32e0b"],"created_time":1638259881592,"last_edited_time":1651493580000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection":{"3a2f6388-8ef3-453d-b830-f78f602e4ace":{"role":"editor","value":{"id":"3a2f6388-8ef3-453d-b830-f78f602e4ace","version":2,"name":[["TESTING
        PAGE 2371da2b"]],"schema":{"Yq0I":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"053f2531-3412-426f-a65c-37d4d5f32e0b","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection_view":{"22d5c831-cf7e-452b-964d-361f036ec98c":{"role":"editor","value":{"id":"22d5c831-cf7e-452b-964d-361f036ec98c","version":4,"type":"table","parent_id":"053f2531-3412-426f-a65c-37d4d5f32e0b","parent_table":"block","alive":true,"page_sort":["8f698210-03c5-4333-a468-5a7947c737e0","8ac2a061-f01b-42f0-a0a8-ecb1900b4811"],"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1651561708034,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"requests": [{"table": "collection", "id": "3a2f6388-8ef3-453d-b830-f78f602e4ace"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"3a2f6388-8ef3-453d-b830-f78f602e4ace","version":2,"name":[["TESTING
        PAGE 2371da2b"]],"schema":{"Yq0I":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"053f2531-3412-426f-a65c-37d4d5f32e0b","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"collection":{"3a2f6388-8ef3-453d-b830-f78f602e4ace":{"role":"editor","value":{"id":"3a2f6388-8ef3-453d-b830-f78f602e4ace","version":2,"name":[["TESTING
        PAGE 2371da2b"]],"schema":{"Yq0I":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"053f2531-3412-426f-a65c-37d4d5f32e0b","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"block":{"053f2531-3412-426f-a65c-37d4d5f32e0b":{"role":"editor","value":{"id":"053f[...]
- request:
    body: '{"collection": {"id": "3a2f6388-8ef3-453d-b830-f78f602e4ace", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "22d5c831-cf7e-452b-964d-361f036ec98c",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 100, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["8f698210-03c5-4333-a468-5a7947c737e0","8ac2a061-f01b-42f0-a0a8-ecb1900b4811"],"hasMore":false}}},"recordMap":{"block":{"8f698210-03c5-4333-a468-5a7947c737e0":{"role":"editor","value":{"id":"8f698210-03c5-4333-a468-5a7947c737e0","version":8,"type":"page","properties":{"Yq0I":[["b1"]],"title":[["a1"]]},"created_time":1651561710652,"last_edited_time":1651561711138,"parent_id":"3a2f6388-8ef3-453d-b830-f78f602e4ace","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"8ac2a061-f01b-42f0-a0a8-ecb1900b4811":{"role":"editor","value":{"id":"8ac2[...]
[...]
- request:
    body: '{"blockIds": ["053f2531-3412-426f-a65c-37d4d5f32e0b"], "permanentlyDelete":
      true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
