interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":31,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["5585f343-8ea5-469b-8a90-a05987977424"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":2687,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1651765740000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "4accfdbd-a504-4270-8f80-a10f0bc7c669", "path":
      [], "args": {"id": "4accfdbd-a504-4270-8f80-a10f0bc7c669", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651931526945, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651931526945}, "command":
      "update", "id": "4accfdbd-a504-4270-8f80-a10f0bc7c669", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "4accfdbd-a504-4270-8f80-a10f0bc7c669"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651931526945}, "command":
      "update", "id": "4accfdbd-a504-4270-8f80-a10f0bc7c669", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "e1c02f2a-c2bf-4bec-9a32-cfc5da2d87d1", "path":
      [], "args": {"id": "e1c02f2a-c2bf-4bec-9a32-cfc5da2d87d1", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651931527332, "parent_id": "4accfdbd-a504-4270-8f80-a10f0bc7c669",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "EflZ": {"name": "b", "type": "text"}, "E8ob": {"name": "c", "type": "text"}}},
      "command": "set", "table": "collection"}, {"id": "4accfdbd-a504-4270-8f80-a10f0bc7c669",
      "path": ["content"], "args": {"id": "e1c02f2a-c2bf-4bec-9a32-cfc5da2d87d1"},
      "command": "listAfter", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651931527332}, "command":
      "update", "id": "4accfdbd-a504-4270-8f80-a10f0bc7c669", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651931527332}, "command":
      "update", "id": "4accfdbd-a504-4270-8f80-a10f0bc7c669", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "4accfdbd-a504-4270-8f80-a10f0bc7c669", "path":
      ["format", "collection_pointer", "id"], "args": "e1c02f2a-c2bf-4bec-9a32-cfc5da2d87d1",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651931527696}, "command":
      "update", "id": "4accfdbd-a504-4270-8f80-a10f0bc7c669", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "467f3482-5430-4f20-becb-37977524ce98", "path":
      ["format", "table_properties"], "args": [{"visible": true, "property": "title"},
      {"visible": true, "property": "EflZ"}, {"visible": true, "property": "E8ob"}],
      "command": "set", "table": "collection_view"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"page": {"id": "4accfdbd-a504-4270-8f80-a10f0bc7c669"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"4accfdbd-a504-4270-8f80-a10f0bc7c669":{"role":"editor","value":{"id":"4accfdbd-a504-4270-8f80-a10f0bc7c669","version":13,"type":"collection_view_page","content":["e1c02f2a-c2bf-4bec-9a32-cfc5da2d87d1","467f3482-5430-4f20-becb-37977524ce98"],"view_ids":["467f3482-5430-4f20-becb-37977524ce98"],"format":{"collection_pointer":{"id":"e1c02f2a-c2bf-4bec-9a32-cfc5da2d87d1","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1651931526945,"last_edited_time":1651931528719,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":2688,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["4accfdbd-a504-4270-8f80-a10f0bc7c669"],"created_time":1638259881592,"last_edited_time":1651765740000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection":{"e1c02f2a-c2bf-4bec-9a32-cfc5da2d87d1":{"role":"editor","value":{"id":"e1c02f2a-c2bf-4bec-9a32-cfc5da2d87d1","version":2,"name":[["TESTING
        PAGE"]],"schema":{"E8ob":{"name":"c","type":"text"},"EflZ":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"4accfdbd-a504-4270-8f80-a10f0bc7c669","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection_view":{"467f3482-5430-4f20-becb-37977524ce98":{"role":"editor","value":{"id":"467f3482-5430-4f20-becb-37977524ce98","version":4,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"EflZ"},{"visible":true,"property":"E8ob"}]},"parent_id":"4accfdbd-a504-4270-8f80-a10f0bc7c669","parent_table":"block","alive":true,"page_sort":["d53def35-e242-4f19-af59-e72ac21e47d3"],"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1651931528032,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"requests": [{"table": "collection", "id": "e1c02f2a-c2bf-4bec-9a32-cfc5da2d87d1"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"e1c02f2a-c2bf-4bec-9a32-cfc5da2d87d1","version":2,"name":[["TESTING
        PAGE"]],"schema":{"E8ob":{"name":"c","type":"text"},"EflZ":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"4accfdbd-a504-4270-8f80-a10f0bc7c669","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"collection":{"e1c02f2a-c2bf-4bec-9a32-cfc5da2d87d1":{"role":"editor","value":{"id":"e1c02f2a-c2bf-4bec-9a32-cfc5da2d87d1","version":2,"name":[["TESTING
        PAGE"]],"schema":{"E8ob":{"name":"c","type":"text"},"EflZ":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"4accfdbd-a504-4270-8f80-a10f0bc7c669","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"block":{"4accfdbd-a504-4270-8f80-a10f0bc7c669":{"role":"ed[...]
- request:
    body: '{"collection": {"id": "e1c02f2a-c2bf-4bec-9a32-cfc5da2d87d1", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "467f3482-5430-4f20-becb-37977524ce98",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 100, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["d53def35-e242-4f19-af59-e72ac21e47d3"],"hasMore":false}}},"recordMap":{"block":{"d53def35-e242-4f19-af59-e72ac21e47d3":{"role":"editor","value":{"id":"d53def35-e242-4f19-af59-e72ac21e47d3","version":10,"type":"page","properties":{"E8ob":[["c1"]],"EflZ":[["b1"]],"title":[["a"]]},"created_time":1651931529669,"last_edited_time":1651931530091,"parent_id":"e1c02f2a-c2bf-4bec-9a32-cfc5da2d87d1","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"4accfdbd-a504-4270-8f80-a10f0bc7c669":{"role":"editor","val[...]
[...]
- request:
    body: '{"blockIds": ["4accfdbd-a504-4270-8f80-a10f0bc7c669"], "permanentlyDelete":
      true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
