interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":31,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["5585f343-8ea5-469b-8a90-a05987977424"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":2715,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1651765740000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "277b4356-b6f8-4a84-a4bb-0b2c0800a712", "path":
      [], "args": {"id": "277b4356-b6f8-4a84-a4bb-0b2c0800a712", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651931670471, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651931670471}, "command":
      "update", "id": "277b4356-b6f8-4a84-a4bb-0b2c0800a712", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "277b4356-b6f8-4a84-a4bb-0b2c0800a712"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651931670471}, "command":
      "update", "id": "277b4356-b6f8-4a84-a4bb-0b2c0800a712", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "fbb07c0c-aaf7-4662-98fc-b6e1a9b0171c", "path":
      [], "args": {"id": "fbb07c0c-aaf7-4662-98fc-b6e1a9b0171c", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651931670917, "parent_id": "277b4356-b6f8-4a84-a4bb-0b2c0800a712",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "fIN1": {"name": "b", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "277b4356-b6f8-4a84-a4bb-0b2c0800a712", "path": ["content"], "args":
      {"id": "fbb07c0c-aaf7-4662-98fc-b6e1a9b0171c"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651931670917}, "command":
      "update", "id": "277b4356-b6f8-4a84-a4bb-0b2c0800a712", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651931670917}, "command":
      "update", "id": "277b4356-b6f8-4a84-a4bb-0b2c0800a712", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "277b4356-b6f8-4a84-a4bb-0b2c0800a712", "path":
      ["format", "collection_pointer", "id"], "args": "fbb07c0c-aaf7-4662-98fc-b6e1a9b0171c",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651931671717}, "command":
      "update", "id": "277b4356-b6f8-4a84-a4bb-0b2c0800a712", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "9e13c6a1-aa9b-4303-b28d-c17e31ca6118", "path":
      ["format", "table_properties"], "args": [{"visible": true, "property": "title"},
      {"visible": true, "property": "fIN1"}], "command": "set", "table": "collection_view"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "8cab3ce5-dc41-4517-a31a-eae55fb83e43", "path":
      [], "args": {"id": "8cab3ce5-dc41-4517-a31a-eae55fb83e43", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651931674507, "parent_id": "3dea9b77-5931-4bf0-a469-1fb3317875e4",
      "parent_table": "block", "schema": {"title": {"name": "c", "type": "title"},
      "yvWl": {"name": "d", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "3dea9b77-5931-4bf0-a469-1fb3317875e4", "path": ["content"], "args":
      {"id": "8cab3ce5-dc41-4517-a31a-eae55fb83e43"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651931674508}, "command":
      "update", "id": "3dea9b77-5931-4bf0-a469-1fb3317875e4", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651931674508}, "command":
      "update", "id": "3dea9b77-5931-4bf0-a469-1fb3317875e4", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"blockId": "3dea9b77-5931-4bf0-a469-1fb3317875e4"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getPublicPageData
  response:
    body:
      string: '{"spaceName":"test_py","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274","spaceDomain":"laced-taxi-315","canJoinSpace":true,"userHasExplicitAccess":true,"ownerUserId":"a03b888f-5426-4e4f-b5ef-bed855b162f0","betaEnabled":false,"canRequestAccess":true,"requireLogin":false,"publicAccessRole":"none"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "fbb07c0c-aaf7-4662-98fc-b6e1a9b0171c", "path":
      ["schema"], "args": {"title": {"name": "a", "type": "title"}, "fIN1": {"name":
      "b", "type": "relation", "property": "mM5o", "collection_id": "8cab3ce5-dc41-4517-a31a-eae55fb83e43",
      "collection_pointer": {"id": "8cab3ce5-dc41-4517-a31a-eae55fb83e43", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274", "table": "collection"}}}, "command":
      "set", "table": "collection"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"page": {"id": "277b4356-b6f8-4a84-a4bb-0b2c0800a712"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"277b4356-b6f8-4a84-a4bb-0b2c0800a712":{"role":"editor","value":{"id":"277b4356-b6f8-4a84-a4bb-0b2c0800a712","version":13,"type":"collection_view_page","content":["fbb07c0c-aaf7-4662-98fc-b6e1a9b0171c","9e13c6a1-aa9b-4303-b28d-c17e31ca6118"],"view_ids":["9e13c6a1-aa9b-4303-b28d-c17e31ca6118"],"format":{"collection_pointer":{"id":"fbb07c0c-aaf7-4662-98fc-b6e1a9b0171c","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1651931670471,"last_edited_time":1651931672743,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":2717,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["277b4356-b6f8-4a84-a4bb-0b2c0800a712","3dea9b77-5931-4bf0-a469-1fb3317875e4"],"created_time":1638259881592,"last_edited_time":1651765740000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection":{"fbb07c0c-aaf7-4662-98fc-b6e1a9b0171c":{"role":"editor","value":{"id":"fbb07c0c-aaf7-4662-98fc-b6e1a9b0171c","version":3,"name":[["TESTING
        PAGE"]],"schema":{"fIN1":{"name":"b","type":"relation","property":"mM5o","collection_id":"8cab3ce5-dc41-4517-a31a-eae55fb83e43","collection_pointer":{"id":"8cab3ce5-dc41-4517-a31a-eae55fb83e43","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"title":{"name":"a","type":"title"}},"parent_id":"277b4356-b6f8-4a84-a4bb-0b2c0800a712","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection_view":{"9e13c6a1-aa9b-4303-b28d-c17e31ca6118":{"role":"editor","value":{"id":"9e13c6a1-aa9b-4303-b28d-c17e31ca6118","version":3,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"fIN1"}]},"parent_id":"277b4356-b6f8-4a84-a4bb-0b2c0800a712","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1651931672038,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"requests": [{"table": "collection", "id": "8cab3ce5-dc41-4517-a31a-eae55fb83e43"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"8cab3ce5-dc41-4517-a31a-eae55fb83e43","version":3,"name":[["TESTING
        PAGE"]],"schema":{"mM5o":{"name":"Related to TESTING PAGE (b)","type":"relation","property":"fIN1","collection_id":"fbb07c0c-aaf7-4662-98fc-b6e1a9b0171c","collection_pointer":{"id":"fbb07c0c-aaf7-4662-98fc-b6e1a9b0171c","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"yvWl":{"name":"d","type":"text"},"title":{"name":"c","type":"title"}},"parent_id":"3dea9b77-5931-4bf0-a469-1fb3317875e4","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"collection":{"8cab3ce5-dc41-4517-a31a-eae55fb83e43":{"role":"editor","value":{"id":"8cab3ce5-dc41-4517-a31a-eae55fb83e43","version":3,"name":[["TESTING
        PAGE"]],"schema":{"mM5o":{"name":"Related to TESTING PAGE (b)","type":"relation","property":"fIN1","collection_id":"fbb07c0c-aaf7-4662-98fc-b6e1a9b0171c","collection_pointer":{"id":"fbb07c0c-aaf7-4662-98fc-b6e1a9b0171c","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"yvWl":{"name":"d","type":"text"},"title":{"na[...]
[...]
- request:
    body: '{"collection": {"id": "8cab3ce5-dc41-4517-a31a-eae55fb83e43", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "5be70d1f-0ce9-4c26-a80b-3c34dd34b53d",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 100, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":[],"hasMore":false}}},"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"collection": {"id": "fbb07c0c-aaf7-4662-98fc-b6e1a9b0171c", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "9e13c6a1-aa9b-4303-b28d-c17e31ca6118",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 100, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["92b4e127-5bc7-4401-b948-63c731ea7f85"],"hasMore":false}}},"recordMap":{"block":{"92b4e127-5bc7-4401-b948-63c731ea7f85":{"role":"editor","value":{"id":"92b4e127-5bc7-4401-b948-63c731ea7f85","version":8,"type":"page","properties":{"title":[["aa"]]},"created_time":1651931682133,"last_edited_time":1651931682513,"parent_id":"fbb07c0c-aaf7-4662-98fc-b6e1a9b0171c","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"277b4356-b6f8-4a84-a4bb-0b2c0800a712":{"role":"editor","value":{"id":"277b4356-b6f8-4a84-a[...]
[...]
- request:
    body: '{"blockIds": ["277b4356-b6f8-4a84-a4bb-0b2c0800a712"], "permanentlyDelete":
      true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
