interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":31,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["5585f343-8ea5-469b-8a90-a05987977424"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":3041,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1651932240000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "1f00f186-9127-434f-8e0b-8e4982d5e536", "path":
      [], "args": {"id": "1f00f186-9127-434f-8e0b-8e4982d5e536", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1652089277951, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652089277951}, "command":
      "update", "id": "1f00f186-9127-434f-8e0b-8e4982d5e536", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "1f00f186-9127-434f-8e0b-8e4982d5e536"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652089277951}, "command":
      "update", "id": "1f00f186-9127-434f-8e0b-8e4982d5e536", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "05c61d35-4b9f-40f2-89ae-2558e3c6aab5", "path":
      [], "args": {"id": "05c61d35-4b9f-40f2-89ae-2558e3c6aab5", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1652089278558, "parent_id": "1f00f186-9127-434f-8e0b-8e4982d5e536",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "v34y": {"name": "b", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "1f00f186-9127-434f-8e0b-8e4982d5e536", "path": ["content"], "args":
      {"id": "05c61d35-4b9f-40f2-89ae-2558e3c6aab5"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652089278558}, "command":
      "update", "id": "1f00f186-9127-434f-8e0b-8e4982d5e536", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652089278558}, "command":
      "update", "id": "1f00f186-9127-434f-8e0b-8e4982d5e536", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "1f00f186-9127-434f-8e0b-8e4982d5e536", "path":
      ["format", "collection_pointer", "id"], "args": "05c61d35-4b9f-40f2-89ae-2558e3c6aab5",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652089278985}, "command":
      "update", "id": "1f00f186-9127-434f-8e0b-8e4982d5e536", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "687200d3-851e-4fa5-81c8-ed7d0527fd78", "path":
      ["format", "table_properties"], "args": [{"visible": true, "property": "title"},
      {"visible": true, "property": "v34y"}], "command": "set", "table": "collection_view"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "cdb8fa15-a796-4a93-a265-4edb9aa8fb29", "path":
      [], "args": {"id": "cdb8fa15-a796-4a93-a265-4edb9aa8fb29", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1652089282094, "parent_id": "2f8d08fb-c232-45b2-8bdf-186014c4b161",
      "parent_table": "block", "schema": {"title": {"name": "c", "type": "title"},
      "obwh": {"name": "d", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "2f8d08fb-c232-45b2-8bdf-186014c4b161", "path": ["content"], "args":
      {"id": "cdb8fa15-a796-4a93-a265-4edb9aa8fb29"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652089282094}, "command":
      "update", "id": "2f8d08fb-c232-45b2-8bdf-186014c4b161", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652089282094}, "command":
      "update", "id": "2f8d08fb-c232-45b2-8bdf-186014c4b161", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"blockId": "2f8d08fb-c232-45b2-8bdf-186014c4b161"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getPublicPageData
  response:
    body:
      string: '{"spaceName":"test_py","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274","spaceDomain":"laced-taxi-315","canJoinSpace":true,"userHasExplicitAccess":true,"ownerUserId":"a03b888f-5426-4e4f-b5ef-bed855b162f0","betaEnabled":false,"canRequestAccess":true,"requireLogin":false,"publicAccessRole":"none"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "05c61d35-4b9f-40f2-89ae-2558e3c6aab5", "path":
      ["schema"], "args": {"title": {"name": "a", "type": "title"}, "v34y": {"name":
      "b", "type": "relation", "property": "x8wp", "collection_id": "cdb8fa15-a796-4a93-a265-4edb9aa8fb29",
      "collection_pointer": {"id": "cdb8fa15-a796-4a93-a265-4edb9aa8fb29", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274", "table": "collection"}}}, "command":
      "set", "table": "collection"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"page": {"id": "1f00f186-9127-434f-8e0b-8e4982d5e536"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"1f00f186-9127-434f-8e0b-8e4982d5e536":{"role":"editor","value":{"id":"1f00f186-9127-434f-8e0b-8e4982d5e536","version":13,"type":"collection_view_page","content":["05c61d35-4b9f-40f2-89ae-2558e3c6aab5","687200d3-851e-4fa5-81c8-ed7d0527fd78"],"view_ids":["687200d3-851e-4fa5-81c8-ed7d0527fd78"],"format":{"collection_pointer":{"id":"05c61d35-4b9f-40f2-89ae-2558e3c6aab5","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1652089277951,"last_edited_time":1652089280395,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":3043,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["1f00f186-9127-434f-8e0b-8e4982d5e536","2f8d08fb-c232-45b2-8bdf-186014c4b161"],"created_time":1638259881592,"last_edited_time":1651932240000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection":{"05c61d35-4b9f-40f2-89ae-2558e3c6aab5":{"role":"editor","value":{"id":"05c61d35-4b9f-40f2-89ae-2558e3c6aab5","version":3,"name":[["TESTING
        PAGE"]],"schema":{"v34y":{"name":"b","type":"relation","property":"x8wp","collection_id":"cdb8fa15-a796-4a93-a265-4edb9aa8fb29","collection_pointer":{"id":"cdb8fa15-a796-4a93-a265-4edb9aa8fb29","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"title":{"name":"a","type":"title"}},"parent_id":"1f00f186-9127-434f-8e0b-8e4982d5e536","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection_view":{"687200d3-851e-4fa5-81c8-ed7d0527fd78":{"role":"editor","value":{"id":"687200d3-851e-4fa5-81c8-ed7d0527fd78","version":3,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"v34y"}]},"parent_id":"1f00f186-9127-434f-8e0b-8e4982d5e536","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1652089279434,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"requests": [{"table": "collection", "id": "cdb8fa15-a796-4a93-a265-4edb9aa8fb29"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"cdb8fa15-a796-4a93-a265-4edb9aa8fb29","version":3,"name":[["TESTING
        PAGE"]],"schema":{"obwh":{"name":"d","type":"text"},"x8wp":{"name":"Related
        to TESTING PAGE (b)","type":"relation","property":"v34y","collection_id":"05c61d35-4b9f-40f2-89ae-2558e3c6aab5","collection_pointer":{"id":"05c61d35-4b9f-40f2-89ae-2558e3c6aab5","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"title":{"name":"c","type":"title"}},"parent_id":"2f8d08fb-c232-45b2-8bdf-186014c4b161","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"collection":{"cdb8fa15-a796-4a93-a265-4edb9aa8fb29":{"role":"editor","value":{"id":"cdb8fa15-a796-4a93-a265-4edb9aa8fb29","version":3,"name":[["TESTING
        PAGE"]],"schema":{"obwh":{"name":"d","type":"text"},"x8wp":{"name":"Related
        to TESTING PAGE (b)","type":"relation","property":"v34y","collection_id":"05c61d35-4b9f-40f2-89ae-2558e3c6aab5","collection_pointer":{"id":"05c61d35-4b9f-40f2-89ae-2558e3c6aab5","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"title":{"name":"c","type":"title"}},"parent_id":"2f8d08fb[...]
[...]
- request:
    body: '{"requests": [{"table": "collection_view", "id": "b28947b5-4019-403f-bf52-7dda1c78df91"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"b28947b5-4019-403f-bf52-7dda1c78df91","version":3,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"obwh"}]},"parent_id":"2f8d08fb-c232-45b2-8bdf-186014c4b161","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1652089282958,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}],"recordMapWithRoles":{"collection_view":{"b28947b5-4019-403f-bf52-7dda1c78df91":{"role":"editor","value":{"id":"b28947b5-4019-403f-bf52-7dda1c78df91","version":3,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"obwh"}]},"parent_id":"2f8d08fb-c232-45b2-8bdf-186014c4b161","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1652089282958,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}},"block":{"2f8d08fb-c232-45b2-8bdf-186014c4b[...]
- request:
    body: '{"collection": {"id": "cdb8fa15-a796-4a93-a265-4edb9aa8fb29", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "b28947b5-4019-403f-bf52-7dda1c78df91",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"table:uncategorized:title:count":
      {"aggregation": {"aggregator": "count", "property": "title"}, "type": "aggregation"}},
      "searchQuery": "", "sort": [], "userTimeZone": "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"table:uncategorized:title:count":{"type":"aggregation","aggregationResult":{"type":"number","value":0}}}},"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"collection": {"id": "cdb8fa15-a796-4a93-a265-4edb9aa8fb29", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "b28947b5-4019-403f-bf52-7dda1c78df91",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 0, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":[],"hasMore":false}}},"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"collection": {"id": "05c61d35-4b9f-40f2-89ae-2558e3c6aab5", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "687200d3-851e-4fa5-81c8-ed7d0527fd78",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 1, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["b6342dbd-eeaf-4810-be06-e8caaf577ac6"],"hasMore":false}}},"recordMap":{"block":{"b6342dbd-eeaf-4810-be06-e8caaf577ac6":{"role":"editor","value":{"id":"b6342dbd-eeaf-4810-be06-e8caaf577ac6","version":8,"type":"page","properties":{"title":[["aa"]]},"created_time":1652089291949,"last_edited_time":1652089292446,"parent_id":"05c61d35-4b9f-40f2-89ae-2558e3c6aab5","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"1f00f186-9127-434f-8e0b-8e4982d5e536":{"role":"editor","value":{"id":"1f00f186-9127-434f-8[...]
[...]
- request:
    body: '{"blockIds": ["1f00f186-9127-434f-8e0b-8e4982d5e536"], "permanentlyDelete":
      true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
