interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":29,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["5585f343-8ea5-469b-8a90-a05987977424"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":1858,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1651730700000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "a898f6f4-22da-4973-8cbc-a23d2ba179e7", "path":
      [], "args": {"id": "a898f6f4-22da-4973-8cbc-a23d2ba179e7", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651735405088, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651735405088}, "command":
      "update", "id": "a898f6f4-22da-4973-8cbc-a23d2ba179e7", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "a898f6f4-22da-4973-8cbc-a23d2ba179e7"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651735405088}, "command":
      "update", "id": "a898f6f4-22da-4973-8cbc-a23d2ba179e7", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "b2e91723-20d2-4abd-b594-5cd09be2a4b1", "path":
      [], "args": {"id": "b2e91723-20d2-4abd-b594-5cd09be2a4b1", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651735405518, "parent_id": "a898f6f4-22da-4973-8cbc-a23d2ba179e7",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "cArU": {"name": "b", "type": "date"}}}, "command": "set", "table": "collection"},
      {"id": "a898f6f4-22da-4973-8cbc-a23d2ba179e7", "path": ["content"], "args":
      {"id": "b2e91723-20d2-4abd-b594-5cd09be2a4b1"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651735405518}, "command":
      "update", "id": "a898f6f4-22da-4973-8cbc-a23d2ba179e7", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651735405518}, "command":
      "update", "id": "a898f6f4-22da-4973-8cbc-a23d2ba179e7", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "a898f6f4-22da-4973-8cbc-a23d2ba179e7", "path":
      ["format", "collection_pointer", "id"], "args": "b2e91723-20d2-4abd-b594-5cd09be2a4b1",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651735405961}, "command":
      "update", "id": "a898f6f4-22da-4973-8cbc-a23d2ba179e7", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "e924c8d5-9549-47f9-bb25-94722b58871a", "path":
      ["format", "table_properties"], "args": [{"visible": true, "property": "title"},
      {"visible": true, "property": "cArU"}], "command": "set", "table": "collection_view"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"page": {"id": "a898f6f4-22da-4973-8cbc-a23d2ba179e7"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"a898f6f4-22da-4973-8cbc-a23d2ba179e7":{"role":"editor","value":{"id":"a898f6f4-22da-4973-8cbc-a23d2ba179e7","version":13,"type":"collection_view_page","content":["b2e91723-20d2-4abd-b594-5cd09be2a4b1","e924c8d5-9549-47f9-bb25-94722b58871a"],"view_ids":["e924c8d5-9549-47f9-bb25-94722b58871a"],"format":{"collection_pointer":{"id":"b2e91723-20d2-4abd-b594-5cd09be2a4b1","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1651735405088,"last_edited_time":1651735408498,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":1859,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["a898f6f4-22da-4973-8cbc-a23d2ba179e7"],"created_time":1638259881592,"last_edited_time":1651730700000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection":{"b2e91723-20d2-4abd-b594-5cd09be2a4b1":{"role":"editor","value":{"id":"b2e91723-20d2-4abd-b594-5cd09be2a4b1","version":2,"name":[["TESTING
        PAGE"]],"schema":{"cArU":{"name":"b","type":"date"},"title":{"name":"a","type":"title"}},"parent_id":"a898f6f4-22da-4973-8cbc-a23d2ba179e7","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection_view":{"e924c8d5-9549-47f9-bb25-94722b58871a":{"role":"editor","value":{"id":"e924c8d5-9549-47f9-bb25-94722b58871a","version":3,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"cArU"}]},"parent_id":"a898f6f4-22da-4973-8cbc-a23d2ba179e7","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1651735406336,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "22fc67ee-9ff5-40ce-be7e-cad7d56369d1", "path":
      ["properties", "title"], "args": [["a"]], "command": "set", "table": "block"},
      {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "last_edited_by_table":
      "notion_user", "last_edited_time": 1651735413409}, "command": "update", "id":
      "22fc67ee-9ff5-40ce-be7e-cad7d56369d1", "path": [], "table": "block"}, {"id":
      "22fc67ee-9ff5-40ce-be7e-cad7d56369d1", "path": ["properties", "cArU"], "args":
      [["\u2023", [["d", {"type": "datetime", "start_date": "2001-12-01", "time_zone":
      "Asia/Tashkent", "start_time": "00:00"}]]]], "command": "set", "table": "block"},
      {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "last_edited_by_table":
      "notion_user", "last_edited_time": 1651735413409}, "command": "update", "id":
      "22fc67ee-9ff5-40ce-be7e-cad7d56369d1", "path": [], "table": "block"}, {"id":
      "e924c8d5-9549-47f9-bb25-94722b58871a", "path": ["page_sort"], "args": ["22fc67ee-9ff5-40ce-be7e-cad7d56369d1"],
      "command": "set", "table": "collection_view"}, {"args": {"last_edited_by_id":
      "a03b888f-5426-4e4f-b5ef-bed855b162f0", "last_edited_by_table": "notion_user",
      "last_edited_time": 1651735413409}, "command": "update", "id": "22fc67ee-9ff5-40ce-be7e-cad7d56369d1",
      "path": [], "table": "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"requests": [{"table": "collection", "id": "b2e91723-20d2-4abd-b594-5cd09be2a4b1"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"b2e91723-20d2-4abd-b594-5cd09be2a4b1","version":2,"name":[["TESTING
        PAGE"]],"schema":{"cArU":{"name":"b","type":"date"},"title":{"name":"a","type":"title"}},"parent_id":"a898f6f4-22da-4973-8cbc-a23d2ba179e7","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"collection":{"b2e91723-20d2-4abd-b594-5cd09be2a4b1":{"role":"editor","value":{"id":"b2e91723-20d2-4abd-b594-5cd09be2a4b1","version":2,"name":[["TESTING
        PAGE"]],"schema":{"cArU":{"name":"b","type":"date"},"title":{"name":"a","type":"title"}},"parent_id":"a898f6f4-22da-4973-8cbc-a23d2ba179e7","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"block":{"a898f6f4-22da-4973-8cbc-a23d2ba179e7":{"role":"editor","value":{"id":"a898f6f4-22da[...]
- request:
    body: '{"collection": {"id": "b2e91723-20d2-4abd-b594-5cd09be2a4b1", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "e924c8d5-9549-47f9-bb25-94722b58871a",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 100, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: "{\"result\":{\"type\":\"reducer\",\"reducerResults\":{\"collection_group_results\":{\"type\":\"results\",\"blockIds\":[\"22fc67ee-9ff5-40ce-be7e-cad7d56369d1\"],\"hasMore\":false}}},\"recordMap\":{\"block\":{\"22fc67ee-9ff5-40ce-be7e-cad7d56369d1\":{\"role\":\"editor\",\"value\":{\"id\":\"22fc67ee-9ff5-40ce-be7e-cad7d56369d1\",\"version\":8,\"type\":\"page\",\"properties\":{\"cArU\":[[\"\u2023\",[[\"d\",{\"type\":\"datetime\",\"time_zone\":\"Asia/Tashkent\",\"start_date\":\"2001-12-01\",\"start_time\":\"00:00\"}]]]],\"title\":[[\"a\"]]},\"created_time\":1651735412943,\"last_edited_time\":1651735413409,\"parent_id\":\"b2e91723-20d2-4abd-b594-5cd09be2a4b1\",\"parent_table\":\"collection\",\"alive\":true,\"created_by_table\":\"notion_user\",\"created_by_id\":\"a03b888f-5426-4e4f-b5ef-bed855b162f0\",\"last_edited_by_table\":\"notion_user\",\"last_edited_by_id\":\"a03b[...]
[...]
- request:
    body: '{"blockIds": ["a898f6f4-22da-4973-8cbc-a23d2ba179e7"], "permanentlyDelete":
      true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
