interactions:
- request:
    body: '{}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":31,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["5585f343-8ea5-469b-8a90-a05987977424"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":4055,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1652698380000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-[...]
- request:
    body: '{"operations": [{"id": "d2e12146-f1a7-4f4d-9d30-ffdd4d84dd2d", "path":
      [], "args": {"id": "d2e12146-f1a7-4f4d-9d30-ffdd4d84dd2d", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1652970008389, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652970008389}, "command":
      "update", "id": "d2e12146-f1a7-4f4d-9d30-ffdd4d84dd2d", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "d2e12146-f1a7-4f4d-9d30-ffdd4d84dd2d"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652970008389}, "command":
      "update", "id": "d2e12146-f1a7-4f4d-9d30-ffdd4d84dd2d", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "047fe198-51ea-428f-baf5-b6dba44130b5", "path":
      [], "args": {"id": "047fe198-51ea-428f-baf5-b6dba44130b5", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1652970009339, "parent_id": "d2e12146-f1a7-4f4d-9d30-ffdd4d84dd2d",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "vk7J": {"name": "b", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "d2e12146-f1a7-4f4d-9d30-ffdd4d84dd2d", "path": ["content"], "args":
      {"id": "047fe198-51ea-428f-baf5-b6dba44130b5"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652970009339}, "command":
      "update", "id": "d2e12146-f1a7-4f4d-9d30-ffdd4d84dd2d", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652970009339}, "command":
      "update", "id": "d2e12146-f1a7-4f4d-9d30-ffdd4d84dd2d", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "d2e12146-f1a7-4f4d-9d30-ffdd4d84dd2d", "path":
      ["format", "collection_pointer", "id"], "args": "047fe198-51ea-428f-baf5-b6dba44130b5",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652970009708}, "command":
      "update", "id": "d2e12146-f1a7-4f4d-9d30-ffdd4d84dd2d", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "9648fef3-ca5b-4fc8-a115-15c2be54e38f", "path":
      ["format", "table_properties"], "args": [{"visible": true, "property": "title"},
      {"visible": true, "property": "vk7J"}], "command": "set", "table": "collection_view"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "ee1c13a3-3980-4b84-99b8-f25cdd76fc79", "path":
      [], "args": {"id": "ee1c13a3-3980-4b84-99b8-f25cdd76fc79", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1652970018875, "parent_id": "d2bff7d4-a952-44a9-abab-de30aefc7db4",
      "parent_table": "block", "type": "image", "child_list_key": null}, "command":
      "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652970018875}, "command":
      "update", "id": "ee1c13a3-3980-4b84-99b8-f25cdd76fc79", "path": [], "table":
      "block"}, {"id": "d2bff7d4-a952-44a9-abab-de30aefc7db4", "path": ["content"],
      "args": {"id": "ee1c13a3-3980-4b84-99b8-f25cdd76fc79"}, "command": "listAfter",
      "table": "block"}, {"args":[...]
[...]
- request:
    body: '{"page": {"id": "d2e12146-f1a7-4f4d-9d30-ffdd4d84dd2d"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"d2e12146-f1a7-4f4d-9d30-ffdd4d84dd2d":{"role":"editor","value":{"id":"d2e12146-f1a7-4f4d-9d30-ffdd4d84dd2d","version":13,"type":"collection_view_page","content":["047fe198-51ea-428f-baf5-b6dba44130b5","9648fef3-ca5b-4fc8-a115-15c2be54e38f"],"view_ids":["9648fef3-ca5b-4fc8-a115-15c2be54e38f"],"format":{"collection_pointer":{"id":"047fe198-51ea-428f-baf5-b6dba44130b5","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1652970008389,"last_edited_time":1652970015978,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":4056,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["d2e12146-f1a7-4f4d-9d30-ffdd4d84dd2d"],"created_time":1638259881592,"last_edited_time":1652698380000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection":{"047fe198-51ea-428f-baf5-b6dba44130b5":{"role":"editor","value":{"id":"047fe198-51ea-428f-baf5-b6dba44130b5","version":2,"name":[["TESTING
        PAGE"]],"schema":{"vk7J":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"d2e12146-f1a7-4f4d-9d30-ffdd4d84dd2d","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection_view":{"9648fef3-ca5b-4fc8-a115-15c2be54e38f":{"role":"editor","value":{"id":"9648fef3-ca5b-4fc8-a115-15c2be54e38f","version":4,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"vk7J"}]},"parent_id":"d2e12146-f1a7-4f4d-9d30-ffdd4d84dd2d","parent_table":"block","alive":true,"page_sort":["d2bff7d4-a952-44a9-abab-de30aefc7db4"],"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1652970013768,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"requests": [{"table": "collection", "id": "047fe198-51ea-428f-baf5-b6dba44130b5"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"047fe198-51ea-428f-baf5-b6dba44130b5","version":2,"name":[["TESTING
        PAGE"]],"schema":{"vk7J":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"d2e12146-f1a7-4f4d-9d30-ffdd4d84dd2d","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"collection":{"047fe198-51ea-428f-baf5-b6dba44130b5":{"role":"editor","value":{"id":"047fe198-51ea-428f-baf5-b6dba44130b5","version":2,"name":[["TESTING
        PAGE"]],"schema":{"vk7J":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"d2e12146-f1a7-4f4d-9d30-ffdd4d84dd2d","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"block":{"d2e12146-f1a7-4f4d-9d30-ffdd4d84dd2d":{"role":"editor","value":{"id":"d2e12146-f1a7[...]
- request:
    body: '{"collection": {"id": "047fe198-51ea-428f-baf5-b6dba44130b5", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "9648fef3-ca5b-4fc8-a115-15c2be54e38f",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"table:uncategorized:title:count":
      {"aggregation": {"aggregator": "count", "property": "title"}, "type": "aggregation"}},
      "searchQuery": "", "sort": [], "userTimeZone": "Asia/Tashkent", "type": "reducer"}}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"table:uncategorized:title:count":{"type":"aggregation","aggregationResult":{"type":"number","value":1}}}},"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"collection": {"id": "047fe198-51ea-428f-baf5-b6dba44130b5", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "9648fef3-ca5b-4fc8-a115-15c2be54e38f",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 1, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["d2bff7d4-a952-44a9-abab-de30aefc7db4"],"hasMore":false}}},"recordMap":{"block":{"d2bff7d4-a952-44a9-abab-de30aefc7db4":{"role":"editor","value":{"id":"d2bff7d4-a952-44a9-abab-de30aefc7db4","version":11,"type":"page","properties":{"vk7J":[["b1"]],"title":[["a"]]},"content":["ee1c13a3-3980-4b84-99b8-f25cdd76fc79"],"created_time":1652970018068,"last_edited_time":1652970018875,"parent_id":"047fe198-51ea-428f-baf5-b6dba44130b5","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"d2e12146-f1a7-4f4d-9d30-[...]
[...]
- request:
    body: '{"requests": [{"table": "block", "id": "ee1c13a3-3980-4b84-99b8-f25cdd76fc79"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"ee1c13a3-3980-4b84-99b8-f25cdd76fc79","version":6,"type":"image","properties":{"source":[["https://via.placeholder.com/200"]]},"created_time":1652970018875,"last_edited_time":1652970019248,"parent_id":"d2bff7d4-a952-44a9-abab-de30aefc7db4","parent_table":"block","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"block":{"ee1c13a3-3980-4b84-99b8-f25cdd76fc79":{"role":"editor","value":{"id":"ee1c13a3-3980-4b84-99b8-f25cdd76fc79","version":6,"type":"image","properties":{"source":[["https://via.placeholder.com/200"]]},"created_time":1652970018875,"last_edited_time":1652970019248,"parent_id":"d2bff7d4-a952-44a9-abab-de30aefc7db4","parent_table":"block","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_i[...]
- request:
    body: '{"operations": [{"id": "d2bff7d4-a952-44a9-abab-de30aefc7db4", "path":
      ["properties", "meta", "cover_block"], "args": {"type": "url", "url": "https://via.placeholder.com/100"},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652970065396}, "command":
      "update", "id": "d2bff7d4-a952-44a9-abab-de30aefc7db4", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"requests": [{"table": "block", "id": "1e0704cc-524f-4154-924d-50717af2f46e"},
      {"table": "block", "id": "d2bff7d4-a952-44a9-abab-de30aefc7db4"}, {"table":
      "block", "id": "d2bff7d4-a952-44a9-abab-de30aefc7db4"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"1e0704cc-524f-4154-924d-50717af2f46e","version":13,"type":"image","properties":{"source":[["https://via.placeholder.com/100"]]},"format":{"display_source":"https://via.placeholder.com/100"},"created_time":1652970065761,"last_edited_time":1652970066546,"parent_id":"d2bff7d4-a952-44a9-abab-de30aefc7db4","parent_table":"block","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},{"role":"editor","value":{"id":"d2bff7d4-a952-44a9-abab-de30aefc7db4","version":24,"type":"page","properties":{"meta":{"cover_block":{"url":"https://via.placeholder.com/100","type":"url"}},"vk7J":[["b1"]],"title":[["a"]]},"content":["1e0704cc-524f-4154-924d-50717af2f46e","ee1c13a3-3980-4b84-99b8-f25cdd76fc79"],"created_time":1652970018068,"last_edited_time":1652970066546,"parent_id":"047fe198-51ea-428f-baf5-b6dba44130b5","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5[...]
[...]
- request:
    body: '{"requests": [{"table": "block", "id": "1e0704cc-524f-4154-924d-50717af2f46e"},
      {"table": "block", "id": "ee1c13a3-3980-4b84-99b8-f25cdd76fc79"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"1e0704cc-524f-4154-924d-50717af2f46e","version":15,"type":"image","properties":{"source":[["https://via.placeholder.com/100"]],"is_cover_block":true},"format":{"display_source":"https://via.placeholder.com/100"},"created_time":1652970065761,"last_edited_time":1652970067196,"parent_id":"d2bff7d4-a952-44a9-abab-de30aefc7db4","parent_table":"block","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},{"role":"editor","value":{"id":"ee1c13a3-3980-4[...]
[...]
- request:
    body: '{"blockIds": ["d2e12146-f1a7-4f4d-9d30-ffdd4d84dd2d"], "permanentlyDelete":
      true}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
