interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":31,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["5585f343-8ea5-469b-8a90-a05987977424"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":2335,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1651765740000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "150213d1-97f4-4a92-af89-6de0ec1f2237", "path":
      [], "args": {"id": "150213d1-97f4-4a92-af89-6de0ec1f2237", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651905883289, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651905883289}, "command":
      "update", "id": "150213d1-97f4-4a92-af89-6de0ec1f2237", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "150213d1-97f4-4a92-af89-6de0ec1f2237"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651905883289}, "command":
      "update", "id": "150213d1-97f4-4a92-af89-6de0ec1f2237", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "365dcbdd-a3fb-4141-9804-47717b981eb1", "path":
      [], "args": {"id": "365dcbdd-a3fb-4141-9804-47717b981eb1", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651905884220, "parent_id": "150213d1-97f4-4a92-af89-6de0ec1f2237",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "gPOz": {"name": "b", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "150213d1-97f4-4a92-af89-6de0ec1f2237", "path": ["content"], "args":
      {"id": "365dcbdd-a3fb-4141-9804-47717b981eb1"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651905884220}, "command":
      "update", "id": "150213d1-97f4-4a92-af89-6de0ec1f2237", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651905884220}, "command":
      "update", "id": "150213d1-97f4-4a92-af89-6de0ec1f2237", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "150213d1-97f4-4a92-af89-6de0ec1f2237", "path":
      ["format", "collection_pointer", "id"], "args": "365dcbdd-a3fb-4141-9804-47717b981eb1",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651905884649}, "command":
      "update", "id": "150213d1-97f4-4a92-af89-6de0ec1f2237", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "bd61f5ea-bb90-4588-992f-f5830b9d2955", "path":
      ["format", "table_properties"], "args": [{"visible": true, "property": "title"},
      {"visible": true, "property": "gPOz"}], "command": "set", "table": "collection_view"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"page": {"id": "150213d1-97f4-4a92-af89-6de0ec1f2237"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"150213d1-97f4-4a92-af89-6de0ec1f2237":{"role":"editor","value":{"id":"150213d1-97f4-4a92-af89-6de0ec1f2237","version":13,"type":"collection_view_page","content":["365dcbdd-a3fb-4141-9804-47717b981eb1","bd61f5ea-bb90-4588-992f-f5830b9d2955"],"view_ids":["bd61f5ea-bb90-4588-992f-f5830b9d2955"],"format":{"collection_pointer":{"id":"365dcbdd-a3fb-4141-9804-47717b981eb1","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1651905883289,"last_edited_time":1651905886357,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":2336,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["150213d1-97f4-4a92-af89-6de0ec1f2237"],"created_time":1638259881592,"last_edited_time":1651765740000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection":{"365dcbdd-a3fb-4141-9804-47717b981eb1":{"role":"editor","value":{"id":"365dcbdd-a3fb-4141-9804-47717b981eb1","version":2,"name":[["TESTING
        PAGE"]],"schema":{"gPOz":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"150213d1-97f4-4a92-af89-6de0ec1f2237","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection_view":{"bd61f5ea-bb90-4588-992f-f5830b9d2955":{"role":"editor","value":{"id":"bd61f5ea-bb90-4588-992f-f5830b9d2955","version":3,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"gPOz"}]},"parent_id":"150213d1-97f4-4a92-af89-6de0ec1f2237","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1651905885551,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "4e6cf56d-086f-423f-aa93-5dbf737f0849", "path":
      [], "args": {"id": "4e6cf56d-086f-423f-aa93-5dbf737f0849", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651905890786, "parent_id": "1013b8de-ef5e-4ec2-a22b-e457a4d23a48",
      "parent_table": "block", "type": "image", "child_list_key": null}, "command":
      "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651905890786}, "command":
      "update", "id": "4e6cf56d-086f-423f-aa93-5dbf737f0849", "path": [], "table":
      "block"}, {"id": "1013b8de-ef5e-4ec2-a22b-e457a4d23a48", "path": ["content"],
      "args": {"id": "4e6cf56d-086f-423f-aa93-5dbf737f0849"}, "command": "listAfter",
      "table": "block"}, {"args":[...]
[...]
- request:
    body: '{"collection": {"id": "365dcbdd-a3fb-4141-9804-47717b981eb1", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "bd61f5ea-bb90-4588-992f-f5830b9d2955",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 100, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["1013b8de-ef5e-4ec2-a22b-e457a4d23a48"],"hasMore":false}}},"recordMap":{"block":{"1013b8de-ef5e-4ec2-a22b-e457a4d23a48":{"role":"editor","value":{"id":"1013b8de-ef5e-4ec2-a22b-e457a4d23a48","version":11,"type":"page","properties":{"gPOz":[["b"]],"title":[["a"]]},"content":["4e6cf56d-086f-423f-aa93-5dbf737f0849"],"created_time":1651905889968,"last_edited_time":1651905890786,"parent_id":"365dcbdd-a3fb-4141-9804-47717b981eb1","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"150213d1-97f4-4a92-af89-6[...]
- request:
    body: '{"requests": [{"table": "block", "id": "4e6cf56d-086f-423f-aa93-5dbf737f0849"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"4e6cf56d-086f-423f-aa93-5dbf737f0849","version":10,"type":"image","properties":{"source":[["https://via.placeholder.com/100"]],"caption":[["cover"]]},"format":{"display_source":"https://via.placeholder.com/100"},"created_time":1651905890786,"last_edited_time":1651905891189,"parent_id":"1013b8de-ef5e-4ec2-a22b-e457a4d23a48","parent_table":"block","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"block":{"4e6cf56d-086f-423f-aa93-5dbf737f0849":{"role":"editor","value":{"id":"4e6cf56d-086f-423f-aa93-5dbf737f0849","version":10,"type":"image","properties":{"source":[["https://via.placeholder.com/100"]],"caption":[["cover"]]},"format":{"display_source":"https://via.placeholder.com/100"},"created_time":1651905890786,"last_edited_time":1651905891189,"parent_id":"1013b8de-ef5e-4ec2-a22b-e457a4d23a48","parent_table":"block","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f[...]
[...]
- request:
    body: '{"blockIds": ["150213d1-97f4-4a92-af89-6de0ec1f2237"], "permanentlyDelete":
      true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
