interactions:
- request:
    body: '{}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":31,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["5585f343-8ea5-469b-8a90-a05987977424"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":4279,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1652698380000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-[...]
- request:
    body: '{"operations": [{"id": "ca728fbc-d66c-4577-a36c-01de2a60976c", "path":
      [], "args": {"id": "ca728fbc-d66c-4577-a36c-01de2a60976c", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1653055568642, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653055568642}, "command":
      "update", "id": "ca728fbc-d66c-4577-a36c-01de2a60976c", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "ca728fbc-d66c-4577-a36c-01de2a60976c"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653055568642}, "command":
      "update", "id": "ca728fbc-d66c-4577-a36c-01de2a60976c", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "ce1e69fc-7594-482d-b88d-b0ef0821dad0", "path":
      [], "args": {"id": "ce1e69fc-7594-482d-b88d-b0ef0821dad0", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1653055569014, "parent_id": "ca728fbc-d66c-4577-a36c-01de2a60976c",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "za6c": {"name": "b", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "ca728fbc-d66c-4577-a36c-01de2a60976c", "path": ["content"], "args":
      {"id": "ce1e69fc-7594-482d-b88d-b0ef0821dad0"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653055569014}, "command":
      "update", "id": "ca728fbc-d66c-4577-a36c-01de2a60976c", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653055569014}, "command":
      "update", "id": "ca728fbc-d66c-4577-a36c-01de2a60976c", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "ca728fbc-d66c-4577-a36c-01de2a60976c", "path":
      ["format", "collection_pointer", "id"], "args": "ce1e69fc-7594-482d-b88d-b0ef0821dad0",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653055569369}, "command":
      "update", "id": "ca728fbc-d66c-4577-a36c-01de2a60976c", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "468b0657-f8ef-4083-93ec-e54ef1c9b2db", "path":
      ["format", "table_properties"], "args": [{"visible": true, "property": "title"},
      {"visible": true, "property": "za6c"}], "command": "set", "table": "collection_view"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "073497c2-a446-4ee4-acee-ca16d3c8524b", "path":
      [], "args": {"id": "073497c2-a446-4ee4-acee-ca16d3c8524b", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1653055574125, "parent_id": "f2822640-dbe6-46f0-bca3-bd7e4c6e87d6",
      "parent_table": "block", "schema": {"title": {"name": "c", "type": "title"},
      "xfVF": {"name": "d", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "f2822640-dbe6-46f0-bca3-bd7e4c6e87d6", "path": ["content"], "args":
      {"id": "073497c2-a446-4ee4-acee-ca16d3c8524b"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653055574125}, "command":
      "update", "id": "f2822640-dbe6-46f0-bca3-bd7e4c6e87d6", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653055574125}, "command":
      "update", "id": "f2822640-dbe6-46f0-bca3-bd7e4c6e87d6", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"blockId": "f2822640-dbe6-46f0-bca3-bd7e4c6e87d6"}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getPublicPageData
  response:
    body:
      string: '{"spaceName":"test_py","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274","spaceDomain":"laced-taxi-315","canJoinSpace":true,"userHasExplicitAccess":true,"ownerUserId":"a03b888f-5426-4e4f-b5ef-bed855b162f0","betaEnabled":false,"canRequestAccess":true,"requireLogin":false,"publicAccessRole":"none"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "ce1e69fc-7594-482d-b88d-b0ef0821dad0", "path":
      ["schema"], "args": {"title": {"name": "a", "type": "title"}, "za6c": {"name":
      "b", "type": "relation", "property": "z07X", "collection_id": "073497c2-a446-4ee4-acee-ca16d3c8524b",
      "collection_pointer": {"id": "073497c2-a446-4ee4-acee-ca16d3c8524b", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274", "table": "collection"}}}, "command":
      "set", "table": "collection"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"page": {"id": "ca728fbc-d66c-4577-a36c-01de2a60976c"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"ca728fbc-d66c-4577-a36c-01de2a60976c":{"role":"editor","value":{"id":"ca728fbc-d66c-4577-a36c-01de2a60976c","version":13,"type":"collection_view_page","content":["ce1e69fc-7594-482d-b88d-b0ef0821dad0","468b0657-f8ef-4083-93ec-e54ef1c9b2db"],"view_ids":["468b0657-f8ef-4083-93ec-e54ef1c9b2db"],"format":{"collection_pointer":{"id":"ce1e69fc-7594-482d-b88d-b0ef0821dad0","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1653055568642,"last_edited_time":1653055571142,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":4281,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["ca728fbc-d66c-4577-a36c-01de2a60976c","f2822640-dbe6-46f0-bca3-bd7e4c6e87d6"],"created_time":1638259881592,"last_edited_time":1652698380000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection":{"ce1e69fc-7594-482d-b88d-b0ef0821dad0":{"role":"editor","value":{"id":"ce1e69fc-7594-482d-b88d-b0ef0821dad0","version":3,"name":[["TESTING
        PAGE"]],"schema":{"za6c":{"name":"b","type":"relation","property":"z07X","collection_id":"073497c2-a446-4ee4-acee-ca16d3c8524b","collection_pointer":{"id":"073497c2-a446-4ee4-acee-ca16d3c8524b","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"title":{"name":"a","type":"title"}},"parent_id":"ca728fbc-d66c-4577-a36c-01de2a60976c","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection_view":{"468b0657-f8ef-4083-93ec-e54ef1c9b2db":{"role":"editor","value":{"id":"468b0657-f8ef-4083-93ec-e54ef1c9b2db","version":3,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"za6c"}]},"parent_id":"ca728fbc-d66c-4577-a36c-01de2a60976c","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1653055570413,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"requests": [{"table": "collection", "id": "073497c2-a446-4ee4-acee-ca16d3c8524b"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"073497c2-a446-4ee4-acee-ca16d3c8524b","version":3,"name":[["TESTING
        PAGE"]],"schema":{"xfVF":{"name":"d","type":"text"},"z07X":{"name":"Related
        to TESTING PAGE (b)","type":"relation","property":"za6c","collection_id":"ce1e69fc-7594-482d-b88d-b0ef0821dad0","collection_pointer":{"id":"ce1e69fc-7594-482d-b88d-b0ef0821dad0","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"title":{"name":"c","type":"title"}},"parent_id":"f2822640-dbe6-46f0-bca3-bd7e4c6e87d6","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"collection":{"073497c2-a446-4ee4-acee-ca16d3c8524b":{"role":"editor","value":{"id":"073497c2-a446-4ee4-acee-ca16d3c8524b","version":3,"name":[["TESTING
        PAGE"]],"schema":{"xfVF":{"name":"d","type":"text"},"z07X":{"name":"Related
        to TESTING PAGE (b)","type":"relation","property":"za6c","collection_id":"ce1e69fc-7594-482d-b88d-b0ef0821dad0","collection_pointer":{"id":"ce1e69fc-7594-482d-b88d-b0ef0821dad0","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"title":{"name":"c","type":"title"}},"parent_id":"f2822640-dbe6-46f0-bca3-bd7e4c6e87d6","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"block":{"f2822640-dbe6-46f0-bca3-bd7e4c6e87d6":{"role":"editor","value":{"id":"f2822640-dbe6-46f0-bca3-bd7e4c6e87d6","version":13,"type":"collection_view_page","content":["073497c2-a446-4ee4-acee-ca16d3c8524b","7f03f15e-2715-418e-8283-7cf6998a8fd1"],"view_ids":["7f03f15e-2715-418e-8283-7cf6998a8fd1"],"format":{"collection_pointer":{"id":"073497c2-a446-4ee4-acee-ca16d3c8524b","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed85[...]
[...]
- request:
    body: '{"requests": [{"table": "collection_view", "id": "7f03f15e-2715-418e-8283-7cf6998a8fd1"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"7f03f15e-2715-418e-8283-7cf6998a8fd1","version":5,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"xfVF"}]},"parent_id":"f2822640-dbe6-46f0-bca3-bd7e4c6e87d6","parent_table":"block","alive":true,"page_sort":["daa22892-c6d5-4d5a-88ae-a40ca0f9fd1a","9849efce-2942-41f5-a8ec-175c5c050770"],"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1653055574842,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}],"recordMapWithRoles":{"collection_view":{"7f03f15e-2715-418e-8283-7cf6998a8fd1":{"role":"editor","value":{"id":"7f03f15e-2715-418e-8283-7cf6998a8fd1","version":5,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visib[...]
- request:
    body: '{"collection": {"id": "073497c2-a446-4ee4-acee-ca16d3c8524b", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "7f03f15e-2715-418e-8283-7cf6998a8fd1",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"table:uncategorized:title:count":
      {"aggregation": {"aggregator": "count", "property": "title"}, "type": "aggregation"}},
      "searchQuery": "", "sort": [], "userTimeZone": "Asia/Tashkent", "type": "reducer"}}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"table:uncategorized:title:count":{"type":"aggregation","aggregationResult":{"type":"number","value":2}}}},"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"collection": {"id": "073497c2-a446-4ee4-acee-ca16d3c8524b", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "7f03f15e-2715-418e-8283-7cf6998a8fd1",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 2, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["daa22892-c6d5-4d5a-88ae-a40ca0f9fd1a","9849efce-2942-41f5-a8ec-175c5c050770"],"hasMore":false}}},"recordMap":{"block":{"daa22892-c6d5-4d5a-88ae-a40ca0f9fd1a":{"role":"editor","value":{"id":"daa22892-c6d5-4d5a-88ae-a40ca0f9fd1a","version":6,"type":"page","properties":{"title":[["cc"]]},"created_time":1653055577474,"last_edited_time":1653055577850,"parent_id":"073497c2-a446-4ee4-acee-ca16d3c8524b","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"9849efce-2942-41f5-a8ec-175c5c050770":{"role":"editor","value":{"id":"9849efce-2942-41f5-a[...]
[...]
- request:
    body: '{"blockIds": ["ca728fbc-d66c-4577-a36c-01de2a60976c"], "permanentlyDelete":
      true}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
