interactions:
- request:
    body: '{}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":31,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["5585f343-8ea5-469b-8a90-a05987977424"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":3945,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1652698380000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-[...]
- request:
    body: '{"operations": [{"id": "1751a37f-b833-4617-b69e-9e57c5eee467", "path":
      [], "args": {"id": "1751a37f-b833-4617-b69e-9e57c5eee467", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1652969274030, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652969274030}, "command":
      "update", "id": "1751a37f-b833-4617-b69e-9e57c5eee467", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "1751a37f-b833-4617-b69e-9e57c5eee467"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652969274030}, "command":
      "update", "id": "1751a37f-b833-4617-b69e-9e57c5eee467", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "8dc32957-ee0e-42ea-a485-c55f8fdefe75", "path":
      [], "args": {"id": "8dc32957-ee0e-42ea-a485-c55f8fdefe75", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1652969274422, "parent_id": "1751a37f-b833-4617-b69e-9e57c5eee467",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "DCYx": {"name": "b", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "1751a37f-b833-4617-b69e-9e57c5eee467", "path": ["content"], "args":
      {"id": "8dc32957-ee0e-42ea-a485-c55f8fdefe75"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652969274422}, "command":
      "update", "id": "1751a37f-b833-4617-b69e-9e57c5eee467", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652969274422}, "command":
      "update", "id": "1751a37f-b833-4617-b69e-9e57c5eee467", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "1751a37f-b833-4617-b69e-9e57c5eee467", "path":
      ["format", "collection_pointer", "id"], "args": "8dc32957-ee0e-42ea-a485-c55f8fdefe75",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652969274817}, "command":
      "update", "id": "1751a37f-b833-4617-b69e-9e57c5eee467", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "de2fd069-b513-4818-abef-d751b2204815", "path":
      ["format", "table_properties"], "args": [{"visible": true, "property": "title"},
      {"visible": true, "property": "DCYx"}], "command": "set", "table": "collection_view"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "1db6df33-e414-4320-8df3-980b30e0d06a", "path":
      [], "args": {"id": "1db6df33-e414-4320-8df3-980b30e0d06a", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1652969277781, "parent_id": "e4999a83-1a4a-4974-b8e8-864f7fa3bab6",
      "parent_table": "block", "schema": {"title": {"name": "c", "type": "title"},
      "RNwF": {"name": "d", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "e4999a83-1a4a-4974-b8e8-864f7fa3bab6", "path": ["content"], "args":
      {"id": "1db6df33-e414-4320-8df3-980b30e0d06a"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652969277781}, "command":
      "update", "id": "e4999a83-1a4a-4974-b8e8-864f7fa3bab6", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652969277781}, "command":
      "update", "id": "e4999a83-1a4a-4974-b8e8-864f7fa3bab6", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"blockId": "e4999a83-1a4a-4974-b8e8-864f7fa3bab6"}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getPublicPageData
  response:
    body:
      string: '{"spaceName":"test_py","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274","spaceDomain":"laced-taxi-315","canJoinSpace":true,"userHasExplicitAccess":true,"ownerUserId":"a03b888f-5426-4e4f-b5ef-bed855b162f0","betaEnabled":false,"canRequestAccess":true,"requireLogin":false,"publicAccessRole":"none"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "8dc32957-ee0e-42ea-a485-c55f8fdefe75", "path":
      ["schema"], "args": {"title": {"name": "a", "type": "title"}, "DCYx": {"name":
      "b", "type": "relation", "property": "L9zs", "collection_id": "1db6df33-e414-4320-8df3-980b30e0d06a",
      "collection_pointer": {"id": "1db6df33-e414-4320-8df3-980b30e0d06a", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274", "table": "collection"}}}, "command":
      "set", "table": "collection"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"page": {"id": "1751a37f-b833-4617-b69e-9e57c5eee467"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"1751a37f-b833-4617-b69e-9e57c5eee467":{"role":"editor","value":{"id":"1751a37f-b833-4617-b69e-9e57c5eee467","version":13,"type":"collection_view_page","content":["8dc32957-ee0e-42ea-a485-c55f8fdefe75","de2fd069-b513-4818-abef-d751b2204815"],"view_ids":["de2fd069-b513-4818-abef-d751b2204815"],"format":{"collection_pointer":{"id":"8dc32957-ee0e-42ea-a485-c55f8fdefe75","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1652969274030,"last_edited_time":1652969276252,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":3947,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["1751a37f-b833-4617-b69e-9e57c5eee467","e4999a83-1a4a-4974-b8e8-864f7fa3bab6"],"created_time":1638259881592,"last_edited_time":1652698380000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection":{"8dc32957-ee0e-42ea-a485-c55f8fdefe75":{"role":"editor","value":{"id":"8dc32957-ee0e-42ea-a485-c55f8fdefe75","version":3,"name":[["TESTING
        PAGE"]],"schema":{"DCYx":{"name":"b","type":"relation","property":"L9zs","collection_id":"1db6df33-e414-4320-8df3-980b30e0d06a","collection_pointer":{"id":"1db6df33-e414-4320-8df3-980b30e0d06a","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"title":{"name":"a","type":"title"}},"parent_id":"1751a37f-b833-4617-b69e-9e57c5eee467","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection_view":{"de2fd069-b513-4818-abef-d751b2204815":{"role":"editor","value":{"id":"de2fd069-b513-4818-abef-d751b2204815","version":3,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"DCYx"}]},"parent_id":"1751a37f-b833-4617-b69e-9e57c5eee467","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1652969275174,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"requests": [{"table": "collection", "id": "1db6df33-e414-4320-8df3-980b30e0d06a"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"1db6df33-e414-4320-8df3-980b30e0d06a","version":3,"name":[["TESTING
        PAGE"]],"schema":{"L9zs":{"name":"Related to TESTING PAGE (b)","type":"relation","property":"DCYx","collection_id":"8dc32957-ee0e-42ea-a485-c55f8fdefe75","collection_pointer":{"id":"8dc32957-ee0e-42ea-a485-c55f8fdefe75","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"RNwF":{"name":"d","type":"text"},"title":{"name":"c","type":"title"}},"parent_id":"e4999a83-1a4a-4974-b8e8-864f7fa3bab6","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"collection":{"1db6df33-e414-4320-8df3-980b30e0d06a":{"role":"editor","value":{"id":"1db6df33-e414-4320-8df3-980b30e0d06a","version":3,"name":[["TESTING
        PAGE"]],"schema":{"L9zs":{"name":"Related to TESTING PAGE (b)","type":"relation","property":"DCYx","collection_id":"8dc32957-ee0e-42ea-a485-c55f8fdefe75","collection_pointer":{"id":"8dc32957-ee0e-42ea-a485-c55f8fdefe75","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"RNwF":{"name":"d","type":"text"},"title":{"name":"c","type":"title"}},"parent_id":"e4999a83-1a4a-4974-b8e8-864f7fa3bab6","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"block":{"e4999a83-1a4a-4974-b8e8-864f7fa3bab6":{"role":"editor","value":{"id":"e4999a83-1a4a-4974-b8e8-864f7fa3bab6","version":13,"type":"collection_view_page","content":["1db6df33-e414-4320-8df3-980b30e0d06a","2f057116-9ebc-46b7-8f48-fbe909eea866"],"view_ids":["2f057116-9ebc-46b7-8f48-fbe909eea866"],"format":{"collection_pointer":{"id":"1db6df33-e414-4320-8df3-980b30e0d06a","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed85[...]
[...]
- request:
    body: '{"requests": [{"table": "collection_view", "id": "2f057116-9ebc-46b7-8f48-fbe909eea866"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"2f057116-9ebc-46b7-8f48-fbe909eea866","version":4,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"RNwF"}]},"parent_id":"e4999a83-1a4a-4974-b8e8-864f7fa3bab6","parent_table":"block","alive":true,"page_sort":["80c2463c-46ff-48fd-a12f-d0b481fdd722"],"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1652969278519,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}],"recordMapWithRoles":{"collection_view":{"2f057116-9ebc-46b7-8f48-fbe909eea866":{"role":"editor","value":{"id":"2f057116-9ebc-46b7-8f48-fbe909eea866","version":4,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"RNwF"}]},"parent_i[...]
- request:
    body: '{"collection": {"id": "1db6df33-e414-4320-8df3-980b30e0d06a", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "2f057116-9ebc-46b7-8f48-fbe909eea866",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"table:uncategorized:title:count":
      {"aggregation": {"aggregator": "count", "property": "title"}, "type": "aggregation"}},
      "searchQuery": "", "sort": [], "userTimeZone": "Asia/Tashkent", "type": "reducer"}}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"table:uncategorized:title:count":{"type":"aggregation","aggregationResult":{"type":"number","value":1}}}},"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"collection": {"id": "1db6df33-e414-4320-8df3-980b30e0d06a", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "2f057116-9ebc-46b7-8f48-fbe909eea866",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 1, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["80c2463c-46ff-48fd-a12f-d0b481fdd722"],"hasMore":false}}},"recordMap":{"block":{"80c2463c-46ff-48fd-a12f-d0b481fdd722":{"role":"editor","value":{"id":"80c2463c-46ff-48fd-a12f-d0b481fdd722","version":6,"type":"page","properties":{"title":[["cc"]]},"created_time":1652969280963,"last_edited_time":1652969281978,"parent_id":"1db6df33-e414-4320-8df3-980b30e0d06a","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"e4999a83-1a4a-4974-b8e8-864f7fa3bab6":{"role":"editor","value":{"id":"e4999a83-1a4a-4974-b[...]
[...]
- request:
    body: '{"blockIds": ["1751a37f-b833-4617-b69e-9e57c5eee467"], "permanentlyDelete":
      true}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
