interactions:
- request:
    body: '{}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":31,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["5585f343-8ea5-469b-8a90-a05987977424"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":4495,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1652698380000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-[...]
- request:
    body: '{"operations": [{"id": "8ca4b00f-4da1-4947-9371-fe22e9999ca9", "path":
      [], "args": {"id": "8ca4b00f-4da1-4947-9371-fe22e9999ca9", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1653059266557, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653059266557}, "command":
      "update", "id": "8ca4b00f-4da1-4947-9371-fe22e9999ca9", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "8ca4b00f-4da1-4947-9371-fe22e9999ca9"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653059266557}, "command":
      "update", "id": "8ca4b00f-4da1-4947-9371-fe22e9999ca9", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "7391e54c-6df6-4a23-9bac-e119bb6a92ef", "path":
      [], "args": {"id": "7391e54c-6df6-4a23-9bac-e119bb6a92ef", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1653059266959, "parent_id": "8ca4b00f-4da1-4947-9371-fe22e9999ca9",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "p0eM": {"name": "b", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "8ca4b00f-4da1-4947-9371-fe22e9999ca9", "path": ["content"], "args":
      {"id": "7391e54c-6df6-4a23-9bac-e119bb6a92ef"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653059266959}, "command":
      "update", "id": "8ca4b00f-4da1-4947-9371-fe22e9999ca9", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653059266959}, "command":
      "update", "id": "8ca4b00f-4da1-4947-9371-fe22e9999ca9", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "8ca4b00f-4da1-4947-9371-fe22e9999ca9", "path":
      ["format", "collection_pointer", "id"], "args": "7391e54c-6df6-4a23-9bac-e119bb6a92ef",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653059267359}, "command":
      "update", "id": "8ca4b00f-4da1-4947-9371-fe22e9999ca9", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "74c26e91-017e-43ff-8310-22abb8a5c49e", "path":
      ["format", "table_properties"], "args": [{"visible": true, "property": "title"},
      {"visible": true, "property": "p0eM"}], "command": "set", "table": "collection_view"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "50e37ec3-525b-41ea-adad-057bf55e4d55", "path":
      [], "args": {"id": "50e37ec3-525b-41ea-adad-057bf55e4d55", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1653059269902, "parent_id": "7023427f-07e7-45cf-aa49-393cd15e7870",
      "parent_table": "block", "schema": {"title": {"name": "c", "type": "title"},
      "kOYR": {"name": "d", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "7023427f-07e7-45cf-aa49-393cd15e7870", "path": ["content"], "args":
      {"id": "50e37ec3-525b-41ea-adad-057bf55e4d55"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653059269902}, "command":
      "update", "id": "7023427f-07e7-45cf-aa49-393cd15e7870", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653059269902}, "command":
      "update", "id": "7023427f-07e7-45cf-aa49-393cd15e7870", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"blockId": "7023427f-07e7-45cf-aa49-393cd15e7870"}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getPublicPageData
  response:
    body:
      string: '{"spaceName":"test_py","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274","spaceDomain":"laced-taxi-315","canJoinSpace":true,"userHasExplicitAccess":true,"ownerUserId":"a03b888f-5426-4e4f-b5ef-bed855b162f0","betaEnabled":false,"canRequestAccess":true,"requireLogin":false,"publicAccessRole":"none"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "7391e54c-6df6-4a23-9bac-e119bb6a92ef", "path":
      ["schema"], "args": {"title": {"name": "a", "type": "title"}, "p0eM": {"name":
      "b", "type": "relation", "property": "Ib4R", "collection_id": "50e37ec3-525b-41ea-adad-057bf55e4d55",
      "collection_pointer": {"id": "50e37ec3-525b-41ea-adad-057bf55e4d55", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274", "table": "collection"}}}, "command":
      "set", "table": "collection"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"page": {"id": "8ca4b00f-4da1-4947-9371-fe22e9999ca9"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"8ca4b00f-4da1-4947-9371-fe22e9999ca9":{"role":"editor","value":{"id":"8ca4b00f-4da1-4947-9371-fe22e9999ca9","version":13,"type":"collection_view_page","content":["7391e54c-6df6-4a23-9bac-e119bb6a92ef","74c26e91-017e-43ff-8310-22abb8a5c49e"],"view_ids":["74c26e91-017e-43ff-8310-22abb8a5c49e"],"format":{"collection_pointer":{"id":"7391e54c-6df6-4a23-9bac-e119bb6a92ef","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1653059266557,"last_edited_time":1653059268463,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":4497,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["8ca4b00f-4da1-4947-9371-fe22e9999ca9","7023427f-07e7-45cf-aa49-393cd15e7870"],"created_time":1638259881592,"last_edited_time":1652698380000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection":{"7391e54c-6df6-4a23-9bac-e119bb6a92ef":{"role":"editor","value":{"id":"7391e54c-6df6-4a23-9bac-e119bb6a92ef","version":3,"name":[["TESTING
        PAGE"]],"schema":{"p0eM":{"name":"b","type":"relation","property":"Ib4R","collection_id":"50e37ec3-525b-41ea-adad-057bf55e4d55","collection_pointer":{"id":"50e37ec3-525b-41ea-adad-057bf55e4d55","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"title":{"name":"a","type":"title"}},"parent_id":"8ca4b00f-4da1-4947-9371-fe22e9999ca9","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection_view":{"74c26e91-017e-43ff-8310-22abb8a5c49e":{"role":"editor","value":{"id":"74c26e91-017e-43ff-8310-22abb8a5c49e","version":3,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"p0eM"}]},"parent_id":"8ca4b00f-4da1-4947-9371-fe22e9999ca9","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1653059267686,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"requests": [{"table": "collection", "id": "50e37ec3-525b-41ea-adad-057bf55e4d55"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"50e37ec3-525b-41ea-adad-057bf55e4d55","version":3,"name":[["TESTING
        PAGE"]],"schema":{"Ib4R":{"name":"Related to TESTING PAGE (b)","type":"relation","property":"p0eM","collection_id":"7391e54c-6df6-4a23-9bac-e119bb6a92ef","collection_pointer":{"id":"7391e54c-6df6-4a23-9bac-e119bb6a92ef","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"kOYR":{"name":"d","type":"text"},"title":{"name":"c","type":"title"}},"parent_id":"7023427f-07e7-45cf-aa49-393cd15e7870","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"collection":{"50e37ec3-525b-41ea-adad-057bf55e4d55":{"role":"editor","value":{"id":"50e37ec3-525b-41ea-adad-057bf55e4d55","version":3,"name":[["TESTING
        PAGE"]],"schema":{"Ib4R":{"name":"Related to TESTING PAGE (b)","type":"relation","property":"p0eM","collection_id":"7391e54c-6df6-4a23-9bac-e119bb6a92ef","collection_pointer":{"id":"7391e54c-6df6-4a23-9bac-e119bb6a92ef","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"kOYR":{"name":"d","type":"text"},"title":{"na[...]
[...]
- request:
    body: '{"requests": [{"table": "collection_view", "id": "ee3f0677-1e8a-4174-869e-6cbc34c2c57b"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"ee3f0677-1e8a-4174-869e-6cbc34c2c57b","version":3,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"kOYR"}]},"parent_id":"7023427f-07e7-45cf-aa49-393cd15e7870","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1653059270602,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}],"recordMapWithRoles":{"collection_view":{"ee3f0677-1e8a-4174-869e-6cbc34c2c57b":{"role":"editor","value":{"id":"ee3f0677-1e8a-4174-869e-6cbc34c2c57b","version":3,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"kOYR"}]},"parent_id":"7023427f-07e7-45cf-aa49-393cd15e7870","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1653059270602,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}},"block":{"7023427f-07e7-45cf-aa49-393cd15e7[...]
- request:
    body: '{"collection": {"id": "50e37ec3-525b-41ea-adad-057bf55e4d55", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "ee3f0677-1e8a-4174-869e-6cbc34c2c57b",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"table:uncategorized:title:count":
      {"aggregation": {"aggregator": "count", "property": "title"}, "type": "aggregation"}},
      "searchQuery": "", "sort": [], "userTimeZone": "Asia/Tashkent", "type": "reducer"}}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"table:uncategorized:title:count":{"type":"aggregation","aggregationResult":{"type":"number","value":0}}}},"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"collection": {"id": "50e37ec3-525b-41ea-adad-057bf55e4d55", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "ee3f0677-1e8a-4174-869e-6cbc34c2c57b",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 0, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":[],"hasMore":false}}},"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"collection": {"id": "7391e54c-6df6-4a23-9bac-e119bb6a92ef", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "74c26e91-017e-43ff-8310-22abb8a5c49e",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 1, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["d1fff2ae-fcc5-478d-a2b7-c571f7afbcc7"],"hasMore":false}}},"recordMap":{"block":{"d1fff2ae-fcc5-478d-a2b7-c571f7afbcc7":{"role":"editor","value":{"id":"d1fff2ae-fcc5-478d-a2b7-c571f7afbcc7","version":8,"type":"page","properties":{"title":[["aa"]]},"created_time":1653059278079,"last_edited_time":1653059283684,"parent_id":"7391e54c-6df6-4a23-9bac-e119bb6a92ef","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"8ca4b00f-4da1-4947-9371-fe22e9999ca9":{"role":"editor","value":{"id":"8ca4b00f-4da1-4947-9[...]
[...]
- request:
    body: '{"blockIds": ["8ca4b00f-4da1-4947-9371-fe22e9999ca9"], "permanentlyDelete":
      true}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
