interactions:
- request:
    body: '{}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":31,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["5585f343-8ea5-469b-8a90-a05987977424"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":4901,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1652698380000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-[...]
- request:
    body: '{"operations": [{"id": "f047a80d-5849-43b0-af5a-7d8776dda398", "path":
      [], "args": {"id": "f047a80d-5849-43b0-af5a-7d8776dda398", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1653142915822, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653142915822}, "command":
      "update", "id": "f047a80d-5849-43b0-af5a-7d8776dda398", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "f047a80d-5849-43b0-af5a-7d8776dda398"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653142915822}, "command":
      "update", "id": "f047a80d-5849-43b0-af5a-7d8776dda398", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "d35df116-9486-42e9-9eda-ec36eea6388b", "path":
      [], "args": {"id": "d35df116-9486-42e9-9eda-ec36eea6388b", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1653142916222, "parent_id": "f047a80d-5849-43b0-af5a-7d8776dda398",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "8aPJ": {"name": "b", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "f047a80d-5849-43b0-af5a-7d8776dda398", "path": ["content"], "args":
      {"id": "d35df116-9486-42e9-9eda-ec36eea6388b"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653142916222}, "command":
      "update", "id": "f047a80d-5849-43b0-af5a-7d8776dda398", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653142916222}, "command":
      "update", "id": "f047a80d-5849-43b0-af5a-7d8776dda398", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "f047a80d-5849-43b0-af5a-7d8776dda398", "path":
      ["format", "collection_pointer", "id"], "args": "d35df116-9486-42e9-9eda-ec36eea6388b",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653142916619}, "command":
      "update", "id": "f047a80d-5849-43b0-af5a-7d8776dda398", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "96141bd3-f460-4c95-aafe-6a68f8d6c487", "path":
      ["format", "table_properties"], "args": [{"visible": true, "property": "title"},
      {"visible": true, "property": "8aPJ"}], "command": "set", "table": "collection_view"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "d26dcd76-fa2a-48bc-9ec5-de73a9181056", "path":
      [], "args": {"id": "d26dcd76-fa2a-48bc-9ec5-de73a9181056", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1653142919109, "parent_id": "1b07f363-d41b-4d66-8c93-eb659206d8ec",
      "parent_table": "block", "schema": {"title": {"name": "c", "type": "title"},
      "btgn": {"name": "d", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "1b07f363-d41b-4d66-8c93-eb659206d8ec", "path": ["content"], "args":
      {"id": "d26dcd76-fa2a-48bc-9ec5-de73a9181056"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653142919109}, "command":
      "update", "id": "1b07f363-d41b-4d66-8c93-eb659206d8ec", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653142919109}, "command":
      "update", "id": "1b07f363-d41b-4d66-8c93-eb659206d8ec", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"blockId": "1b07f363-d41b-4d66-8c93-eb659206d8ec"}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getPublicPageData
  response:
    body:
      string: '{"spaceName":"test_py","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274","spaceDomain":"laced-taxi-315","canJoinSpace":true,"userHasExplicitAccess":true,"ownerUserId":"a03b888f-5426-4e4f-b5ef-bed855b162f0","betaEnabled":false,"canRequestAccess":true,"requireLogin":false,"publicAccessRole":"none"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "d35df116-9486-42e9-9eda-ec36eea6388b", "path":
      ["schema"], "args": {"title": {"name": "a", "type": "title"}, "8aPJ": {"name":
      "b", "type": "relation", "property": "3kLu", "collection_id": "d26dcd76-fa2a-48bc-9ec5-de73a9181056",
      "collection_pointer": {"id": "d26dcd76-fa2a-48bc-9ec5-de73a9181056", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274", "table": "collection"}}}, "command":
      "set", "table": "collection"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"page": {"id": "f047a80d-5849-43b0-af5a-7d8776dda398"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"f047a80d-5849-43b0-af5a-7d8776dda398":{"role":"editor","value":{"id":"f047a80d-5849-43b0-af5a-7d8776dda398","version":13,"type":"collection_view_page","content":["d35df116-9486-42e9-9eda-ec36eea6388b","96141bd3-f460-4c95-aafe-6a68f8d6c487"],"view_ids":["96141bd3-f460-4c95-aafe-6a68f8d6c487"],"format":{"collection_pointer":{"id":"d35df116-9486-42e9-9eda-ec36eea6388b","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1653142915822,"last_edited_time":1653142917675,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":4903,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["f047a80d-5849-43b0-af5a-7d8776dda398","1b07f363-d41b-4d66-8c93-eb659206d8ec"],"created_time":1638259881592,"last_edited_time":1652698380000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection":{"d35df116-9486-42e9-9eda-ec36eea6388b":{"role":"editor","value":{"id":"d35df116-9486-42e9-9eda-ec36eea6388b","version":3,"name":[["TESTING
        PAGE"]],"schema":{"8aPJ":{"name":"b","type":"relation","property":"3kLu","collection_id":"d26dcd76-fa2a-48bc-9ec5-de73a9181056","collection_pointer":{"id":"d26dcd76-fa2a-48bc-9ec5-de73a9181056","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"title":{"name":"a","type":"title"}},"parent_id":"f047a80d-5849-43b0-af5a-7d8776dda398","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection_view":{"96141bd3-f460-4c95-aafe-6a68f8d6c487":{"role":"editor","value":{"id":"96141bd3-f460-4c95-aafe-6a68f8d6c487","version":3,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"8aPJ"}]},"parent_id":"f047a80d-5849-43b0-af5a-7d8776dda398","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1653142916960,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"requests": [{"table": "collection", "id": "d26dcd76-fa2a-48bc-9ec5-de73a9181056"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"d26dcd76-fa2a-48bc-9ec5-de73a9181056","version":3,"name":[["TESTING
        PAGE"]],"schema":{"3kLu":{"name":"Related to TESTING PAGE (b)","type":"relation","property":"8aPJ","collection_id":"d35df116-9486-42e9-9eda-ec36eea6388b","collection_pointer":{"id":"d35df116-9486-42e9-9eda-ec36eea6388b","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"btgn":{"name":"d","type":"text"},"title":{"name":"c","type":"title"}},"parent_id":"1b07f363-d41b-4d66-8c93-eb659206d8ec","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"collection":{"d26dcd76-fa2a-48bc-9ec5-de73a9181056":{"role":"editor","value":{"id":"d26dcd76-fa2a-48bc-9ec5-de73a9181056","version":3,"name":[["TESTING
        PAGE"]],"schema":{"3kLu":{"name":"Related to TESTING PAGE (b)","type":"relation","property":"8aPJ","collection_id":"d35df116-9486-42e9-9eda-ec36eea6388b","collection_pointer":{"id":"d35df116-9486-42e9-9eda-ec36eea6388b","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"btgn":{"name":"d","type":"text"},"title":{"name":"c","type":"title"}},"parent_id":"1b07f363-d41b-4d[...]
- request:
    body: '{"requests": [{"table": "collection_view", "id": "50f1bb56-cb1a-4405-b4cd-28f94bb69350"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"50f1bb56-cb1a-4405-b4cd-28f94bb69350","version":4,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"btgn"}]},"parent_id":"1b07f363-d41b-4d66-8c93-eb659206d8ec","parent_table":"block","alive":true,"page_sort":["612fc458-c82a-4457-9d6b-a26fbc249a58"],"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1653142919825,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}],"recordMapWithRoles":{"collection_view":{"50f1bb56-cb1a-4405-b4cd-28f94bb69350":{"role":"editor","value":{"id":"50f1bb56-cb1a-4405-b4cd-28f94bb69350","version":4,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"btgn"}]},"parent_i[...]
- request:
    body: '{"collection": {"id": "d26dcd76-fa2a-48bc-9ec5-de73a9181056", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "50f1bb56-cb1a-4405-b4cd-28f94bb69350",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"table:uncategorized:title:count":
      {"aggregation": {"aggregator": "count", "property": "title"}, "type": "aggregation"}},
      "searchQuery": "", "sort": [], "userTimeZone": "Asia/Tashkent", "type": "reducer"}}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"table:uncategorized:title:count":{"type":"aggregation","aggregationResult":{"type":"number","value":1}}}},"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"collection": {"id": "d26dcd76-fa2a-48bc-9ec5-de73a9181056", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "50f1bb56-cb1a-4405-b4cd-28f94bb69350",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 1, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["612fc458-c82a-4457-9d6b-a26fbc249a58"],"hasMore":false}}},"recordMap":{"block":{"612fc458-c82a-4457-9d6b-a26fbc249a58":{"role":"editor","value":{"id":"612fc458-c82a-4457-9d6b-a26fbc249a58","version":8,"type":"page","properties":{"btgn":[["dd"]],"title":[["cc"]]},"created_time":1653142921522,"last_edited_time":1653142921918,"parent_id":"d26dcd76-fa2a-48bc-9ec5-de73a9181056","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"1b07f363-d41b-4d66-8c93-eb659206d8ec":{"role":"editor","value":{"id":"1b07[...]
[...]
- request:
    body: '{"blockIds": ["f047a80d-5849-43b0-af5a-7d8776dda398"], "permanentlyDelete":
      true}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
