interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":27,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["03b83ede-64a9-4547-98cf-a22bad3f7568"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":1632,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1651643880000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "d6d9e12d-82cc-4cf8-a437-7d163a1f232e", "path":
      [], "args": {"id": "d6d9e12d-82cc-4cf8-a437-7d163a1f232e", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651643972165, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651643972165}, "command":
      "update", "id": "d6d9e12d-82cc-4cf8-a437-7d163a1f232e", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "d6d9e12d-82cc-4cf8-a437-7d163a1f232e"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651643972165}, "command":
      "update", "id": "d6d9e12d-82cc-4cf8-a437-7d163a1f232e", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "83a52327-43d0-48da-bf86-fa7c3ac53d85", "path":
      [], "args": {"id": "83a52327-43d0-48da-bf86-fa7c3ac53d85", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651643972790, "parent_id": "d6d9e12d-82cc-4cf8-a437-7d163a1f232e",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "wWR4": {"name": "b", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "d6d9e12d-82cc-4cf8-a437-7d163a1f232e", "path": ["content"], "args":
      {"id": "83a52327-43d0-48da-bf86-fa7c3ac53d85"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651643972790}, "command":
      "update", "id": "d6d9e12d-82cc-4cf8-a437-7d163a1f232e", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651643972790}, "command":
      "update", "id": "d6d9e12d-82cc-4cf8-a437-7d163a1f232e", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "d6d9e12d-82cc-4cf8-a437-7d163a1f232e", "path":
      ["format", "collection_pointer", "id"], "args": "83a52327-43d0-48da-bf86-fa7c3ac53d85",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651643973749}, "command":
      "update", "id": "d6d9e12d-82cc-4cf8-a437-7d163a1f232e", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "6e78b1c9-4eba-43a9-88da-5eabd1aaf59e", "path":
      [], "args": {"id": "6e78b1c9-4eba-43a9-88da-5eabd1aaf59e", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651643977378, "parent_id": "51f34cfb-8511-449a-ae02-ce2b3901409c",
      "parent_table": "block", "schema": {"title": {"name": "c", "type": "title"},
      "LpkI": {"name": "d", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "51f34cfb-8511-449a-ae02-ce2b3901409c", "path": ["content"], "args":
      {"id": "6e78b1c9-4eba-43a9-88da-5eabd1aaf59e"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651643977378}, "command":
      "update", "id": "51f34cfb-8511-449a-ae02-ce2b3901409c", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651643977378}, "command":
      "update", "id": "51f34cfb-8511-449a-ae02-ce2b3901409c", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"blockId": "51f34cfb-8511-449a-ae02-ce2b3901409c"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getPublicPageData
  response:
    body:
      string: '{"spaceName":"test_py","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274","spaceDomain":"laced-taxi-315","canJoinSpace":true,"userHasExplicitAccess":true,"ownerUserId":"a03b888f-5426-4e4f-b5ef-bed855b162f0","betaEnabled":false,"canRequestAccess":true,"requireLogin":false,"publicAccessRole":"none"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "83a52327-43d0-48da-bf86-fa7c3ac53d85", "path":
      ["schema"], "args": {"title": {"name": "a", "type": "title"}, "wWR4": {"name":
      "b", "type": "relation", "property": "xR9E", "collection_id": "6e78b1c9-4eba-43a9-88da-5eabd1aaf59e",
      "collection_pointer": {"id": "6e78b1c9-4eba-43a9-88da-5eabd1aaf59e", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274", "table": "collection"}}}, "command":
      "set", "table": "collection"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"page": {"id": "d6d9e12d-82cc-4cf8-a437-7d163a1f232e"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"d6d9e12d-82cc-4cf8-a437-7d163a1f232e":{"role":"editor","value":{"id":"d6d9e12d-82cc-4cf8-a437-7d163a1f232e","version":13,"type":"collection_view_page","content":["83a52327-43d0-48da-bf86-fa7c3ac53d85","e93d4c21-1669-4dd6-aea5-a7c0ce2d894c"],"view_ids":["e93d4c21-1669-4dd6-aea5-a7c0ce2d894c"],"format":{"collection_pointer":{"id":"83a52327-43d0-48da-bf86-fa7c3ac53d85","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1651643972165,"last_edited_time":1651643976144,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":1634,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["d6d9e12d-82cc-4cf8-a437-7d163a1f232e","51f34cfb-8511-449a-ae02-ce2b3901409c"],"created_time":1638259881592,"last_edited_time":1651643880000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection":{"83a52327-43d0-48da-bf86-fa7c3ac53d85":{"role":"editor","value":{"id":"83a52327-43d0-48da-bf86-fa7c3ac53d85","version":3,"name":[["TESTING
        PAGE"]],"schema":{"wWR4":{"name":"b","type":"relation","property":"xR9E","collection_id":"6e78b1c9-4eba-43a9-88da-5eabd1aaf59e","collection_pointer":{"id":"6e78b1c9-4eba-43a9-88da-5eabd1aaf59e","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"title":{"name":"a","type":"title"}},"parent_id":"d6d9e12d-82cc-4cf8-a437-7d163a1f232e","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection_view":{"e93d4c21-1669-4dd6-aea5-a7c0ce2d894c":{"role":"editor","value":{"id":"e93d4c21-1669-4dd6-aea5-a7c0ce2d894c","version":2,"type":"table","parent_id":"d6d9e12d-82cc-4cf8-a437-7d163a1f232e","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1651643974128,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"requests": [{"table": "collection", "id": "6e78b1c9-4eba-43a9-88da-5eabd1aaf59e"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"6e78b1c9-4eba-43a9-88da-5eabd1aaf59e","version":3,"name":[["TESTING
        PAGE"]],"schema":{"LpkI":{"name":"d","type":"text"},"xR9E":{"name":"Related
        to TESTING PAGE (b)","type":"relation","property":"wWR4","collection_id":"83a52327-43d0-48da-bf86-fa7c3ac53d85","collection_pointer":{"id":"83a52327-43d0-48da-bf86-fa7c3ac53d85","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"title":{"name":"c","type":"title"}},"parent_id":"51f34cfb-8511-449a-ae02-ce2b3901409c","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"collection":{"6e78b1c9-4eba-43a9-88da-5eabd1aaf59e":{"role":"editor","value":{"id":"6e78b1c9-4eba-43a9-88da-5eabd1aaf59e","version":3,"name":[["TESTING
        PAGE"]],"schema":{"LpkI":{"name":"d","type":"text"},"xR9E":{"name":"Related
        to TESTING PAGE (b)","type":"relation","property":"wWR4","collection_id":"83a52327-43d0-48da-bf86-fa7c3ac53d85","collection_pointer":{"id":"83a52327-43d0-48da-bf86-fa7c3ac53d85","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"tit[...]
[...]
- request:
    body: '{"requests": [{"table": "collection_view", "id": "e46b3a55-fe3f-4368-998a-9a8069de6c59"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"e46b3a55-fe3f-4368-998a-9a8069de6c59","version":2,"type":"table","parent_id":"51f34cfb-8511-449a-ae02-ce2b3901409c","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1651643978206,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}],"recordMapWithRoles":{"collection_view":{"e46b3a55-fe3f-4368-998a-9a8069de6c59":{"role":"editor","value":{"id":"e46b3a55-fe3f-4368-998a-9a8069de6c59","version":2,"type":"table","parent_id":"51f34cfb-8511-449a-ae02-ce2b3901409c","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1651643978206,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}},"block":{"51f34cfb-8511-449a-ae02-ce2b3901409c":{"role":"editor","value":{"id":"51f34cfb-8511-449a-ae02-ce2b3901409c","version":13,"type":"collect[...]
- request:
    body: '{"collection": {"id": "6e78b1c9-4eba-43a9-88da-5eabd1aaf59e", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "e46b3a55-fe3f-4368-998a-9a8069de6c59",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 100, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":[],"hasMore":false}}},"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"blockIds": ["d6d9e12d-82cc-4cf8-a437-7d163a1f232e"], "permanentlyDelete":
      true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
