interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":31,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["5585f343-8ea5-469b-8a90-a05987977424"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":3033,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1651932240000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "f1ab878b-6a57-424d-bed7-8c2e95445427", "path":
      [], "args": {"id": "f1ab878b-6a57-424d-bed7-8c2e95445427", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1652089229342, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652089229342}, "command":
      "update", "id": "f1ab878b-6a57-424d-bed7-8c2e95445427", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "f1ab878b-6a57-424d-bed7-8c2e95445427"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652089229342}, "command":
      "update", "id": "f1ab878b-6a57-424d-bed7-8c2e95445427", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "38d53201-a354-4093-befd-8664e01c2713", "path":
      [], "args": {"id": "38d53201-a354-4093-befd-8664e01c2713", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1652089229814, "parent_id": "f1ab878b-6a57-424d-bed7-8c2e95445427",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "BUrT": {"name": "b", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "f1ab878b-6a57-424d-bed7-8c2e95445427", "path": ["content"], "args":
      {"id": "38d53201-a354-4093-befd-8664e01c2713"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652089229814}, "command":
      "update", "id": "f1ab878b-6a57-424d-bed7-8c2e95445427", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652089229814}, "command":
      "update", "id": "f1ab878b-6a57-424d-bed7-8c2e95445427", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "f1ab878b-6a57-424d-bed7-8c2e95445427", "path":
      ["format", "collection_pointer", "id"], "args": "38d53201-a354-4093-befd-8664e01c2713",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652089230285}, "command":
      "update", "id": "f1ab878b-6a57-424d-bed7-8c2e95445427", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "a5f2f031-8498-4df4-939f-675f3d23a296", "path":
      ["format", "table_properties"], "args": [{"visible": true, "property": "title"},
      {"visible": true, "property": "BUrT"}], "command": "set", "table": "collection_view"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "8e33944a-eb22-444b-a118-be40426f4ac5", "path":
      [], "args": {"id": "8e33944a-eb22-444b-a118-be40426f4ac5", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1652089233540, "parent_id": "f6162939-bfb7-4d1d-adc8-bb895ea741d4",
      "parent_table": "block", "schema": {"title": {"name": "c", "type": "title"},
      "E8AK": {"name": "d", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "f6162939-bfb7-4d1d-adc8-bb895ea741d4", "path": ["content"], "args":
      {"id": "8e33944a-eb22-444b-a118-be40426f4ac5"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652089233540}, "command":
      "update", "id": "f6162939-bfb7-4d1d-adc8-bb895ea741d4", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652089233540}, "command":
      "update", "id": "f6162939-bfb7-4d1d-adc8-bb895ea741d4", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"blockId": "f6162939-bfb7-4d1d-adc8-bb895ea741d4"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getPublicPageData
  response:
    body:
      string: '{"spaceName":"test_py","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274","spaceDomain":"laced-taxi-315","canJoinSpace":true,"userHasExplicitAccess":true,"ownerUserId":"a03b888f-5426-4e4f-b5ef-bed855b162f0","betaEnabled":false,"canRequestAccess":true,"requireLogin":false,"publicAccessRole":"none"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "38d53201-a354-4093-befd-8664e01c2713", "path":
      ["schema"], "args": {"title": {"name": "a", "type": "title"}, "BUrT": {"name":
      "b", "type": "relation", "property": "4cSH", "collection_id": "8e33944a-eb22-444b-a118-be40426f4ac5",
      "collection_pointer": {"id": "8e33944a-eb22-444b-a118-be40426f4ac5", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274", "table": "collection"}}}, "command":
      "set", "table": "collection"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"page": {"id": "f1ab878b-6a57-424d-bed7-8c2e95445427"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"f1ab878b-6a57-424d-bed7-8c2e95445427":{"role":"editor","value":{"id":"f1ab878b-6a57-424d-bed7-8c2e95445427","version":13,"type":"collection_view_page","content":["38d53201-a354-4093-befd-8664e01c2713","a5f2f031-8498-4df4-939f-675f3d23a296"],"view_ids":["a5f2f031-8498-4df4-939f-675f3d23a296"],"format":{"collection_pointer":{"id":"38d53201-a354-4093-befd-8664e01c2713","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1652089229342,"last_edited_time":1652089231669,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":3035,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["f1ab878b-6a57-424d-bed7-8c2e95445427","f6162939-bfb7-4d1d-adc8-bb895ea741d4"],"created_time":1638259881592,"last_edited_time":1651932240000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection":{"38d53201-a354-4093-befd-8664e01c2713":{"role":"editor","value":{"id":"38d53201-a354-4093-befd-8664e01c2713","version":3,"name":[["TESTING
        PAGE"]],"schema":{"BUrT":{"name":"b","type":"relation","property":"4cSH","collection_id":"8e33944a-eb22-444b-a118-be40426f4ac5","collection_pointer":{"id":"8e33944a-eb22-444b-a118-be40426f4ac5","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"title":{"name":"a","type":"title"}},"parent_id":"f1ab878b-6a57-424d-bed7-8c2e95445427","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection_view":{"a5f2f031-8498-4df4-939f-675f3d23a296":{"role":"editor","value":{"id":"a5f2f031-8498-4df4-939f-675f3d23a296","version":3,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"BUrT"}]},"parent_id":"f1ab878b-6a57-424d-bed7-8c2e95445427","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1652089230716,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"requests": [{"table": "collection", "id": "8e33944a-eb22-444b-a118-be40426f4ac5"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"8e33944a-eb22-444b-a118-be40426f4ac5","version":3,"name":[["TESTING
        PAGE"]],"schema":{"4cSH":{"name":"Related to TESTING PAGE (b)","type":"relation","property":"BUrT","collection_id":"38d53201-a354-4093-befd-8664e01c2713","collection_pointer":{"id":"38d53201-a354-4093-befd-8664e01c2713","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"E8AK":{"name":"d","type":"text"},"title":{"name":"c","type":"title"}},"parent_id":"f6162939-bfb7-4d1d-adc8-bb895ea741d4","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"collection":{"8e33944a-eb22-444b-a118-be40426f4ac5":{"role":"editor","value":{"id":"8e33944a-eb22-444b-a118-be40426f4ac5","version":3,"name":[["TESTING
        PAGE"]],"schema":{"4cSH":{"name":"Related to TESTING PAGE (b)","type":"relation","property":"BUrT","collection_id":"38d53201-a354-4093-befd-8664e01c2713","collection_pointer":{"id":"38d53201-a354-4093-befd-8664e01c2713","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"E8AK":{"name":"d","type":"text"},"title":{"name":"c","type":"title"}},"parent_id":"f6162939-bfb7-4d1d-adc8-bb895ea741d4","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"block":{"f6162939-bfb7-4d1d-adc8-bb895ea741d4":{"role":"editor","value":{"id":"f6162939-bfb7-4d1d-adc8-bb895ea741d4","version":13,"type":"collection_view_page","content":["8e33944a-eb22-444b-a118-be40426f4ac5","8b40dcb5-d604-42cb-ad91-5fddeb170c80"],"view_ids":["8b40dcb5-d604-42cb-ad91-5fddeb170c80"],"format":{"collection_pointer":{"id":"8e33944a-eb22-444b-a118-be40426f4ac5","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed85[...]
[...]
- request:
    body: '{"collection": {"id": "8e33944a-eb22-444b-a118-be40426f4ac5", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "8b40dcb5-d604-42cb-ad91-5fddeb170c80",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"table:uncategorized:title:count":
      {"aggregation": {"aggregator": "count", "property": "title"}, "type": "aggregation"}},
      "searchQuery": "", "sort": [], "userTimeZone": "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"table:uncategorized:title:count":{"type":"aggregation","aggregationResult":{"type":"number","value":0}}}},"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"collection": {"id": "8e33944a-eb22-444b-a118-be40426f4ac5", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "8b40dcb5-d604-42cb-ad91-5fddeb170c80",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 0, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":[],"hasMore":false}}},"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"blockIds": ["f1ab878b-6a57-424d-bed7-8c2e95445427"], "permanentlyDelete":
      true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
