interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":38,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":5898,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1657343400000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true,"subscription_tier":"personal_free"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-[...]
[...]
- request:
    body: '{"operations": [{"id": "adf4e9f0-c183-448f-be59-41d38ff930a9", "path":
      [], "args": {"id": "adf4e9f0-c183-448f-be59-41d38ff930a9", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1657347830357, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1657347830357}, "command":
      "update", "id": "adf4e9f0-c183-448f-be59-41d38ff930a9", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "adf4e9f0-c183-448f-be59-41d38ff930a9"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1657347830357}, "command":
      "update", "id": "adf4e9f0-c183-448f-be59-41d38ff930a9", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "a6691d44-c697-43de-80e7-36da77405804", "path":
      [], "args": {"id": "a6691d44-c697-43de-80e7-36da77405804", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1657347831051, "parent_id": "adf4e9f0-c183-448f-be59-41d38ff930a9",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "1BIH": {"name": "b", "type": "multi_select"}}}, "command": "set", "table":
      "collection"}, {"id": "adf4e9f0-c183-448f-be59-41d38ff930a9", "path": ["content"],
      "args": {"id": "a6691d44-c697-43de-80e7-36da77405804"}, "command": "listAfter",
      "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1657347831051}, "command":
      "update", "id": "adf4e9f0-c183-448f-be59-41d38ff930a9", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1657347831051}, "command":
      "update", "id": "adf4e9f0-c183-448f-be59-41d38ff930a9", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "adf4e9f0-c183-448f-be59-41d38ff930a9", "path":
      ["format", "collection_pointer", "id"], "args": "a6691d44-c697-43de-80e7-36da77405804",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1657347831741}, "command":
      "update", "id": "adf4e9f0-c183-448f-be59-41d38ff930a9", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "d7aa7a51-2469-4fee-96d1-c5308b7988ca", "path":
      ["format", "table_properties"], "args": [{"visible": true, "property": "title"},
      {"visible": true, "property": "1BIH"}], "command": "set", "table": "collection_view"}]}'
    headers:
      Content-Type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "14f61f68-f4bc-44ba-9197-0aa6d6709a63", "path":
      ["properties", "title"], "args": [["a"]], "command": "set", "table": "block"},
      {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "last_edited_by_table":
      "notion_user", "last_edited_time": 1657347836212}, "command": "update", "id":
      "14f61f68-f4bc-44ba-9197-0aa6d6709a63", "path": [], "table": "block"}, {"id":
      "a6691d44-c697-43de-80e7-36da77405804", "path": ["schema", "1BIH", "options"],
      "args": [{"id": "b5f9c79e-ff4f-11ec-a3b9-6245b4e7389f", "value": "b1", "color":
      "brown"}, {"id": "b5f9c79f-ff4f-11ec-929c-6245b4e7389f", "value": "b2", "color":
      "orange"}, {"id": "b5f9c7a0-ff4f-11ec-af52-6245b4e7389f", "value": "b3", "color":
      "yellow"}], "command": "set", "table": "collection"}, {"id": "14f61f68-f4bc-44ba-9197-0aa6d6709a63",
      "path": ["properties", "1BIH"], "args": [["b1,b2,b3"]], "command": "set", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1657347836218}, "command":
      "update", "id": "14f61f68-f4bc-44ba-9197-0aa6d6709a63", "path": [], "table":
      "block"}, {"id": "d7aa7a51-2469-4fee-96d1-c5308b7988ca", "path": ["page_sort"],
      "args": ["14f61f68-f4bc-44ba-9197-0aa6d6709a63"], "command": "set", "table":
      "collection_view"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1657347836218}, "command":
      "update", "id": "14f61f68-f4bc-44ba-9197-0aa6d6709a63", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"collection": {"id": "a6691d44-c697-43de-80e7-36da77405804", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "d7aa7a51-2469-4fee-96d1-c5308b7988ca",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"table:uncategorized:title:count":
      {"aggregation": {"aggregator": "count", "property": "title"}, "type": "aggregation"}},
      "searchQuery": "", "sort": [], "userTimeZone": "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"table:uncategorized:title:count":{"type":"aggregation","aggregationResult":{"type":"number","value":1}}},"sizeHint":1},"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"collection": {"id": "a6691d44-c697-43de-80e7-36da77405804", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "d7aa7a51-2469-4fee-96d1-c5308b7988ca",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 1, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["14f61f68-f4bc-44ba-9197-0aa6d6709a63"],"hasMore":false}},"sizeHint":1},"recordMap":{"block":{"14f61f68-f4bc-44ba-9197-0aa6d6709a63":{"role":"editor","value":{"id":"14f61f68-f4bc-44ba-9197-0aa6d6709a63","version":8,"type":"page","properties":{"1BIH":[["b1,b2,b3"]],"title":[["a"]]},"created_time":1657347834939,"last_edited_time":1657347836218,"parent_id":"a6691d44-c697-43de-80e7-36da77405804","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"adf4e9f0-c183-448f-be59-41d38ff930a9":{"role":"editor","value":{"id":"adf4e9f0-c183-448f-be59-41d38ff930a9","version":13,"type":"collection_view_page","content":["a6691d44-c697-43de-80e7-36da77405804","d7aa7a51-2469-4fee-96d1-c5308b7988ca"],"view_ids":["d7aa7a51-2469-4fee-96d1-c5308b7988ca"],"format":{"collection_pointer":{"id":"a6691d44-c697-43de-80e7-36da77405804","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1657347830357,"last_edited_time":1657347833548,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection":{"a6691d44-c697-43de-80e7-36da77405804":{"role":"editor","value":{"id":"a6691d44-c697-43de-80e7-36da77405804","version":3,"name":[["TESTING
        PAGE"]],"schema":{"1BIH":{"name":"b","type":"multi_select","options":[{"id":"b5f9c79e-ff4f-11ec-a3b9-6245b4e7389f","color":"brown","value":"b1"},{"id":"b5f9c79f-ff4f-11ec-929c-6245b4e7389f","color":"orange","value":"b2"},{"id":"b5f9c7a0-ff4f-11ec-af52-6245b4e7389f","color":"yellow","value":"b3"}]},"title":{"name":"a","type":"title"}},"parent_id":"adf4e9f0-c183-448f-be59-41d38ff930a9","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":5899,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["adf4e9f0-c183-448f-be59-41d38ff930a9"],"created_time":1638259881592,"last_edited_time":1657343400000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true,"subscription_tier":"personal_free"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"page": {"id": "adf4e9f0-c183-448f-be59-41d38ff930a9"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      Content-Type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"adf4e9f0-c183-448f-be59-41d38ff930a9":{"role":"editor","value":{"id":"adf4e9f0-c183-448f-be59-41d38ff930a9","version":13,"type":"collection_view_page","content":["a6691d44-c697-43de-80e7-36da77405804",[...]
[...]
- request:
    body: '{"blockIds": ["adf4e9f0-c183-448f-be59-41d38ff930a9"], "permanentlyDelete":
      true}'
    headers:
      Content-Type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
