interactions:
- request:
    body: '{}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":31,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["5585f343-8ea5-469b-8a90-a05987977424"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":3883,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1652698380000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-[...]
[...]
- request:
    body: '{"operations": [{"id": "8c7a1c04-89bf-41c6-9b1d-997020ac31e1", "path":
      [], "args": {"id": "8c7a1c04-89bf-41c6-9b1d-997020ac31e1", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1652968919246, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652968919246}, "command":
      "update", "id": "8c7a1c04-89bf-41c6-9b1d-997020ac31e1", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "8c7a1c04-89bf-41c6-9b1d-997020ac31e1"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652968919246}, "command":
      "update", "id": "8c7a1c04-89bf-41c6-9b1d-997020ac31e1", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "4802a342-8ff7-46c8-80df-3fd09b4c2c9d", "path":
      [], "args": {"id": "4802a342-8ff7-46c8-80df-3fd09b4c2c9d", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1652968919629, "parent_id": "8c7a1c04-89bf-41c6-9b1d-997020ac31e1",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "19eM": {"name": "b", "type": "select"}}}, "command": "set", "table": "collection"},
      {"id": "8c7a1c04-89bf-41c6-9b1d-997020ac31e1", "path": ["content"], "args":
      {"id": "4802a342-8ff7-46c8-80df-3fd09b4c2c9d"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652968919629}, "command":
      "update", "id": "8c7a1c04-89bf-41c6-9b1d-997020ac31e1", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652968919629}, "command":
      "update", "id": "8c7a1c04-89bf-41c6-9b1d-997020ac31e1", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "8c7a1c04-89bf-41c6-9b1d-997020ac31e1", "path":
      ["format", "collection_pointer", "id"], "args": "4802a342-8ff7-46c8-80df-3fd09b4c2c9d",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652968920847}, "command":
      "update", "id": "8c7a1c04-89bf-41c6-9b1d-997020ac31e1", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "b44b44fb-d601-4f6b-ad26-4b97793cb1da", "path":
      ["format", "table_properties"], "args": [{"visible": true, "property": "title"},
      {"visible": true, "property": "19eM"}], "command": "set", "table": "collection_view"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"page": {"id": "8c7a1c04-89bf-41c6-9b1d-997020ac31e1"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"8c7a1c04-89bf-41c6-9b1d-997020ac31e1":{"role":"editor","value":{"id":"8c7a1c04-89bf-41c6-9b1d-997020ac31e1","version":13,"type":"collection_view_page","content":["4802a342-8ff7-46c8-80df-3fd09b4c2c9d","b44b44fb-d601-4f6b-ad26-4b97793cb1da"],"view_ids":["b44b44fb-d601-4f6b-ad26-4b97793cb1da"],"format":{"collection_pointer":{"id":"4802a342-8ff7-46c8-80df-3fd09b4c2c9d","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1652968919246,"last_edited_time":1652968921956,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":3884,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["8c7a1c04-89bf-41c6-9b1d-997020ac31e1"],"created_time":1638259881592,"last_edited_time":1652698380000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection":{"4802a342-8ff7-46c8-80df-3fd09b4c2c9d":{"role":"editor","value":{"id":"4802a342-8ff7-46c8-80df-3fd09b4c2c9d","version":2,"name":[["TESTING
        PAGE"]],"schema":{"19eM":{"name":"b","type":"select"},"title":{"name":"a","type":"title"}},"parent_id":"8c7a1c04-89bf-41c6-9b1d-997020ac31e1","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection_view":{"b44b44fb-d601-4f6b-ad26-4b97793cb1da":{"role":"editor","value":{"id":"b44b44fb-d601-4f6b-ad26-4b97793cb1da","version":3,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"19eM"}]},"parent_id":"8c7a1c04-89bf-41c6-9b1d-997020ac31e1","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1652968921214,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"requests": [{"table": "collection", "id": "4802a342-8ff7-46c8-80df-3fd09b4c2c9d"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"4802a342-8ff7-46c8-80df-3fd09b4c2c9d","version":2,"name":[["TESTING
        PAGE"]],"schema":{"19eM":{"name":"b","type":"select"},"title":{"name":"a","type":"title"}},"parent_id":"8c7a1c04-89bf-41c6-9b1d-997020ac31e1","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"collection":{"4802a342-8ff7-46c8-80df-3fd09b4c2c9d":{"role":"editor","value":{"id":"4802a342-8ff7-46c8-80df-3fd09b4c2c9d","version":2,"name":[["TESTING
        PAGE"]],"schema":{"19eM":{"name":"b","type":"select"},"title":{"name":"a","type":"title"}},"parent_id":"8c7a1c04-89bf-41c6-9b1d-997020ac31e1","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"block":{"8c7a1c04-89bf-41c6-9b1d-997020ac31e1":{"role":"editor","value":{"id":"8c7a1c04-89[...]
- request:
    body: '{"collection": {"id": "4802a342-8ff7-46c8-80df-3fd09b4c2c9d", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "b44b44fb-d601-4f6b-ad26-4b97793cb1da",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"table:uncategorized:title:count":
      {"aggregation": {"aggregator": "count", "property": "title"}, "type": "aggregation"}},
      "searchQuery": "", "sort": [], "userTimeZone": "Asia/Tashkent", "type": "reducer"}}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"table:uncategorized:title:count":{"type":"aggregation","aggregationResult":{"type":"number","value":0}}}},"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"collection": {"id": "4802a342-8ff7-46c8-80df-3fd09b4c2c9d", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "b44b44fb-d601-4f6b-ad26-4b97793cb1da",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 0, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":[],"hasMore":false}}},"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "4698493b-df6a-44b5-9c2e-6b140917b765", "path":
      ["properties", "title"], "args": [["a1"]], "command": "set", "table": "block"},
      {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "last_edited_by_table":
      "notion_user", "last_edited_time": 1652968926154}, "command": "update", "id":
      "4698493b-df6a-44b5-9c2e-6b140917b765", "path": [], "table": "block"}, {"id":
      "4802a342-8ff7-46c8-80df-3fd09b4c2c9d", "path": ["schema", "19eM", "options"],
      "args": [{"id": "4430076d-d77c-11ec-ad66-74d02bcb0a5c", "value": "b1", "color":
      "default"}], "command": "set", "table": "collection"}, {"id": "4698493b-df6a-44b5-9c2e-6b140917b765",
      "path": ["properties", "19eM"], "args": [["b1"]], "command": "set", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652968926155}, "command":
      "update", "id": "4698493b-df6a-44b5-9c2e-6b140917b765", "path": [], "table":
      "block"}, {"id": "b44b44fb-d601-4f6b-ad26-4b97793cb1da", "path": ["page_sort"],
      "args": ["4698493b-df6a-44b5-9c2e-6b140917b765"], "command": "set", "table":
      "collection_view"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652968926155}, "command":
      "update", "id": "4698493b-df6a-44b5-9c2e-6b140917b765", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"requests": [{"table": "collection", "id": "4802a342-8ff7-46c8-80df-3fd09b4c2c9d"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"4802a342-8ff7-46c8-80df-3fd09b4c2c9d","version":3,"name":[["TESTING
        PAGE"]],"schema":{"19eM":{"name":"b","type":"select","options":[{"id":"4430076d-d77c-11ec-ad66-74d02bcb0a5c","color":"default","value":"b1"}]},"title":{"name":"a","type":"title"}},"parent_id":"8c7a1c04-89bf-41c6-9b1d-997020ac31e1","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"collection":{"4802a342-8ff7-46c8-80df-3fd09b4c2c9d":{"role":"editor","value":{"id":"4802a342-8ff7-46c8-80df-3fd09b4c2c9d","version":3,"name":[["TESTING
        PAGE"]],"schema":{"19eM":{"name":"b","type":[...]
[...]
- request:
    body: '{"collection": {"id": "4802a342-8ff7-46c8-80df-3fd09b4c2c9d", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "b44b44fb-d601-4f6b-ad26-4b97793cb1da",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 1, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["4698493b-df6a-44b5-9c2e-6b140917b765"],"hasMore":false}}},"recordMap":{"block":{"4698493b-df6a-44b5-9c2e-6b140917b765":{"role":"editor","value":{"id":"4698493b-df6a-44b5-9c2e-6b140917b765","version":8,"type":"page","properties":{"19eM":[["b1"]],"title":[["a1"]]},"created_time":1652968925770,"last_edited_time":1652968926155,"parent_id":"4802a342-8ff7-46c8-80df-3fd09b4c2c9d","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"8c7a1c04-89bf-41c6-9b1d-997020ac31e1":{"role":"editor","value":{"id":"8c7a[...]
[...]
- request:
    body: '{"collection": {"id": "4802a342-8ff7-46c8-80df-3fd09b4c2c9d", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "b44b44fb-d601-4f6b-ad26-4b97793cb1da",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 2, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["4698493b-df6a-44b5-9c2e-6b140917b765","f69e0172-15f0-4f5a-a114-b3936c471b82"],"hasMore":false}}},"recordMap":{"block":{"4698493b-df6a-44b5-9c2e-6b140917b765":{"role":"editor","value":{"id":"4698493b-df6a-44b5-9c2e-6b140917b765","version":8,"type":"page","properties":{"19eM":[["b1"]],"title":[["a1"]]},"created_time":1652968925770,"last_edited_time":1652968926155,"parent_id":"4802a342-8ff7-46c8-80df-3fd09b4c2c9d","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"f69e0172-15f0-4f5a-a114-b3936c471b82":{"role":"editor","value":{"id":"f69e0172-15f0-4f5a-a114-b3936c471b82","version":8,"type":"page","properties":{"19eM":[["b2"]],"title":[["a2"]]},"created_time":1652968928764,"last_edited_time":1652968929201,"parent_id":"4802a342-8ff7-46c8-80df-3fd09b4c2c9d","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3c[...]
[...]
- request:
    body: '{"blockIds": ["8c7a1c04-89bf-41c6-9b1d-997020ac31e1"], "permanentlyDelete":
      true}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
