interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":31,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["5585f343-8ea5-469b-8a90-a05987977424"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":2691,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1651765740000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "875b447f-da36-425c-8393-b20ab452cb67", "path":
      [], "args": {"id": "875b447f-da36-425c-8393-b20ab452cb67", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651931542807, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651931542807}, "command":
      "update", "id": "875b447f-da36-425c-8393-b20ab452cb67", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "875b447f-da36-425c-8393-b20ab452cb67"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651931542807}, "command":
      "update", "id": "875b447f-da36-425c-8393-b20ab452cb67", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "aa49ec7f-fcd9-47c3-b81e-9968bdc2d749", "path":
      [], "args": {"id": "aa49ec7f-fcd9-47c3-b81e-9968bdc2d749", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651931543197, "parent_id": "875b447f-da36-425c-8393-b20ab452cb67",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "8pUz": {"name": "b", "type": "text"}, "q2l3": {"name": "c", "type": "text"}}},
      "command": "set", "table": "collection"}, {"id": "875b447f-da36-425c-8393-b20ab452cb67",
      "path": ["content"], "args": {"id": "aa49ec7f-fcd9-47c3-b81e-9968bdc2d749"},
      "command": "listAfter", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651931543197}, "command":
      "update", "id": "875b447f-da36-425c-8393-b20ab452cb67", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651931543197}, "command":
      "update", "id": "875b447f-da36-425c-8393-b20ab452cb67", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "875b447f-da36-425c-8393-b20ab452cb67", "path":
      ["format", "collection_pointer", "id"], "args": "aa49ec7f-fcd9-47c3-b81e-9968bdc2d749",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651931543587}, "command":
      "update", "id": "875b447f-da36-425c-8393-b20ab452cb67", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "b9524fa2-3a57-4ecf-adba-f0dae29accf0", "path":
      ["format", "table_properties"], "args": [{"visible": true, "property": "title"},
      {"visible": true, "property": "8pUz"}, {"visible": true, "property": "q2l3"}],
      "command": "set", "table": "collection_view"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"page": {"id": "875b447f-da36-425c-8393-b20ab452cb67"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"875b447f-da36-425c-8393-b20ab452cb67":{"role":"editor","value":{"id":"875b447f-da36-425c-8393-b20ab452cb67","version":13,"type":"collection_view_page","content":["aa49ec7f-fcd9-47c3-b81e-9968bdc2d749","b9524fa2-3a57-4ecf-adba-f0dae29accf0"],"view_ids":["b9524fa2-3a57-4ecf-adba-f0dae29accf0"],"format":{"collection_pointer":{"id":"aa49ec7f-fcd9-47c3-b81e-9968bdc2d749","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1651931542807,"last_edited_time":1651931544618,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":2692,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["875b447f-da36-425c-8393-b20ab452cb67"],"created_time":1638259881592,"last_edited_time":1651765740000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection":{"aa49ec7f-fcd9-47c3-b81e-9968bdc2d749":{"role":"editor","value":{"id":"aa49ec7f-fcd9-47c3-b81e-9968bdc2d749","version":2,"name":[["TESTING
        PAGE"]],"schema":{"8pUz":{"name":"b","type":"text"},"q2l3":{"name":"c","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"875b447f-da36-425c-8393-b20ab452cb67","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection_view":{"b9524fa2-3a57-4ecf-adba-f0dae29accf0":{"role":"editor","value":{"id":"b9524fa2-3a57-4ecf-adba-f0dae29accf0","version":4,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"8pUz"},{"visible":true,"property":"q2l3"}]},"parent_id":"875b447f-da36-425c-8393-b20ab452cb67","parent_table":"block","alive":true,"page_sort":["6f6f2983-f775-45e2-9cb6-d97a3b9556d6"],"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1651931543907,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"requests": [{"table": "collection", "id": "aa49ec7f-fcd9-47c3-b81e-9968bdc2d749"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"aa49ec7f-fcd9-47c3-b81e-9968bdc2d749","version":2,"name":[["TESTING
        PAGE"]],"schema":{"8pUz":{"name":"b","type":"text"},"q2l3":{"name":"c","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"875b447f-da36-425c-8393-b20ab452cb67","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"collection":{"aa49ec7f-fcd9-47c3-b81e-9968bdc2d749":{"role":"editor","value":{"id":"aa49ec7f-fcd9-47c3-b81e-9968bdc2d749","version":2,"name":[["TESTING
        PAGE"]],"schema":{"8pUz":{"name":"b","type":"text"},"q2l3":{"name":"c","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"875b447f-da36-425c-8393-b20ab452cb67","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"block":{"875b447f-da36-425c-8393-b20ab452cb67":{"role":"ed[...]
- request:
    body: '{"collection": {"id": "aa49ec7f-fcd9-47c3-b81e-9968bdc2d749", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "b9524fa2-3a57-4ecf-adba-f0dae29accf0",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 100, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["6f6f2983-f775-45e2-9cb6-d97a3b9556d6"],"hasMore":false}}},"recordMap":{"block":{"6f6f2983-f775-45e2-9cb6-d97a3b9556d6":{"role":"editor","value":{"id":"6f6f2983-f775-45e2-9cb6-d97a3b9556d6","version":10,"type":"page","properties":{"8pUz":[["b1"]],"q2l3":[["c1"]],"title":[["a"]]},"created_time":1651931545902,"last_edited_time":1651931546291,"parent_id":"aa49ec7f-fcd9-47c3-b81e-9968bdc2d749","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"875b447f-da36-425c-8393-b20ab452cb67":{"role":"editor","val[...]
[...]
- request:
    body: '{"blockIds": ["875b447f-da36-425c-8393-b20ab452cb67"], "permanentlyDelete":
      true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
