interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":31,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["5585f343-8ea5-469b-8a90-a05987977424"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":2727,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1651932240000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "83d1b2c2-14b5-45f9-aff9-3e682f1f2231", "path":
      [], "args": {"id": "83d1b2c2-14b5-45f9-aff9-3e682f1f2231", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651932355200, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651932355200}, "command":
      "update", "id": "83d1b2c2-14b5-45f9-aff9-3e682f1f2231", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "83d1b2c2-14b5-45f9-aff9-3e682f1f2231"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651932355200}, "command":
      "update", "id": "83d1b2c2-14b5-45f9-aff9-3e682f1f2231", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "3b5ba2dc-9916-43fe-b13c-31589ae510b9", "path":
      [], "args": {"id": "3b5ba2dc-9916-43fe-b13c-31589ae510b9", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651932355603, "parent_id": "83d1b2c2-14b5-45f9-aff9-3e682f1f2231",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "LCMo": {"name": "b", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "83d1b2c2-14b5-45f9-aff9-3e682f1f2231", "path": ["content"], "args":
      {"id": "3b5ba2dc-9916-43fe-b13c-31589ae510b9"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651932355603}, "command":
      "update", "id": "83d1b2c2-14b5-45f9-aff9-3e682f1f2231", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651932355603}, "command":
      "update", "id": "83d1b2c2-14b5-45f9-aff9-3e682f1f2231", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "83d1b2c2-14b5-45f9-aff9-3e682f1f2231", "path":
      ["format", "collection_pointer", "id"], "args": "3b5ba2dc-9916-43fe-b13c-31589ae510b9",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651932355990}, "command":
      "update", "id": "83d1b2c2-14b5-45f9-aff9-3e682f1f2231", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "d8020768-b100-47de-b32b-8abace56bb62", "path":
      ["format", "table_properties"], "args": [{"visible": true, "property": "title"},
      {"visible": true, "property": "LCMo"}], "command": "set", "table": "collection_view"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"page": {"id": "83d1b2c2-14b5-45f9-aff9-3e682f1f2231"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"83d1b2c2-14b5-45f9-aff9-3e682f1f2231":{"role":"editor","value":{"id":"83d1b2c2-14b5-45f9-aff9-3e682f1f2231","version":13,"type":"collection_view_page","content":["3b5ba2dc-9916-43fe-b13c-31589ae510b9","d8020768-b100-47de-b32b-8abace56bb62"],"view_ids":["d8020768-b100-47de-b32b-8abace56bb62"],"format":{"collection_pointer":{"id":"3b5ba2dc-9916-43fe-b13c-31589ae510b9","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1651932355200,"last_edited_time":1651932357060,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":2728,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["83d1b2c2-14b5-45f9-aff9-3e682f1f2231"],"created_time":1638259881592,"last_edited_time":1651932240000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection_view":{"d8020768-b100-47de-b32b-8abace56bb62":{"role":"editor","value":{"id":"d8020768-b100-47de-b32b-8abace56bb62","version":3,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"LCMo"}]},"parent_id":"83d1b2c2-14b5-45f9-aff9-3e682f1f2231","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1651932356310,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}},"collection":{"3b5ba2dc-9916-43fe-b13c-31589ae510b9":{"role":"editor","value":{"id":"3b5ba2dc-9916-43fe-b13c-31589ae510b9","version":2,"name":[["TESTING
        PAGE"]],"schema":{"LCMo":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"83d1b2c2-14b5-45f9-aff9-3e682f1f2231","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "e1653f4d-5b86-40c1-abed-5c94544f4be5", "path":
      [], "args": {"id": "e1653f4d-5b86-40c1-abed-5c94544f4be5", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651932360975, "parent_id": "5a37ae16-6c2b-4ec8-b659-fa4d7dc05217",
      "parent_table": "block", "type": "image", "child_list_key": null}, "command":
      "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651932360975}, "command":
      "update", "id": "e1653f4d-5b86-40c1-abed-5c94544f4be5", "path": [], "table":
      "block"}, {"id": "5a37ae16-6c2b-4ec8-b659-fa4d7dc05217", "path": ["content"],
      "args": {"id": "e1653f4d-5b86-40c1-abed-5c94544f4be5"}, "command": "listAfter",
      "table": "block"}, {"args":[...]
[...]
- request:
    body: '{"operations": [{"id": "e1653f4d-5b86-40c1-abed-5c94544f4be5", "path":
      ["properties", "cover_meta"], "args": {"type": "url", "url": "https://via.placeholder.com/100"},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651932361714}, "command":
      "update", "id": "e1653f4d-5b86-40c1-abed-5c94544f4be5", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"requests": [{"table": "collection", "id": "3b5ba2dc-9916-43fe-b13c-31589ae510b9"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"3b5ba2dc-9916-43fe-b13c-31589ae510b9","version":2,"name":[["TESTING
        PAGE"]],"schema":{"LCMo":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"83d1b2c2-14b5-45f9-aff9-3e682f1f2231","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"collection":{"3b5ba2dc-9916-43fe-b13c-31589ae510b9":{"role":"editor","value":{"id":"3b5ba2dc-9916-43fe-b13c-31589ae510b9","version":2,"name":[["TESTING
        PAGE"]],"schema":{"LCMo":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"83d1b2c2-14b5-45f9-aff9-3e682f1f2231","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"block":{"83d1b2c2-14b5-45f9-aff9-3e682f1f2231":{"role":"editor","value":{"id":"83d1b2c2-14b5[...]
- request:
    body: '{"collection": {"id": "3b5ba2dc-9916-43fe-b13c-31589ae510b9", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "d8020768-b100-47de-b32b-8abace56bb62",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 100, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["5a37ae16-6c2b-4ec8-b659-fa4d7dc05217"],"hasMore":false}}},"recordMap":{"block":{"5a37ae16-6c2b-4ec8-b659-fa4d7dc05217":{"role":"editor","value":{"id":"5a37ae16-6c2b-4ec8-b659-fa4d7dc05217","version":11,"type":"page","properties":{"LCMo":[["b"]],"title":[["a"]]},"content":["e1653f4d-5b86-40c1-abed-5c94544f4be5"],"created_time":1651932360197,"last_edited_time":1651932360975,"parent_id":"3b5ba2dc-9916-43fe-b13c-31589ae510b9","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"83d1b2c2-14b5-45f9-aff9-3[...]
[...]
- request:
    body: '{"requests": [{"table": "block", "id": "e1653f4d-5b86-40c1-abed-5c94544f4be5"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"e1653f4d-5b86-40c1-abed-5c94544f4be5","version":10,"type":"image","properties":{"source":[["https://via.placeholder.com/100"]],"cover_meta":{"url":"https://via.placeholder.com/100","type":"url"}},"format":{"display_source":"https://via.placeholder.com/100"},"created_time":1651932360975,"last_edited_time":1651932361714,"parent_id":"5a37ae16-6c2b-4ec8-b659-fa4d7dc05217","parent_table":"block","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"block":{"e1653f4d-5b86-40c1-abed-5c94544f4be5":{"role":"editor","value":{"id":"e1653f4d-5b86-40c1-abed-5c94544f4be5","version":10,"type":"image","properties":{"source":[["https://via.placeholder.com/100"]],"cover_meta":{"url":"https://via.placeholder.com/100","type":"url"}},"format":{"display_source":"https://via.placeholder.com/100"},"created_time":1651932360975,"last_edited_time":1651932361714,"parent_id":"5a37ae16-6c2b-4ec8-b659-fa4d7dc05217","parent_table":"block","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-54[...]
[...]
- request:
    body: '{"blockIds": ["83d1b2c2-14b5-45f9-aff9-3e682f1f2231"], "permanentlyDelete":
      true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
