interactions:
- request:
    body: '{}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":31,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["5585f343-8ea5-469b-8a90-a05987977424"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":4961,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1652698380000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-[...]
- request:
    body: '{"operations": [{"id": "7067ee7e-e6e9-4aad-ae3f-81260bd84392", "path":
      [], "args": {"id": "7067ee7e-e6e9-4aad-ae3f-81260bd84392", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1653309565573, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653309565573}, "command":
      "update", "id": "7067ee7e-e6e9-4aad-ae3f-81260bd84392", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "7067ee7e-e6e9-4aad-ae3f-81260bd84392"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653309565573}, "command":
      "update", "id": "7067ee7e-e6e9-4aad-ae3f-81260bd84392", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "b2e31a3d-958a-40cd-88aa-035c1b139782", "path":
      [], "args": {"id": "b2e31a3d-958a-40cd-88aa-035c1b139782", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1653309565951, "parent_id": "7067ee7e-e6e9-4aad-ae3f-81260bd84392",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "PLlD": {"name": "b", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "7067ee7e-e6e9-4aad-ae3f-81260bd84392", "path": ["content"], "args":
      {"id": "b2e31a3d-958a-40cd-88aa-035c1b139782"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653309565951}, "command":
      "update", "id": "7067ee7e-e6e9-4aad-ae3f-81260bd84392", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653309565951}, "command":
      "update", "id": "7067ee7e-e6e9-4aad-ae3f-81260bd84392", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "7067ee7e-e6e9-4aad-ae3f-81260bd84392", "path":
      ["format", "collection_pointer", "id"], "args": "b2e31a3d-958a-40cd-88aa-035c1b139782",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653309566333}, "command":
      "update", "id": "7067ee7e-e6e9-4aad-ae3f-81260bd84392", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "7777a802-e0d2-4f35-a119-f40f3122e938", "path":
      ["format", "table_properties"], "args": [{"visible": true, "property": "title"},
      {"visible": true, "property": "PLlD"}], "command": "set", "table": "collection_view"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "be6831f2-bbb7-4f45-82af-a2f52bfd0b80", "path":
      [], "args": {"id": "be6831f2-bbb7-4f45-82af-a2f52bfd0b80", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1653309569872, "parent_id": "bdd89cfe-22f8-4cbc-9d4a-351608cc6dd3",
      "parent_table": "block", "schema": {"title": {"name": "c", "type": "title"},
      "W2Kk": {"name": "d", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "bdd89cfe-22f8-4cbc-9d4a-351608cc6dd3", "path": ["content"], "args":
      {"id": "be6831f2-bbb7-4f45-82af-a2f52bfd0b80"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653309569872}, "command":
      "update", "id": "bdd89cfe-22f8-4cbc-9d4a-351608cc6dd3", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653309569872}, "command":
      "update", "id": "bdd89cfe-22f8-4cbc-9d4a-351608cc6dd3", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"blockId": "bdd89cfe-22f8-4cbc-9d4a-351608cc6dd3"}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getPublicPageData
  response:
    body:
      string: '{"spaceName":"test_py","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274","spaceDomain":"laced-taxi-315","canJoinSpace":true,"userHasExplicitAccess":true,"ownerUserId":"a03b888f-5426-4e4f-b5ef-bed855b162f0","betaEnabled":false,"canRequestAccess":true,"requireLogin":false,"publicAccessRole":"none"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "b2e31a3d-958a-40cd-88aa-035c1b139782", "path":
      ["schema"], "args": {"title": {"name": "a", "type": "title"}, "PLlD": {"name":
      "b", "type": "relation", "property": "MkOV", "collection_id": "be6831f2-bbb7-4f45-82af-a2f52bfd0b80",
      "collection_pointer": {"id": "be6831f2-bbb7-4f45-82af-a2f52bfd0b80", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274", "table": "collection"}}}, "command":
      "set", "table": "collection"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"page": {"id": "7067ee7e-e6e9-4aad-ae3f-81260bd84392"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"7067ee7e-e6e9-4aad-ae3f-81260bd84392":{"role":"editor","value":{"id":"7067ee7e-e6e9-4aad-ae3f-81260bd84392","version":13,"type":"collection_view_page","content":["b2e31a3d-958a-40cd-88aa-035c1b139782","7777a802-e0d2-4f35-a119-f40f3122e938"],"view_ids":["7777a802-e0d2-4f35-a119-f40f3122e938"],"format":{"collection_pointer":{"id":"b2e31a3d-958a-40cd-88aa-035c1b139782","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1653309565573,"last_edited_time":1653309568289,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":4963,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["7067ee7e-e6e9-4aad-ae3f-81260bd84392","bdd89cfe-22f8-4cbc-9d4a-351608cc6dd3"],"created_time":1638259881592,"last_edited_time":1652698380000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection":{"b2e31a3d-958a-40cd-88aa-035c1b139782":{"role":"editor","value":{"id":"b2e31a3d-958a-40cd-88aa-035c1b139782","version":3,"name":[["TESTING
        PAGE"]],"schema":{"PLlD":{"name":"b","type":"relation","property":"MkOV","collection_id":"be6831f2-bbb7-4f45-82af-a2f52bfd0b80","collection_pointer":{"id":"be6831f2-bbb7-4f45-82af-a2f52bfd0b80","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"title":{"name":"a","type":"title"}},"parent_id":"7067ee7e-e6e9-4aad-ae3f-81260bd84392","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection_view":{"7777a802-e0d2-4f35-a119-f40f3122e938":{"role":"editor","value":{"id":"7777a802-e0d2-4f35-a119-f40f3122e938","version":3,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"PLlD"}]},"parent_id":"7067ee7e-e6e9-4aad-ae3f-81260bd84392","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1653309566656,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"requests": [{"table": "collection", "id": "be6831f2-bbb7-4f45-82af-a2f52bfd0b80"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"be6831f2-bbb7-4f45-82af-a2f52bfd0b80","version":3,"name":[["TESTING
        PAGE"]],"schema":{"MkOV":{"name":"Related to TESTING PAGE (b)","type":"relation","property":"PLlD","collection_id":"b2e31a3d-958a-40cd-88aa-035c1b139782","collection_pointer":{"id":"b2e31a3d-958a-40cd-88aa-035c1b139782","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"W2Kk":{"name":"d","type":"text"},"title":{"name":"c","type":"title"}},"parent_id":"bdd89cfe-22f8-4cbc-9d4a-351608cc6dd3","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"collection":{"be6831f2-bbb7-4f45-82af-a2f52bfd0b80":{"role":"editor","value":{"id":"be6831f2-bbb7-4f45-82af-a2f52bfd0b80","version":3,"name":[["TESTING
        PAGE"]],"schema":{"MkOV":{"name":"Related to TESTING PAGE (b)","type":"relation","property":"PLlD","collection_id":"b2e31a3d-958a-40cd-88aa-035c1b139782","collection_pointer":{"id":"b2e31a3d-958a-40cd-88aa-035c1b139782","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"W2Kk":{"name":"d","type":"text"},"title":{"name":"c","type":"title"}},"parent_id":"bdd89cfe-22f8-4cbc-9d4a-351608cc6dd3","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"block":{"bdd89cfe-22f8-4cbc-9d4a-351608cc6dd3":{"role":"editor","value":{"id":"bdd89cfe-22f8-4cbc-9d4a-351608cc6dd3","version":13,"type":"collection_view_page","content":["be6831f2-bbb7-4f45-82af-a2f52bfd0b80","27cbadba-ccd2-4eb0-b774-a4159631275d"],"view_ids":["27cbadba-ccd2-4eb0-b774-a4159631275d"],"format":{"collection_pointer":{"id":"be6831f2-bbb7-4f45-82af-a2f52bfd0b80","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed85[...]
[...]
- request:
    body: '{"collection": {"id": "be6831f2-bbb7-4f45-82af-a2f52bfd0b80", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "27cbadba-ccd2-4eb0-b774-a4159631275d",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"table:uncategorized:title:count":
      {"aggregation": {"aggregator": "count", "property": "title"}, "type": "aggregation"}},
      "searchQuery": "", "sort": [], "userTimeZone": "Asia/Tashkent", "type": "reducer"}}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"table:uncategorized:title:count":{"type":"aggregation","aggregationResult":{"type":"number","value":0}}}},"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"collection": {"id": "be6831f2-bbb7-4f45-82af-a2f52bfd0b80", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "27cbadba-ccd2-4eb0-b774-a4159631275d",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 0, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":[],"hasMore":false}}},"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"collection": {"id": "b2e31a3d-958a-40cd-88aa-035c1b139782", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "7777a802-e0d2-4f35-a119-f40f3122e938",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 1, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["a94fafbe-982c-43f8-9195-01ec8c13c345"],"hasMore":false}}},"recordMap":{"block":{"a94fafbe-982c-43f8-9195-01ec8c13c345":{"role":"editor","value":{"id":"a94fafbe-982c-43f8-9195-01ec8c13c345","version":8,"type":"page","properties":{"title":[["aa"]]},"created_time":1653309577990,"last_edited_time":1653309578348,"parent_id":"b2e31a3d-958a-40cd-88aa-035c1b139782","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"7067ee7e-e6e9-4aad-ae3f-81260bd84392":{"role":"editor","value":{"id":"7067ee7e-e6e9-4aad-a[...]
[...]
- request:
    body: '{"blockIds": ["7067ee7e-e6e9-4aad-ae3f-81260bd84392"], "permanentlyDelete":
      true}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
