interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":27,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["03b83ede-64a9-4547-98cf-a22bad3f7568"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":1509,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1651493580000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "7333313e-39f9-4dd9-8f9b-5f38b6260ebc", "path":
      [], "args": {"id": "7333313e-39f9-4dd9-8f9b-5f38b6260ebc", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651570426560, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651570426560}, "command":
      "update", "id": "7333313e-39f9-4dd9-8f9b-5f38b6260ebc", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "7333313e-39f9-4dd9-8f9b-5f38b6260ebc"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651570426560}, "command":
      "update", "id": "7333313e-39f9-4dd9-8f9b-5f38b6260ebc", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "5336dac4-1ec9-48b0-8153-bd9ecc65feab", "path":
      [], "args": {"id": "5336dac4-1ec9-48b0-8153-bd9ecc65feab", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651570428141, "parent_id": "7333313e-39f9-4dd9-8f9b-5f38b6260ebc",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "6gBp": {"name": "b", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "7333313e-39f9-4dd9-8f9b-5f38b6260ebc", "path": ["content"], "args":
      {"id": "5336dac4-1ec9-48b0-8153-bd9ecc65feab"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651570428141}, "command":
      "update", "id": "7333313e-39f9-4dd9-8f9b-5f38b6260ebc", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651570428141}, "command":
      "update", "id": "7333313e-39f9-4dd9-8f9b-5f38b6260ebc", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "7333313e-39f9-4dd9-8f9b-5f38b6260ebc", "path":
      ["format", "collection_pointer", "id"], "args": "5336dac4-1ec9-48b0-8153-bd9ecc65feab",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651570428622}, "command":
      "update", "id": "7333313e-39f9-4dd9-8f9b-5f38b6260ebc", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "8cac81ee-3236-4659-8e86-1f3fa46d9c27", "path":
      [], "args": {"id": "8cac81ee-3236-4659-8e86-1f3fa46d9c27", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651570431659, "parent_id": "f6b976dc-d772-4508-a368-49e6cabcd2d1",
      "parent_table": "block", "type": "image", "child_list_key": null}, "command":
      "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651570431659}, "command":
      "update", "id": "8cac81ee-3236-4659-8e86-1f3fa46d9c27", "path": [], "table":
      "block"}, {"id": "f6b976dc-d772-4508-a368-49e6cabcd2d1", "path": ["content"],
      "args": {"id": "8cac81ee-3236-4659-8e86-1f3fa46d9c27"}, "command": "listAfter",
      "table": "block"}, {"args":[...]
[...]
- request:
    body: '{"page": {"id": "7333313e-39f9-4dd9-8f9b-5f38b6260ebc"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"7333313e-39f9-4dd9-8f9b-5f38b6260ebc":{"role":"editor","value":{"id":"7333313e-39f9-4dd9-8f9b-5f38b6260ebc","version":13,"type":"collection_view_page","content":["5336dac4-1ec9-48b0-8153-bd9ecc65feab","23bd835b-affb-4f9d-b798-afb53b2f4c22"],"view_ids":["23bd835b-affb-4f9d-b798-afb53b2f4c22"],"format":{"collection_pointer":{"id":"5336dac4-1ec9-48b0-8153-bd9ecc65feab","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1651570426560,"last_edited_time":1651570429971,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":1510,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["7333313e-39f9-4dd9-8f9b-5f38b6260ebc"],"created_time":1638259881592,"last_edited_time":1651493580000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection":{"5336dac4-1ec9-48b0-8153-bd9ecc65feab":{"role":"editor","value":{"id":"5336dac4-1ec9-48b0-8153-bd9ecc65feab","version":2,"name":[["TESTING
        PAGE 2371da2b"]],"schema":{"6gBp":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"7333313e-39f9-4dd9-8f9b-5f38b6260ebc","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection_view":{"23bd835b-affb-4f9d-b798-afb53b2f4c22":{"role":"editor","value":{"id":"23bd835b-affb-4f9d-b798-afb53b2f4c22","version":3,"type":"table","parent_id":"7333313e-39f9-4dd9-8f9b-5f38b6260ebc","parent_table":"block","alive":true,"page_sort":["f6b976dc-d772-4508-a368-49e6cabcd2d1"],"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1651570429014,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"requests": [{"table": "collection", "id": "5336dac4-1ec9-48b0-8153-bd9ecc65feab"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"5336dac4-1ec9-48b0-8153-bd9ecc65feab","version":2,"name":[["TESTING
        PAGE 2371da2b"]],"schema":{"6gBp":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"7333313e-39f9-4dd9-8f9b-5f38b6260ebc","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"collection":{"5336dac4-1ec9-48b0-8153-bd9ecc65feab":{"role":"editor","value":{"id":"5336dac4-1ec9-48b0-8153-bd9ecc65feab","version":2,"name":[["TESTING
        PAGE 2371da2b"]],"schema":{"6gBp":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"7333313e-39f9-4dd9-8f9b-5f38b6260ebc","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"block":{"7333313e-39f9-4dd9-8f9b-5f38b6260ebc":{"role":"editor","value":{"id":"7333[...]
- request:
    body: '{"collection": {"id": "5336dac4-1ec9-48b0-8153-bd9ecc65feab", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "23bd835b-affb-4f9d-b798-afb53b2f4c22",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 100, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["f6b976dc-d772-4508-a368-49e6cabcd2d1"],"hasMore":false}}},"recordMap":{"block":{"f6b976dc-d772-4508-a368-49e6cabcd2d1":{"role":"editor","value":{"id":"f6b976dc-d772-4508-a368-49e6cabcd2d1","version":11,"type":"page","properties":{"6gBp":[["b1"]],"title":[["a"]]},"content":["8cac81ee-3236-4659-8e86-1f3fa46d9c27"],"created_time":1651570430743,"last_edited_time":1651570431659,"parent_id":"5336dac4-1ec9-48b0-8153-bd9ecc65feab","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"7333313e-39f9-4dd9-8f9b-[...]
[...]
- request:
    body: '{"requests": [{"table": "block", "id": "8cac81ee-3236-4659-8e86-1f3fa46d9c27"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"8cac81ee-3236-4659-8e86-1f3fa46d9c27","version":8,"type":"image","properties":{"caption":[["cover"]]},"format":{"display_source":"https://via.placeholder.com/200"},"created_time":1651570431659,"last_edited_time":1651570432039,"parent_id":"f6b976dc-d772-4508-a368-49e6cabcd2d1","parent_table":"block","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"block":{"8cac81ee-3236-4659-8e86-1f3fa46d9c27":{"role":"[...]
[...]
- request:
    body: '{"requests": [{"table": "block", "id": "8cac81ee-3236-4659-8e86-1f3fa46d9c27"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"8cac81ee-3236-4659-8e86-1f3fa46d9c27","version":15,"type":"image","properties":{"source":[["https://via.placeholder.com/100"]],"caption":[["cover"]]},"format":{"display_source":"https://via.placeholder.com/100"},"created_time":1651570431659,"last_edited_time":1651570437526,"parent_id":"f6b976dc-d772-4508-a368-49e6cabcd2d1","parent_table":"block","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b6[...]
[...]
- request:
    body: '{"blockIds": ["7333313e-39f9-4dd9-8f9b-5f38b6260ebc"], "permanentlyDelete":
      true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
