interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":29,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["5585f343-8ea5-469b-8a90-a05987977424"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":1973,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1651736820000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "fbac2d0b-3a39-4827-a704-e8d4b82c6507", "path":
      [], "args": {"id": "fbac2d0b-3a39-4827-a704-e8d4b82c6507", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651739900685, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651739900685}, "command":
      "update", "id": "fbac2d0b-3a39-4827-a704-e8d4b82c6507", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "fbac2d0b-3a39-4827-a704-e8d4b82c6507"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651739900685}, "command":
      "update", "id": "fbac2d0b-3a39-4827-a704-e8d4b82c6507", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "22b613c0-3c3a-41f9-b3ba-193816689213", "path":
      [], "args": {"id": "22b613c0-3c3a-41f9-b3ba-193816689213", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651739901149, "parent_id": "fbac2d0b-3a39-4827-a704-e8d4b82c6507",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "TORK": {"name": "b", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "fbac2d0b-3a39-4827-a704-e8d4b82c6507", "path": ["content"], "args":
      {"id": "22b613c0-3c3a-41f9-b3ba-193816689213"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651739901149}, "command":
      "update", "id": "fbac2d0b-3a39-4827-a704-e8d4b82c6507", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651739901149}, "command":
      "update", "id": "fbac2d0b-3a39-4827-a704-e8d4b82c6507", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "fbac2d0b-3a39-4827-a704-e8d4b82c6507", "path":
      ["format", "collection_pointer", "id"], "args": "22b613c0-3c3a-41f9-b3ba-193816689213",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651739901567}, "command":
      "update", "id": "fbac2d0b-3a39-4827-a704-e8d4b82c6507", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "f3b63223-0401-4e9e-9e82-2e972a417771", "path":
      ["format", "table_properties"], "args": [{"visible": true, "property": "title"},
      {"visible": true, "property": "TORK"}], "command": "set", "table": "collection_view"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "defae900-efb8-4aba-84d1-a3c80f5ec238", "path":
      [], "args": {"id": "defae900-efb8-4aba-84d1-a3c80f5ec238", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651739904886, "parent_id": "c1642f3f-e5d4-40da-8383-898c73190d52",
      "parent_table": "block", "schema": {"title": {"name": "c", "type": "title"},
      "j0yH": {"name": "d", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "c1642f3f-e5d4-40da-8383-898c73190d52", "path": ["content"], "args":
      {"id": "defae900-efb8-4aba-84d1-a3c80f5ec238"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651739904886}, "command":
      "update", "id": "c1642f3f-e5d4-40da-8383-898c73190d52", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651739904886}, "command":
      "update", "id": "c1642f3f-e5d4-40da-8383-898c73190d52", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"blockId": "c1642f3f-e5d4-40da-8383-898c73190d52"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getPublicPageData
  response:
    body:
      string: '{"spaceName":"test_py","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274","spaceDomain":"laced-taxi-315","canJoinSpace":true,"userHasExplicitAccess":true,"ownerUserId":"a03b888f-5426-4e4f-b5ef-bed855b162f0","betaEnabled":false,"canRequestAccess":true,"requireLogin":false,"publicAccessRole":"none"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "22b613c0-3c3a-41f9-b3ba-193816689213", "path":
      ["schema"], "args": {"title": {"name": "a", "type": "title"}, "TORK": {"name":
      "b", "type": "relation", "property": "hIBS", "collection_id": "defae900-efb8-4aba-84d1-a3c80f5ec238",
      "collection_pointer": {"id": "defae900-efb8-4aba-84d1-a3c80f5ec238", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274", "table": "collection"}}}, "command":
      "set", "table": "collection"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"page": {"id": "fbac2d0b-3a39-4827-a704-e8d4b82c6507"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"fbac2d0b-3a39-4827-a704-e8d4b82c6507":{"role":"editor","value":{"id":"fbac2d0b-3a39-4827-a704-e8d4b82c6507","version":13,"type":"collection_view_page","content":["22b613c0-3c3a-41f9-b3ba-193816689213","f3b63223-0401-4e9e-9e82-2e972a417771"],"view_ids":["f3b63223-0401-4e9e-9e82-2e972a417771"],"format":{"collection_pointer":{"id":"22b613c0-3c3a-41f9-b3ba-193816689213","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1651739900685,"last_edited_time":1651739902916,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":1975,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["fbac2d0b-3a39-4827-a704-e8d4b82c6507","c1642f3f-e5d4-40da-8383-898c73190d52"],"created_time":1638259881592,"last_edited_time":1651736820000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection":{"22b613c0-3c3a-41f9-b3ba-193816689213":{"role":"editor","value":{"id":"22b613c0-3c3a-41f9-b3ba-193816689213","version":3,"name":[["TESTING
        PAGE"]],"schema":{"TORK":{"name":"b","type":"relation","property":"hIBS","collection_id":"defae900-efb8-4aba-84d1-a3c80f5ec238","collection_pointer":{"id":"defae900-efb8-4aba-84d1-a3c80f5ec238","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"title":{"name":"a","type":"title"}},"parent_id":"fbac2d0b-3a39-4827-a704-e8d4b82c6507","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection_view":{"f3b63223-0401-4e9e-9e82-2e972a417771":{"role":"editor","value":{"id":"f3b63223-0401-4e9e-9e82-2e972a417771","version":3,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"TORK"}]},"parent_id":"fbac2d0b-3a39-4827-a704-e8d4b82c6507","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1651739901948,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"requests": [{"table": "collection", "id": "defae900-efb8-4aba-84d1-a3c80f5ec238"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"defae900-efb8-4aba-84d1-a3c80f5ec238","version":3,"name":[["TESTING
        PAGE"]],"schema":{"hIBS":{"name":"Related to TESTING PAGE (b)","type":"relation","property":"TORK","collection_id":"22b613c0-3c3a-41f9-b3ba-193816689213","collection_pointer":{"id":"22b613c0-3c3a-41f9-b3ba-193816689213","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"j0yH":{"name":"d","type":"text"},"title":{"name":"c","type":"title"}},"parent_id":"c1642f3f-e5d4-40da-8383-898c73190d52","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"collection":{"defae900-efb8-4aba-84d1-a3c80f5ec238":{"role":"editor","value":{"id":"defae900-efb8-4aba-84d1-a3c80f5ec238","version":3,"name":[["TESTING
        PAGE"]],"schema":{"hIBS":{"name":"Related to TESTING PAGE (b)","type":"relation","property":"TORK","collection_id":"22b613c0-3c3a-41f9-b3ba-193816689213","collection_pointer":{"id":"22b613c0-3c3a-41f9-b3ba-193816689213","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"j0yH":{"name":"d","type":"text"},"title":{"name":"c","type":"title"}},"parent_id":"c1642f3f-e5d4-40da-8383-898c73190d52","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"block":{"c1642f3f-e5d4-40da-8383-898c73190d52":{"role":"editor","value":{"id":"c1642f3f-e5d4-40da-8383-898c73190d52","version":13,"type":"collection_view_page","content":["defae900-efb8-4aba-84d1-a3c80f5ec238","55a3e215-32b7-455a-a32f-5cdea8b82d8a"],"view_ids":["55a3e215-32b7-455a-a32f-5cdea8b82d8a"],"format":{"collection_pointer":{"id":"defae900-efb8-4aba-84d1-a3c80f5ec238","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed85[...]
[...]
- request:
    body: '{"requests": [{"table": "collection_view", "id": "55a3e215-32b7-455a-a32f-5cdea8b82d8a"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"55a3e215-32b7-455a-a32f-5cdea8b82d8a","version":5,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"j0yH"}]},"parent_id":"c1642f3f-e5d4-40da-8383-898c73190d52","parent_table":"block","alive":true,"page_sort":["1fda25db-b771-4929-924c-be441d3816e8","4f93f04a-79a3-44c4-a0c1-89ad5f2dba97"],"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1651739905751,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}],"recordMapWithRoles":{"collection_view":{"55a3e215-32b7-455a-a32f-5cdea8b82d8a":{"role":"editor","value":{"id":"55a3e215-32b7-455a-a32f-5cdea8b82d8a","version":5,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visib[...]
- request:
    body: '{"collection": {"id": "defae900-efb8-4aba-84d1-a3c80f5ec238", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "55a3e215-32b7-455a-a32f-5cdea8b82d8a",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 100, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["1fda25db-b771-4929-924c-be441d3816e8","4f93f04a-79a3-44c4-a0c1-89ad5f2dba97"],"hasMore":false}}},"recordMap":{"block":{"1fda25db-b771-4929-924c-be441d3816e8":{"role":"editor","value":{"id":"1fda25db-b771-4929-924c-be441d3816e8","version":6,"type":"page","properties":{"title":[["cc"]]},"created_time":1651739909034,"last_edited_time":1651739909470,"parent_id":"defae900-efb8-4aba-84d1-a3c80f5ec238","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"4f93f04a-79a3-44c4-a0c1-89ad5f2dba97":{"role":"editor","value":{"id":"4f93f04a-79a3-44c4-a[...]
[...]
- request:
    body: '{"blockIds": ["fbac2d0b-3a39-4827-a704-e8d4b82c6507"], "permanentlyDelete":
      true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
