interactions:
- request:
    body: '{}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":31,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["5585f343-8ea5-469b-8a90-a05987977424"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":5688,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1652698380000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-[...]
- request:
    body: '{"operations": [{"id": "a1f43a57-c06f-400f-bed3-5c458f8cb053", "path":
      [], "args": {"id": "a1f43a57-c06f-400f-bed3-5c458f8cb053", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1653406458287, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653406458287}, "command":
      "update", "id": "a1f43a57-c06f-400f-bed3-5c458f8cb053", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "a1f43a57-c06f-400f-bed3-5c458f8cb053"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653406458287}, "command":
      "update", "id": "a1f43a57-c06f-400f-bed3-5c458f8cb053", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "8f03668d-6179-408b-8549-c40b555ebece", "path":
      [], "args": {"id": "8f03668d-6179-408b-8549-c40b555ebece", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1653406458688, "parent_id": "a1f43a57-c06f-400f-bed3-5c458f8cb053",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "usPa": {"name": "b", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "a1f43a57-c06f-400f-bed3-5c458f8cb053", "path": ["content"], "args":
      {"id": "8f03668d-6179-408b-8549-c40b555ebece"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653406458688}, "command":
      "update", "id": "a1f43a57-c06f-400f-bed3-5c458f8cb053", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653406458688}, "command":
      "update", "id": "a1f43a57-c06f-400f-bed3-5c458f8cb053", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "a1f43a57-c06f-400f-bed3-5c458f8cb053", "path":
      ["format", "collection_pointer", "id"], "args": "8f03668d-6179-408b-8549-c40b555ebece",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653406459088}, "command":
      "update", "id": "a1f43a57-c06f-400f-bed3-5c458f8cb053", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "da1a97f8-b1df-46eb-b2fe-d389e18d9719", "path":
      ["format", "table_properties"], "args": [{"visible": true, "property": "title"},
      {"visible": true, "property": "usPa"}], "command": "set", "table": "collection_view"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "a7344647-bdf9-4f78-84f0-234230b43be7", "path":
      [], "args": {"id": "a7344647-bdf9-4f78-84f0-234230b43be7", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1653406461583, "parent_id": "e197cb1d-73d6-4a4f-9ccb-c3e8e31506b2",
      "parent_table": "block", "schema": {"title": {"name": "c", "type": "title"},
      "QVis": {"name": "d", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "e197cb1d-73d6-4a4f-9ccb-c3e8e31506b2", "path": ["content"], "args":
      {"id": "a7344647-bdf9-4f78-84f0-234230b43be7"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653406461583}, "command":
      "update", "id": "e197cb1d-73d6-4a4f-9ccb-c3e8e31506b2", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653406461583}, "command":
      "update", "id": "e197cb1d-73d6-4a4f-9ccb-c3e8e31506b2", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"blockId": "e197cb1d-73d6-4a4f-9ccb-c3e8e31506b2"}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getPublicPageData
  response:
    body:
      string: '{"spaceName":"test_py","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274","spaceDomain":"laced-taxi-315","canJoinSpace":true,"userHasExplicitAccess":true,"ownerUserId":"a03b888f-5426-4e4f-b5ef-bed855b162f0","betaEnabled":false,"canRequestAccess":true,"requireLogin":false,"publicAccessRole":"none"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "8f03668d-6179-408b-8549-c40b555ebece", "path":
      ["schema"], "args": {"title": {"name": "a", "type": "title"}, "usPa": {"name":
      "b", "type": "relation", "property": "uweP", "collection_id": "a7344647-bdf9-4f78-84f0-234230b43be7",
      "collection_pointer": {"id": "a7344647-bdf9-4f78-84f0-234230b43be7", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274", "table": "collection"}}}, "command":
      "set", "table": "collection"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"page": {"id": "a1f43a57-c06f-400f-bed3-5c458f8cb053"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"a1f43a57-c06f-400f-bed3-5c458f8cb053":{"role":"editor","value":{"id":"a1f43a57-c06f-400f-bed3-5c458f8cb053","version":13,"type":"collection_view_page","content":["8f03668d-6179-408b-8549-c40b555ebece","da1a97f8-b1df-46eb-b2fe-d389e18d9719"],"view_ids":["da1a97f8-b1df-46eb-b2fe-d389e18d9719"],"format":{"collection_pointer":{"id":"8f03668d-6179-408b-8549-c40b555ebece","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1653406458287,"last_edited_time":1653406460131,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":5690,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["a1f43a57-c06f-400f-bed3-5c458f8cb053","e197cb1d-73d6-4a4f-9ccb-c3e8e31506b2"],"created_time":1638259881592,"last_edited_time":1652698380000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection":{"8f03668d-6179-408b-8549-c40b555ebece":{"role":"editor","value":{"id":"8f03668d-6179-408b-8549-c40b555ebece","version":3,"name":[["TESTING
        PAGE"]],"schema":{"usPa":{"name":"b","type":"relation","property":"uweP","collection_id":"a7344647-bdf9-4f78-84f0-234230b43be7","collection_pointer":{"id":"a7344647-bdf9-4f78-84f0-234230b43be7","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"title":{"name":"a","type":"title"}},"parent_id":"a1f43a57-c06f-400f-bed3-5c458f8cb053","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection_view":{"da1a97f8-b1df-46eb-b2fe-d389e18d9719":{"role":"editor","value":{"id":"da1a97f8-b1df-46eb-b2fe-d389e18d9719","version":3,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"usPa"}]},"parent_id":"a1f43a57-c06f-400f-bed3-5c458f8cb053","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1653406459414,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"requests": [{"table": "collection", "id": "a7344647-bdf9-4f78-84f0-234230b43be7"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"a7344647-bdf9-4f78-84f0-234230b43be7","version":3,"name":[["TESTING
        PAGE"]],"schema":{"QVis":{"name":"d","type":"text"},"uweP":{"name":"Related
        to TESTING PAGE (b)","type":"relation","property":"usPa","collection_id":"8f03668d-6179-408b-8549-c40b555ebece","collection_pointer":{"id":"8f03668d-6179-408b-8549-c40b555ebece","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"title":{"name":"c","type":"title"}},"parent_id":"e197cb1d-73d6-4a4f-9ccb-c3e8e31506b2","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"collection":{"a7344647-bdf9-4f78-84f0-234230b43be7":{"role":"editor","value":{"id":"a7344647-bdf9-4f78-84f0-234230b43be7","version":3,"name":[["TESTING
        PAGE"]],"schema":{"QVis":{"name":"d","type":"text"},"uweP":{"name":"Related
        to TESTING PAGE (b)","type":"relation","property":"usPa","collection_id":"8f03668d-6179-408b-8549-c40b555ebece","collection_pointer":{"id":"8f03668d-6179-408b-8549-c40b555ebece","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"title":{"name":"c","type":"title"}},"parent_id":"e197cb1d-73d6-4a4f-9ccb-c3e8e31506b2","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"block":{"e197cb1d-73d6-4a4f-9ccb-c3e8e31506b2":{"role":"editor","value":{"id":"e197cb1d-73d6-4a4f-9ccb-c3e8e31506b2","version":13,"type":"collection_view_page","content":["a7344647-bdf9-4f78-84f0-234230b43be7","14fe9ef5-bbbd-4102-abde-cf73b0783625"],"view_ids":["14fe9ef5-bbbd-4102-abde-cf73b0783625"],"format":{"collection_pointer":{"id":"a7344647-bdf9-4f78-84f0-234230b43be7","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed85[...]
- request:
    body: '{"requests": [{"table": "collection_view", "id": "14fe9ef5-bbbd-4102-abde-cf73b0783625"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"14fe9ef5-bbbd-4102-abde-cf73b0783625","version":4,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"QVis"}]},"parent_id":"e197cb1d-73d6-4a4f-9ccb-c3e8e31506b2","parent_table":"block","alive":true,"page_sort":["781504e2-285f-4b70-8360-2463e9146c30"],"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1653406462268,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}],"recordMapWithRoles":{"collection_view":{"14fe9ef5-bbbd-4102-abde-cf73b0783625":{"role":"editor","value":{"id":"14fe9ef5-bbbd-4102-abde-cf73b0783625","version":4,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"QVis"}]},"parent_i[...]
- request:
    body: '{"collection": {"id": "a7344647-bdf9-4f78-84f0-234230b43be7", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "14fe9ef5-bbbd-4102-abde-cf73b0783625",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"table:uncategorized:title:count":
      {"aggregation": {"aggregator": "count", "property": "title"}, "type": "aggregation"}},
      "searchQuery": "", "sort": [], "userTimeZone": "Asia/Tashkent", "type": "reducer"}}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"table:uncategorized:title:count":{"type":"aggregation","aggregationResult":{"type":"number","value":1}}}},"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"collection": {"id": "a7344647-bdf9-4f78-84f0-234230b43be7", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "14fe9ef5-bbbd-4102-abde-cf73b0783625",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 1, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["781504e2-285f-4b70-8360-2463e9146c30"],"hasMore":false}}},"recordMap":{"block":{"781504e2-285f-4b70-8360-2463e9146c30":{"role":"editor","value":{"id":"781504e2-285f-4b70-8360-2463e9146c30","version":8,"type":"page","properties":{"QVis":[["dd"]],"title":[["cc"]]},"created_time":1653406465289,"last_edited_time":1653406465669,"parent_id":"a7344647-bdf9-4f78-84f0-234230b43be7","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"e197cb1d-73d6-4a4f-9ccb-c3e8e31506b2":{"role":"editor","value":{"id":"e197[...]
[...]
- request:
    body: '{"blockIds": ["a1f43a57-c06f-400f-bed3-5c458f8cb053"], "permanentlyDelete":
      true}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
