interactions:
- request:
    body: '{}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":31,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["5585f343-8ea5-469b-8a90-a05987977424"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":5496,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1652698380000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-[...]
- request:
    body: '{"operations": [{"id": "9d3fe7ed-60f6-4567-a0c4-f9f747eb0099", "path":
      [], "args": {"id": "9d3fe7ed-60f6-4567-a0c4-f9f747eb0099", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1653405198247, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653405198247}, "command":
      "update", "id": "9d3fe7ed-60f6-4567-a0c4-f9f747eb0099", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "9d3fe7ed-60f6-4567-a0c4-f9f747eb0099"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653405198247}, "command":
      "update", "id": "9d3fe7ed-60f6-4567-a0c4-f9f747eb0099", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "85f857ee-f6b7-483c-9dcb-f17b7d87710f", "path":
      [], "args": {"id": "85f857ee-f6b7-483c-9dcb-f17b7d87710f", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1653405198651, "parent_id": "9d3fe7ed-60f6-4567-a0c4-f9f747eb0099",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "bLJo": {"name": "b", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "9d3fe7ed-60f6-4567-a0c4-f9f747eb0099", "path": ["content"], "args":
      {"id": "85f857ee-f6b7-483c-9dcb-f17b7d87710f"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653405198651}, "command":
      "update", "id": "9d3fe7ed-60f6-4567-a0c4-f9f747eb0099", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653405198651}, "command":
      "update", "id": "9d3fe7ed-60f6-4567-a0c4-f9f747eb0099", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "9d3fe7ed-60f6-4567-a0c4-f9f747eb0099", "path":
      ["format", "collection_pointer", "id"], "args": "85f857ee-f6b7-483c-9dcb-f17b7d87710f",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653405199074}, "command":
      "update", "id": "9d3fe7ed-60f6-4567-a0c4-f9f747eb0099", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "dd67ea90-63af-47f0-94cd-b1fe46472b41", "path":
      ["format", "table_properties"], "args": [{"visible": true, "property": "title"},
      {"visible": true, "property": "bLJo"}], "command": "set", "table": "collection_view"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "446162ee-9de3-45af-9547-6966e67a0d95", "path":
      [], "args": {"id": "446162ee-9de3-45af-9547-6966e67a0d95", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1653405202286, "parent_id": "66a51566-97bc-4b28-9960-c0f69637b1a4",
      "parent_table": "block", "schema": {"title": {"name": "c", "type": "title"},
      "H1UG": {"name": "d", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "66a51566-97bc-4b28-9960-c0f69637b1a4", "path": ["content"], "args":
      {"id": "446162ee-9de3-45af-9547-6966e67a0d95"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653405202286}, "command":
      "update", "id": "66a51566-97bc-4b28-9960-c0f69637b1a4", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653405202286}, "command":
      "update", "id": "66a51566-97bc-4b28-9960-c0f69637b1a4", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"blockId": "66a51566-97bc-4b28-9960-c0f69637b1a4"}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getPublicPageData
  response:
    body:
      string: '{"spaceName":"test_py","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274","spaceDomain":"laced-taxi-315","canJoinSpace":true,"userHasExplicitAccess":true,"ownerUserId":"a03b888f-5426-4e4f-b5ef-bed855b162f0","betaEnabled":false,"canRequestAccess":true,"requireLogin":false,"publicAccessRole":"none"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "85f857ee-f6b7-483c-9dcb-f17b7d87710f", "path":
      ["schema"], "args": {"title": {"name": "a", "type": "title"}, "bLJo": {"name":
      "b", "type": "relation", "property": "6Xe1", "collection_id": "446162ee-9de3-45af-9547-6966e67a0d95",
      "collection_pointer": {"id": "446162ee-9de3-45af-9547-6966e67a0d95", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274", "table": "collection"}}}, "command":
      "set", "table": "collection"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"page": {"id": "9d3fe7ed-60f6-4567-a0c4-f9f747eb0099"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"9d3fe7ed-60f6-4567-a0c4-f9f747eb0099":{"role":"editor","value":{"id":"9d3fe7ed-60f6-4567-a0c4-f9f747eb0099","version":13,"type":"collection_view_page","content":["85f857ee-f6b7-483c-9dcb-f17b7d87710f","dd67ea90-63af-47f0-94cd-b1fe46472b41"],"view_ids":["dd67ea90-63af-47f0-94cd-b1fe46472b41"],"format":{"collection_pointer":{"id":"85f857ee-f6b7-483c-9dcb-f17b7d87710f","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1653405198247,"last_edited_time":1653405200845,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":5498,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["9d3fe7ed-60f6-4567-a0c4-f9f747eb0099","66a51566-97bc-4b28-9960-c0f69637b1a4"],"created_time":1638259881592,"last_edited_time":1652698380000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection":{"85f857ee-f6b7-483c-9dcb-f17b7d87710f":{"role":"editor","value":{"id":"85f857ee-f6b7-483c-9dcb-f17b7d87710f","version":3,"name":[["TESTING
        PAGE"]],"schema":{"bLJo":{"name":"b","type":"relation","property":"6Xe1","collection_id":"446162ee-9de3-45af-9547-6966e67a0d95","collection_pointer":{"id":"446162ee-9de3-45af-9547-6966e67a0d95","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"title":{"name":"a","type":"title"}},"parent_id":"9d3fe7ed-60f6-4567-a0c4-f9f747eb0099","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection_view":{"dd67ea90-63af-47f0-94cd-b1fe46472b41":{"role":"editor","value":{"id":"dd67ea90-63af-47f0-94cd-b1fe46472b41","version":3,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"bLJo"}]},"parent_id":"9d3fe7ed-60f6-4567-a0c4-f9f747eb0099","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1653405199451,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"requests": [{"table": "collection", "id": "446162ee-9de3-45af-9547-6966e67a0d95"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"446162ee-9de3-45af-9547-6966e67a0d95","version":3,"name":[["TESTING
        PAGE"]],"schema":{"6Xe1":{"name":"Related to TESTING PAGE (b)","type":"relation","property":"bLJo","collection_id":"85f857ee-f6b7-483c-9dcb-f17b7d87710f","collection_pointer":{"id":"85f857ee-f6b7-483c-9dcb-f17b7d87710f","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"H1UG":{"name":"d","type":"text"},"title":{"name":"c","type":"title"}},"parent_id":"66a51566-97bc-4b28-9960-c0f69637b1a4","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"collection":{"446162ee-9de3-45af-9547-6966e67a0d95":{"role":"editor","value":{"id":"446162ee-9de3-45af-9547-6966e67a0d95","version":3,"name":[["TESTING
        PAGE"]],"schema":{"6Xe1":{"name":"Related to TESTING PAGE (b)","type":"relation","property":"bLJo","collection_id":"85f857ee-f6b7-483c-9dcb-f17b7d87710f","collection_pointer":{"id":"85f857ee-f6b7-483c-9dcb-f17b7d87710f","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"H1UG":{"name":"d","type":"text"},"title":{"na[...]
- request:
    body: '{"requests": [{"table": "collection_view", "id": "cff5e51e-24c1-4e74-8a2a-b30b7dba44c8"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"cff5e51e-24c1-4e74-8a2a-b30b7dba44c8","version":5,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"H1UG"}]},"parent_id":"66a51566-97bc-4b28-9960-c0f69637b1a4","parent_table":"block","alive":true,"page_sort":["3b83841f-6bda-4720-b5bb-600d8b331c8d","1bdc56f9-c714-4f4e-8525-4b6407f2baff"],"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1653405203108,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}],"recordMapWithRoles":{"collection_view":{"cff5e51e-24c1-4e74-8a2a-b30b7dba44c8":{"role":"editor","value":{"id":"cff5e51e-24c1-4e74-8a2a-b30b7dba44c8","version":5,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"H1UG"}]},"parent_id":"66a51566-97bc-4b28-9960-c0f69637b1a4","parent_table":"block","alive":true,"page_sort":["3b83841f-6bda-4720-b5bb-600d8b331c8d","1bdc56f9-c714-4f4e-8525-4b6407f2baff"],"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1653405203108,"created_by_table":"notion_user","created_[...]
- request:
    body: '{"collection": {"id": "446162ee-9de3-45af-9547-6966e67a0d95", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "cff5e51e-24c1-4e74-8a2a-b30b7dba44c8",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"table:uncategorized:title:count":
      {"aggregation": {"aggregator": "count", "property": "title"}, "type": "aggregation"}},
      "searchQuery": "", "sort": [], "userTimeZone": "Asia/Tashkent", "type": "reducer"}}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"table:uncategorized:title:count":{"type":"aggregation","aggregationResult":{"type":"number","value":2}}}},"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"collection": {"id": "446162ee-9de3-45af-9547-6966e67a0d95", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "cff5e51e-24c1-4e74-8a2a-b30b7dba44c8",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 2, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["3b83841f-6bda-4720-b5bb-600d8b331c8d","1bdc56f9-c714-4f4e-8525-4b6407f2baff"],"hasMore":false}}},"recordMap":{"block":{"3b83841f-6bda-4720-b5bb-600d8b331c8d":{"role":"editor","value":{"id":"3b83841f-6bda-4720-b5bb-600d8b331c8d","version":6,"type":"page","properties":{"title":[["cc"]]},"created_time":1653405205555,"last_edited_time":1653405205932,"parent_id":"446162ee-9de3-45af-9547-6966e67a0d95","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"1bdc56f9-c714-4f4e-8525-4b6407f2baff":{"role":"editor","value":{"id":"1bdc56f9-c714-4f4e-8[...]
[...]
- request:
    body: '{"blockIds": ["9d3fe7ed-60f6-4567-a0c4-f9f747eb0099"], "permanentlyDelete":
      true}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
