interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":9,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect"}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":27,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["03b83ede-64a9-4547-98cf-a22bad3f7568"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":1453,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1651493580000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "f8911de9-8154-41ae-817c-c4e016ef0f7b", "path":
      [], "args": {"id": "f8911de9-8154-41ae-817c-c4e016ef0f7b", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651563786487, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651563786487}, "command":
      "update", "id": "f8911de9-8154-41ae-817c-c4e016ef0f7b", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "f8911de9-8154-41ae-817c-c4e016ef0f7b"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651563786487}, "command":
      "update", "id": "f8911de9-8154-41ae-817c-c4e016ef0f7b", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "803c6090-a761-4d32-8241-f781adf185f5", "path":
      [], "args": {"id": "803c6090-a761-4d32-8241-f781adf185f5", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651563786950, "parent_id": "f8911de9-8154-41ae-817c-c4e016ef0f7b",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "0els": {"name": "b", "type": "text"}, "KtYN": {"name": "c", "type": "text"}}},
      "command": "set", "table": "collection"}, {"id": "f8911de9-8154-41ae-817c-c4e016ef0f7b",
      "path": ["content"], "args": {"id": "803c6090-a761-4d32-8241-f781adf185f5"},
      "command": "listAfter", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651563786950}, "command":
      "update", "id": "f8911de9-8154-41ae-817c-c4e016ef0f7b", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651563786950}, "command":
      "update", "id": "f8911de9-8154-41ae-817c-c4e016ef0f7b", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "f8911de9-8154-41ae-817c-c4e016ef0f7b", "path":
      ["format", "collection_pointer", "id"], "args": "803c6090-a761-4d32-8241-f781adf185f5",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651563787376}, "command":
      "update", "id": "f8911de9-8154-41ae-817c-c4e016ef0f7b", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"page": {"id": "f8911de9-8154-41ae-817c-c4e016ef0f7b"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"f8911de9-8154-41ae-817c-c4e016ef0f7b":{"role":"editor","value":{"id":"f8911de9-8154-41ae-817c-c4e016ef0f7b","version":13,"type":"collection_view_page","content":["803c6090-a761-4d32-8241-f781adf185f5","9f9abbff-af5a-4a6f-9a19-5d469a6501bc"],"view_ids":["9f9abbff-af5a-4a6f-9a19-5d469a6501bc"],"format":{"collection_pointer":{"id":"803c6090-a761-4d32-8241-f781adf185f5","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1651563786487,"last_edited_time":1651563788675,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":1454,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["f8911de9-8154-41ae-817c-c4e016ef0f7b"],"created_time":1638259881592,"last_edited_time":1651493580000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection":{"803c6090-a761-4d32-8241-f781adf185f5":{"role":"editor","value":{"id":"803c6090-a761-4d32-8241-f781adf185f5","version":2,"name":[["TESTING
        PAGE 2371da2b"]],"schema":{"0els":{"name":"b","type":"text"},"KtYN":{"name":"c","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"f8911de9-8154-41ae-817c-c4e016ef0f7b","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection_view":{"9f9abbff-af5a-4a6f-9a19-5d469a6501bc":{"role":"editor","value":{"id":"9f9abbff-af5a-4a6f-9a19-5d469a6501bc","version":3,"type":"table","parent_id":"f8911de9-8154-41ae-817c-c4e016ef0f7b","parent_table":"block","alive":true,"page_sort":["468ff62b-4a68-42e2-b15b-a3bfeaf92494"],"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1651563787745,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"requests": [{"table": "collection", "id": "803c6090-a761-4d32-8241-f781adf185f5"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"803c6090-a761-4d32-8241-f781adf185f5","version":2,"name":[["TESTING
        PAGE 2371da2b"]],"schema":{"0els":{"name":"b","type":"text"},"KtYN":{"name":"c","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"f8911de9-8154-41ae-817c-c4e016ef0f7b","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"collection":{"803c6090-a761-4d32-8241-f781adf185f5":{"role":"editor","value":{"id":"803c6090-a761-4d32-8241-f781adf185f5","version":2,"name":[["TESTING
        PAGE 2371da2b"]],"schema":{"0els":{"name":"b","type":"text"},"KtYN":{"name":"c","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"f8911de9-8154-41ae-817c-c4e016ef0f7b","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"block":{"f8911de9-8154-41ae-817c-c4e016ef0f7b":{"[...]
- request:
    body: '{"collection": {"id": "803c6090-a761-4d32-8241-f781adf185f5", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "9f9abbff-af5a-4a6f-9a19-5d469a6501bc",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 100, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["468ff62b-4a68-42e2-b15b-a3bfeaf92494"],"hasMore":false}}},"recordMap":{"block":{"468ff62b-4a68-42e2-b15b-a3bfeaf92494":{"role":"editor","value":{"id":"468ff62b-4a68-42e2-b15b-a3bfeaf92494","version":10,"type":"page","properties":{"0els":[["b1"]],"KtYN":[["c1"]],"title":[["a"]]},"created_time":1651563789470,"last_edited_time":1651563790052,"parent_id":"803c6090-a761-4d32-8241-f781adf185f5","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"f8911de9-8154-41ae-817c-c4e016ef0f7b":{"role":"editor","val[...]
[...]
- request:
    body: '{"blockIds": ["f8911de9-8154-41ae-817c-c4e016ef0f7b"], "permanentlyDelete":
      true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
