interactions:
- request:
    body: '{}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":31,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["5585f343-8ea5-469b-8a90-a05987977424"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":5302,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1652698380000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-[...]
[...]
- request:
    body: '{"operations": [{"id": "d3251e2f-1d0e-4205-8053-d210dd7ce07c", "path":
      [], "args": {"id": "d3251e2f-1d0e-4205-8053-d210dd7ce07c", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1653396415185, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653396415185}, "command":
      "update", "id": "d3251e2f-1d0e-4205-8053-d210dd7ce07c", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "d3251e2f-1d0e-4205-8053-d210dd7ce07c"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653396415185}, "command":
      "update", "id": "d3251e2f-1d0e-4205-8053-d210dd7ce07c", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "b1ccee61-fd3c-4ec4-a8fd-04fefbb4fcf5", "path":
      [], "args": {"id": "b1ccee61-fd3c-4ec4-a8fd-04fefbb4fcf5", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1653396415609, "parent_id": "d3251e2f-1d0e-4205-8053-d210dd7ce07c",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"}}},
      "command": "set", "table": "collection"}, {"id": "d3251e2f-1d0e-4205-8053-d210dd7ce07c",
      "path": ["content"], "args": {"id": "b1ccee61-fd3c-4ec4-a8fd-04fefbb4fcf5"},
      "command": "listAfter", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653396415609}, "command":
      "update", "id": "d3251e2f-1d0e-4205-8053-d210dd7ce07c", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653396415609}, "command":
      "update", "id": "d3251e2f-1d0e-4205-8053-d210dd7ce07c", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "d3251e2f-1d0e-4205-8053-d210dd7ce07c", "path":
      ["format", "collection_pointer", "id"], "args": "b1ccee61-fd3c-4ec4-a8fd-04fefbb4fcf5",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653396418645}, "command":
      "update", "id": "d3251e2f-1d0e-4205-8053-d210dd7ce07c", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "0e5216b1-5df8-4a22-97ed-df9a7105cf8b", "path":
      ["format", "table_properties"], "args": [{"visible": true, "property": "title"}],
      "command": "set", "table": "collection_view"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"requests": [{"table": "collection_view", "id": "0e5216b1-5df8-4a22-97ed-df9a7105cf8b"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"0e5216b1-5df8-4a22-97ed-df9a7105cf8b","version":3,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"}]},"parent_id":"d3251e2f-1d0e-4205-8053-d210dd7ce07c","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1653396418972,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}],"recordMapWithRoles":{"collection_view":{"0e5216b1-5df8-4a22-97ed-df9a7105cf8b":{"role":"editor","value":{"id":"0e5216b1-5df8-4a22-97ed-df9a7105cf8b","version":3,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"}]},"parent_id":"d3251e2f-1d0e-4205-8053-d210dd7ce07c","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1653396418972,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}},"block":{"d3251e2f-1d0e-4205-8053-d210dd7ce07c":{"role":"editor","value":{"id":"d3251e2f-1d0e-4205-8053-d210dd7ce07c","version":13,"type":"collection_view_page","content":["b1ccee61-fd3c-4ec4-a8fd-04fefbb4fcf5","0e5216b1-5df8-4a22-97ed-df9a7105cf8b"],"view_ids":["0e5216b1-5df8-4a22-97ed-df9a7105cf8b"],"format":{"collection_pointer":{"id":"b1ccee61-fd3c-4ec4-a8fd-04fefbb4fcf5","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1653396415185,"last_edited_time":1653396422946,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":5303,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["d3251e2f-1d0e-4205-8053-d210dd7ce07c"],"created_time":1638259881592,"last_edited_time":1652698380000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"collection": {"id": "b1ccee61-fd3c-4ec4-a8fd-04fefbb4fcf5", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "0e5216b1-5df8-4a22-97ed-df9a7105cf8b",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"table:uncategorized:title:count":
      {"aggregation": {"aggregator": "count", "property": "title"}, "type": "aggregation"}},
      "searchQuery": "", "sort": [], "userTimeZone": "Asia/Tashkent", "type": "reducer"}}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"table:uncategorized:title:count":{"type":"aggregation","aggregationResult":{"type":"number","value":1}}}},"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"collection": {"id": "b1ccee61-fd3c-4ec4-a8fd-04fefbb4fcf5", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "0e5216b1-5df8-4a22-97ed-df9a7105cf8b",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 1, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["5f25a850-b80f-4ef6-a22d-4a41e1c3a89a"],"hasMore":false}}},"recordMap":{"block":{"5f25a850-b80f-4ef6-a22d-4a41e1c3a89a":{"role":"editor","value":{"id":"5f25a850-b80f-4ef6-a22d-4a41e1c3a89a","version":6,"type":"page","properties":{"title":[["a"]]},"created_time":1653396424476,"last_edited_time":1653396427006,"parent_id":"b1ccee61-fd3c-4ec4-a8fd-04fefbb4fcf5","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"d3251e2f-1d0e-4205-8053-d210dd7ce07c":{"role":"editor","value":{"id":"d3251e2f-1d0e-4205-8053-d210dd7ce07c","version":13,"type":"collection_view_page","content":["b1ccee61-fd3c-4ec4-a8fd-04fefbb4fcf5","0e5216b1-5df8-4a22-97ed-df9a7105cf8b"],"view_ids":["0e5216b1-5df8-4a22-97ed-df9a7105cf8b"],"format":{"collection_pointer":{"id":"b1ccee61-fd3c-4ec4-a8fd-04fefbb4fcf5","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1653396415185,"last_edited_time":1653396422946,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection":{"b1ccee61-fd3c-4ec4-a8fd-04fefbb4fcf5":{"role":"editor","value":{"id":"b1ccee61-fd3c-4ec4-a8fd-04fefbb4fcf5","version":2,"name":[["TESTING
        PAGE"]],"schema":{"title":{"name":"a","type":"title"}},"parent_id":"d3251e2f-1d0e-4205-8053-d210dd7ce07c","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":5303,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["d3251e2f-1d0e-4205-8053-d210dd7ce07c"],"created_time":1638259881592,"last_edited_time":1652698380000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "5f25a850-b80f-4ef6-a22d-4a41e1c3a89a", "path":
      ["properties", "meta", "cover_block"], "args": {"type": "url", "url": "https://via.placeholder.com/100"},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653396428347}, "command":
      "update", "id": "5f25a850-b80f-4ef6-a22d-4a41e1c3a89a", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "2ef4ac6e-4900-4cb9-a819-cdd4ac227866", "path":
      [], "args": {"id": "2ef4ac6e-4900-4cb9-a819-cdd4ac227866", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1653396428804, "parent_id": "5f25a850-b80f-4ef6-a22d-4a41e1c3a89a",
      "parent_table": "block", "type": "image", "child_list_key": null}, "command":
      "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653396428804}, "command":
      "update", "id": "2ef4ac6e-4900-4cb9-a819-cdd4ac227866", "path": [], "table":
      "block"}, {"id": "5f25a850-b80f-4ef6-a22d-4a41e1c3a89a", "path": ["content"],
      "args": {"id": "2ef4ac6e-4900-4cb9-a819-cdd4ac227866"}, "command": "listAfter",
      "table": "block"}, {"args":[...]
[...]
- request:
    body: '{"page": {"id": "d3251e2f-1d0e-4205-8053-d210dd7ce07c"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"d3251e2f-1d0e-4205-8053-d210dd7ce07c":{"role":"editor","value":{"id":"d3251e2f-1d0e-4205-8053-d210dd7ce07c","version":13,"type":"collection_view_page","content":["b1ccee61-fd3c-4ec4-a8fd-04fefbb4fcf5",[...]
[...]
- request:
    body: '{"collection": {"id": "b1ccee61-fd3c-4ec4-a8fd-04fefbb4fcf5", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "0e5216b1-5df8-4a22-97ed-df9a7105cf8b",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 1, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["5f25a850-b80f-4ef6-a22d-4a41e1c3a89a"],"hasMore":false}}},"recordMap":{"block":{"5f25a850-b80f-4ef6-a22d-4a41e1c3a89a":{"role":"editor","value":{"id":"5f25a850-b80f-4ef6-a22d-4a41e1c3a89a","version":11,"type":"page","properties":{"meta":{"cover_block":{"url":"https://via.placeholder.com/100","type":"url"}},"title":[["a"]]},"content":["2ef4ac6e-4900-4cb9-a819-cdd4ac227866"],"created_time":1653396424476,"last_edited_time":1653396428804,"parent_id":"b1ccee61-fd3c-4ec4-a8fd-04fefbb4fcf5","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a[...]
[...]
- request:
    body: '{"requests": [{"table": "block", "id": "2ef4ac6e-4900-4cb9-a819-cdd4ac227866"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"2ef4ac6e-4900-4cb9-a819-cdd4ac227866","version":10,"type":"image","properties":{"source":[["https://via.placeholder.com/100"]],"is_cover_block":true},"format":{"display_source":"https://via.placeholder.com/100"},"created_time":1653396428804,"last_edited_time":1653396429569,"parent_id":"5f25a850-b80f-4ef6-a22d-4a41e1c3a89a","parent_table":"block","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"block":{"2ef4ac6e-4900-4cb9-a819-cdd4ac227866":{"role":"[...]
[...]
- request:
    body: '{"blockIds": ["d3251e2f-1d0e-4205-8053-d210dd7ce07c"], "permanentlyDelete":
      true}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
