interactions:
- request:
    body: '{}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":31,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["5585f343-8ea5-469b-8a90-a05987977424"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":5344,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1652698380000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-[...]
- request:
    body: '{"operations": [{"id": "ad8642bf-170e-4daf-bb54-5fb4c7285ee0", "path":
      [], "args": {"id": "ad8642bf-170e-4daf-bb54-5fb4c7285ee0", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1653396717966, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653396717966}, "command":
      "update", "id": "ad8642bf-170e-4daf-bb54-5fb4c7285ee0", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "ad8642bf-170e-4daf-bb54-5fb4c7285ee0"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653396717966}, "command":
      "update", "id": "ad8642bf-170e-4daf-bb54-5fb4c7285ee0", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "51be21ed-e7da-4b8b-87f7-835048429a99", "path":
      [], "args": {"id": "51be21ed-e7da-4b8b-87f7-835048429a99", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1653396718368, "parent_id": "ad8642bf-170e-4daf-bb54-5fb4c7285ee0",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "EAF8": {"name": "b", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "ad8642bf-170e-4daf-bb54-5fb4c7285ee0", "path": ["content"], "args":
      {"id": "51be21ed-e7da-4b8b-87f7-835048429a99"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653396718368}, "command":
      "update", "id": "ad8642bf-170e-4daf-bb54-5fb4c7285ee0", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653396718368}, "command":
      "update", "id": "ad8642bf-170e-4daf-bb54-5fb4c7285ee0", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "ad8642bf-170e-4daf-bb54-5fb4c7285ee0", "path":
      ["format", "collection_pointer", "id"], "args": "51be21ed-e7da-4b8b-87f7-835048429a99",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653396718756}, "command":
      "update", "id": "ad8642bf-170e-4daf-bb54-5fb4c7285ee0", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "8eced348-cecb-4b85-9350-3a5d0a7972c1", "path":
      ["format", "table_properties"], "args": [{"visible": true, "property": "title"},
      {"visible": true, "property": "EAF8"}], "command": "set", "table": "collection_view"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "8d5b411f-91c7-4150-a3e7-567f574dd48c", "path":
      [], "args": {"id": "8d5b411f-91c7-4150-a3e7-567f574dd48c", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1653396721832, "parent_id": "f61eb11a-0d0e-499e-b769-64b08599ff07",
      "parent_table": "block", "schema": {"title": {"name": "c", "type": "title"},
      "M4yD": {"name": "d", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "f61eb11a-0d0e-499e-b769-64b08599ff07", "path": ["content"], "args":
      {"id": "8d5b411f-91c7-4150-a3e7-567f574dd48c"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653396721832}, "command":
      "update", "id": "f61eb11a-0d0e-499e-b769-64b08599ff07", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653396721832}, "command":
      "update", "id": "f61eb11a-0d0e-499e-b769-64b08599ff07", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"blockId": "f61eb11a-0d0e-499e-b769-64b08599ff07"}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getPublicPageData
  response:
    body:
      string: '{"spaceName":"test_py","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274","spaceDomain":"laced-taxi-315","canJoinSpace":true,"userHasExplicitAccess":true,"ownerUserId":"a03b888f-5426-4e4f-b5ef-bed855b162f0","betaEnabled":false,"canRequestAccess":true,"requireLogin":false,"publicAccessRole":"none"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "51be21ed-e7da-4b8b-87f7-835048429a99", "path":
      ["schema"], "args": {"title": {"name": "a", "type": "title"}, "EAF8": {"name":
      "b", "type": "relation", "property": "BxpU", "collection_id": "8d5b411f-91c7-4150-a3e7-567f574dd48c",
      "collection_pointer": {"id": "8d5b411f-91c7-4150-a3e7-567f574dd48c", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274", "table": "collection"}}}, "command":
      "set", "table": "collection"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"page": {"id": "ad8642bf-170e-4daf-bb54-5fb4c7285ee0"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"ad8642bf-170e-4daf-bb54-5fb4c7285ee0":{"role":"editor","value":{"id":"ad8642bf-170e-4daf-bb54-5fb4c7285ee0","version":13,"type":"collection_view_page","content":["51be21ed-e7da-4b8b-87f7-835048429a99","8eced348-cecb-4b85-9350-3a5d0a7972c1"],"view_ids":["8eced348-cecb-4b85-9350-3a5d0a7972c1"],"format":{"collection_pointer":{"id":"51be21ed-e7da-4b8b-87f7-835048429a99","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1653396717966,"last_edited_time":1653396720471,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":5346,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["ad8642bf-170e-4daf-bb54-5fb4c7285ee0","f61eb11a-0d0e-499e-b769-64b08599ff07"],"created_time":1638259881592,"last_edited_time":1652698380000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection":{"51be21ed-e7da-4b8b-87f7-835048429a99":{"role":"editor","value":{"id":"51be21ed-e7da-4b8b-87f7-835048429a99","version":3,"name":[["TESTING
        PAGE"]],"schema":{"EAF8":{"name":"b","type":"relation","property":"BxpU","collection_id":"8d5b411f-91c7-4150-a3e7-567f574dd48c","collection_pointer":{"id":"8d5b411f-91c7-4150-a3e7-567f574dd48c","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"title":{"name":"a","type":"title"}},"parent_id":"ad8642bf-170e-4daf-bb54-5fb4c7285ee0","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection_view":{"8eced348-cecb-4b85-9350-3a5d0a7972c1":{"role":"editor","value":{"id":"8eced348-cecb-4b85-9350-3a5d0a7972c1","version":3,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"EAF8"}]},"parent_id":"ad8642bf-170e-4daf-bb54-5fb4c7285ee0","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1653396719722,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"requests": [{"table": "collection", "id": "8d5b411f-91c7-4150-a3e7-567f574dd48c"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"8d5b411f-91c7-4150-a3e7-567f574dd48c","version":3,"name":[["TESTING
        PAGE"]],"schema":{"BxpU":{"name":"Related to TESTING PAGE (b)","type":"relation","property":"EAF8","collection_id":"51be21ed-e7da-4b8b-87f7-835048429a99","collection_pointer":{"id":"51be21ed-e7da-4b8b-87f7-835048429a99","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"M4yD":{"name":"d","type":"text"},"title":{"name":"c","type":"title"}},"parent_id":"f61eb11a-0d0e-499e-b769-64b08599ff07","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"collection":{"8d5b411f-91c7-4150-a3e7-567f574dd48c":{"role":"editor","value":{"id":"8d5b411f-91c7-4150-a3e7-567f574dd48c","version":3,"name":[["TESTING
        PAGE"]],"schema":{"BxpU":{"name":"Related to TESTING PAGE (b)","type":"relation","property":"EAF8","collection_id":"51be21ed-e7da-4b8b-87f7-835048429a99","collection_pointer":{"id":"51be21ed-e7da-4b8b-87f7-835048429a99","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"M4yD":{"name":"d","type":"text"},"title":{"name":"c","type":"title"}},"parent_id":"f61eb11a-0d0e-499e-b769-64b08599ff07","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"block":{"f61eb11a-0d0e-499e-b769-64b08599ff07":{"role":"editor","value":{"id":"f61eb11a-0d0e-499e-b769-64b08599ff07","version":13,"type":"collection_view_page","content":["8d5b411f-91c7-4150-a3e7-567f574dd48c","409929b9-646a-4616-bf5f-eaf19cb8fcd3"],"view_ids":["409929b9-646a-4616-bf5f-eaf19cb8fcd3"],"format":{"collection_pointer":{"id":"8d5b411f-91c7-4150-a3e7-567f574dd48c","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed85[...]
[...]
- request:
    body: '{"blockIds": ["ad8642bf-170e-4daf-bb54-5fb4c7285ee0"], "permanentlyDelete":
      true}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
