interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":29,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["5585f343-8ea5-469b-8a90-a05987977424"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":1856,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1651730700000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "7d148d0c-3561-4428-926b-5a896a98256e", "path":
      [], "args": {"id": "7d148d0c-3561-4428-926b-5a896a98256e", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651735394107, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651735394107}, "command":
      "update", "id": "7d148d0c-3561-4428-926b-5a896a98256e", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "7d148d0c-3561-4428-926b-5a896a98256e"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651735394107}, "command":
      "update", "id": "7d148d0c-3561-4428-926b-5a896a98256e", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "c72c30ee-d78f-4779-bdcf-99164c0983a8", "path":
      [], "args": {"id": "c72c30ee-d78f-4779-bdcf-99164c0983a8", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651735394595, "parent_id": "7d148d0c-3561-4428-926b-5a896a98256e",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "xO82": {"name": "b", "type": "checkbox"}}}, "command": "set", "table": "collection"},
      {"id": "7d148d0c-3561-4428-926b-5a896a98256e", "path": ["content"], "args":
      {"id": "c72c30ee-d78f-4779-bdcf-99164c0983a8"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651735394595}, "command":
      "update", "id": "7d148d0c-3561-4428-926b-5a896a98256e", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651735394595}, "command":
      "update", "id": "7d148d0c-3561-4428-926b-5a896a98256e", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "7d148d0c-3561-4428-926b-5a896a98256e", "path":
      ["format", "collection_pointer", "id"], "args": "c72c30ee-d78f-4779-bdcf-99164c0983a8",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651735395035}, "command":
      "update", "id": "7d148d0c-3561-4428-926b-5a896a98256e", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "810c9063-9c6f-458a-896e-e7f4a175694a", "path":
      ["format", "table_properties"], "args": [{"visible": true, "property": "title"},
      {"visible": true, "property": "xO82"}], "command": "set", "table": "collection_view"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"page": {"id": "7d148d0c-3561-4428-926b-5a896a98256e"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"7d148d0c-3561-4428-926b-5a896a98256e":{"role":"editor","value":{"id":"7d148d0c-3561-4428-926b-5a896a98256e","version":13,"type":"collection_view_page","content":["c72c30ee-d78f-4779-bdcf-99164c0983a8","810c9063-9c6f-458a-896e-e7f4a175694a"],"view_ids":["810c9063-9c6f-458a-896e-e7f4a175694a"],"format":{"collection_pointer":{"id":"c72c30ee-d78f-4779-bdcf-99164c0983a8","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1651735394107,"last_edited_time":1651735396332,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":1857,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["7d148d0c-3561-4428-926b-5a896a98256e"],"created_time":1638259881592,"last_edited_time":1651730700000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection":{"c72c30ee-d78f-4779-bdcf-99164c0983a8":{"role":"editor","value":{"id":"c72c30ee-d78f-4779-bdcf-99164c0983a8","version":2,"name":[["TESTING
        PAGE"]],"schema":{"xO82":{"name":"b","type":"checkbox"},"title":{"name":"a","type":"title"}},"parent_id":"7d148d0c-3561-4428-926b-5a896a98256e","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection_view":{"810c9063-9c6f-458a-896e-e7f4a175694a":{"role":"editor","value":{"id":"810c9063-9c6f-458a-896e-e7f4a175694a","version":3,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"xO82"}]},"parent_id":"7d148d0c-3561-4428-926b-5a896a98256e","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1651735395443,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"requests": [{"table": "collection", "id": "c72c30ee-d78f-4779-bdcf-99164c0983a8"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"c72c30ee-d78f-4779-bdcf-99164c0983a8","version":2,"name":[["TESTING
        PAGE"]],"schema":{"xO82":{"name":"b","type":"checkbox"},"title":{"name":"a","type":"title"}},"parent_id":"7d148d0c-3561-4428-926b-5a896a98256e","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"collection":{"c72c30ee-d78f-4779-bdcf-99164c0983a8":{"role":"editor","value":{"id":"c72c30ee-d78f-4779-bdcf-99164c0983a8","version":2,"name":[["TESTING
        PAGE"]],"schema":{"xO82":{"name":"b","type":"checkbox"},"title":{"name":"a","type":"title"}},"parent_id":"7d148d0c-3561-4428-926b-5a896a98256e","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"block":{"7d148d0c-3561-4428-926b-5a896a98256e":{"role":"editor","value":{"id":"7d148d0c-[...]
- request:
    body: '{"collection": {"id": "c72c30ee-d78f-4779-bdcf-99164c0983a8", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "810c9063-9c6f-458a-896e-e7f4a175694a",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 100, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["b543aa0e-24b2-4694-bdec-4bb03a66ab03"],"hasMore":false}}},"recordMap":{"block":{"b543aa0e-24b2-4694-bdec-4bb03a66ab03":{"role":"editor","value":{"id":"b543aa0e-24b2-4694-bdec-4bb03a66ab03","version":8,"type":"page","properties":{"xO82":[["Yes"]],"title":[["a"]]},"created_time":1651735397964,"last_edited_time":1651735398472,"parent_id":"c72c30ee-d78f-4779-bdcf-99164c0983a8","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"7d148d0c-3561-4428-926b-5a896a98256e":{"role":"editor","value":{"id":"7d14[...]
[...]
- request:
    body: '{"collection": {"id": "c72c30ee-d78f-4779-bdcf-99164c0983a8", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "810c9063-9c6f-458a-896e-e7f4a175694a",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 100, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["b543aa0e-24b2-4694-bdec-4bb03a66ab03","cc3c19d3-9bbe-44a4-8717-761e4ca27f8a","6f3d1a22-3f02-4ced-b34a-ed7a967c5367"],"hasMore":false}}},"recordMap":{"block":{"b543aa0e-24b2-4694-bdec-4bb03a66ab03":{"role":"editor","value":{"id":"b543aa0e-24b2-4694-bdec-4bb03a66ab03","version":8,"type":"page","properties":{"xO82":[["Yes"]],"title":[["a"]]},"created_time":1651735397964,"last_edited_time":1651735398472,"parent_id":"c72c30ee-d78f-4779-bdcf-99164c0983a8","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"cc3c19d3-9bbe-44a4-8717-761e4ca27f8a":{"role":"editor","value":{"id":"cc3c19d3-9bbe-44a4-8717-761e4ca27f8a","version":8,"type":"page","properties":{"xO82":[["No"]],"title":[["b"]]},"created_time":1651735399793,"last_edited_time":1651735400250,"parent_id":"c72c30ee-d78f-4779-bdcf-99164c0983a8","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca[...]
[...]
- request:
    body: '{"blockIds": ["7d148d0c-3561-4428-926b-5a896a98256e"], "permanentlyDelete":
      true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
