interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":29,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["5585f343-8ea5-469b-8a90-a05987977424"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":1850,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1651730700000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "d1f54c31-8c5f-4fc7-b539-40bd8e36808c", "path":
      [], "args": {"id": "d1f54c31-8c5f-4fc7-b539-40bd8e36808c", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651735364720, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651735364720}, "command":
      "update", "id": "d1f54c31-8c5f-4fc7-b539-40bd8e36808c", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "d1f54c31-8c5f-4fc7-b539-40bd8e36808c"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651735364720}, "command":
      "update", "id": "d1f54c31-8c5f-4fc7-b539-40bd8e36808c", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "11862841-2bc3-4e5e-9801-e2e63bec6a95", "path":
      [], "args": {"id": "11862841-2bc3-4e5e-9801-e2e63bec6a95", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651735365194, "parent_id": "d1f54c31-8c5f-4fc7-b539-40bd8e36808c",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "sBT5": {"name": "b", "type": "text"}, "EVPW": {"name": "c", "type": "text"}}},
      "command": "set", "table": "collection"}, {"id": "d1f54c31-8c5f-4fc7-b539-40bd8e36808c",
      "path": ["content"], "args": {"id": "11862841-2bc3-4e5e-9801-e2e63bec6a95"},
      "command": "listAfter", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651735365194}, "command":
      "update", "id": "d1f54c31-8c5f-4fc7-b539-40bd8e36808c", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651735365194}, "command":
      "update", "id": "d1f54c31-8c5f-4fc7-b539-40bd8e36808c", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "d1f54c31-8c5f-4fc7-b539-40bd8e36808c", "path":
      ["format", "collection_pointer", "id"], "args": "11862841-2bc3-4e5e-9801-e2e63bec6a95",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651735365650}, "command":
      "update", "id": "d1f54c31-8c5f-4fc7-b539-40bd8e36808c", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "1f7b491a-ed59-4831-9480-0bc4fa148415", "path":
      ["format", "table_properties"], "args": [{"visible": true, "property": "title"},
      {"visible": true, "property": "sBT5"}, {"visible": true, "property": "EVPW"}],
      "command": "set", "table": "collection_view"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"page": {"id": "d1f54c31-8c5f-4fc7-b539-40bd8e36808c"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"d1f54c31-8c5f-4fc7-b539-40bd8e36808c":{"role":"editor","value":{"id":"d1f54c31-8c5f-4fc7-b539-40bd8e36808c","version":13,"type":"collection_view_page","content":["11862841-2bc3-4e5e-9801-e2e63bec6a95","1f7b491a-ed59-4831-9480-0bc4fa148415"],"view_ids":["1f7b491a-ed59-4831-9480-0bc4fa148415"],"format":{"collection_pointer":{"id":"11862841-2bc3-4e5e-9801-e2e63bec6a95","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1651735364720,"last_edited_time":1651735366903,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":1851,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["d1f54c31-8c5f-4fc7-b539-40bd8e36808c"],"created_time":1638259881592,"last_edited_time":1651730700000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection_view":{"1f7b491a-ed59-4831-9480-0bc4fa148415":{"role":"editor","value":{"id":"1f7b491a-ed59-4831-9480-0bc4fa148415","version":3,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"sBT5"},{"visible":true,"property":"EVPW"}]},"parent_id":"d1f54c31-8c5f-4fc7-b539-40bd8e36808c","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1651735366025,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}},"collection":{"11862841-2bc3-4e5e-9801-e2e63bec6a95":{"role":"editor","value":{"id":"11862841-2bc3-4e5e-9801-e2e63bec6a95","version":2,"name":[["TESTING
        PAGE"]],"schema":{"EVPW":{"name":"c","type":"text"},"sBT5":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"d1f54c31-8c5f-4fc7-b539-40bd8e36808c","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"requests": [{"table": "collection", "id": "11862841-2bc3-4e5e-9801-e2e63bec6a95"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"11862841-2bc3-4e5e-9801-e2e63bec6a95","version":2,"name":[["TESTING
        PAGE"]],"schema":{"EVPW":{"name":"c","type":"text"},"sBT5":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"d1f54c31-8c5f-4fc7-b539-40bd8e36808c","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"collection":{"11862841-2bc3-4e5e-9801-e2e63bec6a95":{"role":"editor","value":{"id":"11862841-2bc3-4e5e-9801-e2e63bec6a95","version":2,"name":[["TESTING
        PAGE"]],"schema":{"EVPW":{"name":"c","type":"text"},"sBT5":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"d1f54c31-8c5f-4fc7-b539-40bd8e36808c","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"block":{"d1f54c31-8c5f-4fc7-b539-40bd8e36808c":{"role":"ed[...]
- request:
    body: '{"collection": {"id": "11862841-2bc3-4e5e-9801-e2e63bec6a95", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "1f7b491a-ed59-4831-9480-0bc4fa148415",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 100, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["97690c64-0ae1-40af-a5f6-1c08b9bab0cc"],"hasMore":false}}},"recordMap":{"block":{"97690c64-0ae1-40af-a5f6-1c08b9bab0cc":{"role":"editor","value":{"id":"97690c64-0ae1-40af-a5f6-1c08b9bab0cc","version":10,"type":"page","properties":{"EVPW":[["c"]],"sBT5":[["b"]],"title":[["a"]]},"created_time":1651735368518,"last_edited_time":1651735368965,"parent_id":"11862841-2bc3-4e5e-9801-e2e63bec6a95","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"d1f54c31-8c5f-4fc7-b539-40bd8e36808c":{"role":"editor","value[...]
[...]
- request:
    body: '{"blockIds": ["d1f54c31-8c5f-4fc7-b539-40bd8e36808c"], "permanentlyDelete":
      true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
