interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":31,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["5585f343-8ea5-469b-8a90-a05987977424"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":2297,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1651765740000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "1588ecf8-57c0-4a60-98f2-765e03715f97", "path":
      [], "args": {"id": "1588ecf8-57c0-4a60-98f2-765e03715f97", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651905701947, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651905701947}, "command":
      "update", "id": "1588ecf8-57c0-4a60-98f2-765e03715f97", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "1588ecf8-57c0-4a60-98f2-765e03715f97"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651905701947}, "command":
      "update", "id": "1588ecf8-57c0-4a60-98f2-765e03715f97", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "d2a76fb4-0516-4630-9874-85fdf4f41dd3", "path":
      [], "args": {"id": "d2a76fb4-0516-4630-9874-85fdf4f41dd3", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651905702400, "parent_id": "1588ecf8-57c0-4a60-98f2-765e03715f97",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "Cwfg": {"name": "b", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "1588ecf8-57c0-4a60-98f2-765e03715f97", "path": ["content"], "args":
      {"id": "d2a76fb4-0516-4630-9874-85fdf4f41dd3"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651905702400}, "command":
      "update", "id": "1588ecf8-57c0-4a60-98f2-765e03715f97", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651905702400}, "command":
      "update", "id": "1588ecf8-57c0-4a60-98f2-765e03715f97", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "1588ecf8-57c0-4a60-98f2-765e03715f97", "path":
      ["format", "collection_pointer", "id"], "args": "d2a76fb4-0516-4630-9874-85fdf4f41dd3",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651905702879}, "command":
      "update", "id": "1588ecf8-57c0-4a60-98f2-765e03715f97", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "f9fdf218-0fa0-4b93-941c-0024ca450067", "path":
      ["format", "table_properties"], "args": [{"visible": true, "property": "title"},
      {"visible": true, "property": "Cwfg"}], "command": "set", "table": "collection_view"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "9369e924-97db-48b8-9da5-7315d16d59aa", "path":
      [], "args": {"id": "9369e924-97db-48b8-9da5-7315d16d59aa", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651905705718, "parent_id": "fae1d5b9-cf5d-42b9-8cd6-a5d3f7e8028a",
      "parent_table": "block", "schema": {"title": {"name": "c", "type": "title"},
      "t2Gg": {"name": "d", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "fae1d5b9-cf5d-42b9-8cd6-a5d3f7e8028a", "path": ["content"], "args":
      {"id": "9369e924-97db-48b8-9da5-7315d16d59aa"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651905705718}, "command":
      "update", "id": "fae1d5b9-cf5d-42b9-8cd6-a5d3f7e8028a", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651905705718}, "command":
      "update", "id": "fae1d5b9-cf5d-42b9-8cd6-a5d3f7e8028a", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"blockId": "fae1d5b9-cf5d-42b9-8cd6-a5d3f7e8028a"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getPublicPageData
  response:
    body:
      string: '{"spaceName":"test_py","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274","spaceDomain":"laced-taxi-315","canJoinSpace":true,"userHasExplicitAccess":true,"ownerUserId":"a03b888f-5426-4e4f-b5ef-bed855b162f0","betaEnabled":false,"canRequestAccess":true,"requireLogin":false,"publicAccessRole":"none"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "d2a76fb4-0516-4630-9874-85fdf4f41dd3", "path":
      ["schema"], "args": {"title": {"name": "a", "type": "title"}, "Cwfg": {"name":
      "b", "type": "relation", "property": "gdMh", "collection_id": "9369e924-97db-48b8-9da5-7315d16d59aa",
      "collection_pointer": {"id": "9369e924-97db-48b8-9da5-7315d16d59aa", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274", "table": "collection"}}}, "command":
      "set", "table": "collection"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"page": {"id": "1588ecf8-57c0-4a60-98f2-765e03715f97"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"1588ecf8-57c0-4a60-98f2-765e03715f97":{"role":"editor","value":{"id":"1588ecf8-57c0-4a60-98f2-765e03715f97","version":13,"type":"collection_view_page","content":["d2a76fb4-0516-4630-9874-85fdf4f41dd3","f9fdf218-0fa0-4b93-941c-0024ca450067"],"view_ids":["f9fdf218-0fa0-4b93-941c-0024ca450067"],"format":{"collection_pointer":{"id":"d2a76fb4-0516-4630-9874-85fdf4f41dd3","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1651905701947,"last_edited_time":1651905704104,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":2299,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["1588ecf8-57c0-4a60-98f2-765e03715f97","fae1d5b9-cf5d-42b9-8cd6-a5d3f7e8028a"],"created_time":1638259881592,"last_edited_time":1651765740000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection":{"d2a76fb4-0516-4630-9874-85fdf4f41dd3":{"role":"editor","value":{"id":"d2a76fb4-0516-4630-9874-85fdf4f41dd3","version":3,"name":[["TESTING
        PAGE"]],"schema":{"Cwfg":{"name":"b","type":"relation","property":"gdMh","collection_id":"9369e924-97db-48b8-9da5-7315d16d59aa","collection_pointer":{"id":"9369e924-97db-48b8-9da5-7315d16d59aa","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"title":{"name":"a","type":"title"}},"parent_id":"1588ecf8-57c0-4a60-98f2-765e03715f97","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection_view":{"f9fdf218-0fa0-4b93-941c-0024ca450067":{"role":"editor","value":{"id":"f9fdf218-0fa0-4b93-941c-0024ca450067","version":3,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"Cwfg"}]},"parent_id":"1588ecf8-57c0-4a60-98f2-765e03715f97","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1651905703287,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"requests": [{"table": "collection", "id": "9369e924-97db-48b8-9da5-7315d16d59aa"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"9369e924-97db-48b8-9da5-7315d16d59aa","version":3,"name":[["TESTING
        PAGE"]],"schema":{"gdMh":{"name":"Related to TESTING PAGE (b)","type":"relation","property":"Cwfg","collection_id":"d2a76fb4-0516-4630-9874-85fdf4f41dd3","collection_pointer":{"id":"d2a76fb4-0516-4630-9874-85fdf4f41dd3","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"t2Gg":{"name":"d","type":"text"},"title":{"name":"c","type":"title"}},"parent_id":"fae1d5b9-cf5d-42b9-8cd6-a5d3f7e8028a","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"collection":{"9369e924-97db-48b8-9da5-7315d16d59aa":{"role":"editor","value":{"id":"9369e924-97db-48b8-9da5-7315d16d59aa","version":3,"name":[["TESTING
        PAGE"]],"schema":{"gdMh":{"name":"Related to TESTING PAGE (b)","type":"relation","property":"Cwfg","collection_id":"d2a76fb4-0516-4630-9874-85fdf4f41dd3","collection_pointer":{"id":"d2a76fb4-0516-4630-9874-85fdf4f41dd3","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"t2Gg":{"name":"d","type":"text"},"title":{"name":"c","type":"title"}},"parent_id":"fae1d5b9-cf5d-42b9-8cd6-a5d3f7e8028a","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"block":{"fae1d5b9-cf5d-42b9-8cd6-a5d3f7e8028a":{"role":"editor","value":{"id":"fae1d5b9-cf5d-42b9-8cd6-a5d3f7e8028a","version":13,"type":"collection_view_page","content":["9369e924-97db-48b8-9da5-7315d16d59aa","6888d941-1213-4784-b63f-23e55c5f5db8"],"view_ids":["6888d941-1213-4784-b63f-23e55c5f5db8"],"format":{"collection_pointer":{"id":"9369e924-97db-48b8-9da5-7315d16d59aa","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed85[...]
[...]
- request:
    body: '{"requests": [{"table": "collection_view", "id": "6888d941-1213-4784-b63f-23e55c5f5db8"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"6888d941-1213-4784-b63f-23e55c5f5db8","version":5,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"t2Gg"}]},"parent_id":"fae1d5b9-cf5d-42b9-8cd6-a5d3f7e8028a","parent_table":"block","alive":true,"page_sort":["fc9adf6b-aff1-4af9-985c-340479494e6d","d11f74ee-a217-433e-9974-46efe387b612"],"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1651905706494,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}],"recordMapWithRoles":{"collection_view":{"6888d941-1213-4784-b63f-23e55c5f5db8":{"role":"editor","value":{"id":"6888d941-1213-4784-b63f-23e55c5f5db8","version":5,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visib[...]
- request:
    body: '{"collection": {"id": "9369e924-97db-48b8-9da5-7315d16d59aa", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "6888d941-1213-4784-b63f-23e55c5f5db8",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 100, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["fc9adf6b-aff1-4af9-985c-340479494e6d","d11f74ee-a217-433e-9974-46efe387b612"],"hasMore":false}}},"recordMap":{"block":{"fc9adf6b-aff1-4af9-985c-340479494e6d":{"role":"editor","value":{"id":"fc9adf6b-aff1-4af9-985c-340479494e6d","version":6,"type":"page","properties":{"title":[["cc"]]},"created_time":1651905709325,"last_edited_time":1651905709738,"parent_id":"9369e924-97db-48b8-9da5-7315d16d59aa","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"d11f74ee-a217-433e-9974-46efe387b612":{"role":"editor","value":{"id":"d11f74ee-a217-433e-9974-46efe387b612","version":6,"type":"page","properties":{"title":[["cc"]]},"created_time":1651905710141,"last_edited_time":1651905710649,"parent_id":"9369e924-97db-48b8-9da5-7315d16d59aa","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b90[...]
[...]
- request:
    body: '{"blockIds": ["1588ecf8-57c0-4a60-98f2-765e03715f97"], "permanentlyDelete":
      true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
