interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":9,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect"}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":27,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["03b83ede-64a9-4547-98cf-a22bad3f7568"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":1281,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1651493580000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "fc512ef8-b38d-4749-8594-6a5155c211ed", "path":
      [], "args": {"id": "fc512ef8-b38d-4749-8594-6a5155c211ed", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651556627605, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651556627605}, "command":
      "update", "id": "fc512ef8-b38d-4749-8594-6a5155c211ed", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "fc512ef8-b38d-4749-8594-6a5155c211ed"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651556627605}, "command":
      "update", "id": "fc512ef8-b38d-4749-8594-6a5155c211ed", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "8a78d896-c562-4a31-aa33-21671b7692fa", "path":
      [], "args": {"id": "8a78d896-c562-4a31-aa33-21671b7692fa", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651556628162, "parent_id": "fc512ef8-b38d-4749-8594-6a5155c211ed",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "GyiX": {"name": "b", "type": "text"}, "qXc5": {"name": "icon url", "type":
      "text"}}}, "command": "set", "table": "collection"}, {"id": "fc512ef8-b38d-4749-8594-6a5155c211ed",
      "path": ["content"], "args": {"id": "8a78d896-c562-4a31-aa33-21671b7692fa"},
      "command": "listAfter", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651556628162}, "command":
      "update", "id": "fc512ef8-b38d-4749-8594-6a5155c211ed", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651556628162}, "command":
      "update", "id": "fc512ef8-b38d-4749-8594-6a5155c211ed", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "fc512ef8-b38d-4749-8594-6a5155c211ed", "path":
      ["format", "collection_pointer", "id"], "args": "8a78d896-c562-4a31-aa33-21671b7692fa",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651556628525}, "command":
      "update", "id": "fc512ef8-b38d-4749-8594-6a5155c211ed", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"page": {"id": "fc512ef8-b38d-4749-8594-6a5155c211ed"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"fc512ef8-b38d-4749-8594-6a5155c211ed":{"role":"editor","value":{"id":"fc512ef8-b38d-4749-8594-6a5155c211ed","version":13,"type":"collection_view_page","content":["8a78d896-c562-4a31-aa33-21671b7692fa","7f215ff9-99b4-42df-96a5-3e104020f51b"],"view_ids":["7f215ff9-99b4-42df-96a5-3e104020f51b"],"format":{"collection_pointer":{"id":"8a78d896-c562-4a31-aa33-21671b7692fa","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1651556627605,"last_edited_time":1651556629712,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":1282,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["fc512ef8-b38d-4749-8594-6a5155c211ed"],"created_time":1638259881592,"last_edited_time":1651493580000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection":{"8a78d896-c562-4a31-aa33-21671b7692fa":{"role":"editor","value":{"id":"8a78d896-c562-4a31-aa33-21671b7692fa","version":2,"name":[["TESTING
        PAGE 2371da2b"]],"schema":{"GyiX":{"name":"b","type":"text"},"qXc5":{"name":"icon
        url","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"fc512ef8-b38d-4749-8594-6a5155c211ed","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection_view":{"7f215ff9-99b4-42df-96a5-3e104020f51b":{"role":"editor","value":{"id":"7f215ff9-99b4-42df-96a5-3e104020f51b","version":2,"type":"table","parent_id":"fc512ef8-b38d-4749-8594-6a5155c211ed","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1651556629008,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"requests": [{"table": "collection", "id": "8a78d896-c562-4a31-aa33-21671b7692fa"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"8a78d896-c562-4a31-aa33-21671b7692fa","version":2,"name":[["TESTING
        PAGE 2371da2b"]],"schema":{"GyiX":{"name":"b","type":"text"},"qXc5":{"name":"icon
        url","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"fc512ef8-b38d-4749-8594-6a5155c211ed","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"collection":{"8a78d896-c562-4a31-aa33-21671b7692fa":{"role":"editor","value":{"id":"8a78d896-c562-4a31-aa33-21671b7692fa","version":2,"name":[["TESTING
        PAGE 2371da2b"]],"schema":{"GyiX":{"name":"b","type":"text"},"qXc5":{"name":"icon
        url","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"fc512ef8-b38d-4749-8594-6a5155c211ed","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"block":{"fc512ef8-b38d-4749-8594-6[...]
- request:
    body: '{"collection": {"id": "8a78d896-c562-4a31-aa33-21671b7692fa", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "7f215ff9-99b4-42df-96a5-3e104020f51b",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 100, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["d0e377e2-4c10-49ba-89d4-c1333944586c"],"hasMore":false}}},"recordMap":{"block":{"d0e377e2-4c10-49ba-89d4-c1333944586c":{"role":"editor","value":{"id":"d0e377e2-4c10-49ba-89d4-c1333944586c","version":10,"type":"page","properties":{"GyiX":[["b"]],"qXc5":[["https://via.placeholder.com/100"]],"title":[["a"]]},"created_time":1651556631684,"last_edited_time":1651556632054,"parent_id":"8a78d896-c562-4a31-aa33-21671b7692fa","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"fc512ef8-b38d-4749-8594-6a5155c[...]
[...]
- request:
    body: '{"collection": {"id": "8a78d896-c562-4a31-aa33-21671b7692fa", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "7f215ff9-99b4-42df-96a5-3e104020f51b",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 100, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["d0e377e2-4c10-49ba-89d4-c1333944586c"],"hasMore":false}}},"recordMap":{"block":{"d0e377e2-4c10-49ba-89d4-c1333944586c":{"role":"editor","value":{"id":"d0e377e2-4c10-49ba-89d4-c1333944586c","version":12,"type":"page","properties":{"GyiX":[["b"]],"qXc5":[["https://via.placeholder.com/100"]],"title":[["a"]]},"format":{"page_icon":"https://via.placeholder.com/100"},"created_time":1651556631684,"last_edited_time":1651556633003,"parent_id":"8a78d896-c562-4a31-aa33-21671b7692fa","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"fc512ef8-b38d-4749-8594-6a5155c211ed":{"role":"editor","value":{"id":"fc51[...]
[...]
- request:
    body: '{"blockIds": ["fc512ef8-b38d-4749-8594-6a5155c211ed"], "permanentlyDelete":
      true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
