interactions:
- request:
    body: '{}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":31,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["5585f343-8ea5-469b-8a90-a05987977424"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":3941,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1652698380000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-[...]
- request:
    body: '{"operations": [{"id": "f456146a-b8bd-4947-a38e-b7f967c63163", "path":
      [], "args": {"id": "f456146a-b8bd-4947-a38e-b7f967c63163", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1652969255904, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652969255904}, "command":
      "update", "id": "f456146a-b8bd-4947-a38e-b7f967c63163", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "f456146a-b8bd-4947-a38e-b7f967c63163"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652969255904}, "command":
      "update", "id": "f456146a-b8bd-4947-a38e-b7f967c63163", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "58e1ae0d-9569-4ab8-ab2c-02ef9fdce333", "path":
      [], "args": {"id": "58e1ae0d-9569-4ab8-ab2c-02ef9fdce333", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1652969256914, "parent_id": "f456146a-b8bd-4947-a38e-b7f967c63163",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "5ymV": {"name": "b", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "f456146a-b8bd-4947-a38e-b7f967c63163", "path": ["content"], "args":
      {"id": "58e1ae0d-9569-4ab8-ab2c-02ef9fdce333"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652969256914}, "command":
      "update", "id": "f456146a-b8bd-4947-a38e-b7f967c63163", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652969256914}, "command":
      "update", "id": "f456146a-b8bd-4947-a38e-b7f967c63163", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "f456146a-b8bd-4947-a38e-b7f967c63163", "path":
      ["format", "collection_pointer", "id"], "args": "58e1ae0d-9569-4ab8-ab2c-02ef9fdce333",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652969257405}, "command":
      "update", "id": "f456146a-b8bd-4947-a38e-b7f967c63163", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "5f450226-fd92-4d20-b042-7341c71616e9", "path":
      ["format", "table_properties"], "args": [{"visible": true, "property": "title"},
      {"visible": true, "property": "5ymV"}], "command": "set", "table": "collection_view"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "e4ff3cdd-3229-4ea3-bab9-618ac71e32fe", "path":
      [], "args": {"id": "e4ff3cdd-3229-4ea3-bab9-618ac71e32fe", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1652969261786, "parent_id": "77396dca-63c7-44a0-ae75-71ef5ef9f7b6",
      "parent_table": "block", "schema": {"title": {"name": "c", "type": "title"},
      "GjCV": {"name": "d", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "77396dca-63c7-44a0-ae75-71ef5ef9f7b6", "path": ["content"], "args":
      {"id": "e4ff3cdd-3229-4ea3-bab9-618ac71e32fe"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652969261786}, "command":
      "update", "id": "77396dca-63c7-44a0-ae75-71ef5ef9f7b6", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652969261786}, "command":
      "update", "id": "77396dca-63c7-44a0-ae75-71ef5ef9f7b6", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"blockId": "77396dca-63c7-44a0-ae75-71ef5ef9f7b6"}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getPublicPageData
  response:
    body:
      string: '{"spaceName":"test_py","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274","spaceDomain":"laced-taxi-315","canJoinSpace":true,"userHasExplicitAccess":true,"ownerUserId":"a03b888f-5426-4e4f-b5ef-bed855b162f0","betaEnabled":false,"canRequestAccess":true,"requireLogin":false,"publicAccessRole":"none"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "58e1ae0d-9569-4ab8-ab2c-02ef9fdce333", "path":
      ["schema"], "args": {"title": {"name": "a", "type": "title"}, "5ymV": {"name":
      "b", "type": "relation", "property": "2Uub", "collection_id": "e4ff3cdd-3229-4ea3-bab9-618ac71e32fe",
      "collection_pointer": {"id": "e4ff3cdd-3229-4ea3-bab9-618ac71e32fe", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274", "table": "collection"}}}, "command":
      "set", "table": "collection"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"page": {"id": "f456146a-b8bd-4947-a38e-b7f967c63163"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"f456146a-b8bd-4947-a38e-b7f967c63163":{"role":"editor","value":{"id":"f456146a-b8bd-4947-a38e-b7f967c63163","version":13,"type":"collection_view_page","content":["58e1ae0d-9569-4ab8-ab2c-02ef9fdce333","5f450226-fd92-4d20-b042-7341c71616e9"],"view_ids":["5f450226-fd92-4d20-b042-7341c71616e9"],"format":{"collection_pointer":{"id":"58e1ae0d-9569-4ab8-ab2c-02ef9fdce333","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1652969255904,"last_edited_time":1652969259735,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":3943,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["f456146a-b8bd-4947-a38e-b7f967c63163","77396dca-63c7-44a0-ae75-71ef5ef9f7b6"],"created_time":1638259881592,"last_edited_time":1652698380000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection":{"58e1ae0d-9569-4ab8-ab2c-02ef9fdce333":{"role":"editor","value":{"id":"58e1ae0d-9569-4ab8-ab2c-02ef9fdce333","version":3,"name":[["TESTING
        PAGE"]],"schema":{"5ymV":{"name":"b","type":"relation","property":"2Uub","collection_id":"e4ff3cdd-3229-4ea3-bab9-618ac71e32fe","collection_pointer":{"id":"e4ff3cdd-3229-4ea3-bab9-618ac71e32fe","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"title":{"name":"a","type":"title"}},"parent_id":"f456146a-b8bd-4947-a38e-b7f967c63163","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection_view":{"5f450226-fd92-4d20-b042-7341c71616e9":{"role":"editor","value":{"id":"5f450226-fd92-4d20-b042-7341c71616e9","version":3,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"5ymV"}]},"parent_id":"f456146a-b8bd-4947-a38e-b7f967c63163","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1652969257753,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"requests": [{"table": "collection", "id": "e4ff3cdd-3229-4ea3-bab9-618ac71e32fe"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"e4ff3cdd-3229-4ea3-bab9-618ac71e32fe","version":3,"name":[["TESTING
        PAGE"]],"schema":{"2Uub":{"name":"Related to TESTING PAGE (b)","type":"relation","property":"5ymV","collection_id":"58e1ae0d-9569-4ab8-ab2c-02ef9fdce333","collection_pointer":{"id":"58e1ae0d-9569-4ab8-ab2c-02ef9fdce333","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"GjCV":{"name":"d","type":"text"},"title":{"name":"c","type":"title"}},"parent_id":"77396dca-63c7-44a0-ae75-71ef5ef9f7b6","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"collection":{"e4ff3cdd-3229-4ea3-bab9-618ac71e32fe":{"role":"editor","value":{"id":"e4ff3cdd-3229-4ea3-bab9-618ac71e32fe","version":3,"name":[["TESTING
        PAGE"]],"schema":{"2Uub":{"name":"Related to TESTING PAGE (b)","type":"relation","property":"5ymV","collection_id":"58e1ae0d-9569-4ab8-ab2c-02ef9fdce333","collection_pointer":{"id":"58e1ae0d-9569-4ab8-ab2c-02ef9fdce333","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"GjCV":{"name":"d","type":"text"},"title":{"name":"c","type":"title"}},"parent_id":"77396dca-63c7-44[...]
[...]
- request:
    body: '{"requests": [{"table": "collection_view", "id": "b53b9923-19f2-4d6f-bbcb-aead383fb7a6"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"b53b9923-19f2-4d6f-bbcb-aead383fb7a6","version":5,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"GjCV"}]},"parent_id":"77396dca-63c7-44a0-ae75-71ef5ef9f7b6","parent_table":"block","alive":true,"page_sort":["b2643101-9bf1-4f0a-916a-ae33a7c72d80","8023dd3f-ed47-4c62-8106-40cc7e3120e7"],"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1652969262487,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}],"recordMapWithRoles":{"collection_view":{"b53b9923-19f2-4d6f-bbcb-aead383fb7a6":{"role":"editor","value":{"id":"b53b9923-19f2-4d6f-bbcb-aead383fb7a6","version":5,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"GjCV"}]},"parent_id":"77396dca-63c7-44a0-ae75-71ef5ef9f7b6","parent_table":"block","alive":true,"page_sort":["b2643101-9bf1-4f0a-916a-ae33a7c72d80","8023dd3f-ed47-4c62-8106-40cc7e3120e7"],"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1652969262487,"created_by_table":"notion_user","created_[...]
- request:
    body: '{"collection": {"id": "e4ff3cdd-3229-4ea3-bab9-618ac71e32fe", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "b53b9923-19f2-4d6f-bbcb-aead383fb7a6",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"table:uncategorized:title:count":
      {"aggregation": {"aggregator": "count", "property": "title"}, "type": "aggregation"}},
      "searchQuery": "", "sort": [], "userTimeZone": "Asia/Tashkent", "type": "reducer"}}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"table:uncategorized:title:count":{"type":"aggregation","aggregationResult":{"type":"number","value":2}}}},"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"collection": {"id": "e4ff3cdd-3229-4ea3-bab9-618ac71e32fe", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "b53b9923-19f2-4d6f-bbcb-aead383fb7a6",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 2, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["b2643101-9bf1-4f0a-916a-ae33a7c72d80","8023dd3f-ed47-4c62-8106-40cc7e3120e7"],"hasMore":false}}},"recordMap":{"block":{"b2643101-9bf1-4f0a-916a-ae33a7c72d80":{"role":"editor","value":{"id":"b2643101-9bf1-4f0a-916a-ae33a7c72d80","version":6,"type":"page","properties":{"title":[["cc"]]},"created_time":1652969264902,"last_edited_time":1652969265301,"parent_id":"e4ff3cdd-3229-4ea3-bab9-618ac71e32fe","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"8023dd3f-ed47-4c62-8106-40cc7e3120e7":{"role":"editor","value":{"id":"8023dd3f-ed47-4c62-8[...]
[...]
- request:
    body: '{"blockIds": ["f456146a-b8bd-4947-a38e-b7f967c63163"], "permanentlyDelete":
      true}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
