interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":31,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["5585f343-8ea5-469b-8a90-a05987977424"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":2369,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1651765740000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "6f72adb8-43d4-4548-b066-63213e9a030a", "path":
      [], "args": {"id": "6f72adb8-43d4-4548-b066-63213e9a030a", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651906044735, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651906044735}, "command":
      "update", "id": "6f72adb8-43d4-4548-b066-63213e9a030a", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "6f72adb8-43d4-4548-b066-63213e9a030a"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651906044735}, "command":
      "update", "id": "6f72adb8-43d4-4548-b066-63213e9a030a", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "46ad3052-ee70-42e4-a517-ad6d756c5725", "path":
      [], "args": {"id": "46ad3052-ee70-42e4-a517-ad6d756c5725", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651906045187, "parent_id": "6f72adb8-43d4-4548-b066-63213e9a030a",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "pQ9Z": {"name": "b", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "6f72adb8-43d4-4548-b066-63213e9a030a", "path": ["content"], "args":
      {"id": "46ad3052-ee70-42e4-a517-ad6d756c5725"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651906045187}, "command":
      "update", "id": "6f72adb8-43d4-4548-b066-63213e9a030a", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651906045187}, "command":
      "update", "id": "6f72adb8-43d4-4548-b066-63213e9a030a", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "6f72adb8-43d4-4548-b066-63213e9a030a", "path":
      ["format", "collection_pointer", "id"], "args": "46ad3052-ee70-42e4-a517-ad6d756c5725",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651906045626}, "command":
      "update", "id": "6f72adb8-43d4-4548-b066-63213e9a030a", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "c932a4a5-4bde-498a-a106-548a32ae4bd9", "path":
      ["format", "table_properties"], "args": [{"visible": true, "property": "title"},
      {"visible": true, "property": "pQ9Z"}], "command": "set", "table": "collection_view"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "7d584c5a-572d-4e4b-a18b-92fe1276744f", "path":
      [], "args": {"id": "7d584c5a-572d-4e4b-a18b-92fe1276744f", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651906049860, "parent_id": "c302de40-5f0f-4464-bd61-9a7d408bfe5c",
      "parent_table": "block", "type": "text", "child_list_key": null}, "command":
      "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651906049860}, "command":
      "update", "id": "7d584c5a-572d-4e4b-a18b-92fe1276744f", "path": [], "table":
      "block"}, {"id": "c302de40-5f0f-4464-bd61-9a7d408bfe5c", "path": ["content"],
      "args": {"id": "7d584c5a-572d-4e4b-a18b-92fe1276744f"}, "command": "listAfter",
      "table": "block"}, {"args":[...]
[...]
- request:
    body: '{"page": {"id": "6f72adb8-43d4-4548-b066-63213e9a030a"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"6f72adb8-43d4-4548-b066-63213e9a030a":{"role":"editor","value":{"id":"6f72adb8-43d4-4548-b066-63213e9a030a","version":13,"type":"collection_view_page","content":["46ad3052-ee70-42e4-a517-ad6d756c5725","c932a4a5-4bde-498a-a106-548a32ae4bd9"],"view_ids":["c932a4a5-4bde-498a-a106-548a32ae4bd9"],"format":{"collection_pointer":{"id":"46ad3052-ee70-42e4-a517-ad6d756c5725","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1651906044735,"last_edited_time":1651906047381,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":2370,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["6f72adb8-43d4-4548-b066-63213e9a030a"],"created_time":1638259881592,"last_edited_time":1651765740000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection":{"46ad3052-ee70-42e4-a517-ad6d756c5725":{"role":"editor","value":{"id":"46ad3052-ee70-42e4-a517-ad6d756c5725","version":2,"name":[["TESTING
        PAGE"]],"schema":{"pQ9Z":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"6f72adb8-43d4-4548-b066-63213e9a030a","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection_view":{"c932a4a5-4bde-498a-a106-548a32ae4bd9":{"role":"editor","value":{"id":"c932a4a5-4bde-498a-a106-548a32ae4bd9","version":4,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"pQ9Z"}]},"parent_id":"6f72adb8-43d4-4548-b066-63213e9a030a","parent_table":"block","alive":true,"page_sort":["c302de40-5f0f-4464-bd61-9a7d408bfe5c"],"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1651906046004,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"requests": [{"table": "collection", "id": "46ad3052-ee70-42e4-a517-ad6d756c5725"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"46ad3052-ee70-42e4-a517-ad6d756c5725","version":2,"name":[["TESTING
        PAGE"]],"schema":{"pQ9Z":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"6f72adb8-43d4-4548-b066-63213e9a030a","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"collection":{"46ad3052-ee70-42e4-a517-ad6d756c5725":{"role":"editor","value":{"id":"46ad3052-ee70-42e4-a517-ad6d756c5725","version":2,"name":[["TESTING
        PAGE"]],"schema":{"pQ9Z":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"6f72adb8-43d4-4548-b066-63213e9a030a","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"block":{"6f72adb8-43d4-4548-b066-63213e9a030a":{"role":"editor","value":{"id":"6f72adb8-43d4[...]
- request:
    body: '{"collection": {"id": "46ad3052-ee70-42e4-a517-ad6d756c5725", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "c932a4a5-4bde-498a-a106-548a32ae4bd9",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 100, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["c302de40-5f0f-4464-bd61-9a7d408bfe5c"],"hasMore":false}}},"recordMap":{"block":{"c302de40-5f0f-4464-bd61-9a7d408bfe5c":{"role":"editor","value":{"id":"c302de40-5f0f-4464-bd61-9a7d408bfe5c","version":11,"type":"page","properties":{"pQ9Z":[["b1"]],"title":[["a"]]},"content":["7d584c5a-572d-4e4b-a18b-92fe1276744f"],"created_time":1651906049049,"last_edited_time":1651906049860,"parent_id":"46ad3052-ee70-42e4-a517-ad6d756c5725","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"6f72adb8-43d4-4548-b066-[...]
[...]
- request:
    body: '{"requests": [{"table": "block", "id": "4dc8ea98-3b0d-47b5-b74d-d9296ecd1df4"},
      {"table": "block", "id": "c302de40-5f0f-4464-bd61-9a7d408bfe5c"}, {"table":
      "block", "id": "c302de40-5f0f-4464-bd61-9a7d408bfe5c"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"4dc8ea98-3b0d-47b5-b74d-d9296ecd1df4","version":15,"type":"image","properties":{"source":[["https://via.placeholder.com/100"]],"caption":[["cover"]]},"format":{"display_source":"https://via.placeholder.com/100"},"created_time":1651906054295,"last_edited_time":1651906055063,"parent_id":"c302de40-5f0f-4464-bd61-9a7d408bfe5c","parent_table":"block","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},{"role":"editor","value":{"id":"c302de40-5f0f-4464-bd61-9a7d408bfe5c","version":[...]
[...]
- request:
    body: '{"blockIds": ["6f72adb8-43d4-4548-b066-63213e9a030a"], "permanentlyDelete":
      true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
