interactions:
- request:
    body: '{}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":31,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["5585f343-8ea5-469b-8a90-a05987977424"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":5180,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1652698380000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-[...]
- request:
    body: '{"operations": [{"id": "02e7dfee-e7a2-4fb5-8516-f9aa58692e28", "path":
      [], "args": {"id": "02e7dfee-e7a2-4fb5-8516-f9aa58692e28", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1653395493798, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653395493798}, "command":
      "update", "id": "02e7dfee-e7a2-4fb5-8516-f9aa58692e28", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "02e7dfee-e7a2-4fb5-8516-f9aa58692e28"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653395493798}, "command":
      "update", "id": "02e7dfee-e7a2-4fb5-8516-f9aa58692e28", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "b2c5a02e-8e0d-4f39-ad7c-86cf0d8a5d77", "path":
      [], "args": {"id": "b2c5a02e-8e0d-4f39-ad7c-86cf0d8a5d77", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1653395494322, "parent_id": "02e7dfee-e7a2-4fb5-8516-f9aa58692e28",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "qyXe": {"name": "b", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "02e7dfee-e7a2-4fb5-8516-f9aa58692e28", "path": ["content"], "args":
      {"id": "b2c5a02e-8e0d-4f39-ad7c-86cf0d8a5d77"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653395494322}, "command":
      "update", "id": "02e7dfee-e7a2-4fb5-8516-f9aa58692e28", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653395494322}, "command":
      "update", "id": "02e7dfee-e7a2-4fb5-8516-f9aa58692e28", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "02e7dfee-e7a2-4fb5-8516-f9aa58692e28", "path":
      ["format", "collection_pointer", "id"], "args": "b2c5a02e-8e0d-4f39-ad7c-86cf0d8a5d77",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653395495210}, "command":
      "update", "id": "02e7dfee-e7a2-4fb5-8516-f9aa58692e28", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "56a3e831-4951-4cab-9833-a8831c96be08", "path":
      ["format", "table_properties"], "args": [{"visible": true, "property": "title"},
      {"visible": true, "property": "qyXe"}], "command": "set", "table": "collection_view"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "86ca9640-093e-4ae8-9237-7267a61360e3", "path":
      [], "args": {"id": "86ca9640-093e-4ae8-9237-7267a61360e3", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1653395498602, "parent_id": "08d833e0-a537-473a-b41d-05db6ce47448",
      "parent_table": "block", "schema": {"title": {"name": "c", "type": "title"},
      "tDbL": {"name": "d", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "08d833e0-a537-473a-b41d-05db6ce47448", "path": ["content"], "args":
      {"id": "86ca9640-093e-4ae8-9237-7267a61360e3"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653395498602}, "command":
      "update", "id": "08d833e0-a537-473a-b41d-05db6ce47448", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653395498602}, "command":
      "update", "id": "08d833e0-a537-473a-b41d-05db6ce47448", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"blockId": "08d833e0-a537-473a-b41d-05db6ce47448"}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getPublicPageData
  response:
    body:
      string: '{"spaceName":"test_py","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274","spaceDomain":"laced-taxi-315","canJoinSpace":true,"userHasExplicitAccess":true,"ownerUserId":"a03b888f-5426-4e4f-b5ef-bed855b162f0","betaEnabled":false,"canRequestAccess":true,"requireLogin":false,"publicAccessRole":"none"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "b2c5a02e-8e0d-4f39-ad7c-86cf0d8a5d77", "path":
      ["schema"], "args": {"title": {"name": "a", "type": "title"}, "qyXe": {"name":
      "b", "type": "relation", "property": "osJ5", "collection_id": "86ca9640-093e-4ae8-9237-7267a61360e3",
      "collection_pointer": {"id": "86ca9640-093e-4ae8-9237-7267a61360e3", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274", "table": "collection"}}}, "command":
      "set", "table": "collection"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"page": {"id": "02e7dfee-e7a2-4fb5-8516-f9aa58692e28"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"02e7dfee-e7a2-4fb5-8516-f9aa58692e28":{"role":"editor","value":{"id":"02e7dfee-e7a2-4fb5-8516-f9aa58692e28","version":13,"type":"collection_view_page","content":["b2c5a02e-8e0d-4f39-ad7c-86cf0d8a5d77","56a3e831-4951-4cab-9833-a8831c96be08"],"view_ids":["56a3e831-4951-4cab-9833-a8831c96be08"],"format":{"collection_pointer":{"id":"b2c5a02e-8e0d-4f39-ad7c-86cf0d8a5d77","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1653395493798,"last_edited_time":1653395496867,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":5182,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["02e7dfee-e7a2-4fb5-8516-f9aa58692e28","08d833e0-a537-473a-b41d-05db6ce47448"],"created_time":1638259881592,"last_edited_time":1652698380000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection":{"b2c5a02e-8e0d-4f39-ad7c-86cf0d8a5d77":{"role":"editor","value":{"id":"b2c5a02e-8e0d-4f39-ad7c-86cf0d8a5d77","version":3,"name":[["TESTING
        PAGE"]],"schema":{"qyXe":{"name":"b","type":"relation","property":"osJ5","collection_id":"86ca9640-093e-4ae8-9237-7267a61360e3","collection_pointer":{"id":"86ca9640-093e-4ae8-9237-7267a61360e3","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"title":{"name":"a","type":"title"}},"parent_id":"02e7dfee-e7a2-4fb5-8516-f9aa58692e28","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection_view":{"56a3e831-4951-4cab-9833-a8831c96be08":{"role":"editor","value":{"id":"56a3e831-4951-4cab-9833-a8831c96be08","version":3,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"qyXe"}]},"parent_id":"02e7dfee-e7a2-4fb5-8516-f9aa58692e28","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1653395495536,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"requests": [{"table": "collection", "id": "86ca9640-093e-4ae8-9237-7267a61360e3"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"86ca9640-093e-4ae8-9237-7267a61360e3","version":3,"name":[["TESTING
        PAGE"]],"schema":{"osJ5":{"name":"Related to TESTING PAGE (b)","type":"relation","property":"qyXe","collection_id":"b2c5a02e-8e0d-4f39-ad7c-86cf0d8a5d77","collection_pointer":{"id":"b2c5a02e-8e0d-4f39-ad7c-86cf0d8a5d77","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"tDbL":{"name":"d","type":"text"},"title":{"name":"c","type":"title"}},"parent_id":"08d833e0-a537-473a-b41d-05db6ce47448","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"collection":{"86ca9640-093e-4ae8-9237-7267a61360e3":{"role":"editor","value":{"id":"86ca9640-093e-4ae8-9237-7267a61360e3","version":3,"name":[["TESTING
        PAGE"]],"schema":{"osJ5":{"name":"Related to TESTING PAGE (b)","type":"relation","property":"qyXe","collection_id":"b2c5a02e-8e0d-4f39-ad7c-86cf0d8a5d77","collection_pointer":{"id":"b2c5a02e-8e0d-4f39-ad7c-86cf0d8a5d77","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"tDbL":{"name":"d","type":"text"},"title":{"na[...]
- request:
    body: '{"requests": [{"table": "collection_view", "id": "63da609e-133c-4213-97ff-98b9b906bf8f"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"63da609e-133c-4213-97ff-98b9b906bf8f","version":4,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"tDbL"}]},"parent_id":"08d833e0-a537-473a-b41d-05db6ce47448","parent_table":"block","alive":true,"page_sort":["cd7706b0-031e-4124-b2cb-1ccf9419f38d"],"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1653395502225,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}],"recordMapWithRoles":{"collection_view":{"63da609e-133c-4213-97ff-98b9b906bf8f":{"role":"editor","value":{"id":"63da609e-133c-4213-97ff-98b9b906bf8f","version":4,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"tDbL"}]},"parent_i[...]
- request:
    body: '{"collection": {"id": "86ca9640-093e-4ae8-9237-7267a61360e3", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "63da609e-133c-4213-97ff-98b9b906bf8f",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"table:uncategorized:title:count":
      {"aggregation": {"aggregator": "count", "property": "title"}, "type": "aggregation"}},
      "searchQuery": "", "sort": [], "userTimeZone": "Asia/Tashkent", "type": "reducer"}}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"table:uncategorized:title:count":{"type":"aggregation","aggregationResult":{"type":"number","value":1}}}},"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"collection": {"id": "86ca9640-093e-4ae8-9237-7267a61360e3", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "63da609e-133c-4213-97ff-98b9b906bf8f",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 1, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["cd7706b0-031e-4124-b2cb-1ccf9419f38d"],"hasMore":false}}},"recordMap":{"block":{"cd7706b0-031e-4124-b2cb-1ccf9419f38d":{"role":"editor","value":{"id":"cd7706b0-031e-4124-b2cb-1ccf9419f38d","version":6,"type":"page","properties":{"title":[["cc"]]},"created_time":1653395505383,"last_edited_time":1653395505771,"parent_id":"86ca9640-093e-4ae8-9237-7267a61360e3","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"08d833e0-a537-473a-b41d-05db6ce47448":{"role":"editor","value":{"id":"08d833e0-a537-473a-b[...]
[...]
- request:
    body: '{"blockIds": ["02e7dfee-e7a2-4fb5-8516-f9aa58692e28"], "permanentlyDelete":
      true}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
