interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":31,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["5585f343-8ea5-469b-8a90-a05987977424"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":2693,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1651765740000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "3c55473e-6c2e-4e08-822c-7c83f4824459", "path":
      [], "args": {"id": "3c55473e-6c2e-4e08-822c-7c83f4824459", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651931551035, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651931551035}, "command":
      "update", "id": "3c55473e-6c2e-4e08-822c-7c83f4824459", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "3c55473e-6c2e-4e08-822c-7c83f4824459"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651931551035}, "command":
      "update", "id": "3c55473e-6c2e-4e08-822c-7c83f4824459", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "717b1a03-f0c6-4843-8cfd-c7058cf5c594", "path":
      [], "args": {"id": "717b1a03-f0c6-4843-8cfd-c7058cf5c594", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651931551424, "parent_id": "3c55473e-6c2e-4e08-822c-7c83f4824459",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "m7tE": {"name": "b", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "3c55473e-6c2e-4e08-822c-7c83f4824459", "path": ["content"], "args":
      {"id": "717b1a03-f0c6-4843-8cfd-c7058cf5c594"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651931551424}, "command":
      "update", "id": "3c55473e-6c2e-4e08-822c-7c83f4824459", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651931551424}, "command":
      "update", "id": "3c55473e-6c2e-4e08-822c-7c83f4824459", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "3c55473e-6c2e-4e08-822c-7c83f4824459", "path":
      ["format", "collection_pointer", "id"], "args": "717b1a03-f0c6-4843-8cfd-c7058cf5c594",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651931551803}, "command":
      "update", "id": "3c55473e-6c2e-4e08-822c-7c83f4824459", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "6264acf7-47c6-49fd-8f64-d57cf1c36a2f", "path":
      ["format", "table_properties"], "args": [{"visible": true, "property": "title"},
      {"visible": true, "property": "m7tE"}], "command": "set", "table": "collection_view"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"page": {"id": "3c55473e-6c2e-4e08-822c-7c83f4824459"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"3c55473e-6c2e-4e08-822c-7c83f4824459":{"role":"editor","value":{"id":"3c55473e-6c2e-4e08-822c-7c83f4824459","version":13,"type":"collection_view_page","content":["717b1a03-f0c6-4843-8cfd-c7058cf5c594","6264acf7-47c6-49fd-8f64-d57cf1c36a2f"],"view_ids":["6264acf7-47c6-49fd-8f64-d57cf1c36a2f"],"format":{"collection_pointer":{"id":"717b1a03-f0c6-4843-8cfd-c7058cf5c594","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1651931551035,"last_edited_time":1651931552871,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":2694,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["3c55473e-6c2e-4e08-822c-7c83f4824459"],"created_time":1638259881592,"last_edited_time":1651765740000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection":{"717b1a03-f0c6-4843-8cfd-c7058cf5c594":{"role":"editor","value":{"id":"717b1a03-f0c6-4843-8cfd-c7058cf5c594","version":2,"name":[["TESTING
        PAGE"]],"schema":{"m7tE":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"3c55473e-6c2e-4e08-822c-7c83f4824459","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection_view":{"6264acf7-47c6-49fd-8f64-d57cf1c36a2f":{"role":"editor","value":{"id":"6264acf7-47c6-49fd-8f64-d57cf1c36a2f","version":4,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"m7tE"}]},"parent_id":"3c55473e-6c2e-4e08-822c-7c83f4824459","parent_table":"block","alive":true,"page_sort":["4577a3b6-0d4b-4083-a52b-db566b03238c"],"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1651931552145,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"requests": [{"table": "collection", "id": "717b1a03-f0c6-4843-8cfd-c7058cf5c594"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"717b1a03-f0c6-4843-8cfd-c7058cf5c594","version":2,"name":[["TESTING
        PAGE"]],"schema":{"m7tE":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"3c55473e-6c2e-4e08-822c-7c83f4824459","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"collection":{"717b1a03-f0c6-4843-8cfd-c7058cf5c594":{"role":"editor","value":{"id":"717b1a03-f0c6-4843-8cfd-c7058cf5c594","version":2,"name":[["TESTING
        PAGE"]],"schema":{"m7tE":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"3c55473e-6c2e-4e08-822c-7c83f4824459","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"block":{"3c55473e-6c2e-4e08-822c-7c83f4824459":{"role":"editor","value":{"id":"3c55473e-6c2e[...]
- request:
    body: '{"collection": {"id": "717b1a03-f0c6-4843-8cfd-c7058cf5c594", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "6264acf7-47c6-49fd-8f64-d57cf1c36a2f",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 100, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["4577a3b6-0d4b-4083-a52b-db566b03238c"],"hasMore":false}}},"recordMap":{"block":{"4577a3b6-0d4b-4083-a52b-db566b03238c":{"role":"editor","value":{"id":"4577a3b6-0d4b-4083-a52b-db566b03238c","version":8,"type":"page","properties":{"m7tE":[["b1"]],"title":[["a"]]},"created_time":1651931553899,"last_edited_time":1651931554290,"parent_id":"717b1a03-f0c6-4843-8cfd-c7058cf5c594","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"3c55473e-6c2e-4e08-822c-7c83f4824459":{"role":"editor","value":{"id":"3c554[...]
[...]
- request:
    body: '{"operations": [{"id": "3ec6ba75-db1d-4885-a215-dc12fd93493d", "path":
      [], "args": {"id": "3ec6ba75-db1d-4885-a215-dc12fd93493d", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651931557462, "parent_id": "4577a3b6-0d4b-4083-a52b-db566b03238c",
      "parent_table": "block", "type": "image", "child_list_key": null}, "command":
      "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651931557462}, "command":
      "update", "id": "3ec6ba75-db1d-4885-a215-dc12fd93493d", "path": [], "table":
      "block"}, {"id": "4577a3b6-0d4b-4083-a52b-db566b03238c", "path": ["content"],
      "args": {"id": "3ec6ba75-db1d-4885-a215-dc12fd93493d"}, "command": "listAfter",
      "table": "block"}, {"args":[...]
[...]
- request:
    body: '{"operations": [{"id": "3ec6ba75-db1d-4885-a215-dc12fd93493d", "path":
      ["properties", "cover_meta"], "args": {"type": "url", "url": "https://via.placeholder.com/100"},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651931558353}, "command":
      "update", "id": "3ec6ba75-db1d-4885-a215-dc12fd93493d", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"requests": [{"table": "block", "id": "3ec6ba75-db1d-4885-a215-dc12fd93493d"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"3ec6ba75-db1d-4885-a215-dc12fd93493d","version":10,"type":"image","properties":{"source":[["https://via.placeholder.com/100"]],"cover_meta":{"url":"https://via.placeholder.com/100","type":"url"}},"format":{"display_source":"https://via.placeholder.com/100"},"created_time":1651931557462,"last_edited_time":1651931558353,"parent_id":"4577a3b6-0d4b-4083-a52b-db566b03238c","parent_table":"block","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"block":{"3ec6ba75-db1d-4885-a215-dc12fd93493d":{"role":"[...]
[...]
- request:
    body: '{"blockIds": ["3c55473e-6c2e-4e08-822c-7c83f4824459"], "permanentlyDelete":
      true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
