interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":38,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":6012,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1657343400000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true,"subscription_tier":"personal_free"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-[...]
[...]
- request:
    body: '{"operations": [{"id": "936fe6de-e45a-49c5-bf13-ed16abf2c6cb", "path":
      [], "args": {"id": "936fe6de-e45a-49c5-bf13-ed16abf2c6cb", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1661782218047, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1661782218048}, "command":
      "update", "id": "936fe6de-e45a-49c5-bf13-ed16abf2c6cb", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "936fe6de-e45a-49c5-bf13-ed16abf2c6cb"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1661782218048}, "command":
      "update", "id": "936fe6de-e45a-49c5-bf13-ed16abf2c6cb", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "f5fcc55e-5187-4c8f-ab8d-e4cf0421d11a", "path":
      [], "args": {"id": "f5fcc55e-5187-4c8f-ab8d-e4cf0421d11a", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1661782218447, "parent_id": "936fe6de-e45a-49c5-bf13-ed16abf2c6cb",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "GTJt": {"name": "b", "type": "status", "options": [{"id": "aeadc2b3-b97d-4e68-949c-7a8f94b50f49",
      "value": "Not started"}, {"id": "531fb0b1-8e5c-4581-a61e-fb320d2fc0bf", "value":
      "In progress", "color": "blue"}, {"id": "6d768edd-f3c9-4dfb-b9e7-44e0fbc4273a",
      "value": "Done", "color": "green"}], "groups": [{"id": "6701a12b-255c-4c96-95cf-884cde77cf6c",
      "name": "To-do", "optionIds": ["aeadc2b3-b97d-4e68-949c-7a8f94b50f49"], "color":
      "gray"}, {"id": "3e9cffb4-bb4b-4e35-988f-6ac1f03d7b93", "name": "In progress",
      "optionIds": ["531fb0b1-8e5c-4581-a61e-fb320d2fc0bf"], "color": "blue"}, {"id":
      "6535a686-8eaa-41c4-939c-d89b9725d850", "name": "Complete", "optionIds": ["6d768edd-f3c9-4dfb-b9e7-44e0fbc4273a"],
      "color": "green"}], "defaultOption": "Not started"}}}, "command": "set", "table":
      "collection"}, {"id": "936fe6de-e45a-49c5-bf13-ed16abf2c6cb", "path": ["content"],
      "args": {"id": "f5fcc55e-5187-4c8f-ab8d-e4cf0421d11a"}, "command": "listAfter",
      "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1661782218447}, "command":
      "update", "id": "936fe6de-e45a-49c5-bf13-ed16abf2c6cb", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1661782218447}, "command":
      "update", "id": "936fe6de-e45a-49c5-bf13-ed16abf2c6cb", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "936fe6de-e45a-49c5-bf13-ed16abf2c6cb", "path":
      ["format", "collection_pointer", "id"], "args": "f5fcc55e-5187-4c8f-ab8d-e4cf0421d11a",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1661782219097}, "command":
      "update", "id": "936fe6de-e45a-49c5-bf13-ed16abf2c6cb", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "dae7566c-f4fc-4fb5-ab6c-c15337de8635", "path":
      ["format", "table_properties"], "args": [{"visible": true, "property": "title"},
      {"visible": true, "property": "GTJt"}], "command": "set", "table": "collection_view"}]}'
    headers:
      Content-Type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"collection": {"id": "f5fcc55e-5187-4c8f-ab8d-e4cf0421d11a", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "dae7566c-f4fc-4fb5-ab6c-c15337de8635",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"table:uncategorized:title:count":
      {"aggregation": {"aggregator": "count", "property": "title"}, "type": "aggregation"}},
      "searchQuery": "", "sort": [], "userTimeZone": "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"table:uncategorized:title:count":{"type":"aggregation","aggregationResult":{"type":"number","value":1}}},"sizeHint":1},"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"collection": {"id": "f5fcc55e-5187-4c8f-ab8d-e4cf0421d11a", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "dae7566c-f4fc-4fb5-ab6c-c15337de8635",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 1, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["7ad7d834-682a-4f18-99b6-56e5c44a5b77"],"hasMore":false}},"sizeHint":1},"recordMap":{"block":{"7ad7d834-682a-4f18-99b6-56e5c44a5b77":{"role":"editor","value":{"id":"7ad7d834-682a-4f18-99b6-56e5c44a5b77","version":8,"type":"page","properties":{"GTJt":[[""]],"title":[["a1"]]},"created_time":1661782221692,"last_edited_time":1661782222250,"parent_id":"f5fcc55e-5187-4c8f-ab8d-e4cf0421d11a","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"936fe6de-e45a-49c5-bf13-ed16abf2c6cb":{"role":"editor","value":{"id":"936fe6de-e45a-49c5-bf13-ed16abf2c6cb","version":13,"type":"collection_view_page","content":["f5fcc55e-5187-4c8f-ab8d-e4cf0421d11a","dae7566c-f4fc-4fb5-ab6c-c15337de8635"],"view_ids":["dae7566c-f4fc-4fb5-ab6c-c15337de8635"],"format":{"collection_pointer":{"id":"f5fcc55e-5187-4c8f-ab8d-e4cf0421d11a","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1661782218047,"last_edited_time":1661782220571,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection":{"f5fcc55e-5187-4c8f-ab8d-e4cf0421d11a":{"role":"editor","value":{"id":"f5fcc55e-5187-4c8f-ab8d-e4cf0421d11a","version":2,"name":[["TESTING
        PAGE"]],"schema":{"GTJt":{"name":"b","type":"status","groups":[{"id":"6701a12b-255c-4c96-95cf-884cde77cf6c","name":"To-do","color":"gray","optionIds":["aeadc2b3-b97d-4e68-949c-7a8f94b50f49"]},{"id":"3e9cffb4-bb4b-4e35-988f-6ac1f03d7b93","name":"In
        progress","color":"blue","optionIds":["531fb0b1-8e5c-4581-a61e-fb320d2fc0bf"]},{"id":"6535a686-8eaa-41c4-939c-d89b9725d850","name":"Complete","color":"green","optionIds":["6d768edd-f3c9-4dfb-b9e7-44e0fbc4273a"]}],"options":[{"id":"aeadc2b3-b97d-4e68-949c-7a8f94b50f49","value":"Not
        started"},{"id":"531fb0b1-8e5c-4581-a61e-fb320d2fc0bf","color":"blue","value":"In
        progress"},{"id":"6d768edd-f3c9-4dfb-b9e7-44e0fbc4273a","color":"green","value":"Done"}],"defaultOption":"Not
        started"},"title":{"name":"a","type":"title"}},"parent_id":"936fe6de-e45a-49c5-bf13-ed16abf2c6cb","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":6013,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["936fe6de-e45a-49c5-bf13-ed16abf2c6cb"],"created_time":1638259881592,"last_edited_time":1657343400000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true,"subscription_tier":"personal_free"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"page": {"id": "936fe6de-e45a-49c5-bf13-ed16abf2c6cb"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      Content-Type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"936fe6de-e45a-49c5-bf13-ed16abf2c6cb":{"role":"editor","value":{"id":"936fe6de-e45a-49c5-bf13-ed16abf2c6cb","version":13,"type":"collection_view_page","content":["f5fcc55e-5187-4c8f-ab8d-e4cf0421d11a",[...]
[...]
- request:
    body: '{"blockIds": ["936fe6de-e45a-49c5-bf13-ed16abf2c6cb"], "permanentlyDelete":
      true}'
    headers:
      Content-Type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
