interactions:
- request:
    body: '{}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":31,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["5585f343-8ea5-469b-8a90-a05987977424"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":4139,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1652698380000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-[...]
- request:
    body: '{"operations": [{"id": "bf62773f-3ef2-49ed-b9ea-5826532fc714", "path":
      [], "args": {"id": "bf62773f-3ef2-49ed-b9ea-5826532fc714", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1653040241094, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653040241094}, "command":
      "update", "id": "bf62773f-3ef2-49ed-b9ea-5826532fc714", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "bf62773f-3ef2-49ed-b9ea-5826532fc714"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653040241094}, "command":
      "update", "id": "bf62773f-3ef2-49ed-b9ea-5826532fc714", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "e928d696-3265-49bf-9f8d-831d682e4f43", "path":
      [], "args": {"id": "e928d696-3265-49bf-9f8d-831d682e4f43", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1653040241539, "parent_id": "bf62773f-3ef2-49ed-b9ea-5826532fc714",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "zsRc": {"name": "b", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "bf62773f-3ef2-49ed-b9ea-5826532fc714", "path": ["content"], "args":
      {"id": "e928d696-3265-49bf-9f8d-831d682e4f43"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653040241539}, "command":
      "update", "id": "bf62773f-3ef2-49ed-b9ea-5826532fc714", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653040241539}, "command":
      "update", "id": "bf62773f-3ef2-49ed-b9ea-5826532fc714", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "bf62773f-3ef2-49ed-b9ea-5826532fc714", "path":
      ["format", "collection_pointer", "id"], "args": "e928d696-3265-49bf-9f8d-831d682e4f43",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653040241951}, "command":
      "update", "id": "bf62773f-3ef2-49ed-b9ea-5826532fc714", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "86fb26f0-2752-4db1-a837-91fdb1e4bcbd", "path":
      ["format", "table_properties"], "args": [{"visible": true, "property": "title"},
      {"visible": true, "property": "zsRc"}], "command": "set", "table": "collection_view"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "02a9b0cc-7a8a-4a12-994a-b649b00bf5d3", "path":
      [], "args": {"id": "02a9b0cc-7a8a-4a12-994a-b649b00bf5d3", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1653040245199, "parent_id": "094cc447-18c0-4c46-acc4-169f21047edd",
      "parent_table": "block", "schema": {"title": {"name": "c", "type": "title"},
      "Wgoi": {"name": "d", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "094cc447-18c0-4c46-acc4-169f21047edd", "path": ["content"], "args":
      {"id": "02a9b0cc-7a8a-4a12-994a-b649b00bf5d3"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653040245199}, "command":
      "update", "id": "094cc447-18c0-4c46-acc4-169f21047edd", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653040245199}, "command":
      "update", "id": "094cc447-18c0-4c46-acc4-169f21047edd", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"blockId": "094cc447-18c0-4c46-acc4-169f21047edd"}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getPublicPageData
  response:
    body:
      string: '{"spaceName":"test_py","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274","spaceDomain":"laced-taxi-315","canJoinSpace":true,"userHasExplicitAccess":true,"ownerUserId":"a03b888f-5426-4e4f-b5ef-bed855b162f0","betaEnabled":false,"canRequestAccess":true,"requireLogin":false,"publicAccessRole":"none"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "e928d696-3265-49bf-9f8d-831d682e4f43", "path":
      ["schema"], "args": {"title": {"name": "a", "type": "title"}, "zsRc": {"name":
      "b", "type": "relation", "property": "5Yqu", "collection_id": "02a9b0cc-7a8a-4a12-994a-b649b00bf5d3",
      "collection_pointer": {"id": "02a9b0cc-7a8a-4a12-994a-b649b00bf5d3", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274", "table": "collection"}}}, "command":
      "set", "table": "collection"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"page": {"id": "bf62773f-3ef2-49ed-b9ea-5826532fc714"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"bf62773f-3ef2-49ed-b9ea-5826532fc714":{"role":"editor","value":{"id":"bf62773f-3ef2-49ed-b9ea-5826532fc714","version":13,"type":"collection_view_page","content":["e928d696-3265-49bf-9f8d-831d682e4f43","86fb26f0-2752-4db1-a837-91fdb1e4bcbd"],"view_ids":["86fb26f0-2752-4db1-a837-91fdb1e4bcbd"],"format":{"collection_pointer":{"id":"e928d696-3265-49bf-9f8d-831d682e4f43","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1653040241094,"last_edited_time":1653040243225,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":4141,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["bf62773f-3ef2-49ed-b9ea-5826532fc714","094cc447-18c0-4c46-acc4-169f21047edd"],"created_time":1638259881592,"last_edited_time":1652698380000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection":{"e928d696-3265-49bf-9f8d-831d682e4f43":{"role":"editor","value":{"id":"e928d696-3265-49bf-9f8d-831d682e4f43","version":3,"name":[["TESTING
        PAGE"]],"schema":{"zsRc":{"name":"b","type":"relation","property":"5Yqu","collection_id":"02a9b0cc-7a8a-4a12-994a-b649b00bf5d3","collection_pointer":{"id":"02a9b0cc-7a8a-4a12-994a-b649b00bf5d3","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"title":{"name":"a","type":"title"}},"parent_id":"bf62773f-3ef2-49ed-b9ea-5826532fc714","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection_view":{"86fb26f0-2752-4db1-a837-91fdb1e4bcbd":{"role":"editor","value":{"id":"86fb26f0-2752-4db1-a837-91fdb1e4bcbd","version":3,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"zsRc"}]},"parent_id":"bf62773f-3ef2-49ed-b9ea-5826532fc714","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1653040242336,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"requests": [{"table": "collection", "id": "02a9b0cc-7a8a-4a12-994a-b649b00bf5d3"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"02a9b0cc-7a8a-4a12-994a-b649b00bf5d3","version":3,"name":[["TESTING
        PAGE"]],"schema":{"5Yqu":{"name":"Related to TESTING PAGE (b)","type":"relation","property":"zsRc","collection_id":"e928d696-3265-49bf-9f8d-831d682e4f43","collection_pointer":{"id":"e928d696-3265-49bf-9f8d-831d682e4f43","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"Wgoi":{"name":"d","type":"text"},"title":{"name":"c","type":"title"}},"parent_id":"094cc447-18c0-4c46-acc4-169f21047edd","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"collection":{"02a9b0cc-7a8a-4a12-994a-b649b00bf5d3":{"role":"editor","value":{"id":"02a9b0cc-7a8a-4a12-994a-b649b00bf5d3","version":3,"name":[["TESTING
        PAGE"]],"schema":{"5Yqu":{"name":"Related to TESTING PAGE (b)","type":"relation","property":"zsRc","collection_id":"e928d696-3265-49bf-9f8d-831d682e4f43","collection_pointer":{"id":"e928d696-3265-49bf-9f8d-831d682e4f43","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"Wgoi":{"name":"d","type":"text"},"title":{"na[...]
[...]
- request:
    body: '{"requests": [{"table": "collection_view", "id": "43469deb-3882-43f7-ae23-077fc7ba59d6"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"43469deb-3882-43f7-ae23-077fc7ba59d6","version":4,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"Wgoi"}]},"parent_id":"094cc447-18c0-4c46-acc4-169f21047edd","parent_table":"block","alive":true,"page_sort":["0128cfea-12d6-4c52-8253-5e5eb89ce293"],"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1653040246035,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}],"recordMapWithRoles":{"collection_view":{"43469deb-3882-43f7-ae23-077fc7ba59d6":{"role":"editor","value":{"id":"43469deb-3882-43f7-ae23-077fc7ba59d6","version":4,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"Wgoi"}]},"parent_i[...]
- request:
    body: '{"collection": {"id": "02a9b0cc-7a8a-4a12-994a-b649b00bf5d3", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "43469deb-3882-43f7-ae23-077fc7ba59d6",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"table:uncategorized:title:count":
      {"aggregation": {"aggregator": "count", "property": "title"}, "type": "aggregation"}},
      "searchQuery": "", "sort": [], "userTimeZone": "Asia/Tashkent", "type": "reducer"}}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"table:uncategorized:title:count":{"type":"aggregation","aggregationResult":{"type":"number","value":1}}}},"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"collection": {"id": "02a9b0cc-7a8a-4a12-994a-b649b00bf5d3", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "43469deb-3882-43f7-ae23-077fc7ba59d6",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 1, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["0128cfea-12d6-4c52-8253-5e5eb89ce293"],"hasMore":false}}},"recordMap":{"block":{"0128cfea-12d6-4c52-8253-5e5eb89ce293":{"role":"editor","value":{"id":"0128cfea-12d6-4c52-8253-5e5eb89ce293","version":8,"type":"page","properties":{"Wgoi":[["dd"]],"title":[["cc"]]},"created_time":1653040248157,"last_edited_time":1653040248597,"parent_id":"02a9b0cc-7a8a-4a12-994a-b649b00bf5d3","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"094cc447-18c0-4c46-acc4-169f21047edd":{"role":"editor","value":{"id":"094c[...]
[...]
- request:
    body: '{"collection": {"id": "e928d696-3265-49bf-9f8d-831d682e4f43", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "86fb26f0-2752-4db1-a837-91fdb1e4bcbd",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 1, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: "{\"result\":{\"type\":\"reducer\",\"reducerResults\":{\"collection_group_results\":{\"type\":\"results\",\"blockIds\":[\"e010fdaa-220d-432d-a454-ac0334f42706\"],\"hasMore\":false}}},\"recordMap\":{\"block\":{\"e010fdaa-220d-432d-a454-ac0334f42706\":{\"role\":\"editor\",\"value\":{\"id\":\"e010fdaa-220d-432d-a454-ac0334f42706\",\"version\":8,\"type\":\"page\",\"properties\":{\"zsRc\":[[\"\u2023\",[[\"p\",\"0128cfea-12d6-4c52-8253-5e5eb89ce293\",\"d51d3ca5-7889-4c70-b906-3a5a37b60274\"]]]],\"title\":[[\"aa\"]]},\"created_time\":1653040255733,\"last_edited_time\":1653040256871,\"parent_id\":\"e928d696-3265-49bf-9f8d-831d682e4f43\",\"parent_table\":\"collection\",\"alive\":true,\"created_by_table\":\"notion_user\",\"created_by_id\":\"a03b888f-[...]
[...]
- request:
    body: '{"blockIds": ["bf62773f-3ef2-49ed-b9ea-5826532fc714"], "permanentlyDelete":
      true}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
