interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":31,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["5585f343-8ea5-469b-8a90-a05987977424"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":2623,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1651765740000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "5395a743-5d09-45ac-862a-13c659268b06", "path":
      [], "args": {"id": "5395a743-5d09-45ac-862a-13c659268b06", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651931249580, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651931249580}, "command":
      "update", "id": "5395a743-5d09-45ac-862a-13c659268b06", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "5395a743-5d09-45ac-862a-13c659268b06"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651931249580}, "command":
      "update", "id": "5395a743-5d09-45ac-862a-13c659268b06", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "b7a11c01-ed2d-4a58-915e-993cafe0982e", "path":
      [], "args": {"id": "b7a11c01-ed2d-4a58-915e-993cafe0982e", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651931249944, "parent_id": "5395a743-5d09-45ac-862a-13c659268b06",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "Xc86": {"name": "b", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "5395a743-5d09-45ac-862a-13c659268b06", "path": ["content"], "args":
      {"id": "b7a11c01-ed2d-4a58-915e-993cafe0982e"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651931249944}, "command":
      "update", "id": "5395a743-5d09-45ac-862a-13c659268b06", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651931249944}, "command":
      "update", "id": "5395a743-5d09-45ac-862a-13c659268b06", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "5395a743-5d09-45ac-862a-13c659268b06", "path":
      ["format", "collection_pointer", "id"], "args": "b7a11c01-ed2d-4a58-915e-993cafe0982e",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651931250298}, "command":
      "update", "id": "5395a743-5d09-45ac-862a-13c659268b06", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "07c14aab-5710-443b-a3b1-5bb63a8389bb", "path":
      ["format", "table_properties"], "args": [{"visible": true, "property": "title"},
      {"visible": true, "property": "Xc86"}], "command": "set", "table": "collection_view"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "1db89811-676a-416a-b169-5b306aecfff2", "path":
      [], "args": {"id": "1db89811-676a-416a-b169-5b306aecfff2", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651931253718, "parent_id": "6aeb7601-ce15-4300-be7d-f3615f1bce67",
      "parent_table": "block", "schema": {"title": {"name": "c", "type": "title"},
      "n3TK": {"name": "d", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "6aeb7601-ce15-4300-be7d-f3615f1bce67", "path": ["content"], "args":
      {"id": "1db89811-676a-416a-b169-5b306aecfff2"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651931253718}, "command":
      "update", "id": "6aeb7601-ce15-4300-be7d-f3615f1bce67", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651931253718}, "command":
      "update", "id": "6aeb7601-ce15-4300-be7d-f3615f1bce67", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"blockId": "6aeb7601-ce15-4300-be7d-f3615f1bce67"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getPublicPageData
  response:
    body:
      string: '{"spaceName":"test_py","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274","spaceDomain":"laced-taxi-315","canJoinSpace":true,"userHasExplicitAccess":true,"ownerUserId":"a03b888f-5426-4e4f-b5ef-bed855b162f0","betaEnabled":false,"canRequestAccess":true,"requireLogin":false,"publicAccessRole":"none"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "b7a11c01-ed2d-4a58-915e-993cafe0982e", "path":
      ["schema"], "args": {"title": {"name": "a", "type": "title"}, "Xc86": {"name":
      "b", "type": "relation", "property": "6ej1", "collection_id": "1db89811-676a-416a-b169-5b306aecfff2",
      "collection_pointer": {"id": "1db89811-676a-416a-b169-5b306aecfff2", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274", "table": "collection"}}}, "command":
      "set", "table": "collection"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"page": {"id": "5395a743-5d09-45ac-862a-13c659268b06"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"5395a743-5d09-45ac-862a-13c659268b06":{"role":"editor","value":{"id":"5395a743-5d09-45ac-862a-13c659268b06","version":13,"type":"collection_view_page","content":["b7a11c01-ed2d-4a58-915e-993cafe0982e","07c14aab-5710-443b-a3b1-5bb63a8389bb"],"view_ids":["07c14aab-5710-443b-a3b1-5bb63a8389bb"],"format":{"collection_pointer":{"id":"b7a11c01-ed2d-4a58-915e-993cafe0982e","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1651931249580,"last_edited_time":1651931251400,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":2625,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["5395a743-5d09-45ac-862a-13c659268b06","6aeb7601-ce15-4300-be7d-f3615f1bce67"],"created_time":1638259881592,"last_edited_time":1651765740000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection":{"b7a11c01-ed2d-4a58-915e-993cafe0982e":{"role":"editor","value":{"id":"b7a11c01-ed2d-4a58-915e-993cafe0982e","version":3,"name":[["TESTING
        PAGE"]],"schema":{"Xc86":{"name":"b","type":"relation","property":"6ej1","collection_id":"1db89811-676a-416a-b169-5b306aecfff2","collection_pointer":{"id":"1db89811-676a-416a-b169-5b306aecfff2","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"title":{"name":"a","type":"title"}},"parent_id":"5395a743-5d09-45ac-862a-13c659268b06","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection_view":{"07c14aab-5710-443b-a3b1-5bb63a8389bb":{"role":"editor","value":{"id":"07c14aab-5710-443b-a3b1-5bb63a8389bb","version":3,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"Xc86"}]},"parent_id":"5395a743-5d09-45ac-862a-13c659268b06","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1651931250694,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"requests": [{"table": "collection", "id": "1db89811-676a-416a-b169-5b306aecfff2"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"1db89811-676a-416a-b169-5b306aecfff2","version":3,"name":[["TESTING
        PAGE"]],"schema":{"6ej1":{"name":"Related to TESTING PAGE (b)","type":"relation","property":"Xc86","collection_id":"b7a11c01-ed2d-4a58-915e-993cafe0982e","collection_pointer":{"id":"b7a11c01-ed2d-4a58-915e-993cafe0982e","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"n3TK":{"name":"d","type":"text"},"title":{"name":"c","type":"title"}},"parent_id":"6aeb7601-ce15-4300-be7d-f3615f1bce67","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"collection":{"1db89811-676a-416a-b169-5b306aecfff2":{"role":"editor","value":{"id":"1db89811-676a-416a-b169-5b306aecfff2","version":3,"name":[["TESTING
        PAGE"]],"schema":{"6ej1":{"name":"Related to TESTING PAGE (b)","type":"relation","property":"Xc86","collection_id":"b7a11c01-ed2d-4a58-915e-993cafe0982e","collection_pointer":{"id":"b7a11c01-ed2d-4a58-915e-993cafe0982e","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"n3TK":{"name":"d","type":"text"},"title":{"na[...]
[...]
- request:
    body: '{"requests": [{"table": "collection_view", "id": "6776fb1a-e88d-4222-9b53-a8519dab7523"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"6776fb1a-e88d-4222-9b53-a8519dab7523","version":5,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"n3TK"}]},"parent_id":"6aeb7601-ce15-4300-be7d-f3615f1bce67","parent_table":"block","alive":true,"page_sort":["7ce55d61-7086-47fa-8750-b608cad29eb3","dc98de73-a19b-412e-8bb2-c902aee6f230"],"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1651931254910,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}],"recordMapWithRoles":{"collection_view":{"6776fb1a-e88d-4222-9b53-a8519dab7523":{"role":"editor","value":{"id":"6776fb1a-e88d-4222-9b53-a8519dab7523","version":5,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visib[...]
- request:
    body: '{"collection": {"id": "1db89811-676a-416a-b169-5b306aecfff2", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "6776fb1a-e88d-4222-9b53-a8519dab7523",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 100, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["7ce55d61-7086-47fa-8750-b608cad29eb3","dc98de73-a19b-412e-8bb2-c902aee6f230"],"hasMore":false}}},"recordMap":{"block":{"7ce55d61-7086-47fa-8750-b608cad29eb3":{"role":"editor","value":{"id":"7ce55d61-7086-47fa-8750-b608cad29eb3","version":6,"type":"page","properties":{"title":[["cc"]]},"created_time":1651931257219,"last_edited_time":1651931257580,"parent_id":"1db89811-676a-416a-b169-5b306aecfff2","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"dc98de73-a19b-412e-8bb2-c902aee6f230":{"role":"editor","value":{"id":"dc98de73-a19b-412e-8bb2-c902aee6f230","version":6,"type":"page","properties":{"title":[["cc"]]},"created_time":1651931258412,"last_edited_time":1651931258817,"parent_id":"1db89811-676a-416a-b169-5b306aecfff2","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b90[...]
[...]
- request:
    body: '{"blockIds": ["5395a743-5d09-45ac-862a-13c659268b06"], "permanentlyDelete":
      true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
