interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":31,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["5585f343-8ea5-469b-8a90-a05987977424"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":2953,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1651932240000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "56b13f7b-860a-424b-88b9-425751c49a25", "path":
      [], "args": {"id": "56b13f7b-860a-424b-88b9-425751c49a25", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1652088663765, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652088663765}, "command":
      "update", "id": "56b13f7b-860a-424b-88b9-425751c49a25", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "56b13f7b-860a-424b-88b9-425751c49a25"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652088663765}, "command":
      "update", "id": "56b13f7b-860a-424b-88b9-425751c49a25", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "f2723e01-6a8a-4278-8cb8-318340da7e30", "path":
      [], "args": {"id": "f2723e01-6a8a-4278-8cb8-318340da7e30", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1652088664236, "parent_id": "56b13f7b-860a-424b-88b9-425751c49a25",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "I8uS": {"name": "b", "type": "text"}, "NbE9": {"name": "image caption", "type":
      "text"}}}, "command": "set", "table": "collection"}, {"id": "56b13f7b-860a-424b-88b9-425751c49a25",
      "path": ["content"], "args": {"id": "f2723e01-6a8a-4278-8cb8-318340da7e30"},
      "command": "listAfter", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652088664236}, "command":
      "update", "id": "56b13f7b-860a-424b-88b9-425751c49a25", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652088664236}, "command":
      "update", "id": "56b13f7b-860a-424b-88b9-425751c49a25", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "56b13f7b-860a-424b-88b9-425751c49a25", "path":
      ["format", "collection_pointer", "id"], "args": "f2723e01-6a8a-4278-8cb8-318340da7e30",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652088664775}, "command":
      "update", "id": "56b13f7b-860a-424b-88b9-425751c49a25", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "06aa2e1e-8175-4c66-8e73-c0646c5223c5", "path":
      ["format", "table_properties"], "args": [{"visible": true, "property": "title"},
      {"visible": true, "property": "I8uS"}, {"visible": true, "property": "NbE9"}],
      "command": "set", "table": "collection_view"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"page": {"id": "56b13f7b-860a-424b-88b9-425751c49a25"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"56b13f7b-860a-424b-88b9-425751c49a25":{"role":"editor","value":{"id":"56b13f7b-860a-424b-88b9-425751c49a25","version":13,"type":"collection_view_page","content":["f2723e01-6a8a-4278-8cb8-318340da7e30","06aa2e1e-8175-4c66-8e73-c0646c5223c5"],"view_ids":["06aa2e1e-8175-4c66-8e73-c0646c5223c5"],"format":{"collection_pointer":{"id":"f2723e01-6a8a-4278-8cb8-318340da7e30","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1652088663765,"last_edited_time":1652088666911,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":2954,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["56b13f7b-860a-424b-88b9-425751c49a25"],"created_time":1638259881592,"last_edited_time":1651932240000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection":{"f2723e01-6a8a-4278-8cb8-318340da7e30":{"role":"editor","value":{"id":"f2723e01-6a8a-4278-8cb8-318340da7e30","version":2,"name":[["TESTING
        PAGE"]],"schema":{"I8uS":{"name":"b","type":"text"},"NbE9":{"name":"image
        caption","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"56b13f7b-860a-424b-88b9-425751c49a25","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection_view":{"06aa2e1e-8175-4c66-8e73-c0646c5223c5":{"role":"editor","value":{"id":"06aa2e1e-8175-4c66-8e73-c0646c5223c5","version":3,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"I8uS"},{"visible":true,"property":"NbE9"}]},"parent_id":"56b13f7b-860a-424b-88b9-425751c49a25","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1652088666054,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "8adc03b3-5ea3-4c90-8bae-dc6e40259d58", "path":
      [], "args": {"id": "8adc03b3-5ea3-4c90-8bae-dc6e40259d58", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1652088673317, "parent_id": "4543b066-146a-4b40-80df-cf44ee9a65d4",
      "parent_table": "block", "type": "image", "child_list_key": null}, "command":
      "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652088673317}, "command":
      "update", "id": "8adc03b3-5ea3-4c90-8bae-dc6e40259d58", "path": [], "table":
      "block"}, {"id": "4543b066-146a-4b40-80df-cf44ee9a65d4", "path": ["content"],
      "args": {"id": "8adc03b3-5ea3-4c90-8bae-dc6e40259d58"}, "command": "listAfter",
      "table": "block"}, {"args":[...]
[...]
- request:
    body: '{"operations": [{"id": "8adc03b3-5ea3-4c90-8bae-dc6e40259d58", "path":
      ["properties", "cover_meta"], "args": {"type": "url", "url": "https://via.placeholder.com/100"},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652088674156}, "command":
      "update", "id": "8adc03b3-5ea3-4c90-8bae-dc6e40259d58", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"collection": {"id": "f2723e01-6a8a-4278-8cb8-318340da7e30", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "06aa2e1e-8175-4c66-8e73-c0646c5223c5",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"table:uncategorized:title:count":
      {"aggregation": {"aggregator": "count", "property": "title"}, "type": "aggregation"}},
      "searchQuery": "", "sort": [], "userTimeZone": "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"table:uncategorized:title:count":{"type":"aggregation","aggregationResult":{"type":"number","value":1}}}},"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"collection": {"id": "f2723e01-6a8a-4278-8cb8-318340da7e30", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "06aa2e1e-8175-4c66-8e73-c0646c5223c5",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 1, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["4543b066-146a-4b40-80df-cf44ee9a65d4"],"hasMore":false}}},"recordMap":{"block":{"4543b066-146a-4b40-80df-cf44ee9a65d4":{"role":"editor","value":{"id":"4543b066-146a-4b40-80df-cf44ee9a65d4","version":13,"type":"page","properties":{"I8uS":[["b"]],"NbE9":[["test"]],"title":[["a"]]},"content":["8adc03b3-5ea3-4c90-8bae-dc6e40259d58"],"created_time":1652088672508,"last_edited_time":1652088673317,"parent_id":"f2723e01-6a8a-4278-8cb8-318340da7e30","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"56b13f7[...]
- request:
    body: '{"requests": [{"table": "block", "id": "8adc03b3-5ea3-4c90-8bae-dc6e40259d58"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"8adc03b3-5ea3-4c90-8bae-dc6e40259d58","version":12,"type":"image","properties":{"source":[["https://via.placeholder.com/100"]],"caption":[["test"]],"cover_meta":{"url":"https://via.placeholder.com/100","type":"url"}},"format":{"display_source":"https://via.placeholder.com/100"},"created_time":1652088673317,"last_edited_time":1652088674156,"parent_id":"4543b066-146a-4b40-80df-cf44ee9a65d4","parent_table":"block","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"block":{"8adc03b3-5ea3-4c90-8bae-dc6e40259d58":{"role":"editor","value":{"id":"8adc03b3-5ea3-4c90-8bae-dc6e40259d58","version":12,"type":"image","properties":{"source":[["https://via.placeholder.com/100"]],"caption":[["test"]],"cover_meta":{"url":"https://via.placeholder.com/100","type":"url"}},"format":{"display_source":"https://via.placeholder.com/100"},"created_time":1652088673317,"last_edited_time":1652088674156,"parent_id":"4543b066-146a-4b40-80df-cf44ee9a65d4","parent_table":"block","ali[...]
[...]
- request:
    body: '{"blockIds": ["56b13f7b-860a-424b-88b9-425751c49a25"], "permanentlyDelete":
      true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
