interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":31,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["5585f343-8ea5-469b-8a90-a05987977424"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":3005,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1651932240000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "7d4c269b-c137-450b-8558-a617004dd3ca", "path":
      [], "args": {"id": "7d4c269b-c137-450b-8558-a617004dd3ca", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1652088956559, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652088956559}, "command":
      "update", "id": "7d4c269b-c137-450b-8558-a617004dd3ca", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "7d4c269b-c137-450b-8558-a617004dd3ca"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652088956559}, "command":
      "update", "id": "7d4c269b-c137-450b-8558-a617004dd3ca", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "4128a5ff-9133-4dd9-893c-d6d73260baa6", "path":
      [], "args": {"id": "4128a5ff-9133-4dd9-893c-d6d73260baa6", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1652088956995, "parent_id": "7d4c269b-c137-450b-8558-a617004dd3ca",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "ZHOV": {"name": "b", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "7d4c269b-c137-450b-8558-a617004dd3ca", "path": ["content"], "args":
      {"id": "4128a5ff-9133-4dd9-893c-d6d73260baa6"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652088956995}, "command":
      "update", "id": "7d4c269b-c137-450b-8558-a617004dd3ca", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652088956995}, "command":
      "update", "id": "7d4c269b-c137-450b-8558-a617004dd3ca", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "7d4c269b-c137-450b-8558-a617004dd3ca", "path":
      ["format", "collection_pointer", "id"], "args": "4128a5ff-9133-4dd9-893c-d6d73260baa6",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652088957428}, "command":
      "update", "id": "7d4c269b-c137-450b-8558-a617004dd3ca", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "e8f79329-01fb-47d4-bc80-8a449898117f", "path":
      ["format", "table_properties"], "args": [{"visible": true, "property": "title"},
      {"visible": true, "property": "ZHOV"}], "command": "set", "table": "collection_view"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "ae699fe6-13c7-4b49-a609-c0aca3bdf47d", "path":
      [], "args": {"id": "ae699fe6-13c7-4b49-a609-c0aca3bdf47d", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1652088961787, "parent_id": "187ef35e-a6f7-4480-abf6-5fbf0ef772be",
      "parent_table": "block", "type": "text", "child_list_key": null}, "command":
      "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652088961787}, "command":
      "update", "id": "ae699fe6-13c7-4b49-a609-c0aca3bdf47d", "path": [], "table":
      "block"}, {"id": "187ef35e-a6f7-4480-abf6-5fbf0ef772be", "path": ["content"],
      "args": {"id": "ae699fe6-13c7-4b49-a609-c0aca3bdf47d"}, "command": "listAfter",
      "table": "block"}, {"args":[...]
[...]
- request:
    body: '{"page": {"id": "7d4c269b-c137-450b-8558-a617004dd3ca"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"7d4c269b-c137-450b-8558-a617004dd3ca":{"role":"editor","value":{"id":"7d4c269b-c137-450b-8558-a617004dd3ca","version":13,"type":"collection_view_page","content":["4128a5ff-9133-4dd9-893c-d6d73260baa6","e8f79329-01fb-47d4-bc80-8a449898117f"],"view_ids":["e8f79329-01fb-47d4-bc80-8a449898117f"],"format":{"collection_pointer":{"id":"4128a5ff-9133-4dd9-893c-d6d73260baa6","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1652088956559,"last_edited_time":1652088958763,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":3006,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["7d4c269b-c137-450b-8558-a617004dd3ca"],"created_time":1638259881592,"last_edited_time":1651932240000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection":{"4128a5ff-9133-4dd9-893c-d6d73260baa6":{"role":"editor","value":{"id":"4128a5ff-9133-4dd9-893c-d6d73260baa6","version":2,"name":[["TESTING
        PAGE"]],"schema":{"ZHOV":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"7d4c269b-c137-450b-8558-a617004dd3ca","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection_view":{"e8f79329-01fb-47d4-bc80-8a449898117f":{"role":"editor","value":{"id":"e8f79329-01fb-47d4-bc80-8a449898117f","version":4,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"ZHOV"}]},"parent_id":"7d4c269b-c137-450b-8558-a617004dd3ca","parent_table":"block","alive":true,"page_sort":["187ef35e-a6f7-4480-abf6-5fbf0ef772be"],"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1652088957848,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"requests": [{"table": "collection", "id": "4128a5ff-9133-4dd9-893c-d6d73260baa6"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"4128a5ff-9133-4dd9-893c-d6d73260baa6","version":2,"name":[["TESTING
        PAGE"]],"schema":{"ZHOV":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"7d4c269b-c137-450b-8558-a617004dd3ca","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"collection":{"4128a5ff-9133-4dd9-893c-d6d73260baa6":{"role":"editor","value":{"id":"4128a5ff-9133-4dd9-893c-d6d73260baa6","version":2,"name":[["TESTING
        PAGE"]],"schema":{"ZHOV":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"7d4c269b-c137-450b-8558-a617004dd3ca","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"block":{"7d4c269b-c137-450b-8558-a617004dd3ca":{"role":"editor","value":{"id":"7d4c269b-c137[...]
- request:
    body: '{"collection": {"id": "4128a5ff-9133-4dd9-893c-d6d73260baa6", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "e8f79329-01fb-47d4-bc80-8a449898117f",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"table:uncategorized:title:count":
      {"aggregation": {"aggregator": "count", "property": "title"}, "type": "aggregation"}},
      "searchQuery": "", "sort": [], "userTimeZone": "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"table:uncategorized:title:count":{"type":"aggregation","aggregationResult":{"type":"number","value":1}}}},"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"collection": {"id": "4128a5ff-9133-4dd9-893c-d6d73260baa6", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "e8f79329-01fb-47d4-bc80-8a449898117f",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 1, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["187ef35e-a6f7-4480-abf6-5fbf0ef772be"],"hasMore":false}}},"recordMap":{"block":{"187ef35e-a6f7-4480-abf6-5fbf0ef772be":{"role":"editor","value":{"id":"187ef35e-a6f7-4480-abf6-5fbf0ef772be","version":11,"type":"page","properties":{"ZHOV":[["b1"]],"title":[["a"]]},"content":["ae699fe6-13c7-4b49-a609-c0aca3bdf47d"],"created_time":1652088960586,"last_edited_time":1652088961787,"parent_id":"4128a5ff-9133-4dd9-893c-d6d73260baa6","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"7d4c269b-c137-450b-8558-[...]
[...]
- request:
    body: '{"requests": [{"table": "block", "id": "ae699fe6-13c7-4b49-a609-c0aca3bdf47d"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"ae699fe6-13c7-4b49-a609-c0aca3bdf47d","version":6,"type":"text","properties":{"title":[["test"]]},"created_time":1652088961787,"last_edited_time":1652088962199,"parent_id":"187ef35e-a6f7-4480-abf6-5fbf0ef772be","parent_table":"block","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"block":{"ae699fe6-13c7-4b49-a609-c0aca3bdf47d":{"role":"editor","value":{"id":"ae699fe6-13c7-4b49-a609-c0aca3bdf47d","version":6,"type":"text","properties":{"title":[["test"]]},"created_time":1652088961787,"last_edited_time":1652088962199,"parent_id":"187ef35e-a6f7-4480-abf6-5fbf0ef772be","parent_table":"block","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3[...]
[...]
- request:
    body: '{"requests": [{"table": "block", "id": "222388b8-e98e-408d-a609-b84a9d31aff0"},
      {"table": "block", "id": "187ef35e-a6f7-4480-abf6-5fbf0ef772be"}, {"table":
      "block", "id": "187ef35e-a6f7-4480-abf6-5fbf0ef772be"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"222388b8-e98e-408d-a609-b84a9d31aff0","version":13,"type":"image","properties":{"source":[["https://via.placeholder.com/100"]]},"format":{"display_source":"https://via.placeholder.com/100"},"created_time":1652088966719,"last_edited_time":1652088968056,"parent_id":"187ef35e-a6f7-4480-abf6-5fbf0ef772be","parent_table":"block","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},{"role":"editor","value":{"id":"187ef35e-a6f7-4480-abf6-5fbf0ef772be","version":[...]
- request:
    body: '{"operations": [{"id": "222388b8-e98e-408d-a609-b84a9d31aff0", "path":
      ["properties", "cover_meta"], "args": {"type": "url", "url": "https://via.placeholder.com/100"},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652088968769}, "command":
      "update", "id": "222388b8-e98e-408d-a609-b84a9d31aff0", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"requests": [{"table": "block", "id": "222388b8-e98e-408d-a609-b84a9d31aff0"},
      {"table": "block", "id": "ae699fe6-13c7-4b49-a609-c0aca3bdf47d"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"222388b8-e98e-408d-a609-b84a9d31aff0","version":15,"type":"image","properties":{"source":[["https://via.placeholder.com/100"]],"cover_meta":{"url":"https://via.placeholder.com/100","type":"url"}},"format":{"display_source":"https://via.placeholder.com/100"},"created_time":1652088966719,"last_edited_time":1652088968769,"parent_id":"187ef35e-a6f7-4480-abf6-5fbf0ef772be","parent_table":"block","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"[...]
[...]
- request:
    body: '{"blockIds": ["7d4c269b-c137-450b-8558-a617004dd3ca"], "permanentlyDelete":
      true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
