interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"},"role":"editor"}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":15,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","ai_onboarding_phase":"ask_ai_anything","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true,"share_menu_tutorial_phase":"complete"}},"role":"editor"}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]},"role":"editor"}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":46,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"joined":true,"settings":{"on_app_start":"first_page","user_survey_data":{"role":{"value":"unfilled","version":1,"collected_at":1638259864507,"collected_from":"onboarding"},"function":{"value":"personal","version":1,"collected_at":1638259864507,"collected_from":"onboarding"}},"notify_email_digest":false}},"role":"editor"}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":6270,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1697565724740,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true,"settings":{"space_survey_data":{"intent":{"value":"personal","version":1,"collected_at":1638259881592,"collected_from":"onboarding"}}},"subscription_tier":"free"},"role":"editor"}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"},"role":"editor"}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","v[...]
[...]
- request:
    body: '{"operations": [{"id": "f8e75f0c-32cf-4a93-8787-fc52f362697a", "path":
      [], "args": {"id": "f8e75f0c-32cf-4a93-8787-fc52f362697a", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1697565878013, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "space_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "type": "collection_view_page", "permissions": [{"role": "editor", "type": "user_permission",
      "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]}, "command": "set", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1697565878013}, "command":
      "update", "id": "f8e75f0c-32cf-4a93-8787-fc52f362697a", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "f8e75f0c-32cf-4a93-8787-fc52f362697a"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1697565878013}, "command":
      "update", "id": "f8e75f0c-32cf-4a93-8787-fc52f362697a", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "54c8ced8-2a7c-4b56-8869-1ff9afbb043f", "path":
      [], "args": {"id": "54c8ced8-2a7c-4b56-8869-1ff9afbb043f", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1697565878458, "parent_id": "f8e75f0c-32cf-4a93-8787-fc52f362697a",
      "parent_table": "block", "space_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "schema": {"title": {"name": "a", "type": "title"}, "PZCj": {"name": "b", "type":
      "file"}}}, "command": "set", "table": "collection"}, {"id": "f8e75f0c-32cf-4a93-8787-fc52f362697a",
      "path": ["content"], "args": {"id": "54c8ced8-2a7c-4b56-8869-1ff9afbb043f"},
      "command": "listAfter", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1697565878458}, "command":
      "update", "id": "f8e75f0c-32cf-4a93-8787-fc52f362697a", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1697565878458}, "command":
      "update", "id": "f8e75f0c-32cf-4a93-8787-fc52f362697a", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "f8e75f0c-32cf-4a93-8787-fc52f362697a", "path":
      ["format", "collection_pointer", "id"], "args": "54c8ced8-2a7c-4b56-8869-1ff9afbb043f",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1697565878847}, "command":
      "update", "id": "f8e75f0c-32cf-4a93-8787-fc52f362697a", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "7d9eef98-d173-445a-a7a7-391e172fa948", "path":
      ["format", "table_properties"], "args": [{"visible": true, "property": "title"},
      {"visible": true, "property": "PZCj"}], "command": "set", "table": "collection_view"}]}'
    headers:
      Content-Type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "2e5c9bdf-356d-46ab-a2e8-6e1d7bf47871", "path":
      ["properties", "title"], "args": [["a"]], "command": "set", "table": "block"},
      {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "last_edited_by_table":
      "notion_user", "last_edited_time": 1697565881620}, "command": "update", "id":
      "2e5c9bdf-356d-46ab-a2e8-6e1d7bf47871", "path": [], "table": "block"}, {"id":
      "2e5c9bdf-356d-46ab-a2e8-6e1d7bf47871", "path": ["properties", "meta", "file_columns",
      "PZCj"], "args": [{"type": "url", "url": "https://via.placeholder.com/200"},
      {"type": "url", "url": "https://via.placeholder.com/100"}], "command": "set",
      "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1697565881620}, "command":
      "update", "id": "2e5c9bdf-356d-46ab-a2e8-6e1d7bf47871", "path": [], "table":
      "block"}, {"id": "2e5c9bdf-356d-46ab-a2e8-6e1d7bf47871", "path": ["properties",
      "PZCj"], "args":[...]
- request:
    body: '{"collection": {"id": "54c8ced8-2a7c-4b56-8869-1ff9afbb043f", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "7d9eef98-d173-445a-a7a7-391e172fa948",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"table:uncategorized:title:count":
      {"aggregation": {"aggregator": "count", "property": "title"}, "type": "aggregation"}},
      "searchQuery": "", "sort": [], "userTimeZone": "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"table:uncategorized:title:count":{"type":"aggregation","aggregationResult":{"type":"number","value":1}}},"sizeHint":1},"recordMap":{"block":{"2e5c9bdf-356d-46ab-a2e8-6e1d7bf47871":{"value":{"id":"2e5c9bdf-356d-46ab-a2e8-6e1d7bf47871","version":10,"type":"page","properties":{"PZCj":[["https://via.placeholder.com/200",[["a","https://via.placeholder.com/200"]]],[","],["https://via.placeholder.com/100",[["a","https://via.placeholder.com/100"]]]],"meta":{"file_columns":{"PZCj":[{"url":"https://via.placeholder.com/200","type":"url"},{"url":"https://via.placeholder.com/100","type":"url"}]}},"title":[["a"]]},"created_time":1697565880978,"last_edited_time":1697565881620,"parent_id":"54c8ced8-2a7c-4b56-8869-1ff9afbb043f","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"},"role":"editor"},"f8e75f0c-32cf-4a93-8787-fc52f362697a":{"value":{"id":"f8e75f0c-32cf-4a93-8787-fc52f362697a","version":13,"type":"collection_view_page","content":["54c8ced8-2a7c-4b56-8869-1ff9afbb043f","7d9eef98-d173-445a-a7a7-391e172fa948"],"view_ids":["7d9eef98-d173-445a-a7a7-391e172fa948"],"format":{"collection_pointer":{"id":"54c8ced8-2a7c-4b56-8869-1ff9afbb043f","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1697565878013,"last_edited_time":1697565879933,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"},"role":"editor"}},"collection":{"54c8ced8-2a7c-4b56-8869-1ff9afbb043f":{"value":{"id":"54c8ced8-2a7c-4b56-8869-1ff9afbb043f","version":2,"name":[["TESTING
        PAGE"]],"schema":{"PZCj":{"name":"b","type":"file"},"title":{"name":"a","type":"title"}},"parent_id":"f8e75f0c-32cf-4a93-8787-fc52f362697a","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"},"role":"editor"}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":6271,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["f8e75f0c-32cf-4a93-8787-fc52f362697a"],"created_time":1638259881592,"last_edited_time":1697565724740,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true,"settings":{"space_survey_data":{"intent":{"value":"personal","version":1,"collected_at":1638259881592,"collected_from":"onboarding"}}},"subscription_tier":"free"},"role":"editor"}}},"collectionIds":["54c8ced8-2a7c-4b56-8869-1ff9afbb043f"],"allBlockIds":["2e5c9bdf-356d-46ab-a2e8-6e1d7bf47871"],"shouldUseClientMode":true,"isViewSpecificClientMode":false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"collection": {"id": "54c8ced8-2a7c-4b56-8869-1ff9afbb043f", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "7d9eef98-d173-445a-a7a7-391e172fa948",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 1, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["2e5c9bdf-356d-46ab-a2e8-6e1d7bf47871"],"hasMore":false}},"sizeHint":1},"recordMap":{"block":{"2e5c9bdf-356d-46ab-a2e8-6e1d7bf47871":{"value":{"id":"2e5c9bdf-356d-46ab-a2e8-6e1d7bf47871","version":10,"type":"page","properties":{"PZCj":[["https://via.placeholder.com/200",[["a","https://via.placeholder.com/200"]]],[","],["https://via.placeholder.com/100",[["a","https://via.placeholder.com/100"]]]],"meta":{"file_columns":{"PZCj":[{"url":"https://via.placeholder.com/200","type":"url"},{"url":"https://via.placeholder.com/100","type":"url"}]}},"title[...]
- request:
    body: '{"page": {"id": "f8e75f0c-32cf-4a93-8787-fc52f362697a"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      Content-Type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"f8e75f0c-32cf-4a93-8787-fc52f362697a":{"value":{"id":"f8e75f0c-32cf-4a93-8787-fc52f362697a","version":13,"type":"collection_view_page","content":["54c8ced8-2a7c-4b56-8869-1ff9afbb043f","7d9eef98-d173-4[...]
[...]
- request:
    body: '{"page": {"id": "f8e75f0c-32cf-4a93-8787-fc52f362697a"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      Content-Type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"f8e75f0c-32cf-4a93-8787-fc52f362697a":{"value":{"id":"f8e75f0c-32cf-4a93-8787-fc52f362697a","version":13,"type":"collection_view_page","content":["54c8ced8-2a7c-4b56-8869-1ff9afbb043f","7d9eef98-d173-445a-a7a7-391e172fa948"],"view_ids":["7d9eef98-d173-445a-a7a7-391e172fa948"],"format":{"collection_pointer":{"id":"54c8ced8-2a7c-4b56-8869-1ff9afbb043f","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1697565878013,"last_edited_time":1697565879933,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"},"role":"editor"}},"space":{},"collection_view":{"7d9eef98-d173-445a-a7a7-391e172fa948":{"value":{"id":"7d9eef98-d173-445a-a7a7-391e172fa948","version":4,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"PZCj"}]},"parent_id":"f8e75f0c-32cf-4a93-8787-fc52f362697a","parent_table":"block","alive":true,"page_sort":["2e5c9bdf-356d-46ab-a2e8-6e1d7bf47871"],"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1697565879221,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"},"role":"editor"}},"collection":{"54c8ced8-2a7c-4b56-8869-1ff9afbb043f":{"value":{"id":"54c8ced8-2a7c-4b56-8869-1ff9afbb043f","version":2,"name":[["TESTING
        PAGE"]],"schema":{"PZCj":{"name":"b","type":"file"},"title":{"name":"a","type":"title"}},"parent_id":"f8e75f0c-32cf-4a93-8787-fc52f362697a","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"},"role":"editor"}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"blockIds": ["f8e75f0c-32cf-4a93-8787-fc52f362697a"], "permanentlyDelete":
      true}'
    headers:
      Content-Type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{"block":{"f8e75f0c-32cf-4a93-8787-fc52f362697a":{"role":"none"}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":6272,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1697565724740,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true,"settings":{"space_survey_data":{"intent":{"value":"personal","version":1,"collected_at":1638259881592,"collected_from":"onboarding"}}},"subscription_tier":"free"},"role":"editor"}},"collection":{"54c8ced8-2a7c-4b56-8869-1ff9afbb043f":{"role":"none"}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
