interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":31,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["5585f343-8ea5-469b-8a90-a05987977424"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":2873,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1651932240000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "0b9e8e67-2ad7-4747-9540-c0d7b4ca8d35", "path":
      [], "args": {"id": "0b9e8e67-2ad7-4747-9540-c0d7b4ca8d35", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1652088169942, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652088169942}, "command":
      "update", "id": "0b9e8e67-2ad7-4747-9540-c0d7b4ca8d35", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "0b9e8e67-2ad7-4747-9540-c0d7b4ca8d35"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652088169942}, "command":
      "update", "id": "0b9e8e67-2ad7-4747-9540-c0d7b4ca8d35", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "dc38db20-d607-4d6e-be58-7bf2ef2006b6", "path":
      [], "args": {"id": "dc38db20-d607-4d6e-be58-7bf2ef2006b6", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1652088170384, "parent_id": "0b9e8e67-2ad7-4747-9540-c0d7b4ca8d35",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "Cchg": {"name": "b", "type": "date"}}}, "command": "set", "table": "collection"},
      {"id": "0b9e8e67-2ad7-4747-9540-c0d7b4ca8d35", "path": ["content"], "args":
      {"id": "dc38db20-d607-4d6e-be58-7bf2ef2006b6"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652088170384}, "command":
      "update", "id": "0b9e8e67-2ad7-4747-9540-c0d7b4ca8d35", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652088170384}, "command":
      "update", "id": "0b9e8e67-2ad7-4747-9540-c0d7b4ca8d35", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "0b9e8e67-2ad7-4747-9540-c0d7b4ca8d35", "path":
      ["format", "collection_pointer", "id"], "args": "dc38db20-d607-4d6e-be58-7bf2ef2006b6",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652088170829}, "command":
      "update", "id": "0b9e8e67-2ad7-4747-9540-c0d7b4ca8d35", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "c62f1f44-8172-41f4-8fac-db01954f310b", "path":
      ["format", "table_properties"], "args": [{"visible": true, "property": "title"},
      {"visible": true, "property": "Cchg"}], "command": "set", "table": "collection_view"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"page": {"id": "0b9e8e67-2ad7-4747-9540-c0d7b4ca8d35"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"0b9e8e67-2ad7-4747-9540-c0d7b4ca8d35":{"role":"editor","value":{"id":"0b9e8e67-2ad7-4747-9540-c0d7b4ca8d35","version":13,"type":"collection_view_page","content":["dc38db20-d607-4d6e-be58-7bf2ef2006b6","c62f1f44-8172-41f4-8fac-db01954f310b"],"view_ids":["c62f1f44-8172-41f4-8fac-db01954f310b"],"format":{"collection_pointer":{"id":"dc38db20-d607-4d6e-be58-7bf2ef2006b6","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1652088169942,"last_edited_time":1652088173300,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":2874,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["0b9e8e67-2ad7-4747-9540-c0d7b4ca8d35"],"created_time":1638259881592,"last_edited_time":1651932240000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection":{"dc38db20-d607-4d6e-be58-7bf2ef2006b6":{"role":"editor","value":{"id":"dc38db20-d607-4d6e-be58-7bf2ef2006b6","version":2,"name":[["TESTING
        PAGE"]],"schema":{"Cchg":{"name":"b","type":"date"},"title":{"name":"a","type":"title"}},"parent_id":"0b9e8e67-2ad7-4747-9540-c0d7b4ca8d35","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection_view":{"c62f1f44-8172-41f4-8fac-db01954f310b":{"role":"editor","value":{"id":"c62f1f44-8172-41f4-8fac-db01954f310b","version":3,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"Cchg"}]},"parent_id":"0b9e8e67-2ad7-4747-9540-c0d7b4ca8d35","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1652088171226,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "2f1827c4-1c26-4f3f-a83f-8cd9da69bce4", "path":
      ["properties", "title"], "args": [["a"]], "command": "set", "table": "block"},
      {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "last_edited_by_table":
      "notion_user", "last_edited_time": 1652088176308}, "command": "update", "id":
      "2f1827c4-1c26-4f3f-a83f-8cd9da69bce4", "path": [], "table": "block"}, {"id":
      "2f1827c4-1c26-4f3f-a83f-8cd9da69bce4", "path": ["properties", "Cchg"], "args":
      [["\u2023", [["d", {"type": "datetime", "start_date": "2001-12-01", "time_zone":
      "Asia/Tashkent", "start_time": "00:00"}]]]], "command": "set", "table": "block"},
      {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "last_edited_by_table":
      "notion_user", "last_edited_time": 1652088176308}, "command": "update", "id":
      "2f1827c4-1c26-4f3f-a83f-8cd9da69bce4", "path": [], "table": "block"}, {"id":
      "c62f1f44-8172-41f4-8fac-db01954f310b", "path": ["page_sort"], "args": ["2f1827c4-1c26-4f3f-a83f-8cd9da69bce4"],
      "command": "set", "table": "collection_view"}, {"args": {"last_edited_by_id":
      "a03b888f-5426-4e4f-b5ef-bed855b162f0", "last_edited_by_table": "notion_user",
      "last_edited_time": 1652088176308}, "command": "update", "id": "2f1827c4-1c26-4f3f-a83f-8cd9da69bce4",
      "path": [], "table": "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"collection": {"id": "dc38db20-d607-4d6e-be58-7bf2ef2006b6", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "c62f1f44-8172-41f4-8fac-db01954f310b",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"table:uncategorized:title:count":
      {"aggregation": {"aggregator": "count", "property": "title"}, "type": "aggregation"}},
      "searchQuery": "", "sort": [], "userTimeZone": "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"table:uncategorized:title:count":{"type":"aggregation","aggregationResult":{"type":"number","value":2}}}},"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"collection": {"id": "dc38db20-d607-4d6e-be58-7bf2ef2006b6", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "c62f1f44-8172-41f4-8fac-db01954f310b",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 2, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: "{\"result\":{\"type\":\"reducer\",\"reducerResults\":{\"collection_group_results\":{\"type\":\"results\",\"blockIds\":[\"2f1827c4-1c26-4f3f-a83f-8cd9da69bce4\",\"b6be8b41-0833-46fc-ae97-bbc9d6205efe\"],\"hasMore\":false}}},\"recordMap\":{\"block\":{\"2f1827c4-1c26-4f3f-a83f-8cd9da69bce4\":{\"role\":\"editor\",\"value\":{\"id\":\"2f1827c4-1c26-4f3f-a83f-8cd9da69bce4\",\"version\":8,\"type\":\"page\",\"properties\":{\"Cchg\":[[\"\u2023\",[[\"d\",{\"type\":\"datetime\",\"time_zone\":\"Asia/Tashkent\",\"start_date\":\"2001-12-01\",\"start_time\":\"00:00\"}]]]],\"title\":[[\"a\"]]},\"created_time\":1652088175845,\"last_edited_time\":1652088176308,\"parent_id\":\"dc38db20-d607-4d6e-be58-7bf2ef2006b6\",\"parent_table\":\"collection\",\"alive\":true,\"created_by_table\":\"notion_user\",\"created_by_id\":\"a03b888f-5426-4e4f-b5ef-bed855b162f0\",\"last_edited_by_table\":\"notion_user\",\"last_edited_by_id\":\"a03b888f-5426-4e4f-b5ef-bed855b162f0\",\"space_id\":\"d51d3ca5-7889-4c70-b906-3a5a37b60274\"}},\"b6be8b41-0833-46fc-ae97-bbc9d6205efe\":{\"role\":\"editor\",\"value\":{\"id\":\"b6be8b41-0833-46fc-ae97-bbc9d6205efe\",\"version\":8,\"type\":\"page\",\"properties\":{\"title\":[[\"b\"]]},\"created_time\":1652088178710,\"last_edited_time\":1652088179168,\"parent_id\":\"dc38db20-d607-4d6e-be58-7bf2ef2006b6\",\"parent_table\":\"collection\",\"alive\":true,\"created_by_table\":\"notion_user\",\"created_by_id\":\"a03b888f-5426-4e4f-b5ef-bed855b162f0\",\"last_edited_by_table\":\"notion_user\",\"last_edited_by_id\":\"a03b888f-5426-4e4f-b5e[...]
[...]
- request:
    body: '{"blockIds": ["0b9e8e67-2ad7-4747-9540-c0d7b4ca8d35"], "permanentlyDelete":
      true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
