interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":29,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["5585f343-8ea5-469b-8a90-a05987977424"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":1864,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1651730700000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "db28015b-5780-4e88-9b1e-d59228d54754", "path":
      [], "args": {"id": "db28015b-5780-4e88-9b1e-d59228d54754", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651735448901, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651735448901}, "command":
      "update", "id": "db28015b-5780-4e88-9b1e-d59228d54754", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "db28015b-5780-4e88-9b1e-d59228d54754"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651735448901}, "command":
      "update", "id": "db28015b-5780-4e88-9b1e-d59228d54754", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "5718adef-06b7-40b3-9c39-3bf9077f0c1f", "path":
      [], "args": {"id": "5718adef-06b7-40b3-9c39-3bf9077f0c1f", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651735449346, "parent_id": "db28015b-5780-4e88-9b1e-d59228d54754",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "5Ie8": {"name": "b", "type": "select"}}}, "command": "set", "table": "collection"},
      {"id": "db28015b-5780-4e88-9b1e-d59228d54754", "path": ["content"], "args":
      {"id": "5718adef-06b7-40b3-9c39-3bf9077f0c1f"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651735449346}, "command":
      "update", "id": "db28015b-5780-4e88-9b1e-d59228d54754", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651735449346}, "command":
      "update", "id": "db28015b-5780-4e88-9b1e-d59228d54754", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "db28015b-5780-4e88-9b1e-d59228d54754", "path":
      ["format", "collection_pointer", "id"], "args": "5718adef-06b7-40b3-9c39-3bf9077f0c1f",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651735449766}, "command":
      "update", "id": "db28015b-5780-4e88-9b1e-d59228d54754", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "0f30f722-ff7d-4b7c-ae58-fee774cbd6d1", "path":
      ["format", "table_properties"], "args": [{"visible": true, "property": "title"},
      {"visible": true, "property": "5Ie8"}], "command": "set", "table": "collection_view"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"page": {"id": "db28015b-5780-4e88-9b1e-d59228d54754"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"db28015b-5780-4e88-9b1e-d59228d54754":{"role":"editor","value":{"id":"db28015b-5780-4e88-9b1e-d59228d54754","version":13,"type":"collection_view_page","content":["5718adef-06b7-40b3-9c39-3bf9077f0c1f","0f30f722-ff7d-4b7c-ae58-fee774cbd6d1"],"view_ids":["0f30f722-ff7d-4b7c-ae58-fee774cbd6d1"],"format":{"collection_pointer":{"id":"5718adef-06b7-40b3-9c39-3bf9077f0c1f","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1651735448901,"last_edited_time":1651735451050,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":1865,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["db28015b-5780-4e88-9b1e-d59228d54754"],"created_time":1638259881592,"last_edited_time":1651730700000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection_view":{"0f30f722-ff7d-4b7c-ae58-fee774cbd6d1":{"role":"editor","value":{"id":"0f30f722-ff7d-4b7c-ae58-fee774cbd6d1","version":3,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"5Ie8"}]},"parent_id":"db28015b-5780-4e88-9b1e-d59228d54754","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1651735450168,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}},"collection":{"5718adef-06b7-40b3-9c39-3bf9077f0c1f":{"role":"editor","value":{"id":"5718adef-06b7-40b3-9c39-3bf9077f0c1f","version":2,"name":[["TESTING
        PAGE"]],"schema":{"5Ie8":{"name":"b","type":"select"},"title":{"name":"a","type":"title"}},"parent_id":"db28015b-5780-4e88-9b1e-d59228d54754","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "ad899b36-5b7d-4180-af0c-b5c1614b7645", "path":
      ["properties", "title"], "args": [["a1"]], "command": "set", "table": "block"},
      {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "last_edited_by_table":
      "notion_user", "last_edited_time": 1651735453193}, "command": "update", "id":
      "ad899b36-5b7d-4180-af0c-b5c1614b7645", "path": [], "table": "block"}, {"id":
      "5718adef-06b7-40b3-9c39-3bf9077f0c1f", "path": ["schema", "5Ie8", "options"],
      "args": [{"id": "5d028f14-cc44-11ec-a73d-74d02bcb0a5c", "value": "b1", "color":
      "default"}], "command": "set", "table": "collection"}, {"id": "ad899b36-5b7d-4180-af0c-b5c1614b7645",
      "path": ["properties", "5Ie8"], "args": [["b1"]], "command": "set", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651735453193}, "command":
      "update", "id": "ad899b36-5b7d-4180-af0c-b5c1614b7645", "path": [], "table":
      "block"}, {"id": "0f30f722-ff7d-4b7c-ae58-fee774cbd6d1", "path": ["page_sort"],
      "args": ["ad899b36-5b7d-4180-af0c-b5c1614b7645"], "command": "set", "table":
      "collection_view"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651735453193}, "command":
      "update", "id": "ad899b36-5b7d-4180-af0c-b5c1614b7645", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"requests": [{"table": "collection", "id": "5718adef-06b7-40b3-9c39-3bf9077f0c1f"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"5718adef-06b7-40b3-9c39-3bf9077f0c1f","version":3,"name":[["TESTING
        PAGE"]],"schema":{"5Ie8":{"name":"b","type":"select","options":[{"id":"5d028f14-cc44-11ec-a73d-74d02bcb0a5c","color":"default","value":"b1"}]},"title":{"name":"a","type":"title"}},"parent_id":"db28015b-5780-4e88-9b1e-d59228d54754","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"collection":{"5718adef-06b7-40b3-9c39-3bf9077f0c1f":{"role":"editor","value":{"id":"5718adef-06b7-40b3-9c39-3bf9077f0c1f","version":3,"name":[["TESTING
        PAGE"]],"schema":{"5Ie8":{"name":"b","type":"select","options":[{"id":"5d028f14-cc44-11ec-a73d-74d02bcb0a5c","color":"default","value":"b1"}]},"title":{"name":"a","type":"title"}},"parent_id":"db28015b-5780-4e88-9b1e-d59228d54754","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"b[...]
- request:
    body: '{"collection": {"id": "5718adef-06b7-40b3-9c39-3bf9077f0c1f", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "0f30f722-ff7d-4b7c-ae58-fee774cbd6d1",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 100, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["ad899b36-5b7d-4180-af0c-b5c1614b7645"],"hasMore":false}}},"recordMap":{"block":{"ad899b36-5b7d-4180-af0c-b5c1614b7645":{"role":"editor","value":{"id":"ad899b36-5b7d-4180-af0c-b5c1614b7645","version":8,"type":"page","properties":{"5Ie8":[["b1"]],"title":[["a1"]]},"created_time":1651735452722,"last_edited_time":1651735453193,"parent_id":"5718adef-06b7-40b3-9c39-3bf9077f0c1f","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"db28015b-5780-4e88-9b1e-d59228d54754":{"role":"editor","value":{"id":"db28[...]
[...]
- request:
    body: '{"collection": {"id": "5718adef-06b7-40b3-9c39-3bf9077f0c1f", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "0f30f722-ff7d-4b7c-ae58-fee774cbd6d1",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 100, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["ad899b36-5b7d-4180-af0c-b5c1614b7645","fefdf3c7-80a1-4eed-b4bd-94dcf2bbd4a3"],"hasMore":false}}},"recordMap":{"block":{"ad899b36-5b7d-4180-af0c-b5c1614b7645":{"role":"editor","value":{"id":"ad899b36-5b7d-4180-af0c-b5c1614b7645","version":8,"type":"page","properties":{"5Ie8":[["b1"]],"title":[["a1"]]},"created_time":1651735452722,"last_edited_time":1651735453193,"parent_id":"5718adef-06b7-40b3-9c39-3bf9077f0c1f","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"fefdf3c7-80a1-4eed-b4bd-94dcf2bbd4a3":{"role":"editor","value":{"id":"fefdf3c7-80a1-4eed-b4bd-94dcf2bbd4a3","version":8,"type":"page","properties":{"5Ie8":[["b2"]],"title":[["a2"]]},"created_time":1651735454291,"last_edited_time":1651735454738,"parent_id":"5718adef-06b7-40b3-9c39-3bf9077f0c1f","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3c[...]
[...]
- request:
    body: '{"blockIds": ["db28015b-5780-4e88-9b1e-d59228d54754"], "permanentlyDelete":
      true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
