interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":31,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["5585f343-8ea5-469b-8a90-a05987977424"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":3037,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1651932240000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "c02a97df-85cb-4dd3-8dac-8eb4bb2fbb03", "path":
      [], "args": {"id": "c02a97df-85cb-4dd3-8dac-8eb4bb2fbb03", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1652089247114, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652089247114}, "command":
      "update", "id": "c02a97df-85cb-4dd3-8dac-8eb4bb2fbb03", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "c02a97df-85cb-4dd3-8dac-8eb4bb2fbb03"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652089247114}, "command":
      "update", "id": "c02a97df-85cb-4dd3-8dac-8eb4bb2fbb03", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "3fc2b793-2742-43f1-934f-acd06c50a3d4", "path":
      [], "args": {"id": "3fc2b793-2742-43f1-934f-acd06c50a3d4", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1652089248810, "parent_id": "c02a97df-85cb-4dd3-8dac-8eb4bb2fbb03",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "uMhL": {"name": "b", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "c02a97df-85cb-4dd3-8dac-8eb4bb2fbb03", "path": ["content"], "args":
      {"id": "3fc2b793-2742-43f1-934f-acd06c50a3d4"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652089248810}, "command":
      "update", "id": "c02a97df-85cb-4dd3-8dac-8eb4bb2fbb03", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652089248810}, "command":
      "update", "id": "c02a97df-85cb-4dd3-8dac-8eb4bb2fbb03", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "c02a97df-85cb-4dd3-8dac-8eb4bb2fbb03", "path":
      ["format", "collection_pointer", "id"], "args": "3fc2b793-2742-43f1-934f-acd06c50a3d4",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652089250448}, "command":
      "update", "id": "c02a97df-85cb-4dd3-8dac-8eb4bb2fbb03", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "b6641a6e-8f59-4744-8fed-28b37f05094c", "path":
      [], "args": {"id": "b6641a6e-8f59-4744-8fed-28b37f05094c", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1652089250835, "parent_id": "c02a97df-85cb-4dd3-8dac-8eb4bb2fbb03",
      "parent_table": "block", "type": "table"}, "command": "set", "table": "collection_view"},
      {"id": "c02a97df-85cb-4dd3-8dac-8eb4bb2fbb03", "path": ["content"], "args":
      {"id": "b6641a6e-8f59-4744-8fed-28b37f05094c"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652089250835}, "command":
      "update", "id": "c02a97df-85cb-4dd3-8dac-8eb4bb2fbb03", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652089250835}, "command":
      "update", "id": "c02a97df-85cb-4dd3-8dac-8eb4bb2fbb03", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: "<!DOCTYPE html>\n<html>\n  <head>\n    <meta charset=\"utf-8\">\n    <title>Notion</title>\n
        \   <style type=\"text/css\">*{box-sizing:border-box}html{margin:0;padding:0}body{-webkit-font-smoothing:auto;align-items:center;background:#fffefc;color:#37352f;display:flex;flex-direction:column;font-family:-apple-system,BlinkMacSystemFont,Segoe
        UI,Helvetica,Apple Color Emoji,Arial,sans-serif,Segoe UI Emoji,Segoe UI Symbol;height:100vh;justify-content:center;justify-content:space-between;line-height:1.5;margin:0;padding:40px
        20px;text-align:center}.top{height:40px}.details{align-items:flex-end;display:flex;font-size:13px;min-height:100px}.details
        h1{color:#999;display:inline-block;font-size:13px;margin:0 .75em}.details
        p{display:none}.details ul{color:#999;display:inline-block;margin:0;padding:0}.details
        li{display:inline-block;list-style:none;margin:0 .75em}.show-details-toggle{color:#999}.main{padding-bottom:20px}.main
        a{color:#37352f}a:hover{color:#e03e3e}@media screen and (max-width:960px){body{padding:20px}.details
        h1{margin-bottom:1em}.details h1,.details li{display:block}}</style>\n    <script
        type=\"text/javascript\">document.addEventListener(\"click\",function(e){if(e.target.classList.contains(\"show-details-toggle\")){e.preventDefault();var
        t=document.getElementsByClassName(\"show-details-toggle\")[0],s=document.getElementsByClassName(\"details-expanded\")[0];t.style.display=\"none\",s.style.display=\"block\"}},!1);</script>\n
        \ \n\n</head>\n  <body>\n    <div class=\"top\"></div>\n    <div class=\"main\">\n
        \     <img\n        alt=\"Notion\"\n        style=\"width: 40px; margin: 0
        auto; display: block;\"\n        src=\"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAABUCAYAAAAVgLC7AAAACXBIWXMAABYlAAAWJQFJUiTwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAXUSURBVHgB7ZzfVes4EMYnd/cdqABTAXSwSQVABQmP+wSpgORxn4AKEioIVEBuBUAFmAoS3vbNq8+OuLpa/xtJtiXD75w5IYkJ6MuMNSPLM6AwiJTH/Z3tCTsQdqi8F2nHg62wF2FLYT+FxeSQAbXLvmYR/RJCiiJfV49zRSxsJuyeHGEjYKQ8Rtp[...]
[...]
- request:
    body: '{"operations": [{"id": "b6641a6e-8f59-4744-8fed-28b37f05094c", "path":
      ["format", "table_properties"], "args": [{"visible": true, "property": "title"},
      {"visible": true, "property": "uMhL"}], "command": "set", "table": "collection_view"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "0ef8b7a6-5821-473c-843d-e40cd29d8c67", "path":
      [], "args": {"id": "0ef8b7a6-5821-473c-843d-e40cd29d8c67", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1652089256756, "parent_id": "0a52fee8-0a6c-4d1d-a027-9130ce01b63b",
      "parent_table": "block", "schema": {"title": {"name": "c", "type": "title"},
      "pcTP": {"name": "d", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "0a52fee8-0a6c-4d1d-a027-9130ce01b63b", "path": ["content"], "args":
      {"id": "0ef8b7a6-5821-473c-843d-e40cd29d8c67"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652089256756}, "command":
      "update", "id": "0a52fee8-0a6c-4d1d-a027-9130ce01b63b", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652089256756}, "command":
      "update", "id": "0a52fee8-0a6c-4d1d-a027-9130ce01b63b", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"blockId": "0a52fee8-0a6c-4d1d-a027-9130ce01b63b"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getPublicPageData
  response:
    body:
      string: '{"spaceName":"test_py","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274","spaceDomain":"laced-taxi-315","canJoinSpace":true,"userHasExplicitAccess":true,"ownerUserId":"a03b888f-5426-4e4f-b5ef-bed855b162f0","betaEnabled":false,"canRequestAccess":true,"requireLogin":false,"publicAccessRole":"none"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "3fc2b793-2742-43f1-934f-acd06c50a3d4", "path":
      ["schema"], "args": {"title": {"name": "a", "type": "title"}, "uMhL": {"name":
      "b", "type": "relation", "property": "dyP2", "collection_id": "0ef8b7a6-5821-473c-843d-e40cd29d8c67",
      "collection_pointer": {"id": "0ef8b7a6-5821-473c-843d-e40cd29d8c67", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274", "table": "collection"}}}, "command":
      "set", "table": "collection"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"page": {"id": "c02a97df-85cb-4dd3-8dac-8eb4bb2fbb03"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"c02a97df-85cb-4dd3-8dac-8eb4bb2fbb03":{"role":"editor","value":{"id":"c02a97df-85cb-4dd3-8dac-8eb4bb2fbb03","version":13,"type":"collection_view_page","content":["3fc2b793-2742-43f1-934f-acd06c50a3d4","b6641a6e-8f59-4744-8fed-28b37f05094c"],"view_ids":["b6641a6e-8f59-4744-8fed-28b37f05094c"],"format":{"collection_pointer":{"id":"3fc2b793-2742-43f1-934f-acd06c50a3d4","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1652089247114,"last_edited_time":1652089254849,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":3039,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["c02a97df-85cb-4dd3-8dac-8eb4bb2fbb03","0a52fee8-0a6c-4d1d-a027-9130ce01b63b"],"created_time":1638259881592,"last_edited_time":1651932240000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection":{"3fc2b793-2742-43f1-934f-acd06c50a3d4":{"role":"editor","value":{"id":"3fc2b793-2742-43f1-934f-acd06c50a3d4","version":3,"name":[["TESTING
        PAGE"]],"schema":{"uMhL":{"name":"b","type":"relation","property":"dyP2","collection_id":"0ef8b7a6-5821-473c-843d-e40cd29d8c67","collection_pointer":{"id":"0ef8b7a6-5821-473c-843d-e40cd29d8c67","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"title":{"name":"a","type":"title"}},"parent_id":"c02a97df-85cb-4dd3-8dac-8eb4bb2fbb03","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection_view":{"b6641a6e-8f59-4744-8fed-28b37f05094c":{"role":"editor","value":{"id":"b6641a6e-8f59-4744-8fed-28b37f05094c","version":3,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"uMhL"}]},"parent_id":"c02a97df-85cb-4dd3-8dac-8eb4bb2fbb03","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1652089250835,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"requests": [{"table": "collection", "id": "0ef8b7a6-5821-473c-843d-e40cd29d8c67"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"0ef8b7a6-5821-473c-843d-e40cd29d8c67","version":3,"name":[["TESTING
        PAGE"]],"schema":{"dyP2":{"name":"Related to TESTING PAGE (b)","type":"relation","property":"uMhL","collection_id":"3fc2b793-2742-43f1-934f-acd06c50a3d4","collection_pointer":{"id":"3fc2b793-2742-43f1-934f-acd06c50a3d4","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"pcTP":{"name":"d","type":"text"},"title":{"name":"c","type":"title"}},"parent_id":"0a52fee8-0a6c-4d1d-a027-9130ce01b63b","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"collection":{"0ef8b7a6-5821-473c-843d-e40cd29d8c67":{"role":"editor","value":{"id":"0ef8b7a6-5821-473c-843d-e40cd29d8c67","version":3,"name":[["TESTING
        PAGE"]],"schema":{"dyP2":{"name":"Related to TESTING PAGE (b)","type":"relation","property":"uMhL","collection_id":"3fc2b793-2742-43f1-934f-acd06c50a3d4","collection_pointer":{"id":"3fc2b793-2742-43f1-934f-acd06c50a3d4","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"pcTP":{"name":"d","type":"text"},"title":{"na[...]
[...]
- request:
    body: '{"collection": {"id": "0ef8b7a6-5821-473c-843d-e40cd29d8c67", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "6a2847ac-ac8b-4127-ad0d-6707d641f5b5",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"table:uncategorized:title:count":
      {"aggregation": {"aggregator": "count", "property": "title"}, "type": "aggregation"}},
      "searchQuery": "", "sort": [], "userTimeZone": "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"table:uncategorized:title:count":{"type":"aggregation","aggregationResult":{"type":"number","value":0}}}},"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"collection": {"id": "0ef8b7a6-5821-473c-843d-e40cd29d8c67", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "6a2847ac-ac8b-4127-ad0d-6707d641f5b5",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 0, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":[],"hasMore":false}}},"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"collection": {"id": "3fc2b793-2742-43f1-934f-acd06c50a3d4", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "b6641a6e-8f59-4744-8fed-28b37f05094c",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 1, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: "{\"result\":{\"type\":\"reducer\",\"reducerResults\":{\"collection_group_results\":{\"type\":\"results\",\"blockIds\":[\"c61523b7-f7d6-4003-91a3-c72e581c4c1d\"],\"hasMore\":false}}},\"recordMap\":{\"block\":{\"c61523b7-f7d6-4003-91a3-c72e581c4c1d\":{\"role\":\"editor\",\"value\":{\"id\":\"c61523b7-f7d6-4003-91a3-c72e581c4c1d\",\"version\":8,\"type\":\"page\",\"properties\":{\"uMhL\":[[\"\u2023\",[[\"p\",\"35bdb926-ab11-42d6-8f49-1e6fd9e74c91\",\"d51d3ca5-7889-4c70-b906-3a5a37b60274\"]]]],\"title\":[[\"aa\"]]},\"created_time\":1652089269509,\"last_edited_time\":1652089269977,\"parent_id\":\"3fc2b793-2742-43f1-934f-acd06c50a3d4\",\"parent_table\":\"collection\",\"alive\":true,\"created_by_table\":\"notion_user\",\"created_by_id\":\"a03b888f-5426-4e4f-b5ef-bed855b162f0\",\"last_edited_by_table\":\"notion_user\",\"last_edited_by_id\":\"a03b888f-5426-4e4f-b5ef-bed855b1[...]
[...]
- request:
    body: '{"blockIds": ["c02a97df-85cb-4dd3-8dac-8eb4bb2fbb03"], "permanentlyDelete":
      true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
