interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":29,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["5585f343-8ea5-469b-8a90-a05987977424"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":1886,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1651730700000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "dba85bc3-29bf-4af3-877d-507fe3215d1c", "path":
      [], "args": {"id": "dba85bc3-29bf-4af3-877d-507fe3215d1c", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651735575310, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651735575310}, "command":
      "update", "id": "dba85bc3-29bf-4af3-877d-507fe3215d1c", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "dba85bc3-29bf-4af3-877d-507fe3215d1c"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651735575310}, "command":
      "update", "id": "dba85bc3-29bf-4af3-877d-507fe3215d1c", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "28a0d7ee-453f-4818-a9b5-c559bdef5533", "path":
      [], "args": {"id": "28a0d7ee-453f-4818-a9b5-c559bdef5533", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651735576117, "parent_id": "dba85bc3-29bf-4af3-877d-507fe3215d1c",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "qQ2u": {"name": "b", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "dba85bc3-29bf-4af3-877d-507fe3215d1c", "path": ["content"], "args":
      {"id": "28a0d7ee-453f-4818-a9b5-c559bdef5533"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651735576117}, "command":
      "update", "id": "dba85bc3-29bf-4af3-877d-507fe3215d1c", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651735576117}, "command":
      "update", "id": "dba85bc3-29bf-4af3-877d-507fe3215d1c", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "dba85bc3-29bf-4af3-877d-507fe3215d1c", "path":
      ["format", "collection_pointer", "id"], "args": "28a0d7ee-453f-4818-a9b5-c559bdef5533",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651735576611}, "command":
      "update", "id": "dba85bc3-29bf-4af3-877d-507fe3215d1c", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "2923e139-aea2-4a34-a09b-7b2fe3d0bf64", "path":
      ["format", "table_properties"], "args": [{"visible": true, "property": "title"},
      {"visible": true, "property": "qQ2u"}], "command": "set", "table": "collection_view"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "87665018-0742-4568-9523-c07a626a79e6", "path":
      [], "args": {"id": "87665018-0742-4568-9523-c07a626a79e6", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651735580617, "parent_id": "5ee03613-ed68-4744-a6c5-4bf4cf8a4691",
      "parent_table": "block", "schema": {"title": {"name": "c", "type": "title"},
      "VvEW": {"name": "d", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "5ee03613-ed68-4744-a6c5-4bf4cf8a4691", "path": ["content"], "args":
      {"id": "87665018-0742-4568-9523-c07a626a79e6"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651735580617}, "command":
      "update", "id": "5ee03613-ed68-4744-a6c5-4bf4cf8a4691", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651735580617}, "command":
      "update", "id": "5ee03613-ed68-4744-a6c5-4bf4cf8a4691", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"blockId": "5ee03613-ed68-4744-a6c5-4bf4cf8a4691"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getPublicPageData
  response:
    body:
      string: '{"spaceName":"test_py","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274","spaceDomain":"laced-taxi-315","canJoinSpace":true,"userHasExplicitAccess":true,"ownerUserId":"a03b888f-5426-4e4f-b5ef-bed855b162f0","betaEnabled":false,"canRequestAccess":true,"requireLogin":false,"publicAccessRole":"none"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "28a0d7ee-453f-4818-a9b5-c559bdef5533", "path":
      ["schema"], "args": {"title": {"name": "a", "type": "title"}, "qQ2u": {"name":
      "b", "type": "relation", "property": "byah", "collection_id": "87665018-0742-4568-9523-c07a626a79e6",
      "collection_pointer": {"id": "87665018-0742-4568-9523-c07a626a79e6", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274", "table": "collection"}}}, "command":
      "set", "table": "collection"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"page": {"id": "dba85bc3-29bf-4af3-877d-507fe3215d1c"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"dba85bc3-29bf-4af3-877d-507fe3215d1c":{"role":"editor","value":{"id":"dba85bc3-29bf-4af3-877d-507fe3215d1c","version":13,"type":"collection_view_page","content":["28a0d7ee-453f-4818-a9b5-c559bdef5533","2923e139-aea2-4a34-a09b-7b2fe3d0bf64"],"view_ids":["2923e139-aea2-4a34-a09b-7b2fe3d0bf64"],"format":{"collection_pointer":{"id":"28a0d7ee-453f-4818-a9b5-c559bdef5533","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1651735575310,"last_edited_time":1651735578106,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":1888,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["dba85bc3-29bf-4af3-877d-507fe3215d1c","5ee03613-ed68-4744-a6c5-4bf4cf8a4691"],"created_time":1638259881592,"last_edited_time":1651730700000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection":{"28a0d7ee-453f-4818-a9b5-c559bdef5533":{"role":"editor","value":{"id":"28a0d7ee-453f-4818-a9b5-c559bdef5533","version":3,"name":[["TESTING
        PAGE"]],"schema":{"qQ2u":{"name":"b","type":"relation","property":"byah","collection_id":"87665018-0742-4568-9523-c07a626a79e6","collection_pointer":{"id":"87665018-0742-4568-9523-c07a626a79e6","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"title":{"name":"a","type":"title"}},"parent_id":"dba85bc3-29bf-4af3-877d-507fe3215d1c","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection_view":{"2923e139-aea2-4a34-a09b-7b2fe3d0bf64":{"role":"editor","value":{"id":"2923e139-aea2-4a34-a09b-7b2fe3d0bf64","version":3,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"qQ2u"}]},"parent_id":"dba85bc3-29bf-4af3-877d-507fe3215d1c","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1651735576995,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"requests": [{"table": "collection", "id": "87665018-0742-4568-9523-c07a626a79e6"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"87665018-0742-4568-9523-c07a626a79e6","version":3,"name":[["TESTING
        PAGE"]],"schema":{"VvEW":{"name":"d","type":"text"},"byah":{"name":"Related
        to TESTING PAGE (b)","type":"relation","property":"qQ2u","collection_id":"28a0d7ee-453f-4818-a9b5-c559bdef5533","collection_pointer":{"id":"28a0d7ee-453f-4818-a9b5-c559bdef5533","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"title":{"name":"c","type":"title"}},"parent_id":"5ee03613-ed68-4744-a6c5-4bf4cf8a4691","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"collection":{"87665018-0742-4568-9523-c07a626a79e6":{"role":"editor","value":{"id":"87665018-0742-4568-9523-c07a626a79e6","version":3,"name":[["TESTING
        PAGE"]],"schema":{"VvEW":{"name":"d","type":"text"},"byah":{"name":"Related
        to TESTING PAGE (b)","type":"relation","property":"qQ2u","collection_id":"28a0d7ee-453f-4818-a9b5-c559bdef5533","collection_pointer":{"id":"28a0d7ee-453f-4818-a9b5-c559bdef5533","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"tit[...]
- request:
    body: '{"requests": [{"table": "collection_view", "id": "84fc92b1-e2de-4df0-8bdf-d142392d2683"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"84fc92b1-e2de-4df0-8bdf-d142392d2683","version":4,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"VvEW"}]},"parent_id":"5ee03613-ed68-4744-a6c5-4bf4cf8a4691","parent_table":"block","alive":true,"page_sort":["6c8cab15-fb11-408c-ab3b-4ce76f735833"],"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1651735581466,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}],"recordMapWithRoles":{"collection_view":{"84fc92b1-e2de-4df0-8bdf-d142392d2683":{"role":"editor","value":{"id":"84fc92b1-e2de-4df0-8bdf-d142392d2683","version":4,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"VvEW"}]},"parent_i[...]
- request:
    body: '{"collection": {"id": "87665018-0742-4568-9523-c07a626a79e6", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "84fc92b1-e2de-4df0-8bdf-d142392d2683",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 100, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["6c8cab15-fb11-408c-ab3b-4ce76f735833"],"hasMore":false}}},"recordMap":{"block":{"6c8cab15-fb11-408c-ab3b-4ce76f735833":{"role":"editor","value":{"id":"6c8cab15-fb11-408c-ab3b-4ce76f735833","version":6,"type":"page","properties":{"title":[["cc"]]},"created_time":1651735584625,"last_edited_time":1651735585081,"parent_id":"87665018-0742-4568-9523-c07a626a79e6","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"5ee03613-ed68-4744-a6c5-4bf4cf8a4691":{"role":"editor","value":{"id":"5ee03613-ed68-4744-a[...]
[...]
- request:
    body: '{"blockIds": ["dba85bc3-29bf-4af3-877d-507fe3215d1c"], "permanentlyDelete":
      true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
