interactions:
- request:
    body: '{}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":31,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["5585f343-8ea5-469b-8a90-a05987977424"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":5298,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1652698380000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-[...]
- request:
    body: '{"operations": [{"id": "16989562-99f2-49c0-96fc-8d8aa0f0431b", "path":
      [], "args": {"id": "16989562-99f2-49c0-96fc-8d8aa0f0431b", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1653396375421, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653396375421}, "command":
      "update", "id": "16989562-99f2-49c0-96fc-8d8aa0f0431b", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "16989562-99f2-49c0-96fc-8d8aa0f0431b"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653396375421}, "command":
      "update", "id": "16989562-99f2-49c0-96fc-8d8aa0f0431b", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "a4a6b7cc-1c20-4d14-8ced-73d7427bc918", "path":
      [], "args": {"id": "a4a6b7cc-1c20-4d14-8ced-73d7427bc918", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1653396375833, "parent_id": "16989562-99f2-49c0-96fc-8d8aa0f0431b",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "kgP4": {"name": "b", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "16989562-99f2-49c0-96fc-8d8aa0f0431b", "path": ["content"], "args":
      {"id": "a4a6b7cc-1c20-4d14-8ced-73d7427bc918"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653396375833}, "command":
      "update", "id": "16989562-99f2-49c0-96fc-8d8aa0f0431b", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653396375833}, "command":
      "update", "id": "16989562-99f2-49c0-96fc-8d8aa0f0431b", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "16989562-99f2-49c0-96fc-8d8aa0f0431b", "path":
      ["format", "collection_pointer", "id"], "args": "a4a6b7cc-1c20-4d14-8ced-73d7427bc918",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653396376226}, "command":
      "update", "id": "16989562-99f2-49c0-96fc-8d8aa0f0431b", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "6e14f6a9-a85d-4d0d-a223-c5230de4b738", "path":
      ["format", "table_properties"], "args": [{"visible": true, "property": "title"},
      {"visible": true, "property": "kgP4"}], "command": "set", "table": "collection_view"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "e501cf60-d1e2-4646-835b-3b331b06d6c9", "path":
      [], "args": {"id": "e501cf60-d1e2-4646-835b-3b331b06d6c9", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1653396381419, "parent_id": "6667ca12-226c-4ef2-a561-1690ddf0107d",
      "parent_table": "block", "type": "image", "child_list_key": null}, "command":
      "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653396381419}, "command":
      "update", "id": "e501cf60-d1e2-4646-835b-3b331b06d6c9", "path": [], "table":
      "block"}, {"id": "6667ca12-226c-4ef2-a561-1690ddf0107d", "path": ["content"],
      "args": {"id": "e501cf60-d1e2-4646-835b-3b331b06d6c9"}, "command": "listAfter",
      "table": "block"}, {"args":[...]
[...]
- request:
    body: '{"page": {"id": "16989562-99f2-49c0-96fc-8d8aa0f0431b"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"16989562-99f2-49c0-96fc-8d8aa0f0431b":{"role":"editor","value":{"id":"16989562-99f2-49c0-96fc-8d8aa0f0431b","version":13,"type":"collection_view_page","content":["a4a6b7cc-1c20-4d14-8ced-73d7427bc918","6e14f6a9-a85d-4d0d-a223-c5230de4b738"],"view_ids":["6e14f6a9-a85d-4d0d-a223-c5230de4b738"],"format":{"collection_pointer":{"id":"a4a6b7cc-1c20-4d14-8ced-73d7427bc918","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1653396375421,"last_edited_time":1653396379638,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":5299,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["16989562-99f2-49c0-96fc-8d8aa0f0431b"],"created_time":1638259881592,"last_edited_time":1652698380000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection":{"a4a6b7cc-1c20-4d14-8ced-73d7427bc918":{"role":"editor","value":{"id":"a4a6b7cc-1c20-4d14-8ced-73d7427bc918","version":2,"name":[["TESTING
        PAGE"]],"schema":{"kgP4":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"16989562-99f2-49c0-96fc-8d8aa0f0431b","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection_view":{"6e14f6a9-a85d-4d0d-a223-c5230de4b738":{"role":"editor","value":{"id":"6e14f6a9-a85d-4d0d-a223-c5230de4b738","version":4,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"kgP4"}]},"parent_id":"16989562-99f2-49c0-96fc-8d8aa0f0431b","parent_table":"block","alive":true,"page_sort":["6667ca12-226c-4ef2-a561-1690ddf0107d"],"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1653396376555,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"requests": [{"table": "collection_view", "id": "6e14f6a9-a85d-4d0d-a223-c5230de4b738"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"6e14f6a9-a85d-4d0d-a223-c5230de4b738","version":4,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"kgP4"}]},"parent_id":"16989562-99f2-49c0-96fc-8d8aa0f0431b","parent_table":"block","alive":true,"page_sort":["6667ca12-226c-4ef2-a561-1690ddf0107d"],"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1653396376555,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}],"recordMapWithRoles":{"collection_view":{"6e14f6a9-a85d-4d0d-a223-c5230de4b738":{"role":"editor","value":{"id":"6e14f6a9-a85d-4d0d-a223-c5230de4b738","version":4,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"kgP4"}]},"parent_id":"16989562-99f2-49c0-96fc-8d8aa0f0431b","parent_table":"block","alive":true,"page_sort":["6667ca12-226c-4ef2-a561-1690ddf0107d"],"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1653396376555,"created_by_table":"no[...]
- request:
    body: '{"collection": {"id": "a4a6b7cc-1c20-4d14-8ced-73d7427bc918", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "6e14f6a9-a85d-4d0d-a223-c5230de4b738",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"table:uncategorized:title:count":
      {"aggregation": {"aggregator": "count", "property": "title"}, "type": "aggregation"}},
      "searchQuery": "", "sort": [], "userTimeZone": "Asia/Tashkent", "type": "reducer"}}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"table:uncategorized:title:count":{"type":"aggregation","aggregationResult":{"type":"number","value":1}}}},"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"collection": {"id": "a4a6b7cc-1c20-4d14-8ced-73d7427bc918", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "6e14f6a9-a85d-4d0d-a223-c5230de4b738",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 1, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["6667ca12-226c-4ef2-a561-1690ddf0107d"],"hasMore":false}}},"recordMap":{"block":{"6667ca12-226c-4ef2-a561-1690ddf0107d":{"role":"editor","value":{"id":"6667ca12-226c-4ef2-a561-1690ddf0107d","version":11,"type":"page","properties":{"kgP4":[["b1"]],"title":[["a"]]},"content":["e501cf60-d1e2-4646-835b-3b331b06d6c9"],"created_time":1653396380639,"last_edited_time":1653396381419,"parent_id":"a4a6b7cc-1c20-4d14-8ced-73d7427bc918","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"16989562-99f2-49c0-96fc-[...]
[...]
- request:
    body: '{"requests": [{"table": "block", "id": "e501cf60-d1e2-4646-835b-3b331b06d6c9"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"e501cf60-d1e2-4646-835b-3b331b06d6c9","version":6,"type":"image","properties":{"source":[["https://via.placeholder.com/200"]]},"created_time":1653396381419,"last_edited_time":1653396381866,"parent_id":"6667ca12-226c-4ef2-a561-1690ddf0107d","parent_table":"block","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"block":{"e501cf60-d1e2-4646-835b-3b331b06d6c9":{"role":"editor","value":{"id":"e501cf60-d1e2-4646-835b-3b331b06d6c9","version":6,"type":"image","properties":{"source":[["https://via.placeholder.com/200"]]},"created_time":1653396381419,"last_edited_time":1653396381866,"parent_id":"6667ca12-226c-4ef2-a561-1690ddf0107d","parent_table":"block","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_i[...]
- request:
    body: '{"operations": [{"id": "6667ca12-226c-4ef2-a561-1690ddf0107d", "path":
      ["properties", "meta", "cover_block"], "args": {"type": "url", "url": "https://via.placeholder.com/100"},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653396386580}, "command":
      "update", "id": "6667ca12-226c-4ef2-a561-1690ddf0107d", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"requests": [{"table": "block", "id": "e8249240-ac13-450f-a1e3-85ad4707673e"},
      {"table": "block", "id": "6667ca12-226c-4ef2-a561-1690ddf0107d"}, {"table":
      "block", "id": "6667ca12-226c-4ef2-a561-1690ddf0107d"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"e8249240-ac13-450f-a1e3-85ad4707673e","version":13,"type":"image","properties":{"source":[["https://via.placeholder.com/100"]]},"format":{"display_source":"https://via.placeholder.com/100"},"created_time":1653396386913,"last_edited_time":1653396387700,"parent_id":"6667ca12-226c-4ef2-a561-1690ddf0107d","parent_table":"block","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},{"role":"editor","value":{"id":"6667ca12-226c-4ef2-a561-1690ddf0107d","version":24,"type":"page","properties":{"kgP4":[["b1"]],"meta":{"cover_block":{"url":"https://via.placeholder.com/100","type":"url"}},"title":[["a"]]},"content":["e8249240-ac13-450f-a1e3-85ad4707673e","e501cf60-d1e2-4646-835b-3b331b06d6c9"],"created_time":1653396380639,"last_edited_time":1653396387700,"parent_id":"a4a6b7cc-1c20-4d14-8ced-73d7427bc918","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},{"role":"editor","value":{"id":"6667ca12-226c-4ef2-a561-1690ddf0107d","version":24,"type":"page","properties":{"kgP4":[["b1"]],"meta":{"cover_block":{"url":"https://via.placeholder.com/100","type":"url"}},"title":[["a"]]},"content":["e8249240-ac13-450f-a1e3-85ad4707673e","e501cf60-d1e2-4646-835b-3b331b06d6c9"],"created_time":1653396380639,"last_edited_time":1653396387700,"parent_id":"a4a6b7cc-1c20-4d14-8ced-73d7427bc918","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"block":{"e8249240-ac13-450f-a1e3-85ad4707673e":{"role":"editor","value":{"id":"e8249240-ac13-450f-a1e3-85ad4707673e","version":13,"type":"image","properties":{"source":[["https://via.placeholder.com/100"]]},"format":{"display_source":"https://via.placeholder.com/100"},"created_time":1653396386913,"last_edited_time":1653396387700,"parent_id":"6667ca12-226c-4ef2-a561-1690ddf0107d","parent_table":"block","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","las[...]
[...]
- request:
    body: '{"requests": [{"table": "block", "id": "e8249240-ac13-450f-a1e3-85ad4707673e"},
      {"table": "block", "id": "e501cf60-d1e2-4646-835b-3b331b06d6c9"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"e8249240-ac13-450f-a1e3-85ad4707673e","version":15,"type":"image","properties":{"source":[["https://via.placeholder.com/100"]],"is_cover_block":true},"format":{"display_source":"https://via.placeholder.com/100"},"created_time":1653396386913,"last_edited_time":1653396388370,"parent_id":"6667ca12-226c-4ef2-a561-1690ddf0107d","parent_table":"block","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},{"role":"editor","value":{"id":"e501cf60-d1e2-4[...]
[...]
- request:
    body: '{"blockIds": ["16989562-99f2-49c0-96fc-8d8aa0f0431b"], "permanentlyDelete":
      true}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
