interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":31,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["5585f343-8ea5-469b-8a90-a05987977424"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":2813,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1651932240000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "4076a277-56e0-462e-bcce-5c74698c7b6d", "path":
      [], "args": {"id": "4076a277-56e0-462e-bcce-5c74698c7b6d", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651992171863, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651992171863}, "command":
      "update", "id": "4076a277-56e0-462e-bcce-5c74698c7b6d", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "4076a277-56e0-462e-bcce-5c74698c7b6d"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651992171863}, "command":
      "update", "id": "4076a277-56e0-462e-bcce-5c74698c7b6d", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "bc5ca811-b917-4c73-ae15-a17a1136c47b", "path":
      [], "args": {"id": "bc5ca811-b917-4c73-ae15-a17a1136c47b", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651992172347, "parent_id": "4076a277-56e0-462e-bcce-5c74698c7b6d",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "ud3x": {"name": "b", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "4076a277-56e0-462e-bcce-5c74698c7b6d", "path": ["content"], "args":
      {"id": "bc5ca811-b917-4c73-ae15-a17a1136c47b"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651992172347}, "command":
      "update", "id": "4076a277-56e0-462e-bcce-5c74698c7b6d", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651992172347}, "command":
      "update", "id": "4076a277-56e0-462e-bcce-5c74698c7b6d", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "4076a277-56e0-462e-bcce-5c74698c7b6d", "path":
      ["format", "collection_pointer", "id"], "args": "bc5ca811-b917-4c73-ae15-a17a1136c47b",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651992172782}, "command":
      "update", "id": "4076a277-56e0-462e-bcce-5c74698c7b6d", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "1b57a032-46d5-47e2-9311-c00c19caedf4", "path":
      ["format", "table_properties"], "args": [{"visible": true, "property": "title"},
      {"visible": true, "property": "ud3x"}], "command": "set", "table": "collection_view"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"page": {"id": "4076a277-56e0-462e-bcce-5c74698c7b6d"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"4076a277-56e0-462e-bcce-5c74698c7b6d":{"role":"editor","value":{"id":"4076a277-56e0-462e-bcce-5c74698c7b6d","version":13,"type":"collection_view_page","content":["bc5ca811-b917-4c73-ae15-a17a1136c47b","1b57a032-46d5-47e2-9311-c00c19caedf4"],"view_ids":["1b57a032-46d5-47e2-9311-c00c19caedf4"],"format":{"collection_pointer":{"id":"bc5ca811-b917-4c73-ae15-a17a1136c47b","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1651992171863,"last_edited_time":1651992174094,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":2814,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["4076a277-56e0-462e-bcce-5c74698c7b6d"],"created_time":1638259881592,"last_edited_time":1651932240000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection":{"bc5ca811-b917-4c73-ae15-a17a1136c47b":{"role":"editor","value":{"id":"bc5ca811-b917-4c73-ae15-a17a1136c47b","version":2,"name":[["TESTING
        PAGE"]],"schema":{"ud3x":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"4076a277-56e0-462e-bcce-5c74698c7b6d","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection_view":{"1b57a032-46d5-47e2-9311-c00c19caedf4":{"role":"editor","value":{"id":"1b57a032-46d5-47e2-9311-c00c19caedf4","version":3,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"ud3x"}]},"parent_id":"4076a277-56e0-462e-bcce-5c74698c7b6d","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1651992173181,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "9aef415d-d728-4256-820e-2b3688e572a3", "path":
      [], "args": {"id": "9aef415d-d728-4256-820e-2b3688e572a3", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651992178156, "parent_id": "5e134cfd-f833-4d6d-a4b4-d406d82ef046",
      "parent_table": "block", "type": "image", "child_list_key": null}, "command":
      "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651992178156}, "command":
      "update", "id": "9aef415d-d728-4256-820e-2b3688e572a3", "path": [], "table":
      "block"}, {"id": "5e134cfd-f833-4d6d-a4b4-d406d82ef046", "path": ["content"],
      "args": {"id": "9aef415d-d728-4256-820e-2b3688e572a3"}, "command": "listAfter",
      "table": "block"}, {"args":[...]
[...]
- request:
    body: '{"operations": [{"id": "9aef415d-d728-4256-820e-2b3688e572a3", "path":
      ["properties", "cover_meta"], "args": {"type": "url", "url": "https://via.placeholder.com/100"},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651992178977}, "command":
      "update", "id": "9aef415d-d728-4256-820e-2b3688e572a3", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"collection": {"id": "bc5ca811-b917-4c73-ae15-a17a1136c47b", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "1b57a032-46d5-47e2-9311-c00c19caedf4",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 100, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["5e134cfd-f833-4d6d-a4b4-d406d82ef046"],"hasMore":false}}},"recordMap":{"block":{"5e134cfd-f833-4d6d-a4b4-d406d82ef046":{"role":"editor","value":{"id":"5e134cfd-f833-4d6d-a4b4-d406d82ef046","version":11,"type":"page","properties":{"ud3x":[["b"]],"title":[["a"]]},"content":["9aef415d-d728-4256-820e-2b3688e572a3"],"created_time":1651992177315,"last_edited_time":1651992178156,"parent_id":"bc5ca811-b917-4c73-ae15-a17a1136c47b","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"4076a277-56e0-462e-bcce-5[...]
- request:
    body: '{"requests": [{"table": "block", "id": "9aef415d-d728-4256-820e-2b3688e572a3"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"9aef415d-d728-4256-820e-2b3688e572a3","version":12,"type":"image","properties":{"source":[["https://via.placeholder.com/100"]],"cover_meta":{"url":"https://via.placeholder.com/100","type":"url"}},"format":{"display_source":"https://via.placeholder.com/100"},"created_time":1651992178156,"last_edited_time":1651992178977,"parent_id":"5e134cfd-f833-4d6d-a4b4-d406d82ef046","parent_table":"block","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"block":{"9aef415d-d728-4256-820e-2b3688e572a3":{"role":"editor","value":{"id":"9aef415d-d728-4256-820e-2b3688e572a3","version":12,"type":"image","properties":{"source":[["https://via.placeholder.com/100"]],"cover_meta":{"url":"https://via.placeholder.com/100","type":"url"}},"format":{"display_source":"https://via.placeholder.com/100"},"created_time":1651992178156,"last_edited_time":1651992178977,"parent_id":"5e134cfd-f833-4d6d-a4b4-d406d82ef046","parent_table":"block","alive":true,"created_by_[...]
[...]
- request:
    body: '{"blockIds": ["4076a277-56e0-462e-bcce-5c74698c7b6d"], "permanentlyDelete":
      true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
