interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":31,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["5585f343-8ea5-469b-8a90-a05987977424"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":2285,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1651765740000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "3345abe4-1bba-4109-a075-1b02d64555b7", "path":
      [], "args": {"id": "3345abe4-1bba-4109-a075-1b02d64555b7", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651905653706, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651905653706}, "command":
      "update", "id": "3345abe4-1bba-4109-a075-1b02d64555b7", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "3345abe4-1bba-4109-a075-1b02d64555b7"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651905653706}, "command":
      "update", "id": "3345abe4-1bba-4109-a075-1b02d64555b7", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "c6f9dd05-d24e-4f83-a7f9-1981d09a7cbd", "path":
      [], "args": {"id": "c6f9dd05-d24e-4f83-a7f9-1981d09a7cbd", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651905654170, "parent_id": "3345abe4-1bba-4109-a075-1b02d64555b7",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "g1Nb": {"name": "b", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "3345abe4-1bba-4109-a075-1b02d64555b7", "path": ["content"], "args":
      {"id": "c6f9dd05-d24e-4f83-a7f9-1981d09a7cbd"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651905654170}, "command":
      "update", "id": "3345abe4-1bba-4109-a075-1b02d64555b7", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651905654170}, "command":
      "update", "id": "3345abe4-1bba-4109-a075-1b02d64555b7", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "3345abe4-1bba-4109-a075-1b02d64555b7", "path":
      ["format", "collection_pointer", "id"], "args": "c6f9dd05-d24e-4f83-a7f9-1981d09a7cbd",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651905654577}, "command":
      "update", "id": "3345abe4-1bba-4109-a075-1b02d64555b7", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "a0810a51-f476-4857-a04e-321bb070480e", "path":
      ["format", "table_properties"], "args": [{"visible": true, "property": "title"},
      {"visible": true, "property": "g1Nb"}], "command": "set", "table": "collection_view"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"page": {"id": "3345abe4-1bba-4109-a075-1b02d64555b7"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"3345abe4-1bba-4109-a075-1b02d64555b7":{"role":"editor","value":{"id":"3345abe4-1bba-4109-a075-1b02d64555b7","version":13,"type":"collection_view_page","content":["c6f9dd05-d24e-4f83-a7f9-1981d09a7cbd","a0810a51-f476-4857-a04e-321bb070480e"],"view_ids":["a0810a51-f476-4857-a04e-321bb070480e"],"format":{"collection_pointer":{"id":"c6f9dd05-d24e-4f83-a7f9-1981d09a7cbd","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1651905653706,"last_edited_time":1651905656321,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":2286,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["3345abe4-1bba-4109-a075-1b02d64555b7"],"created_time":1638259881592,"last_edited_time":1651765740000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection":{"c6f9dd05-d24e-4f83-a7f9-1981d09a7cbd":{"role":"editor","value":{"id":"c6f9dd05-d24e-4f83-a7f9-1981d09a7cbd","version":2,"name":[["TESTING
        PAGE"]],"schema":{"g1Nb":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"3345abe4-1bba-4109-a075-1b02d64555b7","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection_view":{"a0810a51-f476-4857-a04e-321bb070480e":{"role":"editor","value":{"id":"a0810a51-f476-4857-a04e-321bb070480e","version":5,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"g1Nb"}]},"parent_id":"3345abe4-1bba-4109-a075-1b02d64555b7","parent_table":"block","alive":true,"page_sort":["695de0f7-5870-49f9-8dd8-ad080297becc","54b92e51-dcc2-469a-aa47-2181d447fbdf"],"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1651905654963,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"requests": [{"table": "collection", "id": "c6f9dd05-d24e-4f83-a7f9-1981d09a7cbd"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"c6f9dd05-d24e-4f83-a7f9-1981d09a7cbd","version":2,"name":[["TESTING
        PAGE"]],"schema":{"g1Nb":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"3345abe4-1bba-4109-a075-1b02d64555b7","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"collection":{"c6f9dd05-d24e-4f83-a7f9-1981d09a7cbd":{"role":"editor","value":{"id":"c6f9dd05-d24e-4f83-a7f9-1981d09a7cbd","version":2,"name":[["TESTING
        PAGE"]],"schema":{"g1Nb":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"3345abe4-1bba-4109-a075-1b02d64555b7","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"block":{"3345abe4-1bba-4109-a075-1b02d64555b7":{"role":"editor","value":{"id":"3345abe4-1bba[...]
- request:
    body: '{"collection": {"id": "c6f9dd05-d24e-4f83-a7f9-1981d09a7cbd", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "a0810a51-f476-4857-a04e-321bb070480e",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 100, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["695de0f7-5870-49f9-8dd8-ad080297becc","54b92e51-dcc2-469a-aa47-2181d447fbdf"],"hasMore":false}}},"recordMap":{"block":{"695de0f7-5870-49f9-8dd8-ad080297becc":{"role":"editor","value":{"id":"695de0f7-5870-49f9-8dd8-ad080297becc","version":8,"type":"page","properties":{"g1Nb":[["b1"]],"title":[["a1"]]},"created_time":1651905658020,"last_edited_time":1651905658450,"parent_id":"c6f9dd05-d24e-4f83-a7f9-1981d09a7cbd","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"54b92e51-dcc2-469a-aa47-2181d447fbdf":{"role":"editor","value":{"id":"54b9[...]
[...]
- request:
    body: '{"blockIds": ["3345abe4-1bba-4109-a075-1b02d64555b7"], "permanentlyDelete":
      true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
