interactions:
- request:
    body: '{}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":31,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["5585f343-8ea5-469b-8a90-a05987977424"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":5368,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1652698380000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-[...]
- request:
    body: '{"operations": [{"id": "f5dec50c-7fc2-437a-a25b-f211e96b7794", "path":
      [], "args": {"id": "f5dec50c-7fc2-437a-a25b-f211e96b7794", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1653396833328, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653396833328}, "command":
      "update", "id": "f5dec50c-7fc2-437a-a25b-f211e96b7794", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "f5dec50c-7fc2-437a-a25b-f211e96b7794"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653396833328}, "command":
      "update", "id": "f5dec50c-7fc2-437a-a25b-f211e96b7794", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "758f9913-5612-441b-a03b-13850c44c089", "path":
      [], "args": {"id": "758f9913-5612-441b-a03b-13850c44c089", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1653396833706, "parent_id": "f5dec50c-7fc2-437a-a25b-f211e96b7794",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "GxHt": {"name": "b", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "f5dec50c-7fc2-437a-a25b-f211e96b7794", "path": ["content"], "args":
      {"id": "758f9913-5612-441b-a03b-13850c44c089"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653396833706}, "command":
      "update", "id": "f5dec50c-7fc2-437a-a25b-f211e96b7794", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653396833706}, "command":
      "update", "id": "f5dec50c-7fc2-437a-a25b-f211e96b7794", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "f5dec50c-7fc2-437a-a25b-f211e96b7794", "path":
      ["format", "collection_pointer", "id"], "args": "758f9913-5612-441b-a03b-13850c44c089",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653396834081}, "command":
      "update", "id": "f5dec50c-7fc2-437a-a25b-f211e96b7794", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "67b9827e-a92e-4ffe-90ae-3df646518eb4", "path":
      ["format", "table_properties"], "args": [{"visible": true, "property": "title"},
      {"visible": true, "property": "GxHt"}], "command": "set", "table": "collection_view"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "74383771-6d04-4ad9-825c-bad4deece493", "path":
      [], "args": {"id": "74383771-6d04-4ad9-825c-bad4deece493", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1653396836573, "parent_id": "90563689-4ad0-4562-940b-f6bb064b5bd0",
      "parent_table": "block", "schema": {"title": {"name": "c", "type": "title"},
      "IURp": {"name": "d", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "90563689-4ad0-4562-940b-f6bb064b5bd0", "path": ["content"], "args":
      {"id": "74383771-6d04-4ad9-825c-bad4deece493"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653396836573}, "command":
      "update", "id": "90563689-4ad0-4562-940b-f6bb064b5bd0", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653396836573}, "command":
      "update", "id": "90563689-4ad0-4562-940b-f6bb064b5bd0", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"blockId": "90563689-4ad0-4562-940b-f6bb064b5bd0"}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getPublicPageData
  response:
    body:
      string: '{"spaceName":"test_py","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274","spaceDomain":"laced-taxi-315","canJoinSpace":true,"userHasExplicitAccess":true,"ownerUserId":"a03b888f-5426-4e4f-b5ef-bed855b162f0","betaEnabled":false,"canRequestAccess":true,"requireLogin":false,"publicAccessRole":"none"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "758f9913-5612-441b-a03b-13850c44c089", "path":
      ["schema"], "args": {"title": {"name": "a", "type": "title"}, "GxHt": {"name":
      "b", "type": "relation", "property": "XWBy", "collection_id": "74383771-6d04-4ad9-825c-bad4deece493",
      "collection_pointer": {"id": "74383771-6d04-4ad9-825c-bad4deece493", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274", "table": "collection"}}}, "command":
      "set", "table": "collection"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"page": {"id": "f5dec50c-7fc2-437a-a25b-f211e96b7794"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"f5dec50c-7fc2-437a-a25b-f211e96b7794":{"role":"editor","value":{"id":"f5dec50c-7fc2-437a-a25b-f211e96b7794","version":13,"type":"collection_view_page","content":["758f9913-5612-441b-a03b-13850c44c089","67b9827e-a92e-4ffe-90ae-3df646518eb4"],"view_ids":["67b9827e-a92e-4ffe-90ae-3df646518eb4"],"format":{"collection_pointer":{"id":"758f9913-5612-441b-a03b-13850c44c089","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1653396833328,"last_edited_time":1653396835160,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":5370,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["f5dec50c-7fc2-437a-a25b-f211e96b7794","90563689-4ad0-4562-940b-f6bb064b5bd0"],"created_time":1638259881592,"last_edited_time":1652698380000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection":{"758f9913-5612-441b-a03b-13850c44c089":{"role":"editor","value":{"id":"758f9913-5612-441b-a03b-13850c44c089","version":3,"name":[["TESTING
        PAGE"]],"schema":{"GxHt":{"name":"b","type":"relation","property":"XWBy","collection_id":"74383771-6d04-4ad9-825c-bad4deece493","collection_pointer":{"id":"74383771-6d04-4ad9-825c-bad4deece493","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"title":{"name":"a","type":"title"}},"parent_id":"f5dec50c-7fc2-437a-a25b-f211e96b7794","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection_view":{"67b9827e-a92e-4ffe-90ae-3df646518eb4":{"role":"editor","value":{"id":"67b9827e-a92e-4ffe-90ae-3df646518eb4","version":3,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"GxHt"}]},"parent_id":"f5dec50c-7fc2-437a-a25b-f211e96b7794","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1653396834424,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"requests": [{"table": "collection", "id": "74383771-6d04-4ad9-825c-bad4deece493"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"74383771-6d04-4ad9-825c-bad4deece493","version":3,"name":[["TESTING
        PAGE"]],"schema":{"IURp":{"name":"d","type":"text"},"XWBy":{"name":"Related
        to TESTING PAGE (b)","type":"relation","property":"GxHt","collection_id":"758f9913-5612-441b-a03b-13850c44c089","collection_pointer":{"id":"758f9913-5612-441b-a03b-13850c44c089","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"title":{"name":"c","type":"title"}},"parent_id":"90563689-4ad0-4562-940b-f6bb064b5bd0","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"collection":{"74383771-6d04-4ad9-825c-bad4deece493":{"role":"editor","value":{"id":"74383771-6d04-4ad9-825c-bad4deece493","version":3,"name":[["TESTING
        PAGE"]],"schema":{"IURp":{"name":"d","type":"text"},"XWBy":{"name":"Related
        to TESTING PAGE (b)","type":"relation","property":"GxHt","collection_id":"758f9913-5612-441b-a03b-13850c44c089","collection_pointer":{"id":"758f9913-5612-441b-a03b-13850c44c089","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"tit[...]
- request:
    body: '{"requests": [{"table": "collection_view", "id": "c8612839-e565-4c8f-9873-1db3922e804d"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"c8612839-e565-4c8f-9873-1db3922e804d","version":4,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"IURp"}]},"parent_id":"90563689-4ad0-4562-940b-f6bb064b5bd0","parent_table":"block","alive":true,"page_sort":["95528e0b-45db-46c0-ac46-d4e8a34264ff"],"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1653396837283,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}],"recordMapWithRoles":{"collection_view":{"c8612839-e565-4c8f-9873-1db3922e804d":{"role":"editor","value":{"id":"c8612839-e565-4c8f-9873-1db3922e804d","version":4,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"IURp"}]},"parent_id":"90563689-4ad0-4562-940b-f6bb064b5bd0","parent_table":"block","alive":true,"page_sort":["95528e0b-45db-46c0-ac46-d4e8a34264ff"],"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1653396837283,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b[...]
- request:
    body: '{"collection": {"id": "74383771-6d04-4ad9-825c-bad4deece493", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "c8612839-e565-4c8f-9873-1db3922e804d",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"table:uncategorized:title:count":
      {"aggregation": {"aggregator": "count", "property": "title"}, "type": "aggregation"}},
      "searchQuery": "", "sort": [], "userTimeZone": "Asia/Tashkent", "type": "reducer"}}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"table:uncategorized:title:count":{"type":"aggregation","aggregationResult":{"type":"number","value":1}}}},"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"collection": {"id": "74383771-6d04-4ad9-825c-bad4deece493", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "c8612839-e565-4c8f-9873-1db3922e804d",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 1, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["95528e0b-45db-46c0-ac46-d4e8a34264ff"],"hasMore":false}}},"recordMap":{"block":{"95528e0b-45db-46c0-ac46-d4e8a34264ff":{"role":"editor","value":{"id":"95528e0b-45db-46c0-ac46-d4e8a34264ff","version":8,"type":"page","properties":{"IURp":[["dd"]],"title":[["cc"]]},"created_time":1653396839924,"last_edited_time":1653396840336,"parent_id":"74383771-6d04-4ad9-825c-bad4deece493","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"90563689-4ad0-4562-940b-f6bb064b5bd0":{"role":"editor","value":{"id":"9056[...]
[...]
- request:
    body: '{"collection": {"id": "758f9913-5612-441b-a03b-13850c44c089", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "67b9827e-a92e-4ffe-90ae-3df646518eb4",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 1, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: "{\"result\":{\"type\":\"reducer\",\"reducerResults\":{\"collection_group_results\":{\"type\":\"results\",\"blockIds\":[\"f0313e73-ae33-418f-b27c-4b44f0d66f5e\"],\"hasMore\":false}}},\"recordMap\":{\"block\":{\"f0313e73-ae33-418f-b27c-4b44f0d66f5e\":{\"role\":\"editor\",\"value\":{\"id\":\"f0313e73-ae33-418f-b27c-4b44f0d66f5e\",\"version\":8,\"type\":\"page\",\"properties\":{\"GxHt\":[[\"\u2023\",[[\"p\",\"95528e0b-45db-46c0-ac46-d4e8a34264ff\",\"d51d3ca5-7889-4c70-b906-3a5a37b60274\"]]]],\"title\":[[\"aa\"]]},\"created_time\":1653396844409,\"last_edited_time\":1653396846960,\"parent_id\":\"758f9913-5612-441b-a03b-13850c44c089\",\"parent_table\":\"collection\",\"alive\":true,\"created_by_table\":\"notion_user\",\"created_by_id\":\"a03b888f-[...]
[...]
- request:
    body: '{"blockIds": ["f5dec50c-7fc2-437a-a25b-f211e96b7794"], "permanentlyDelete":
      true}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
