interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":31,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["5585f343-8ea5-469b-8a90-a05987977424"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":2695,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1651765740000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "73e417f1-6ce6-4587-b143-b9b7120430e8", "path":
      [], "args": {"id": "73e417f1-6ce6-4587-b143-b9b7120430e8", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651931560909, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651931560909}, "command":
      "update", "id": "73e417f1-6ce6-4587-b143-b9b7120430e8", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "73e417f1-6ce6-4587-b143-b9b7120430e8"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651931560909}, "command":
      "update", "id": "73e417f1-6ce6-4587-b143-b9b7120430e8", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "797beddb-7828-449a-9033-644f178f5cdb", "path":
      [], "args": {"id": "797beddb-7828-449a-9033-644f178f5cdb", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651931561285, "parent_id": "73e417f1-6ce6-4587-b143-b9b7120430e8",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "Ll2B": {"name": "b", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "73e417f1-6ce6-4587-b143-b9b7120430e8", "path": ["content"], "args":
      {"id": "797beddb-7828-449a-9033-644f178f5cdb"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651931561285}, "command":
      "update", "id": "73e417f1-6ce6-4587-b143-b9b7120430e8", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651931561285}, "command":
      "update", "id": "73e417f1-6ce6-4587-b143-b9b7120430e8", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "73e417f1-6ce6-4587-b143-b9b7120430e8", "path":
      ["format", "collection_pointer", "id"], "args": "797beddb-7828-449a-9033-644f178f5cdb",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651931561671}, "command":
      "update", "id": "73e417f1-6ce6-4587-b143-b9b7120430e8", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "bb3c72b2-a0b1-48f3-9f8a-b7e97e705713", "path":
      ["format", "table_properties"], "args": [{"visible": true, "property": "title"},
      {"visible": true, "property": "Ll2B"}], "command": "set", "table": "collection_view"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "515be293-1be5-4e94-ae0d-ecbb8707cd20", "path":
      [], "args": {"id": "515be293-1be5-4e94-ae0d-ecbb8707cd20", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651931564600, "parent_id": "750367a6-cd7d-43e3-85f1-205aacb8277d",
      "parent_table": "block", "type": "text", "child_list_key": null}, "command":
      "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651931564600}, "command":
      "update", "id": "515be293-1be5-4e94-ae0d-ecbb8707cd20", "path": [], "table":
      "block"}, {"id": "750367a6-cd7d-43e3-85f1-205aacb8277d", "path": ["content"],
      "args": {"id": "515be293-1be5-4e94-ae0d-ecbb8707cd20"}, "command": "listAfter",
      "table": "block"}, {"args":[...]
[...]
- request:
    body: '{"page": {"id": "73e417f1-6ce6-4587-b143-b9b7120430e8"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"73e417f1-6ce6-4587-b143-b9b7120430e8":{"role":"editor","value":{"id":"73e417f1-6ce6-4587-b143-b9b7120430e8","version":13,"type":"collection_view_page","content":["797beddb-7828-449a-9033-644f178f5cdb","bb3c72b2-a0b1-48f3-9f8a-b7e97e705713"],"view_ids":["bb3c72b2-a0b1-48f3-9f8a-b7e97e705713"],"format":{"collection_pointer":{"id":"797beddb-7828-449a-9033-644f178f5cdb","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1651931560909,"last_edited_time":1651931562720,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":2696,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["73e417f1-6ce6-4587-b143-b9b7120430e8"],"created_time":1638259881592,"last_edited_time":1651765740000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection":{"797beddb-7828-449a-9033-644f178f5cdb":{"role":"editor","value":{"id":"797beddb-7828-449a-9033-644f178f5cdb","version":2,"name":[["TESTING
        PAGE"]],"schema":{"Ll2B":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"73e417f1-6ce6-4587-b143-b9b7120430e8","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection_view":{"bb3c72b2-a0b1-48f3-9f8a-b7e97e705713":{"role":"editor","value":{"id":"bb3c72b2-a0b1-48f3-9f8a-b7e97e705713","version":4,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"Ll2B"}]},"parent_id":"73e417f1-6ce6-4587-b143-b9b7120430e8","parent_table":"block","alive":true,"page_sort":["750367a6-cd7d-43e3-85f1-205aacb8277d"],"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1651931562001,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"requests": [{"table": "collection", "id": "797beddb-7828-449a-9033-644f178f5cdb"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"797beddb-7828-449a-9033-644f178f5cdb","version":2,"name":[["TESTING
        PAGE"]],"schema":{"Ll2B":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"73e417f1-6ce6-4587-b143-b9b7120430e8","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"collection":{"797beddb-7828-449a-9033-644f178f5cdb":{"role":"editor","value":{"id":"797beddb-7828-449a-9033-644f178f5cdb","version":2,"name":[["TESTING
        PAGE"]],"schema":{"Ll2B":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"73e417f1-6ce6-4587-b143-b9b7120430e8","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"block":{"73e417f1-6ce6-4587-b143-b9b7120430e8":{"role":"editor","value":{"id":"73e417f1-6ce6[...]
- request:
    body: '{"collection": {"id": "797beddb-7828-449a-9033-644f178f5cdb", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "bb3c72b2-a0b1-48f3-9f8a-b7e97e705713",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 100, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["750367a6-cd7d-43e3-85f1-205aacb8277d"],"hasMore":false}}},"recordMap":{"block":{"750367a6-cd7d-43e3-85f1-205aacb8277d":{"role":"editor","value":{"id":"750367a6-cd7d-43e3-85f1-205aacb8277d","version":11,"type":"page","properties":{"Ll2B":[["b1"]],"title":[["a"]]},"content":["515be293-1be5-4e94-ae0d-ecbb8707cd20"],"created_time":1651931563897,"last_edited_time":1651931564600,"parent_id":"797beddb-7828-449a-9033-644f178f5cdb","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"73e417f1-6ce6-4587-b143-[...]
[...]
- request:
    body: '{"requests": [{"table": "block", "id": "a10f8924-defc-46a8-be63-0f2313cac0d9"},
      {"table": "block", "id": "750367a6-cd7d-43e3-85f1-205aacb8277d"}, {"table":
      "block", "id": "750367a6-cd7d-43e3-85f1-205aacb8277d"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"a10f8924-defc-46a8-be63-0f2313cac0d9","version":13,"type":"image","properties":{"source":[["https://via.placeholder.com/100"]]},"format":{"display_source":"https://via.placeholder.com/100"},"created_time":1651931568597,"last_edited_time":1651931569343,"parent_id":"750367a6-cd7d-43e3-85f1-205aacb8277d","parent_table":"block","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},{"role":"editor","value":{"id":"750367a6-cd7d-43e3-85f1-205aacb8277d","version":[...]
- request:
    body: '{"operations": [{"id": "a10f8924-defc-46a8-be63-0f2313cac0d9", "path":
      ["properties", "cover_meta"], "args": {"type": "url", "url": "https://via.placeholder.com/100"},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651931569955}, "command":
      "update", "id": "a10f8924-defc-46a8-be63-0f2313cac0d9", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"requests": [{"table": "block", "id": "a10f8924-defc-46a8-be63-0f2313cac0d9"},
      {"table": "block", "id": "515be293-1be5-4e94-ae0d-ecbb8707cd20"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"a10f8924-defc-46a8-be63-0f2313cac0d9","version":15,"type":"image","properties":{"source":[["https://via.placeholder.com/100"]],"cover_meta":{"url":"https://via.placeholder.com/100","type":"url"}},"format":{"display_source":"https://via.placeholder.com/100"},"created_time":1651931568597,"last_edited_time":1651931569955,"parent_id":"750367a6-cd7d-43e3-85f1-205aacb8277d","parent_table":"block","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},{"role":"editor","value":{"id":"515be293-1be5-4e94-ae0d-ecbb8707cd20","version":6,"type":"text","properties":{"title":[["test"]]},"created_time":1651931564600,"last_edited_time":1651931565096,"parent_id":"750367a6-cd7d-43e3-85f1-205aacb8277d","parent_table":"block","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"block":{"a10f8924-defc-46a8-be63-0f2313cac0d9":{"role":"editor","value":{"id":"a10f8924-defc-46a8-be63-0f2313cac0d9","version":15,"type":"image","properties":{"source":[["https://via.placeholder.com/100"]],"cover_meta":{"url":"https://via.placeholder.com/100","type":"url"}},"format":{"display_source":"https://via.placeholder.com/100"},"created_time":1651931568597,"last_edited_time":1651931569955,"parent_id":"750367a6-cd7d-43e3-85f1-205aacb8277d","parent_table":"block","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-54[...]
[...]
- request:
    body: '{"blockIds": ["73e417f1-6ce6-4587-b143-b9b7120430e8"], "permanentlyDelete":
      true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
