interactions:
- request:
    body: '{}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":31,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["5585f343-8ea5-469b-8a90-a05987977424"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":4397,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1652698380000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-[...]
- request:
    body: '{"operations": [{"id": "9c5b1e7c-89c8-4378-b934-84186da413d2", "path":
      [], "args": {"id": "9c5b1e7c-89c8-4378-b934-84186da413d2", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1653056340682, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653056340682}, "command":
      "update", "id": "9c5b1e7c-89c8-4378-b934-84186da413d2", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "9c5b1e7c-89c8-4378-b934-84186da413d2"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653056340682}, "command":
      "update", "id": "9c5b1e7c-89c8-4378-b934-84186da413d2", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "3d9b6263-02af-4e77-8779-c94e6ddbee8e", "path":
      [], "args": {"id": "3d9b6263-02af-4e77-8779-c94e6ddbee8e", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1653056341076, "parent_id": "9c5b1e7c-89c8-4378-b934-84186da413d2",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "21Nc": {"name": "b", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "9c5b1e7c-89c8-4378-b934-84186da413d2", "path": ["content"], "args":
      {"id": "3d9b6263-02af-4e77-8779-c94e6ddbee8e"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653056341076}, "command":
      "update", "id": "9c5b1e7c-89c8-4378-b934-84186da413d2", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653056341076}, "command":
      "update", "id": "9c5b1e7c-89c8-4378-b934-84186da413d2", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "9c5b1e7c-89c8-4378-b934-84186da413d2", "path":
      ["format", "collection_pointer", "id"], "args": "3d9b6263-02af-4e77-8779-c94e6ddbee8e",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653056341430}, "command":
      "update", "id": "9c5b1e7c-89c8-4378-b934-84186da413d2", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "d4795c9a-f40b-418a-9b25-c5e873817fc8", "path":
      ["format", "table_properties"], "args": [{"visible": true, "property": "title"},
      {"visible": true, "property": "21Nc"}], "command": "set", "table": "collection_view"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "deef83d8-b3cc-4424-b695-e4205518027f", "path":
      [], "args": {"id": "deef83d8-b3cc-4424-b695-e4205518027f", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1653056344877, "parent_id": "ab46e44a-ae3a-4eeb-826f-95025cad2390",
      "parent_table": "block", "type": "image", "child_list_key": null}, "command":
      "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653056344877}, "command":
      "update", "id": "deef83d8-b3cc-4424-b695-e4205518027f", "path": [], "table":
      "block"}, {"id": "ab46e44a-ae3a-4eeb-826f-95025cad2390", "path": ["content"],
      "args": {"id": "deef83d8-b3cc-4424-b695-e4205518027f"}, "command": "listAfter",
      "table": "block"}, {"args":[...]
[...]
- request:
    body: '{"page": {"id": "9c5b1e7c-89c8-4378-b934-84186da413d2"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"9c5b1e7c-89c8-4378-b934-84186da413d2":{"role":"editor","value":{"id":"9c5b1e7c-89c8-4378-b934-84186da413d2","version":13,"type":"collection_view_page","content":["3d9b6263-02af-4e77-8779-c94e6ddbee8e","d4795c9a-f40b-418a-9b25-c5e873817fc8"],"view_ids":["d4795c9a-f40b-418a-9b25-c5e873817fc8"],"format":{"collection_pointer":{"id":"3d9b6263-02af-4e77-8779-c94e6ddbee8e","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1653056340682,"last_edited_time":1653056342975,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":4398,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["9c5b1e7c-89c8-4378-b934-84186da413d2"],"created_time":1638259881592,"last_edited_time":1652698380000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection":{"3d9b6263-02af-4e77-8779-c94e6ddbee8e":{"role":"editor","value":{"id":"3d9b6263-02af-4e77-8779-c94e6ddbee8e","version":2,"name":[["TESTING
        PAGE"]],"schema":{"21Nc":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"9c5b1e7c-89c8-4378-b934-84186da413d2","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection_view":{"d4795c9a-f40b-418a-9b25-c5e873817fc8":{"role":"editor","value":{"id":"d4795c9a-f40b-418a-9b25-c5e873817fc8","version":4,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"21Nc"}]},"parent_id":"9c5b1e7c-89c8-4378-b934-84186da413d2","parent_table":"block","alive":true,"page_sort":["ab46e44a-ae3a-4eeb-826f-95025cad2390"],"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1653056342198,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"requests": [{"table": "collection", "id": "3d9b6263-02af-4e77-8779-c94e6ddbee8e"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"3d9b6263-02af-4e77-8779-c94e6ddbee8e","version":2,"name":[["TESTING
        PAGE"]],"schema":{"21Nc":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"9c5b1e7c-89c8-4378-b934-84186da413d2","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"collection":{"3d9b6263-02af-4e77-8779-c94e6ddbee8e":{"role":"editor","value":{"id":"3d9b6263-02af-4e77-8779-c94e6ddbee8e","version":2,"name":[["TESTING
        PAGE"]],"schema":{"21Nc":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"9c5b1e7c-89c8-4378-b934-84186da413d2","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"block":{"9c5b1e7c-89c8-4378-b934-84186da413d2":{"role":"editor","value":{"id":"9c5b1e7c-89c8[...]
- request:
    body: '{"collection": {"id": "3d9b6263-02af-4e77-8779-c94e6ddbee8e", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "d4795c9a-f40b-418a-9b25-c5e873817fc8",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"table:uncategorized:title:count":
      {"aggregation": {"aggregator": "count", "property": "title"}, "type": "aggregation"}},
      "searchQuery": "", "sort": [], "userTimeZone": "Asia/Tashkent", "type": "reducer"}}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"table:uncategorized:title:count":{"type":"aggregation","aggregationResult":{"type":"number","value":1}}}},"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"collection": {"id": "3d9b6263-02af-4e77-8779-c94e6ddbee8e", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "d4795c9a-f40b-418a-9b25-c5e873817fc8",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 1, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["ab46e44a-ae3a-4eeb-826f-95025cad2390"],"hasMore":false}}},"recordMap":{"block":{"ab46e44a-ae3a-4eeb-826f-95025cad2390":{"role":"editor","value":{"id":"ab46e44a-ae3a-4eeb-826f-95025cad2390","version":11,"type":"page","properties":{"21Nc":[["b1"]],"title":[["a"]]},"content":["deef83d8-b3cc-4424-b695-e4205518027f"],"created_time":1653056343984,"last_edited_time":1653056344877,"parent_id":"3d9b6263-02af-4e77-8779-c94e6ddbee8e","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"9c5b1e7c-89c8-4378-b934-[...]
[...]
- request:
    body: '{"requests": [{"table": "block", "id": "deef83d8-b3cc-4424-b695-e4205518027f"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"deef83d8-b3cc-4424-b695-e4205518027f","version":6,"type":"image","properties":{"source":[["https://via.placeholder.com/200"]]},"created_time":1653056344877,"last_edited_time":1653056345260,"parent_id":"ab46e44a-ae3a-4eeb-826f-95025cad2390","parent_table":"block","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"block":{"deef83d8-b3cc-4424-b695-e4205518027f":{"role":"editor","value":{"id":"deef83d8-b3cc-4424-b695-e4205518027f","version":6,"type":"image","properties":{"source":[["https://via.placeholder.com/200"]]},"created_time":1653056344877,"last_edited_time":1653056345260,"parent_id":"ab46e44a-ae3a-4eeb-826f-95025cad2390","parent_table":"block","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_i[...]
- request:
    body: '{"operations": [{"id": "ab46e44a-ae3a-4eeb-826f-95025cad2390", "path":
      ["properties", "meta", "cover_block"], "args": {"type": "url", "url": "https://via.placeholder.com/100"},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653056349514}, "command":
      "update", "id": "ab46e44a-ae3a-4eeb-826f-95025cad2390", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"requests": [{"table": "block", "id": "b49494c4-d5ce-450c-8f8a-efb1419b4888"},
      {"table": "block", "id": "ab46e44a-ae3a-4eeb-826f-95025cad2390"}, {"table":
      "block", "id": "ab46e44a-ae3a-4eeb-826f-95025cad2390"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"b49494c4-d5ce-450c-8f8a-efb1419b4888","version":13,"type":"image","properties":{"source":[["https://via.placeholder.com/100"]]},"format":{"display_source":"https://via.placeholder.com/100"},"created_time":1653056349870,"last_edited_time":1653056350721,"parent_id":"ab46e44a-ae3a-4eeb-826f-95025cad2390","parent_table":"block","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},{"role":"editor","value":{"id":"ab46e44a-ae3a-4eeb-826f-95025cad2390","version":24,"type":"page","properties":{"21Nc":[["b1"]],"meta":{"cover_block":{"url":"https://via.placeholder.com/100","type":"url"}},"title":[["a"]]},"content":["b49494c4-d5ce-450c-8f8a-efb1419b4888","deef83d8-b3cc-4424-b695-e4205518027f"],"created_time":1653056343984,"last_edited_time":1653056350721,"parent_id":"3d9b6263-02af-4e77-8779-c94e6ddbee8e","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},{"role":"editor","value":{"id":"ab46e44a-ae3a-4eeb-826f-95025cad2390","version":24,"type":"page","properties":{"21Nc":[["b1"]],"meta":{"cover_block":{"url":"https://via.placeholder.com/100","type":"url"}},"title":[["a"]]},"content":["b49494c4-d5ce-450c-8f8a-efb1419b4888","deef83d8-b3cc-4424-b695-e4205518027f"],"created_time":1653056343984,"last_edited_time":1653056350721,"parent_id":"3d9b6263-02af-4e77-8779-c94e6ddbee8e","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"block":{"b49494c4-d5ce-450c-8f8a-efb1419b4888":{"role":"editor","value":{"id":"b49494c4-d5ce-450c-8f8a-efb1419b4888","version":13,"type":"image","properties":{"source":[["https://via.placeholder.com/100"]]},"format":{"display_source":"https://via.placeholder.com/100"},"created_time":1653056349870,"last_edited_time":1653056350721,"parent_id":"ab46e44a-ae3a-4eeb-826f-95025cad2390","parent_table":"block","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","las[...]
[...]
- request:
    body: '{"requests": [{"table": "block", "id": "b49494c4-d5ce-450c-8f8a-efb1419b4888"},
      {"table": "block", "id": "deef83d8-b3cc-4424-b695-e4205518027f"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"b49494c4-d5ce-450c-8f8a-efb1419b4888","version":15,"type":"image","properties":{"source":[["https://via.placeholder.com/100"]],"is_cover_block":true},"format":{"display_source":"https://via.placeholder.com/100"},"created_time":1653056349870,"last_edited_time":1653056351383,"parent_id":"ab46e44a-ae3a-4eeb-826f-95025cad2390","parent_table":"block","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},{"role":"editor","value":{"id":"deef83d8-b3cc-4[...]
[...]
- request:
    body: '{"blockIds": ["9c5b1e7c-89c8-4378-b934-84186da413d2"], "permanentlyDelete":
      true}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
