interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":31,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["5585f343-8ea5-469b-8a90-a05987977424"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":2915,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1651932240000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "cc076d7b-5ef3-4211-a941-d73c1207d798", "path":
      [], "args": {"id": "cc076d7b-5ef3-4211-a941-d73c1207d798", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1652088430579, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652088430579}, "command":
      "update", "id": "cc076d7b-5ef3-4211-a941-d73c1207d798", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "cc076d7b-5ef3-4211-a941-d73c1207d798"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652088430579}, "command":
      "update", "id": "cc076d7b-5ef3-4211-a941-d73c1207d798", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "c0212dcd-a0a7-4838-b0ff-e264024ae3f7", "path":
      [], "args": {"id": "c0212dcd-a0a7-4838-b0ff-e264024ae3f7", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1652088431648, "parent_id": "cc076d7b-5ef3-4211-a941-d73c1207d798",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "VS0H": {"name": "b", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "cc076d7b-5ef3-4211-a941-d73c1207d798", "path": ["content"], "args":
      {"id": "c0212dcd-a0a7-4838-b0ff-e264024ae3f7"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652088431648}, "command":
      "update", "id": "cc076d7b-5ef3-4211-a941-d73c1207d798", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652088431648}, "command":
      "update", "id": "cc076d7b-5ef3-4211-a941-d73c1207d798", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "cc076d7b-5ef3-4211-a941-d73c1207d798", "path":
      ["format", "collection_pointer", "id"], "args": "c0212dcd-a0a7-4838-b0ff-e264024ae3f7",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652088432134}, "command":
      "update", "id": "cc076d7b-5ef3-4211-a941-d73c1207d798", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "5bd3bd7e-7828-4dc7-8454-0ef876f625ee", "path":
      ["format", "table_properties"], "args": [{"visible": true, "property": "title"},
      {"visible": true, "property": "VS0H"}], "command": "set", "table": "collection_view"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "cdbe082a-6b53-47c9-8391-4aca9005de6e", "path":
      [], "args": {"id": "cdbe082a-6b53-47c9-8391-4aca9005de6e", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1652088435042, "parent_id": "e66607a7-fd2b-463f-93da-b49244164a35",
      "parent_table": "block", "schema": {"title": {"name": "c", "type": "title"},
      "CH1w": {"name": "d", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "e66607a7-fd2b-463f-93da-b49244164a35", "path": ["content"], "args":
      {"id": "cdbe082a-6b53-47c9-8391-4aca9005de6e"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652088435042}, "command":
      "update", "id": "e66607a7-fd2b-463f-93da-b49244164a35", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652088435042}, "command":
      "update", "id": "e66607a7-fd2b-463f-93da-b49244164a35", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"blockId": "e66607a7-fd2b-463f-93da-b49244164a35"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getPublicPageData
  response:
    body:
      string: '{"spaceName":"test_py","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274","spaceDomain":"laced-taxi-315","canJoinSpace":true,"userHasExplicitAccess":true,"ownerUserId":"a03b888f-5426-4e4f-b5ef-bed855b162f0","betaEnabled":false,"canRequestAccess":true,"requireLogin":false,"publicAccessRole":"none"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "c0212dcd-a0a7-4838-b0ff-e264024ae3f7", "path":
      ["schema"], "args": {"title": {"name": "a", "type": "title"}, "VS0H": {"name":
      "b", "type": "relation", "property": "57Xi", "collection_id": "cdbe082a-6b53-47c9-8391-4aca9005de6e",
      "collection_pointer": {"id": "cdbe082a-6b53-47c9-8391-4aca9005de6e", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274", "table": "collection"}}}, "command":
      "set", "table": "collection"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"page": {"id": "cc076d7b-5ef3-4211-a941-d73c1207d798"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"cc076d7b-5ef3-4211-a941-d73c1207d798":{"role":"editor","value":{"id":"cc076d7b-5ef3-4211-a941-d73c1207d798","version":13,"type":"collection_view_page","content":["c0212dcd-a0a7-4838-b0ff-e264024ae3f7","5bd3bd7e-7828-4dc7-8454-0ef876f625ee"],"view_ids":["5bd3bd7e-7828-4dc7-8454-0ef876f625ee"],"format":{"collection_pointer":{"id":"c0212dcd-a0a7-4838-b0ff-e264024ae3f7","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1652088430579,"last_edited_time":1652088433393,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":2917,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["cc076d7b-5ef3-4211-a941-d73c1207d798","e66607a7-fd2b-463f-93da-b49244164a35"],"created_time":1638259881592,"last_edited_time":1651932240000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection":{"c0212dcd-a0a7-4838-b0ff-e264024ae3f7":{"role":"editor","value":{"id":"c0212dcd-a0a7-4838-b0ff-e264024ae3f7","version":3,"name":[["TESTING
        PAGE"]],"schema":{"VS0H":{"name":"b","type":"relation","property":"57Xi","collection_id":"cdbe082a-6b53-47c9-8391-4aca9005de6e","collection_pointer":{"id":"cdbe082a-6b53-47c9-8391-4aca9005de6e","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"title":{"name":"a","type":"title"}},"parent_id":"cc076d7b-5ef3-4211-a941-d73c1207d798","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection_view":{"5bd3bd7e-7828-4dc7-8454-0ef876f625ee":{"role":"editor","value":{"id":"5bd3bd7e-7828-4dc7-8454-0ef876f625ee","version":3,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"VS0H"}]},"parent_id":"cc076d7b-5ef3-4211-a941-d73c1207d798","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1652088432555,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"requests": [{"table": "collection", "id": "cdbe082a-6b53-47c9-8391-4aca9005de6e"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"cdbe082a-6b53-47c9-8391-4aca9005de6e","version":3,"name":[["TESTING
        PAGE"]],"schema":{"57Xi":{"name":"Related to TESTING PAGE (b)","type":"relation","property":"VS0H","collection_id":"c0212dcd-a0a7-4838-b0ff-e264024ae3f7","collection_pointer":{"id":"c0212dcd-a0a7-4838-b0ff-e264024ae3f7","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"CH1w":{"name":"d","type":"text"},"title":{"name":"c","type":"title"}},"parent_id":"e66607a7-fd2b-463f-93da-b49244164a35","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"collection":{"cdbe082a-6b53-47c9-8391-4aca9005de6e":{"role":"editor","value":{"id":"cdbe082a-6b53-47c9-8391-4aca9005de6e","version":3,"name":[["TESTING
        PAGE"]],"schema":{"57Xi":{"name":"Related to TESTING PAGE (b)","type":"relation","property":"VS0H","collection_id":"c0212dcd-a0a7-4838-b0ff-e264024ae3f7","collection_pointer":{"id":"c0212dcd-a0a7-4838-b0ff-e264024ae3f7","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"CH1w":{"name":"d","type":"text"},"title":{"name":"c","type":"title"}},"parent_id":"e66607a7-fd2b-463f-93da-b49244164a35","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"block":{"e66607a7-fd2b-463f-93da-b49244164a35":{"role":"editor","value":{"id":"e66607a7-fd2b-463f-93da-b49244164a35","version":13,"type":"collection_view_page","content":["cdbe082a-6b53-47c9-8391-4aca9005de6e","3780c7b9-effa-43d7-a285-830bc4b8176f"],"view_ids":["3780c7b9-effa-43d7-a285-830bc4b8176f"],"format":{"collection_pointer":{"id":"cdbe082a-6b53-47c9-8391-4aca9005de6e","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed85[...]
[...]
- request:
    body: '{"requests": [{"table": "collection_view", "id": "3780c7b9-effa-43d7-a285-830bc4b8176f"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"3780c7b9-effa-43d7-a285-830bc4b8176f","version":5,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"CH1w"}]},"parent_id":"e66607a7-fd2b-463f-93da-b49244164a35","parent_table":"block","alive":true,"page_sort":["2eada811-d187-4b55-9bb6-a7a2d1647970","afa0b31b-a96f-4993-9c01-db77600522cb"],"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1652088436395,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}],"recordMapWithRoles":{"collection_view":{"3780c7b9-effa-43d7-a285-830bc4b8176f":{"role":"editor","value":{"id":"3780c7b9-effa-43d7-a285-830bc4b8176f","version":5,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visib[...]
- request:
    body: '{"collection": {"id": "cdbe082a-6b53-47c9-8391-4aca9005de6e", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "3780c7b9-effa-43d7-a285-830bc4b8176f",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"table:uncategorized:title:count":
      {"aggregation": {"aggregator": "count", "property": "title"}, "type": "aggregation"}},
      "searchQuery": "", "sort": [], "userTimeZone": "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"table:uncategorized:title:count":{"type":"aggregation","aggregationResult":{"type":"number","value":2}}}},"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"collection": {"id": "cdbe082a-6b53-47c9-8391-4aca9005de6e", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "3780c7b9-effa-43d7-a285-830bc4b8176f",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 2, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["2eada811-d187-4b55-9bb6-a7a2d1647970","afa0b31b-a96f-4993-9c01-db77600522cb"],"hasMore":false}}},"recordMap":{"block":{"2eada811-d187-4b55-9bb6-a7a2d1647970":{"role":"editor","value":{"id":"2eada811-d187-4b55-9bb6-a7a2d1647970","version":6,"type":"page","properties":{"title":[["cc"]]},"created_time":1652088440210,"last_edited_time":1652088440636,"parent_id":"cdbe082a-6b53-47c9-8391-4aca9005de6e","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"afa0b31b-a96f-4993-9c01-db77600522cb":{"role":"editor","value":{"id":"afa0b31b-a96f-4993-9c01-db77600522cb","version":6,"type":"page","properties":{"title":[["cc"]]},"created_time":1652088441071,"last_edited_time":1652088441510,"parent_id":"cdbe082a-6b53-47c9-8391-4aca9005de6e","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b90[...]
[...]
- request:
    body: '{"blockIds": ["cc076d7b-5ef3-4211-a941-d73c1207d798"], "permanentlyDelete":
      true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
