interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":27,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["03b83ede-64a9-4547-98cf-a22bad3f7568"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":1622,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1651642500000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "19b5d033-bbc4-43ac-81fc-30c7a70eb72b", "path":
      [], "args": {"id": "19b5d033-bbc4-43ac-81fc-30c7a70eb72b", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651642581478, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651642581478}, "command":
      "update", "id": "19b5d033-bbc4-43ac-81fc-30c7a70eb72b", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "19b5d033-bbc4-43ac-81fc-30c7a70eb72b"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651642581478}, "command":
      "update", "id": "19b5d033-bbc4-43ac-81fc-30c7a70eb72b", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "b2cd9b78-8b83-442c-b099-670f9e8597a8", "path":
      [], "args": {"id": "b2cd9b78-8b83-442c-b099-670f9e8597a8", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1651642581908, "parent_id": "19b5d033-bbc4-43ac-81fc-30c7a70eb72b",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "t8U3": {"name": "b", "type": "number"}}}, "command": "set", "table": "collection"},
      {"id": "19b5d033-bbc4-43ac-81fc-30c7a70eb72b", "path": ["content"], "args":
      {"id": "b2cd9b78-8b83-442c-b099-670f9e8597a8"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651642581908}, "command":
      "update", "id": "19b5d033-bbc4-43ac-81fc-30c7a70eb72b", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651642581908}, "command":
      "update", "id": "19b5d033-bbc4-43ac-81fc-30c7a70eb72b", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "19b5d033-bbc4-43ac-81fc-30c7a70eb72b", "path":
      ["format", "collection_pointer", "id"], "args": "b2cd9b78-8b83-442c-b099-670f9e8597a8",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1651642582325}, "command":
      "update", "id": "19b5d033-bbc4-43ac-81fc-30c7a70eb72b", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"page": {"id": "19b5d033-bbc4-43ac-81fc-30c7a70eb72b"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"19b5d033-bbc4-43ac-81fc-30c7a70eb72b":{"role":"editor","value":{"id":"19b5d033-bbc4-43ac-81fc-30c7a70eb72b","version":13,"type":"collection_view_page","content":["b2cd9b78-8b83-442c-b099-670f9e8597a8","6de6a6f1-26a9-4a3b-af56-ecf791b00e40"],"view_ids":["6de6a6f1-26a9-4a3b-af56-ecf791b00e40"],"format":{"collection_pointer":{"id":"b2cd9b78-8b83-442c-b099-670f9e8597a8","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1651642581478,"last_edited_time":1651642583601,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":1623,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["19b5d033-bbc4-43ac-81fc-30c7a70eb72b"],"created_time":1638259881592,"last_edited_time":1651642500000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection":{"b2cd9b78-8b83-442c-b099-670f9e8597a8":{"role":"editor","value":{"id":"b2cd9b78-8b83-442c-b099-670f9e8597a8","version":2,"name":[["TESTING
        PAGE 2371da2b"]],"schema":{"t8U3":{"name":"b","type":"number"},"title":{"name":"a","type":"title"}},"parent_id":"19b5d033-bbc4-43ac-81fc-30c7a70eb72b","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection_view":{"6de6a6f1-26a9-4a3b-af56-ecf791b00e40":{"role":"editor","value":{"id":"6de6a6f1-26a9-4a3b-af56-ecf791b00e40","version":2,"type":"table","parent_id":"19b5d033-bbc4-43ac-81fc-30c7a70eb72b","parent_table":"block","alive":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1651642582710,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"requests": [{"table": "collection", "id": "b2cd9b78-8b83-442c-b099-670f9e8597a8"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"b2cd9b78-8b83-442c-b099-670f9e8597a8","version":2,"name":[["TESTING
        PAGE 2371da2b"]],"schema":{"t8U3":{"name":"b","type":"number"},"title":{"name":"a","type":"title"}},"parent_id":"19b5d033-bbc4-43ac-81fc-30c7a70eb72b","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"collection":{"b2cd9b78-8b83-442c-b099-670f9e8597a8":{"role":"editor","value":{"id":"b2cd9b78-8b83-442c-b099-670f9e8597a8","version":2,"name":[["TESTING
        PAGE 2371da2b"]],"schema":{"t8U3":{"name":"b","type":"number"},"title":{"name":"a","type":"title"}},"parent_id":"19b5d033-bbc4-43ac-81fc-30c7a70eb72b","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"block":{"19b5d033-bbc4-43ac-81fc-30c7a70eb72b":{"role":"editor","value":{"id":"19[...]
- request:
    body: '{"collection": {"id": "b2cd9b78-8b83-442c-b099-670f9e8597a8", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "6de6a6f1-26a9-4a3b-af56-ecf791b00e40",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 100, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["1454a386-aec5-44ea-b3d2-25d9c6b0ccb1"],"hasMore":false}}},"recordMap":{"block":{"1454a386-aec5-44ea-b3d2-25d9c6b0ccb1":{"role":"editor","value":{"id":"1454a386-aec5-44ea-b3d2-25d9c6b0ccb1","version":8,"type":"page","properties":{"t8U3":[["123"]],"title":[["a"]]},"created_time":1651642584828,"last_edited_time":1651642585375,"parent_id":"b2cd9b78-8b83-442c-b099-670f9e8597a8","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"19b5d033-bbc4-43ac-81fc-30c7a70eb72b":{"role":"editor","value":{"id":"19b5[...]
[...]
- request:
    body: '{"blockIds": ["19b5d033-bbc4-43ac-81fc-30c7a70eb72b"], "permanentlyDelete":
      true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
