interactions:
- request:
    body: '{}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":31,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["5585f343-8ea5-469b-8a90-a05987977424"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":5618,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1652698380000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-[...]
- request:
    body: '{"operations": [{"id": "c04bfc56-8a40-4d11-ae91-bc3ec6ab308d", "path":
      [], "args": {"id": "c04bfc56-8a40-4d11-ae91-bc3ec6ab308d", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1653405986960, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653405986960}, "command":
      "update", "id": "c04bfc56-8a40-4d11-ae91-bc3ec6ab308d", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "c04bfc56-8a40-4d11-ae91-bc3ec6ab308d"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653405986960}, "command":
      "update", "id": "c04bfc56-8a40-4d11-ae91-bc3ec6ab308d", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "87254f0d-a538-4f68-b7a7-248924b39610", "path":
      [], "args": {"id": "87254f0d-a538-4f68-b7a7-248924b39610", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1653405987588, "parent_id": "c04bfc56-8a40-4d11-ae91-bc3ec6ab308d",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "yiwR": {"name": "b", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "c04bfc56-8a40-4d11-ae91-bc3ec6ab308d", "path": ["content"], "args":
      {"id": "87254f0d-a538-4f68-b7a7-248924b39610"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653405987588}, "command":
      "update", "id": "c04bfc56-8a40-4d11-ae91-bc3ec6ab308d", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653405987588}, "command":
      "update", "id": "c04bfc56-8a40-4d11-ae91-bc3ec6ab308d", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "c04bfc56-8a40-4d11-ae91-bc3ec6ab308d", "path":
      ["format", "collection_pointer", "id"], "args": "87254f0d-a538-4f68-b7a7-248924b39610",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653405987970}, "command":
      "update", "id": "c04bfc56-8a40-4d11-ae91-bc3ec6ab308d", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "15705838-2a3e-4d38-8ad7-caaa52f6b2df", "path":
      ["format", "table_properties"], "args": [{"visible": true, "property": "title"},
      {"visible": true, "property": "yiwR"}], "command": "set", "table": "collection_view"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "c2ab5095-2f59-4235-ad02-a7548125d7d5", "path":
      [], "args": {"id": "c2ab5095-2f59-4235-ad02-a7548125d7d5", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1653405991112, "parent_id": "12c77f61-a8d2-41f7-8d54-83e9cb52c599",
      "parent_table": "block", "type": "image", "child_list_key": null}, "command":
      "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653405991112}, "command":
      "update", "id": "c2ab5095-2f59-4235-ad02-a7548125d7d5", "path": [], "table":
      "block"}, {"id": "12c77f61-a8d2-41f7-8d54-83e9cb52c599", "path": ["content"],
      "args": {"id": "c2ab5095-2f59-4235-ad02-a7548125d7d5"}, "command": "listAfter",
      "table": "block"}, {"args":[...]
[...]
- request:
    body: '{"page": {"id": "c04bfc56-8a40-4d11-ae91-bc3ec6ab308d"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"c04bfc56-8a40-4d11-ae91-bc3ec6ab308d":{"role":"editor","value":{"id":"c04bfc56-8a40-4d11-ae91-bc3ec6ab308d","version":13,"type":"collection_view_page","content":["87254f0d-a538-4f68-b7a7-248924b39610","15705838-2a3e-4d38-8ad7-caaa52f6b2df"],"view_ids":["15705838-2a3e-4d38-8ad7-caaa52f6b2df"],"format":{"collection_pointer":{"id":"87254f0d-a538-4f68-b7a7-248924b39610","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1653405986960,"last_edited_time":1653405989054,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":5619,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["c04bfc56-8a40-4d11-ae91-bc3ec6ab308d"],"created_time":1638259881592,"last_edited_time":1652698380000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection":{"87254f0d-a538-4f68-b7a7-248924b39610":{"role":"editor","value":{"id":"87254f0d-a538-4f68-b7a7-248924b39610","version":2,"name":[["TESTING
        PAGE"]],"schema":{"yiwR":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"c04bfc56-8a40-4d11-ae91-bc3ec6ab308d","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection_view":{"15705838-2a3e-4d38-8ad7-caaa52f6b2df":{"role":"editor","value":{"id":"15705838-2a3e-4d38-8ad7-caaa52f6b2df","version":4,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"yiwR"}]},"parent_id":"c04bfc56-8a40-4d11-ae91-bc3ec6ab308d","parent_table":"block","alive":true,"page_sort":["12c77f61-a8d2-41f7-8d54-83e9cb52c599"],"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1653405988333,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"collection": {"id": "87254f0d-a538-4f68-b7a7-248924b39610", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "15705838-2a3e-4d38-8ad7-caaa52f6b2df",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"table:uncategorized:title:count":
      {"aggregation": {"aggregator": "count", "property": "title"}, "type": "aggregation"}},
      "searchQuery": "", "sort": [], "userTimeZone": "Asia/Tashkent", "type": "reducer"}}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"table:uncategorized:title:count":{"type":"aggregation","aggregationResult":{"type":"number","value":1}}}},"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"collection": {"id": "87254f0d-a538-4f68-b7a7-248924b39610", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "15705838-2a3e-4d38-8ad7-caaa52f6b2df",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 1, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["12c77f61-a8d2-41f7-8d54-83e9cb52c599"],"hasMore":false}}},"recordMap":{"block":{"12c77f61-a8d2-41f7-8d54-83e9cb52c599":{"role":"editor","value":{"id":"12c77f61-a8d2-41f7-8d54-83e9cb52c599","version":11,"type":"page","properties":{"yiwR":[["b1"]],"title":[["a"]]},"content":["c2ab5095-2f59-4235-ad02-a7548125d7d5"],"created_time":1653405990133,"last_edited_time":1653405991112,"parent_id":"87254f0d-a538-4f68-b7a7-248924b39610","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"c04bfc56-8a40-4d11-ae91-[...]
[...]
- request:
    body: '{"requests": [{"table": "block", "id": "c2ab5095-2f59-4235-ad02-a7548125d7d5"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"c2ab5095-2f59-4235-ad02-a7548125d7d5","version":6,"type":"image","properties":{"source":[["https://via.placeholder.com/200"]]},"created_time":1653405991112,"last_edited_time":1653405991594,"parent_id":"12c77f61-a8d2-41f7-8d54-83e9cb52c599","parent_table":"block","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"block":{"c2ab5095-2f59-4235-ad02-a7548125d7d5":{"role":"editor","value":{"id":"c2ab5095-2f59-4235-ad02-a7548125d7d5","version":6,"type":"image","properties":{"source":[["https://via.placeholder.com/200"]]},"created_time":1653405991112,"last_edited_time":1653405991594,"parent_id":"12c77f61-a8d2-41f7-8d54-83e9cb52c599","parent_table":"block","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_i[...]
- request:
    body: '{"operations": [{"id": "12c77f61-a8d2-41f7-8d54-83e9cb52c599", "path":
      ["properties", "meta", "cover_block"], "args": {"type": "url", "url": "https://via.placeholder.com/100"},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1653405996521}, "command":
      "update", "id": "12c77f61-a8d2-41f7-8d54-83e9cb52c599", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"requests": [{"table": "block", "id": "9d5ef1fd-0798-4648-9a8b-1d4c025ee30e"},
      {"table": "block", "id": "12c77f61-a8d2-41f7-8d54-83e9cb52c599"}, {"table":
      "block", "id": "12c77f61-a8d2-41f7-8d54-83e9cb52c599"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"9d5ef1fd-0798-4648-9a8b-1d4c025ee30e","version":13,"type":"image","properties":{"source":[["https://via.placeholder.com/100"]]},"format":{"display_source":"https://via.placeholder.com/100"},"created_time":1653405996863,"last_edited_time":1653405997608,"parent_id":"12c77f61-a8d2-41f7-8d54-83e9cb52c599","parent_table":"block","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},{"role":"editor","value":{"id":"12c77f61-a8d2-41f7-8d54-83e9cb52c599","version":24,"type":"page","properties":{"meta":{"cover_block":{"url":"https://via.placeholder.com/100","type":"url"}},"yiwR":[["b1"]],"title":[["a"]]},"content":["9d5ef1fd-0798-4648-9a8b-1d4c025ee30e","c2ab5095-2f59-4235-ad02-a7548125d7d5"],"created_time":1653405990133,"last_edited_time":1653405997608,"parent_id":"87254f0d-a538-4f68-b7a7-248924b39610","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5[...]
[...]
- request:
    body: '{"requests": [{"table": "block", "id": "9d5ef1fd-0798-4648-9a8b-1d4c025ee30e"},
      {"table": "block", "id": "c2ab5095-2f59-4235-ad02-a7548125d7d5"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"9d5ef1fd-0798-4648-9a8b-1d4c025ee30e","version":15,"type":"image","properties":{"source":[["https://via.placeholder.com/100"]],"is_cover_block":true},"format":{"display_source":"https://via.placeholder.com/100"},"created_time":1653405996863,"last_edited_time":1653405998254,"parent_id":"12c77f61-a8d2-41f7-8d54-83e9cb52c599","parent_table":"block","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},{"role":"editor","value":{"id":"c2ab5095-2f59-4[...]
[...]
- request:
    body: '{"blockIds": ["c04bfc56-8a40-4d11-ae91-bc3ec6ab308d"], "permanentlyDelete":
      true}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
