interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":31,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["5585f343-8ea5-469b-8a90-a05987977424"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":2905,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1651932240000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "d9c868f7-acd3-4d55-a81d-7ed6a47e65ab", "path":
      [], "args": {"id": "d9c868f7-acd3-4d55-a81d-7ed6a47e65ab", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1652088385409, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "collection_view_page", "permissions": [{"role":
      "editor", "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652088385409}, "command":
      "update", "id": "d9c868f7-acd3-4d55-a81d-7ed6a47e65ab", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "d9c868f7-acd3-4d55-a81d-7ed6a47e65ab"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652088385409}, "command":
      "update", "id": "d9c868f7-acd3-4d55-a81d-7ed6a47e65ab", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "cfda112e-c5c8-4c73-a9dc-5c7e68c6c284", "path":
      [], "args": {"id": "cfda112e-c5c8-4c73-a9dc-5c7e68c6c284", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1652088385850, "parent_id": "d9c868f7-acd3-4d55-a81d-7ed6a47e65ab",
      "parent_table": "block", "schema": {"title": {"name": "a", "type": "title"},
      "Ej0x": {"name": "b", "type": "text"}}}, "command": "set", "table": "collection"},
      {"id": "d9c868f7-acd3-4d55-a81d-7ed6a47e65ab", "path": ["content"], "args":
      {"id": "cfda112e-c5c8-4c73-a9dc-5c7e68c6c284"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652088385850}, "command":
      "update", "id": "d9c868f7-acd3-4d55-a81d-7ed6a47e65ab", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652088385850}, "command":
      "update", "id": "d9c868f7-acd3-4d55-a81d-7ed6a47e65ab", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "d9c868f7-acd3-4d55-a81d-7ed6a47e65ab", "path":
      ["format", "collection_pointer", "id"], "args": "cfda112e-c5c8-4c73-a9dc-5c7e68c6c284",
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652088386350}, "command":
      "update", "id": "d9c868f7-acd3-4d55-a81d-7ed6a47e65ab", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "061f2a53-246e-4f00-ad24-d6f8276ea13c", "path":
      ["format", "table_properties"], "args": [{"visible": true, "property": "title"},
      {"visible": true, "property": "Ej0x"}], "command": "set", "table": "collection_view"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"page": {"id": "d9c868f7-acd3-4d55-a81d-7ed6a47e65ab"}, "limit": 100,
      "cursor": {"stack": []}, "chunkNumber": 0, "verticalColumns": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadPageChunk
  response:
    body:
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"d9c868f7-acd3-4d55-a81d-7ed6a47e65ab":{"role":"editor","value":{"id":"d9c868f7-acd3-4d55-a81d-7ed6a47e65ab","version":13,"type":"collection_view_page","content":["cfda112e-c5c8-4c73-a9dc-5c7e68c6c284","061f2a53-246e-4f00-ad24-d6f8276ea13c"],"view_ids":["061f2a53-246e-4f00-ad24-d6f8276ea13c"],"format":{"collection_pointer":{"id":"cfda112e-c5c8-4c73-a9dc-5c7e68c6c284","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1652088385409,"last_edited_time":1652088388120,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":2906,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["d9c868f7-acd3-4d55-a81d-7ed6a47e65ab"],"created_time":1638259881592,"last_edited_time":1651932240000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}},"collection":{"cfda112e-c5c8-4c73-a9dc-5c7e68c6c284":{"role":"editor","value":{"id":"cfda112e-c5c8-4c73-a9dc-5c7e68c6c284","version":2,"name":[["TESTING
        PAGE"]],"schema":{"Ej0x":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"d9c868f7-acd3-4d55-a81d-7ed6a47e65ab","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"collection_view":{"061f2a53-246e-4f00-ad24-d6f8276ea13c":{"role":"editor","value":{"id":"061f2a53-246e-4f00-ad24-d6f8276ea13c","version":5,"type":"table","format":{"table_properties":[{"visible":true,"property":"title"},{"visible":true,"property":"Ej0x"}]},"parent_id":"d9c868f7-acd3-4d55-a81d-7ed6a47e65ab","parent_table":"block","alive":true,"page_sort":["81670bb5-f5a9-41f6-acaf-47040adfe8b1","f46a70b0-ec74-4f09-9b87-0995e30ca8ab"],"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","created_time":1652088386763,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"requests": [{"table": "collection", "id": "cfda112e-c5c8-4c73-a9dc-5c7e68c6c284"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"cfda112e-c5c8-4c73-a9dc-5c7e68c6c284","version":2,"name":[["TESTING
        PAGE"]],"schema":{"Ej0x":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"d9c868f7-acd3-4d55-a81d-7ed6a47e65ab","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"collection":{"cfda112e-c5c8-4c73-a9dc-5c7e68c6c284":{"role":"editor","value":{"id":"cfda112e-c5c8-4c73-a9dc-5c7e68c6c284","version":2,"name":[["TESTING
        PAGE"]],"schema":{"Ej0x":{"name":"b","type":"text"},"title":{"name":"a","type":"title"}},"parent_id":"d9c868f7-acd3-4d55-a81d-7ed6a47e65ab","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"block":{"d9c868f7-acd3-4d55-a81d-7ed6a47e65ab":{"role":"editor","value":{"id":"d9c868f7-acd3[...]
- request:
    body: '{"collection": {"id": "cfda112e-c5c8-4c73-a9dc-5c7e68c6c284", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "061f2a53-246e-4f00-ad24-d6f8276ea13c",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"table:uncategorized:title:count":
      {"aggregation": {"aggregator": "count", "property": "title"}, "type": "aggregation"}},
      "searchQuery": "", "sort": [], "userTimeZone": "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"table:uncategorized:title:count":{"type":"aggregation","aggregationResult":{"type":"number","value":2}}}},"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"collection": {"id": "cfda112e-c5c8-4c73-a9dc-5c7e68c6c284", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "061f2a53-246e-4f00-ad24-d6f8276ea13c",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 2, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["81670bb5-f5a9-41f6-acaf-47040adfe8b1","f46a70b0-ec74-4f09-9b87-0995e30ca8ab"],"hasMore":false}}},"recordMap":{"block":{"81670bb5-f5a9-41f6-acaf-47040adfe8b1":{"role":"editor","value":{"id":"81670bb5-f5a9-41f6-acaf-47040adfe8b1","version":8,"type":"page","properties":{"Ej0x":[["b1"]],"title":[["a1"]]},"created_time":1652088389877,"last_edited_time":1652088390345,"parent_id":"cfda112e-c5c8-4c73-a9dc-5c7e68c6c284","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"f46a70b0-ec74-4f09-9b87-0995e30ca8ab":{"role":"editor","value":{"id":"f46a70b0-ec74-4f09-9b87-0995e30ca8ab","version":8,"type":"page","properties":{"Ej0x":[["b2"]],"title":[["a2"]]},"created_time":1652088390732,"last_edited_time":1652088391194,"parent_id":"cfda112e-c5c8-4c73-a9dc-5c7e68c6c284","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3c[...]
[...]
- request:
    body: '{"blockIds": ["d9c868f7-acd3-4d55-a81d-7ed6a47e65ab"], "permanentlyDelete":
      true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
